Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: controlplane

fix: update export for OperationType from v1 node_pb
  protographic/src/index.ts
Due: none

fix: correct authorization response code for non-admin users in getUserAccessiblePermissions
  controlplane/src/core/bufservices/user/getUserAccessiblePermissions.ts
  controlplane/test/user/get-user-accessible-permissions.test.ts
Due: controlplane

test: add tests for getting SDL from latest composition in subgraphs
  controlplane/test/subgraph/get-subgraph-sdl-from-latest-composition.test.ts
Due: controlplane

chore: bump dependencies and use synctest in timed test
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  router/internal/retrytransport/retry_transport_test.go
Due: router

chore: bump otel again
  demo/go.mod
  demo/go.sum
  router-plugin/go.mod
  router-plugin/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

test: add tests for GetPersistedOperations and GetSdlBySchemaVersion
  controlplane/test/persisted-operation/get-persisted-operations.test.ts
  controlplane/test/schema-version/get-sdl-by-schema-version.test.ts
Due: controlplane

fix: lint
  controlplane/test/federated-graph/get-federated-graph-by-id.test.ts
  controlplane/test/schema-version/get-sdl-by-schema-version.test.ts
  controlplane/test/subgraph/add-readme.test.ts
  controlplane/test/subgraph/get-subgraph-sdl-from-latest-composition.test.ts
Due: controlplane

test: add GetOrganizationBySlug test suite
  controlplane/test/organization/get-organization-by-slug.test.ts
Due: controlplane

chore: return cloneErr
  router/internal/retrytransport/retry_transport.go
Due: router

feat: remove step 2, move invites to last step
  cli/src/commands/demo/command.ts
  cli/src/core/launcher.ts
  cli/src/utils.ts
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/onboarding-steps.ts
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/step-4-completed.tsx
  studio/src/components/onboarding/step-4.tsx
  studio/src/components/onboarding/traffic-animation.tsx
  studio/src/pages/onboarding/[step].tsx
Due: cli, studio

chore: bump tests
  router-tests/telemetry/telemetry_test.go
Due: none

test: add operation overrides test suite
  controlplane/test/check/operation-overrides.test.ts
Due: controlplane

chore: update otel dependencies to 1.43.0
  demo/pkg/subgraphs/projects/go.mod
  demo/pkg/subgraphs/projects/go.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
Due: graphqlmetrics

chore: fix comment
  router/pkg/metric/meter.go
Due: router

test: add playground scripts test suite
  controlplane/test/playground/playground-scripts.test.ts
Due: controlplane

refactor: remove unused createSlackIntegration function
  controlplane/test/test-util.ts
Due: controlplane

test: add DeleteOrganizationWebhookConfig test suite
  controlplane/test/notification/delete-organization-webhook-config.test.ts
Due: controlplane

chore: mimimimimi
  aws-lambda-router/go.mod
Due: none

feat: enhance type safety by replacing 'any' with specific types in various files
  cli/test/graph/utils.ts
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/bufservices/check/toggleChangeOverridesForAllOperations.ts
  controlplane/src/core/composition/composeGraphs.pool.ts
  controlplane/src/core/composition/composeGraphs.types.ts
  controlplane/src/core/composition/composeGraphs.worker.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/repositories/analytics/AnalyticsDashboardViewRepository.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/federated-graph/get-routers.test.ts
  controlplane/test/graph-pruning.test.ts
  controlplane/test/integrations.test.ts
  controlplane/test/override.test.ts
  controlplane/test/proposal/proposal-webhooks.test.ts
  controlplane/test/subgraph-check-extensions.test.ts
  controlplane/test/subgraph/subgraph.test.ts
  demo/pkg/subgraphs/courses/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/mapping.json
Due: cli, controlplane

fix: short-circuit before propagating non-fully validated resolvability errors
  composition-go/index.global.js
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/types/types.ts
  composition/src/resolvability-graph/utils/types/params.ts
  composition/src/resolvability-graph/utils/types/types.ts
  composition/src/resolvability-graph/utils/utils.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

feat: improve type safety by refining message handling in index.ts and NodeService.ts
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/types/index.ts
Due: controlplane

fix: replace as any with JsonObject in getWorkspace fromJson calls
  controlplane/src/core/bufservices/workspace/getWorkspace.ts
Due: controlplane

feat: refactor getWorkspace and getOperations to use create for message initialization
  controlplane/src/core/bufservices/analytics/getOperations.ts
  controlplane/src/core/bufservices/workspace/getWorkspace.ts
Due: controlplane

chore: fix typo
  composition/src/resolvability-graph/graph.ts
Due: composition

chore: run generation
  composition-go/index.global.js
Due: none

format
  controlplane/src/core/bufservices/analytics/getOperations.ts
Due: controlplane

chore: add CVE-2026-39883 to trivyignore
  .trivyignore.yaml
Due: none

chore: prevent sending multiple requests to same endpoint
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

fix: short-circuit before propagating non-fully validated resolvabili… (#2759)
  composition-go/index.global.js
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/types/types.ts
  composition/src/resolvability-graph/utils/types/params.ts
  composition/src/resolvability-graph/utils/types/types.ts
  composition/src/resolvability-graph/utils/utils.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

chore: license mcp-ts as Apache-2.0
  client-tests/mcp-ts/package-lock.json
  client-tests/mcp-ts/package.json
Due: none

test(mcp): make expected operation info readable with raw strings
  router-tests/protocol/mcp_test.go
Due: none

test(router): adapt containers/image WWW-Authenticate parser
  router-tests/testutil/auth_helpers.go
Due: none

feat: add support for interface objects
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/tests/sdl-to-mapping/03-federation.test.ts
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

fix: Improve test coverage and documentation
  docs-website/router/configuration.mdx
  router/pkg/config/config.schema.json
  router/pkg/config/config_events_nats_test.go
  router/pkg/pubsub/nats/provider_builder.go
  router/pkg/pubsub/nats/provider_builder_test.go
Due: router

chore: update proto rules
  protographic/SDL_PROTO_RULES.md
Due: none

test(mcp): move OAuth e2e tests into protocol/ so CI picks them up
  router-tests/protocol/mcp_auth_e2e_test.go
  router-tests/protocol/mcp_oauth_e2e_test.go
  router-tests/testenv/testenv.go
Due: none

test(mcp): fix OAuth per-tool scope enforcement tests
  router-tests/protocol/mcp_auth_e2e_test.go
  router-tests/protocol/mcp_oauth_e2e_test.go
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
