Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: update router go.mod to use engine change
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: test PR version of go-tools
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

refactor: format fieldChangeTypes declaration for improved readability in SchemaCheckRepository and SubgraphRepository
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

wip: subs v2
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/automatic_persisted_queries_test.go
  router-tests/cors_test.go
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/events/redis_events_test.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/headers_test.go
  router-tests/http_subscriptions_test.go
  router-tests/introspection_test.go
  router-tests/modules/start_subscription_test.go
  router-tests/prometheus_stream_metrics_test.go
  router-tests/telemetry/stream_metrics_test.go
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/errors.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/plan_generator.go
  router/core/transport.go
  router/core/websocket.go
  router/debug.config.yaml
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: enhance check operations and toggle change overrides to include composed schema breaking changes
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/toggleChangeOverridesForAllOperations.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/types/index.ts
  studio/src/components/checks/composed-schema-changes-table.tsx
Due: studio, controlplane

refactor: improve code readability by adjusting filter formatting in toggleChangeOverridesForAllOperations
  controlplane/src/core/bufservices/check/toggleChangeOverridesForAllOperations.ts
Due: controlplane

chore: add pepol to infra codeowners
  .github/CODEOWNERS
Due: none

feat: add support for federated graph schema changes (#2566)
  cli/src/commands/mcp/tools/subgraph-verify-schema-changes.ts
  cli/src/handle-check-result.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0136_eminent_vermin.sql
  controlplane/migrations/meta/0136_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/getCheckSummary.ts
  controlplane/src/core/bufservices/check/toggleChangeOverridesForAllOperations.ts
  controlplane/src/core/bufservices/federated-graph/checkFederatedGraph.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/proposal/proposal-federated-schema-breaking-changes.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/composed-schema-changes-table.tsx
  studio/src/components/checks/use-open-usage.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Due: cli, studio, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane

fix(helm): exclude commonLabels from immutable selector matchLabels (#2571)
  helm/cosmo/charts/cdn/templates/_helpers.tpl
  helm/cosmo/charts/cdn/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/_helpers.tpl
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/graphqlmetrics/templates/_helpers.tpl
  helm/cosmo/charts/graphqlmetrics/templates/deployment.yaml
  helm/cosmo/charts/otelcollector/templates/_helpers.tpl
  helm/cosmo/charts/otelcollector/templates/deployment.yaml
  helm/cosmo/charts/router/templates/_helpers.tpl
  helm/cosmo/charts/router/templates/deployment.yaml
  helm/cosmo/charts/studio/templates/_helpers.tpl
  helm/cosmo/charts/studio/templates/deployment.yaml
Due: none

chore: add pepol to infra codeowners (#2586)
  .github/CODEOWNERS
Due: none

fix: remove unneeded types/prettier package
  controlplane/package.json
  pnpm-lock.yaml
Due: controlplane

chore: revert controlplane changes
  controlplane/emails/package.json
  controlplane/src/templates/emails/organizationDeletionQueued.html
  controlplane/src/templates/emails/organizationInvite.html
Due: controlplane

Revert "fix: formatting controlplane ts configs"
  controlplane/src/core/bufservices/plugin/validateAndFetchPluginData.ts
  controlplane/src/core/bufservices/subgraph/createFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/build-server.ts
Due: controlplane

Revert "fix: format composition files"
  composition/README.md
  composition/tsconfig.json
  composition/vite.config.ts
Due: composition

chore: add module example to deal return custom error code
  router-tests/modules/custom-forbidden-handler/module.go
  router-tests/modules/forbidden_handler_test.go
Due: none

feat(tests): add test for handling GraphQL error code 403 in response body
  router-tests/modules/custom-forbidden-handler/module.go
  router-tests/modules/forbidden_handler_test.go
Due: none

wip: speedtrap
  speedtrap/assert.go
  speedtrap/backend.go
  speedtrap/backend_test.go
  speedtrap/go.mod
  speedtrap/go.sum
  speedtrap/handle.go
  speedtrap/handle_test.go
  speedtrap/result.go
  speedtrap/runner.go
  speedtrap/scenario.go
  speedtrap/scenarios/graphqltransportws/scenarios.go
  speedtrap/scenarios/graphqltransportws/scenarios_test.go
  speedtrap/scenarios_test.go
Due: none

Revert "chore: revert controlplane changes"
  controlplane/emails/package.json
  controlplane/src/templates/emails/organizationDeletionQueued.html
  controlplane/src/templates/emails/organizationInvite.html
Due: controlplane

fix: formatting
  composition/README.md
  composition/tsconfig.json
  composition/vite.config.ts
Due: composition

rename proxyAddr to targetAddr
  speedtrap/runner.go
  speedtrap/scenario.go
  speedtrap/scenarios/graphqltransportws/scenarios_test.go
  speedtrap/scenarios_test.go
Due: none

demo running against demo subgraph
  speedtrap/go.mod
  speedtrap/go.sum
  speedtrap/scenarios/demo/demo_employees_test.go
Due: none

fix(tests): update GraphQL query in forbidden handler test to include products
  router-tests/modules/custom-forbidden-handler/module.go
  router-tests/modules/forbidden_handler_test.go
Due: none

feat(tests): 403 auth failures standardized router response (#2588)
  router-tests/modules/custom-forbidden-handler/module.go
  router-tests/modules/forbidden_handler_test.go
Due: none

mcp: scope challenge auth mode override
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/server.go
Due: router

chore: add tests to verify engine fix
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
Due: none

feat(tests): add test for checking schema CLI
  cli/.gitignore
  cli/test/check-schema.test.ts
  cli/tsconfig.json
Due: cli

feat: JSON output
  cli/src/commands/graph/monograph/commands/check.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/handle-check-result.ts
  cli/test/check-schema.test.ts
Due: cli

chore(test): add JSON output tests
  cli/src/handle-check-result.ts
  cli/test/check-schema.test.ts
Due: cli

fix: formatting
  cli/README.md
  cli/test/fetch-schema.test.ts
  cli/test/fixtures/full-schema.graphql
  cli/test/fixtures/schema-with-nullable-list-items.graphql
  cli/test/fixtures/schema-with-validation-errors.graphql
  cli/test/fixtures/schema-with-warnings-and-errors.graphql
  cli/test/grpc-service.test.ts
  cli/test/parse-operations.test.ts
  cli/test/testdata/query-map.json
  cli/tsconfig.json
  cli/vite.config.ts
Due: cli

chore: use latest engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router
