Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix(http): add synchronous port binding to avoid running server twice
  router/core/http_server.go
  router/core/http_server_test.go
  router/core/router.go
Due: router

chore: update tests
  composition/tests/v1/error-length.test.ts
Due: composition

chore: add missing comment explaining why +1
  composition/src/resolvability-graph/utils/utils.ts
Due: composition

chore: cleanup router go.sum
  router/go.sum
Due: router

fix(http): add synchronous port binding to avoid false positive server start (#2730)
  router/core/http_server.go
  router/core/http_server_test.go
  router/core/router.go
Due: router

chore: release helm-cosmo 0.17.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
Due: none

chore: release helm-cosmo-router 0.15.1 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
Due: none

chore: update helm docs and prepare release
  helm/cosmo/charts/router/README.md
Due: none

feat(pqlmanifest): add configurable manifest file name for S3 polling
  router/core/router.go
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat(pqlmanifest): implement S3 polling support for PQL manifest (#2726)
  router-tests/operations/pql_manifest_test.go
  router/core/init_config_poller.go
  router/core/provider_registry.go
  router/core/provider_registry_test.go
  router/core/router.go
  router/core/router_config.go
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/fs/client.go
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/internal/persistedoperation/operationstorage/s3/client_test.go
  router/internal/persistedoperation/pqlmanifest/poller.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat(pqlmanifest): enforce minimum length for manifest file name and update documentation
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
Due: router

Revert "feat(pqlmanifest): implement S3 polling support for PQL manifest (#2726)"
  router-tests/operations/pql_manifest_test.go
  router/core/init_config_poller.go
  router/core/provider_registry.go
  router/core/provider_registry_test.go
  router/core/router.go
  router/core/router_config.go
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/fs/client.go
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/internal/persistedoperation/operationstorage/s3/client_test.go
  router/internal/persistedoperation/pqlmanifest/poller.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: validate filename and improve PQL docs (#2733)
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

docs: enhance PQL manifest documentation for clarity and detail
  docs-website/router/configuration.mdx
  docs-website/router/persisted-queries/persisted-operations.mdx
  router/pkg/config/config.schema.json
Due: router

fix(docs): enhance PQL manifest documentation for clarity and detail (#2734)
  docs-website/router/configuration.mdx
  docs-website/router/persisted-queries/persisted-operations.mdx
  router/pkg/config/config.schema.json
Due: router

chore: update comment
  composition/src/resolvability-graph/utils/utils.ts
Due: composition

feat: fix long composition errors (#2728)
  composition-go/index.global.js
  composition/src/resolvability-graph/constants/number-constants.ts
  composition/src/resolvability-graph/utils/utils.ts
  composition/tests/v1/error-length.test.ts
Due: composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

fix(mcp): disable SDK cross-origin protection in favor of router CORS middleware
  router/pkg/mcpserver/server.go
Due: router

chore: add tests to verify grpc router plugins
  router-tests/protocol/router_plugin_test.go
  router-tests/testenv/testdata/configWithPlugins.json
Due: none

feat: add test
  router/pkg/controlplane/selfregister/self_register.go
  router/pkg/controlplane/selfregister/self_register_test.go
Due: router

fix: test name
  router/pkg/controlplane/selfregister/self_register_test.go
Due: router

feat: add configuration for dynatrace
  docs-website/docs.json
  docs-website/router/open-telemetry.mdx
  docs-website/router/open-telemetry/dynatrace.mdx
Due: none

feat: handlers + proto schema + repository for finishing onboarding
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/onboarding/finishOnboarding.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

feat: handlers + proto schema + repository for creating + getting onboarding
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/onboarding/createOnboarding.ts
  controlplane/src/core/bufservices/onboarding/getOnboarding.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

feat: add onboarding database schema and migrations
  controlplane/migrations/0137_icy_sasquatch.sql
  controlplane/migrations/meta/0137_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
Due: controlplane

feat: add functionality for invites + org renaming
  controlplane/src/core/bufservices/onboarding/createOnboarding.ts
  controlplane/src/core/constants.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
Due: controlplane

feat: expose comm settings fields
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/onboarding/createOnboarding.ts
  controlplane/src/core/bufservices/onboarding/getOnboarding.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

fix: avoid loading PostHog twice
  studio/src/lib/track.ts
  studio/src/pages/_app.tsx
Due: studio

feat: allow PostHog tracking on localhost if key is provided
  studio/src/lib/track.ts
Due: studio

fix: source maps for firefox based browser
  studio/README.md
  studio/next.config.mjs
Due: studio

feat: create/update onboarding on first step
  studio/src/components/onboarding/step-1.tsx
Due: studio
