Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore(deps): pin graphql-go-tools to the engine PR branch
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: check auth before sending `WhoAmI` request for telemetry (#2922)
  cli/src/commands/auth/utils.ts
  cli/src/core/telemetry.ts
Due: cli

feat: implement fire-and-forget for batch subgraph publish
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0142_glamorous_turbo.sql
  controlplane/migrations/meta/0142_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/repositories/BatchPublishJobDetailsRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

perf(composition): 2.2x faster federation via allocation cuts and hand-rolled AST walks
  composition/bench/.gitignore
  composition/bench/bench-ab.mjs
  composition/bench/bench.mjs
  composition/bench/gen.mjs
  composition/bench/golden.graphql
  composition/src/ast/field-set-walker.ts
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/resolvability-graph/graph-nodes.ts
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/node-resolution-data/node-resolution-data.ts
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
  composition/src/resolvability-graph/walker/root-field-walkers/root-field-walker.ts
  composition/src/schema-building/types/types.ts
  composition/src/schema-building/utils.ts
  composition/src/subgraph/utils.ts
  composition/src/utils/utils.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/utils.ts
  composition/src/v1/federation/walkers.ts
  composition/src/v1/normalization/batch-normalization/batch-normalizer.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/params.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/normalization/walkers.ts
Due: composition

chore: add BullMQ job to delete job details after 24 hours
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/repositories/BatchPublishJobDetailsRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/workers/DeleteBatchPublishJobDetailsWorker.ts
Due: controlplane

chore: override `msgpackr` to address taskforcesh/bullmq#2747
  package.json
  pnpm-lock.yaml
Due: none

feat: implement fifo lock for async batch publish
  controlplane/migrations/0142_glamorous_turbo.sql
  controlplane/migrations/0142_hot_sphinx.sql
  controlplane/migrations/meta/0142_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/repositories/BatchPublishJobDetailsRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/db/schema.ts
Due: controlplane

chore: add `.gitattributes`
  .gitattributes
Due: none

chore: fix typo
  controlplane/src/core/workers/CacheWarmerWorker.ts
  controlplane/src/core/workers/DeactivateOrganizationWorker.ts
  controlplane/src/core/workers/DeleteBatchPublishJobDetailsWorker.ts
  controlplane/src/core/workers/DeleteOrganizationAuditLogsWorker.ts
  controlplane/src/core/workers/DeleteOrganizationWorker.ts
  controlplane/src/core/workers/DeleteUserQueue.ts
  controlplane/src/core/workers/ReactivateOrganizationWorker.ts
Due: controlplane

chore: move `.gitattributes` to controlplane
  .gitattributes
  controlplane/.gitattributes
Due: controlplane

chore: fix test
  controlplane/test/test-util.ts
Due: controlplane

chore: implement rpc endpoint to get batch publish status
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/subgraph/getBatchPublishJobStatus.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

chore: cleanup owned batch publish locks
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/plugins/database.ts
  controlplane/src/core/repositories/BatchPublishJobDetailsRepository.ts
Due: controlplane

chore: rename `jobStatus` to `status` and make it optional
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/subgraph/getBatchPublishJobStatus.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

chore: remove testing code
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
Due: controlplane

feat: implement accept-first strategy for batch publish
  cli/src/commands/subgraph/commands/batch-publish.ts
  cli/src/commands/subgraph/utils/pool-batch-publish-status.ts
Due: cli

feat: parallelize composition pipeline and upload pipeline for batch publishing of subgraphs
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

fix: use `subDays` utility
  controlplane/src/core/bufservices/persisted-operation/getClients.ts
Due: controlplane

fix: deleting client from blob storage is best effort
  controlplane/src/core/bufservices/persisted-operation/deleteClient.ts
  controlplane/test/persisted-operations.test.ts
Due: controlplane

fix: merge clients metadata query to include count
  controlplane/src/core/repositories/OperationsRepository.ts
Due: controlplane

fix: lint
  controlplane/src/core/repositories/OperationsRepository.ts
Due: controlplane

test(controlplane): fix flaky keycloak "Realm not found" failures
  controlplane/test/global-setup.ts
  controlplane/test/test-util.ts
  controlplane/vite.config.ts
Due: controlplane

test(controlplane): use findUserByEmail for exact 409 conflict match
  controlplane/test/test-util.ts
Due: controlplane

chore: switch to heartbeat expiration instead of locking for a full day
  controlplane/src/core/bufservices/subgraph/getBatchPublishJobStatus.ts
  controlplane/src/core/plugins/database.ts
  controlplane/src/core/repositories/BatchPublishJobDetailsRepository.ts
Due: controlplane

chore: add theoretical example on memory footprint
  docs-website/router/metrics-and-monitoring/exemplars.mdx
Due: none

refactor: unneeded public function, use `getRegisteredClientsWithOperationMetadata` directly
  controlplane/src/core/bufservices/persisted-operation/getClients.ts
  controlplane/src/core/repositories/OperationsRepository.ts
Due: controlplane

refactor: separate fn for blob storage operation
  controlplane/src/core/bufservices/persisted-operation/deleteClient.ts
Due: controlplane

chore: align interface with the engines interface
  router/pkg/pubsub/datasource/datasource.go
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

refactor: rely on cascade delete for operations when deleting clients
  controlplane/src/core/bufservices/persisted-operation/deleteClient.ts
  controlplane/src/core/repositories/OperationsRepository.ts
Due: controlplane

chore: rename interface method
  router/pkg/pubsub/datasource/datasource.go
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

refactor: use positional graph name arg for clients delete subcommand
  cli/src/commands/clients/commands/delete.ts
  cli/test/clients-delete.test.ts
  docs-website/cli/clients/delete.mdx
Due: cli

test(controlplane): centralize keycloak test config and tidy global-setup
  controlplane/test/global-setup.ts
  controlplane/test/keycloak-test-config.ts
  controlplane/test/test-util.ts
Due: controlplane

feat(docs): encourage authors to provide instructions for validating changes
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

test(controlplane): relocate retry into retryWithBackoff util
  controlplane/src/core/util/poll-with-backoff.ts
  controlplane/test/global-setup.ts
  controlplane/test/poll-with-backoff.test.ts
Due: controlplane

feat(docs): encourage authors to provide instructions for validating changes (#2966)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

test(controlplane): extract keycloak error predicates and reuse retry util
  controlplane/src/core/util/poll-with-backoff.ts
  controlplane/test/global-setup.ts
  controlplane/test/keycloak-test-config.ts
  controlplane/test/keycloak-test-utils.ts
  controlplane/test/poll-with-backoff.test.ts
  controlplane/test/test-util.ts
Due: controlplane

chore: remove unnecessary parameter
  router/pkg/pubsub/datasource/datasource.go
  router/pkg/pubsub/datasource/subscription_datasource.go
  router/pkg/pubsub/datasource/subscription_datasource_test.go
  router/pkg/pubsub/kafka/engine_datasource_factory.go
  router/pkg/pubsub/nats/engine_datasource_factory.go
  router/pkg/pubsub/redis/engine_datasource_factory.go
Due: router

test(controlplane): guard retryWithBackoff against non-positive attempts
  controlplane/src/core/util/poll-with-backoff.ts
  controlplane/test/poll-with-backoff.test.ts
Due: controlplane

feat: delete & list clients using wgc (#2795)
  cli/src/commands/clients/commands/delete.ts
  cli/src/commands/clients/commands/list.ts
  cli/src/commands/clients/index.ts
  cli/src/commands/index.ts
  cli/test/clients-delete.test.ts
  cli/test/clients-list.test.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/persisted-operation/deleteClient.ts
  controlplane/src/core/bufservices/persisted-operation/getClients.ts
  controlplane/src/core/bufservices/persisted-operation/previewDeleteClient.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/types/index.ts
  controlplane/test/persisted-operations.test.ts
  docs-website/cli/clients.mdx
  docs-website/cli/clients/delete.mdx
  docs-website/cli/clients/list.mdx
  docs-website/docs.json
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane
