Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: import set methods explicitly (#2812)
  composition-go/index.global.js
  composition/package.json
  composition/src/index.ts
  pnpm-lock.yaml
Due: composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

chore: fix import
  controlplane/src/core/bufservices/federated-graph/createFederatedGraphToken.ts
Due: controlplane

feat: support features claim in graph tokens (#2811)
  controlplane/src/core/bufservices/federated-graph/createFederatedGraphToken.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/types/index.ts
Due: controlplane

feat: add ActiveGraphs mapper type to node.proto
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router

feat: read feature claim from router jwt
  router/core/graph_server.go
  router/internal/jwt/claims.go
Due: router

feat: use split config polling if enabled via router token
  router/core/graph_server.go
  router/core/init_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/routerconfig/cdn/split_fetcher.go
Due: router

chore: revert all changes
  proto/wg/cosmo/common/engine_config.proto
  proto/wg/cosmo/common/subgraph.proto
  proto/wg/cosmo/node/v1/node.proto
  proto/wg/cosmo/node/v2/node.proto
Due: none

feat: add bypassIfValuesNull to openfed__subscriptionFilter
  composition-go/index.global.js
  composition/src/router-configuration/types.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/non-directive-definitions.ts
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/directives/subscription-filter.test.ts
  composition/tests/v1/utils/utils.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router-tests/events/nats_subscription_filter_bypass_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/core/factoryresolver.go
  router/core/factoryresolver_test.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/go.mod
  router/go.sum
  shared/src/router-config/graphql-configuration.ts
  shared/test/subscription-filter.test.ts
Due: router, composition

fix(router-tests): adapt to renamed WebSocketServerReadTimeout + regen composition-go bundle
  composition-go/index.global.js
  router-tests/events/nats_subscription_filter_bypass_test.go
Due: none

feat: add graph <-> config mapper message to proto
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router

chore(composition): apply prettier formatting to subscription-filter test
  composition/tests/v1/directives/subscription-filter.test.ts
Due: composition

chore(router, controlplane): add engine config hash mapping to node proto v1 (#2816)
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router

fix: guard against nil variable
  router/pkg/routerconfig/cdn/split_fetcher.go
Due: router

chore: remove blank line
  router/core/graph_server.go
  router/internal/jwt/claims.go
Due: router

chore: rename doGet to get
  router/pkg/routerconfig/cdn/split_fetcher.go
Due: router

fix: provide easy way to recover UI when graph is not found
  studio/src/components/layout/graph-layout.tsx
Due: studio

chore: outsource hmac verification into own function
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/cdn/split_fetcher.go
  router/pkg/routerconfig/cdn/utils.go
Due: router

chore: use empty struct as type for map used as set
  router/pkg/controlplane/configpoller/split_config_poller.go
Due: router

fix: simplify copy
  studio/src/components/layout/graph-layout.tsx
Due: studio

fix: detect missing base graph entry
  router/pkg/controlplane/configpoller/split_config_poller.go
Due: router

chore: small refactors
  router/core/init_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

Revert "chore: outsource hmac verification into own function"
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/cdn/split_fetcher.go
  router/pkg/routerconfig/cdn/utils.go
Due: router

chore: use url.JoinPath instead of fmt.Sprintf
  router/pkg/routerconfig/cdn/split_fetcher.go
Due: router

fix: redirect to org root instead of "/"
  studio/src/components/layout/graph-layout.tsx
Due: studio

fix: omit extra sentence
  studio/src/components/layout/graph-layout.tsx
Due: studio

fix: fallback message
  studio/src/components/layout/graph-layout.tsx
Due: studio

fix: use post request to CDN instead of GET
  router/pkg/routerconfig/cdn/split_fetcher.go
Due: router

feat: display document titles during onboarding
  studio/src/components/layout/onboarding-layout.tsx
Due: studio

fix: feature flag for onboarding not working
  studio/src/hooks/use-onboarding-navigation.ts
Due: studio

fix: feature flags not being reloaded
  studio/src/lib/track.ts
Due: studio

fix: remove extra email property
  studio/src/lib/track.ts
Due: studio

refactor: functions for analytics identification
  studio/src/lib/track.ts
Due: studio

fix: do not identify with posthog when distinct ID == email
  studio/src/lib/track.ts
Due: studio

fix: path escape variables
  router/pkg/routerconfig/cdn/split_fetcher.go
Due: router

chore: add split fetcher tests
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/routerconfig/cdn/split_fetcher_test.go
Due: router

feat(router): allow split config polling (#2814)
  router/core/init_config_poller.go
  router/internal/jwt/claims.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/routerconfig/cdn/split_fetcher.go
  router/pkg/routerconfig/cdn/split_fetcher_test.go
Due: router

fix: fix corruption of persisted operation cache key
  router-tests/operations/persisted_skip_include_concurrency_test.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Due: router
