Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

fix: requires is not ignored when all fields provided (#2498)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(protographic): add dominik to protographic codeowners (#2487)
  .github/CODEOWNERS
Due: none

fix: update layout and styling of login and signup pages for mobile screens (#2479)
  studio/src/components/auth/auth-components.tsx
  studio/src/pages/login.tsx
  studio/src/pages/signup.tsx
Due: studio

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, studio

feat: add gRPC naming scheme validation for subgraph routing URLs (#2473)
  controlplane/src/core/bufservices/subgraph/createFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
  controlplane/test/feature-flag/feature-flag-with-grpc-service-fs.test.ts
  controlplane/test/feature-subgraph/create-feature-subgraph.test.ts
  controlplane/test/feature-subgraph/publish-feature-subgraph.test.ts
  controlplane/test/subgraph/create-subgraph.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  controlplane/test/subgraph/update-subgraph.test.ts
  controlplane/test/test-util.ts
Due: controlplane

feat: set operation name also with persistent queries (#2480)
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: studio, controlplane

fix: cache warmer graph token validation cleanup (#2496)
  router-tests/cache_warmup_test.go
  router/core/graph_server.go
Due: router

fix: show posthog errors only on debug logs and don't treat them as important (#2489)
  router/core/router.go
  router/internal/track/track.go
Due: router

fix: optimize signup page layout and styling (#2483)
  studio/src/components/auth/auth-components.tsx
  studio/src/pages/login.tsx
  studio/src/pages/signup.tsx
Due: studio

feat: enhance redirect logic in auth controller to include onboarding parameter (#2476)
  controlplane/src/core/controllers/auth.ts
Due: controlplane

feat: max number of persistent operations per request (#2477)
  cli/src/commands/operations/commands/push.ts
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/test/persisted-operations.test.ts
Due: cli, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

feat: include schema version in graph update webhook (#2467)
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/test/proposal/proposal-webhooks.test.ts
Due: controlplane

feat: improve create graph form UX (#2468)
  studio/src/components/create-graph.tsx
  studio/src/components/ui/tag-input/tag-input.tsx
Due: studio

feat: client response expressions (#2472)
  router-tests/header_propagation_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: update @graphql-tools/utils version to 11.0.0 (#2495)
  cli/package.json
  composition-go/index.global.js
  composition/package.json
  controlplane/package.json
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  pnpm-lock.yaml
  shared/package.json
Due: cli, controlplane, composition

fix: do not re-evaluate internal graph nodes if all its descendants a… (#2499)
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

feat: expose query operation timings (#2491)
  router-tests/modules/custom-operation-timings/module.go
  router-tests/modules/operation_timings_test.go
  router/core/context.go
Due: router

fix: log information
  router/core/engine_loader_hooks.go
  router/core/graph_server.go
  router/core/operation_metrics.go
Due: router

feat: endpoint to list user organizations
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/organization/listOrganizations.ts
  controlplane/test/organization/list-organizations.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

chore: update tests
  controlplane/src/core/test-util.ts
  controlplane/test/initialize-cosmo-user.test.ts
  controlplane/test/test-util.ts
Due: controlplane

fix: tests
  router-tests/structured_logging_test.go
Due: none

feat: implement endpoint to ensure user is initialized in Cosmo (#2497)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/auth-utils.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/user/initializeCosmoUser.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/test-util.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
  controlplane/test/initialize-cosmo-user.test.ts
  controlplane/test/test-util.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

chore: update proto to include all roles for the organization
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/organization/listOrganizations.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

feat: endpoint to list user organizations (#2502)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/organization/listOrganizations.ts
  controlplane/test/organization/list-organizations.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

fix: copy operation name instead of using a shared slice
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Due: router

chore: make string cloning more explicit
  router/core/operation_processor.go
Due: router

fix: copy operation name instead of using a shared slice (#2503)
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Due: router

fix: updates
  router/core/engine_loader_hooks.go
  router/core/graphql_prehandler.go
  router/pkg/trace/utils.go
  router/pkg/trace/utils_test.go
Due: router
