Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat(router): support regex-based CORS origin matching
  docs-website/router/configuration.mdx
  router/core/cors_test.go
  router/core/router.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

feat: add ability to log operation complexity (#3176)
  docs-website/router/access-logs.mdx
  docs-website/router/configuration.mdx
  docs-website/router/configuration/template-expressions.mdx
  router-tests/observability/structured_logging_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/internal/expr/expr.go
  router/internal/expr/request_operation_bucket_visitor.go
  router/internal/expr/request_operation_bucket_visitor_test.go
Due: router

feat: generate p2q connect client
  connect/src/wg/cosmo/buf/validate/validate_pb.ts
  connect/src/wg/cosmo/google/rpc/status_pb.ts
  connect/src/wg/cosmo/yoko/v1/prompt_to_query-PromptToQueryService_connectquery.ts
  connect/src/wg/cosmo/yoko/v1/prompt_to_query_pb.ts
  controlplane/src/core/bufservices/AIService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/services/CompositionService.ts
  controlplane/src/core/services/PromptToQueryService.ts
  controlplane/test/ai-service.test.ts
  controlplane/test/prompt-to-query-service.test.ts
  controlplane/test/test-util.ts
Due: controlplane

chore: add command to generate ptq types
  Makefile
  package.json
Due: none

fix(router): count all selected fields for total_fields limits
  router-tests/observability/structured_logging_test.go
  router-tests/operations/complexity_limits_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/operation_processor.go
Due: router

feat: improve retry logic
  controlplane/src/core/services/PromptToQueryService.ts
Due: controlplane

chore: add missing file
  buf.ptq.gen.yaml
Due: none

feat: add terms of service confirmation for prompt to query (#3231)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0149_clever_cerebro.sql
  controlplane/migrations/meta/0149_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/organization/acceptFeatureTerms.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/services/PromptToQueryService.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/prompt-to-query-service.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/app-provider.tsx
  studio/src/components/settings/ai/ai-segment.tsx
  studio/src/components/settings/ai/cosmo-ai-segment.tsx
  studio/src/components/settings/ai/cosmo-ai-terms-of-service.ts
  studio/src/components/settings/ai/cosmo-ai.tsx
  studio/src/components/settings/ai/ptq-segment.tsx
  studio/src/components/settings/ai/terms-dialog.tsx
  studio/src/components/settings/use-update-feature-settings.ts
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio, controlplane

feat: add cursor support in playground
  playground/src/components/playground/cursor.ts
  playground/src/components/playground/index.tsx
  playground/src/components/playground/stream-events.tsx
  playground/src/theme.css
  router/internal/graphiql/graphiql.html
Due: router

fix: resume on missing topics
  router/pkg/pubsub/kafka/adapter.go
Due: router

fix: improve event panel ui layout
  playground/src/components/playground/index.tsx
  playground/src/components/playground/stream-events.tsx
  playground/src/components/playground/view-output.tsx
  playground/src/theme.css
  router/internal/graphiql/graphiql.html
Due: router

chore: make event panel react on button all the time
  playground/src/components/playground/index.tsx
  playground/src/components/playground/stream-events.tsx
  router/internal/graphiql/graphiql.html
Due: router

build: add nuqs and mount its pages router adapter
  pnpm-lock.yaml
  studio/package.json
  studio/src/pages/_app.tsx
Due: studio

refactor: read route segments with useParams
  studio/src/components/changelog/changelog.tsx
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/graph-pruning-issues-table.tsx
  studio/src/components/checks/lint-issues-table.tsx
  studio/src/components/dashboard/workspace-provider.tsx
  studio/src/components/dashboard/workspace-selector.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/settings-layout.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/operations/operation-content-modal.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/cache-operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/changelog/[schemaVersionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/changelog/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/feature-flag/[featureFlagCompositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/feature-flags/[featureFlagSlug]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/overrides.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/readme.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/index.tsx
  studio/src/pages/[organizationSlug]/feature-flags/[featureFlagSlug]/index.tsx
  studio/src/pages/[organizationSlug]/login-methods.tsx
  studio/src/pages/[organizationSlug]/usages.tsx
Due: studio

refactor: read query params with nuqs
  studio/src/components/analytics/field-usage.tsx
  studio/src/components/cache/cache-details-sheet.tsx
  studio/src/components/cache/operations-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/components/checks/override.tsx
  studio/src/components/feature-flag-details.tsx
  studio/src/components/feature-flags-table.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/hooks/use-operations-filters.tsx
  studio/src/hooks/use-pagination-params.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/traces.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/[proposalId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/audit-log.tsx
  studio/src/pages/[organizationSlug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/graphs.tsx
  studio/src/pages/[organizationSlug]/integrations.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/webhook-history.tsx
Due: studio

refactor: finish the nuqs migration in the converted files
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/[proposalId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/apikeys.tsx
  studio/src/pages/[organizationSlug]/audit-log.tsx
  studio/src/pages/[organizationSlug]/webhook-history.tsx
Due: studio

refactor: write pagination params through nuqs
  studio/src/components/ui/pagination.tsx
Due: studio

refactor: close param-backed sheets through nuqs
  studio/src/components/analytics/field-usage.tsx
  studio/src/components/cache/cache-details-sheet.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/traces.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
  studio/src/pages/[organizationSlug]/webhook-history.tsx
Due: studio

test: remove leading whitespace from scalar test constants
  composition/tests/v1/directives/fieldset-directives.test.ts
  composition/tests/v1/normalization.test.ts
  composition/tests/v1/utils/utils.ts
Due: composition

refactor: type the extracted directive map key as DirectiveName
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

test: inline subgraphs and use interpolation in context tests
  composition/tests/v1/directives/context.test.ts
  composition/tests/v1/federation-factory.test.ts
Due: composition

refactor: clear pagination params at their default
  studio/src/components/ui/pagination.tsx
  studio/src/pages/[organizationSlug]/members.tsx
Due: studio

fix(router): accept JSON array scope claims
  docs-website/router/mcp/oauth/scopes.mdx
  router-tests/protocol/mcp_oauth_e2e_test.go
  router/pkg/authentication/authentication.go
  router/pkg/authentication/authentication_test.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
Due: router

refactor: name the members page size once
  studio/src/pages/[organizationSlug]/members.tsx
Due: studio

fix(router): log scope claim shape when rejecting MCP requests
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/execute_graphql_scope_test.go
  router/pkg/mcpserver/server.go
Due: router

test(router): pin whitespace splitting of string scope claims
  router/pkg/mcpserver/auth_middleware_test.go
Due: router

refactor: give each migrated param a single writer
  studio/src/components/analytics/data-table.tsx
  studio/src/components/cache/cache-details-sheet.tsx
  studio/src/components/checks/changes-table.tsx
  studio/src/components/dashboard/workspace-provider.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/traces.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/cache-operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/webhook-history.tsx
Due: studio

refactor: write override, operation and schema type params through nuqs
  studio/src/components/checks/override.tsx
  studio/src/components/operations/operations-search.tsx
  studio/src/hooks/use-operations-filters.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/overrides.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Due: studio

refactor: share the trace param map between its two owners
  studio/src/components/analytics/data-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/traces.tsx
Due: studio

refactor: remove the remaining second writers of migrated params
  studio/src/components/checks/changes-table.tsx
  studio/src/components/operations/operations-search.tsx
  studio/src/components/ui/pagination.tsx
  studio/src/hooks/use-pagination-params.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/overrides.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/routers.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Due: studio

fix(router): reject scope claims holding non-string members
  docs-website/router/mcp/oauth/scopes.mdx
  router-tests/protocol/mcp_oauth_e2e_test.go
  router/pkg/authentication/authentication.go
  router/pkg/authentication/authentication_test.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
Due: router

chore(router): trim scope claim comments
  router-tests/protocol/mcp_oauth_e2e_test.go
  router/pkg/authentication/authentication.go
  router/pkg/mcpserver/auth_middleware.go
Due: router

docs(router): clarify scope claim shapes
  docs-website/router/mcp/oauth/scopes.mdx
  router/pkg/authentication/authentication_test.go
  router/pkg/mcpserver/auth_middleware_test.go
Due: router

fix(router): accept JSON array scope claims (#3251)
  docs-website/router/mcp/oauth/scopes.mdx
  router-tests/protocol/mcp_oauth_e2e_test.go
  router/pkg/authentication/authentication.go
  router/pkg/authentication/authentication_test.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/execute_graphql_scope_test.go
  router/pkg/mcpserver/server.go
Due: router

fix: error on inconsistent @fromContext interface arguments
  composition/src/errors/errors.ts
  composition/src/utils/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/context.test.ts
  composition/tests/v1/types/interfaces.test.ts
Due: composition

fix: reset pagination when a search filter changes
  studio/src/components/checks/operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
  studio/src/pages/[organizationSlug]/feature-flags/index.tsx
  studio/src/pages/[organizationSlug]/subgraphs.tsx
Due: studio

chore: unify rbac resource check
  controlplane/src/core/repositories/FeatureFlagRepository.ts
Due: controlplane

refactor(router): allow CORS origins without scheme registration
  docs-website/router/configuration.mdx
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

feat(router): support custom URL schemes in CORS origins
  docs-website/router/configuration.mdx
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

test(router): trim custom CORS scheme coverage
  router/pkg/config/config_test.go
  router/pkg/cors/cors_test.go
Due: router
