Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

docs: update onboarding tutorial introduction for clarity
  docs-website/getting-started/cosmo-cloud-onboarding.mdx
Due: none

chore: recreate keycloak statefulset on un-patchable changes
  helm/cosmo/values.yaml
Due: none

bump engine to 264
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: fix docs
  helm/cosmo/README.md
Due: none

fix tests
  router-tests/costs_test.go
Due: none

feat(docs): add documentation update check skill and evaluation prompts
  .claude/skills/docs-update-check/SKILL.md
  .claude/skills/docs-update-check/evals/evals.json
  CLAUDE.md
Due: none

feat: add docs-website as workspace package
  docs-website/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: add validation script
  docs-website/.prettierignore
  docs-website/package.json
Due: none

fix: use workspace script to run the server
  docs-website/README.md
Due: none

add docs for sizedFields and enable cost control page
  docs-website/docs.json
  docs-website/router/security/cost-control.mdx
Due: none

fix: address PR feedback in README
  docs-website/README.md
Due: none

feat: skill for dev commands
  .claude/skills/cosmo-dev-commands/SKILL.md
  .claude/skills/cosmo-dev-commands/evals/evals.json
Due: none

feat(helm): migrate away from bitnami helm chart (#2569)
  helm/cosmo/CHART.md
  helm/cosmo/Chart.lock
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
  helm/cosmo/charts/keycloak-22.0.0.tgz
  helm/cosmo/charts/keycloakx-7.1.8.tgz
  helm/cosmo/templates/ingress.yaml
  helm/cosmo/values.yaml
Due: none

chore: release helm-cosmo 0.17.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
Due: none

chore: release helm-cosmo-router 0.15.1 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
Due: none

chore: update helm docs and prepare release
  helm/cosmo/charts/router/README.md
Due: none

docs(composition): fix README inaccuracies for federateSubgraphs
  composition/README.md
Due: composition

fix(cli): rewrite integration test with large synthetic error text
  cli/test/compose-error-table.test.ts
Due: cli

feat: documentation
  docs-website/router/configuration/template-expressions.mdx
Due: none

feat: documentation
  docs-website/concepts/cache-warmer.mdx
  docs-website/router/configuration.mdx
  docs-website/router/metrics-and-monitoring.mdx
Due: none

fix: tests
  router-tests/observability/structured_logging_test.go
Due: none

fix: updates
  router-tests/operations/plan_fallback_cache_test.go
Due: none

fix: updates
  router-tests/operations/cache_warmup_test.go
Due: none

feat(router): add per-key rate limit overrides for simple_strategy
  router/core/graph_server.go
  router/core/ratelimiter.go
  router/core/ratelimiter_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
Due: router

chore: update graphql-go-tools to 5c066592a0ed and clean up stale files
  composition/package-lock.json
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router, composition

chore: update graphql-go-tools to 5c066592a0ed and clean up stale files
  TODO.md
  composition/package-lock.json
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router, composition

chore: remove tasks/ from tracking and add to gitignore
  tasks/00-upgrade-graphql-go-tools.md
  tasks/01-proto-schema-changes.md
  tasks/02-composition-directive-registration.md
  tasks/03-cache-backend-implementation.md
  tasks/04-router-yaml-config.md
  tasks/05-composition-validation-extraction.md
  tasks/06-router-config-builder.md
  tasks/07-router-module-config-wiring.md
  tasks/08-factory-resolver-executor.md
  tasks/09-handler-graph-server.md
  tasks/10-entity-cache-metrics.md
  tasks/11-integration-tests.md
  tasks/12-extension-invalidation.md
  tasks/ENTITY_CACHING_ACCEPTANCE_CRITERIA.md
  tasks/GRAPHQL_GO_TOOLS_PREREQUISITES.md
  tasks/PREREQUISITES_AND_GAPS.md
  tasks/TODO.md
Due: none

feat(router): add entity cache analytics support
  Makefile
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/entity-caching.test.ts
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  router-tests/entity_caching/entity_analytics_test.go
  router-tests/entity_caching/entity_caching_test.go
  router-tests/entity_caching/harness_test.go
  router-tests/entity_caching/redis_test.go
  router-tests/entity_caching_test.go
  router/RFC_ENTITY_ANALYTICS.md
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/entitycache/memory.go
  router/pkg/entitycache/memory_test.go
Due: router, composition

test(router): tighten entity cache assertions
  router-tests/entity_caching/entity_analytics_test.go
  router-tests/entity_caching/entity_caching_test.go
  router/pkg/entitycache/memory_test.go
Due: router

add tests for sizedFields
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
  router-tests/costs_test.go
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
Due: none

chore: update lerna-lite to mitigate tar vulnerability
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade axios
  cli/package.json
  pnpm-lock.yaml
Due: cli
