Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  graphqlmetrics/CHANGELOG.md
  graphqlmetrics/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, graphqlmetrics, controlplane, composition

chore: update incomplete error message
  controlplane/src/core/services/Keycloak.ts
Due: controlplane

chore: update comment
  protographic/src/sdl-to-proto-visitor.ts
Due: none

feat(protographic): add support for interface objects (#2761)
  protographic/SDL_PROTO_RULES.md
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/tests/sdl-to-mapping/03-federation.test.ts
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

feat: make storage providers configurable via envars (#2740)
  docs-website/router/configuration.mdx
  docs-website/router/storage-providers.mdx
  router/pkg/config/config.go
  router/pkg/config/config_test.go
Due: router

feat: add new endpoints for fetching feature flags and feature subgraphs by federated graph (#2729)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/feature-flag/getFeatureFlagsInLatestCompositionByFederatedGraph.ts
  controlplane/src/core/bufservices/feature-flag/getFeatureSubgraphsByFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphByName.ts
  controlplane/src/core/bufservices/workspace/getWorkspace.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/WorkspaceService.ts
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
  controlplane/test/feature-flag/get-feature-subgraphs-by-federated-graph.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
Due: studio, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane

feat: wire DefaultErrorExtensionCode to subscription client
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/transport.go
Due: router

chore: improve OpenId Configuration response validation
  controlplane/src/core/services/Keycloak.ts
Due: controlplane

chore: use wip go-tools af907712
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: add AWS session token (STS) and default credential chain support for S3
  cdn-server/src/s3.ts
  cdn-server/src/utils.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/util.ts
  controlplane/src/index.ts
  controlplane/src/types/index.ts
  controlplane/test/utils.s3storage.test.ts
  router/core/init_config_poller.go
  router/core/router.go
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/routerconfig/s3/client.go
Due: router, controlplane

fix(controlplane): address PR review feedback
  controlplane/src/core/tracing.ts
  controlplane/src/core/util.ts
Due: controlplane

test(controlplane): add tests for @traced decorator and withSpan
  controlplane/test/tracing.test.ts
Due: controlplane

refactor(controlplane): convert arrow functions to regular methods in traced classes
  controlplane/.eslintrc
  controlplane/eslint-local-rules.cjs
  controlplane/package.json
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/core/services/BillingService.ts
  controlplane/src/core/services/SchemaGraphPruner.ts
  controlplane/src/core/services/SchemaLinter.ts
  controlplane/src/core/tracing.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/test/tracing.test.ts
  pnpm-lock.yaml
Due: controlplane

fix(controlplane): handle export default class in no-arrow-in-traced lint rule
  controlplane/eslint-local-rules.cjs
Due: controlplane

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: controlplane

Update router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware.go
Due: router

chore: update `pnpm-lock.yaml`
  pnpm-lock.yaml
Due: none

feat: improve OpenId Configuration fetching to prevent DoS (#2748)
  controlplane/package.json
  controlplane/src/core/bufservices/sso/createOIDCProvider.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/services/Keycloak.ts
  controlplane/src/core/services/OidcProvider.ts
  controlplane/test/oidc-provider.test.ts
  pnpm-lock.yaml
Due: controlplane

fix: create the config directory only after checking for DISABLE_UPDATE_CHECK
  cli/src/commands/index.ts
  cli/src/utils.ts
Due: cli

fix: create the config directory only after checking for DISABLE_UPDATE_CHECK (#2773)
  cli/src/commands/index.ts
  cli/src/utils.ts
Due: cli

fix(controlplane): populate userEmail in whoAmI response
  controlplane/src/core/bufservices/organization/whoAmI.ts
Due: controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: cli, controlplane

fix(controlplane): populate userEmail in whoAmI response (#2774)
  controlplane/src/core/bufservices/organization/whoAmI.ts
Due: controlplane

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
