Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

rename CacheTagConfiguration
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/normalization/batch-normalization/batch-normalizer.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

feat: serialize configuration for cacheTags
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
  shared/test/entity-caching-configuration.test.ts
Due: router

feat(composition): create configs for cacheTag on entities
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/cache-tag.test.ts
  composition/tests/v1/normalization-utils.test.ts
Due: composition

chore: verify golangci-lint downloads against a pinned checksum
  .github/actions/go-linter/action.yaml
  .github/workflows/aws-lambda-router-ci.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .github/workflows/router-ci.yaml
  .golangci-lint-version
  scripts/golangci-lint.sh
Due: none

chore: let golangci-lint-action install the pinned version in CI
  .github/actions/go-linter/action.yaml
  .github/workflows/aws-lambda-router-ci.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .github/workflows/router-ci.yaml
Due: none

feat: add `enableSplitConfigLoading` job to helm
  helm/cosmo/README.md
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/values.yaml
  helm/cosmo/values.yaml
Due: none

fix(controlplane): report the first invalid persisted ID and its index
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/src/core/bufservices/persisted-operation/utils.ts
  controlplane/test/persisted-operations.test.ts
Due: controlplane

test(router): declare WebSocket cases before loops
  router/core/websocket_goroutine_test.go
Due: router

refactor(router): let JWT parsing reject empty graph tokens
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
Due: router

test(router): expand WebSocket reader goroutines
  router/core/websocket_goroutine_test.go
Due: router

test(router): inline idle WebSocket reader goroutines
  router/core/websocket_goroutine_test.go
Due: router

test(router): expand remaining go and defer closures
  router-tests/subscriptions/websocket_goroutine_test.go
  router/core/websocket_goroutine_test.go
Due: router

test(router): cover split config fallback and recovery integration
  router-tests/lifecycle/execution_config_fallback_test.go
Due: none

test(router): simplify WebSocket regression coverage
  router/core/websocket_goroutine_test.go
Due: router

test(router): simplify WebSocket setup and assertions
  router-tests/subscriptions/websocket_goroutine_test.go
  router/core/websocket_goroutine_test.go
Due: router

test(router): cover missing base graph with skipped feature flags
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

fix(router): skip execution config fallback for routers without a graph token
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
Due: router

perf(router): keep the accepted execution config without copying it
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
Due: router

test(router): avoid blocking supervisor test cleanup after Start returns
  router/core/supervisor_execution_config_test.go
Due: router

refactor(router): describe execution config fallback as incomplete or invalid
  router-tests/lifecycle/execution_config_fallback_test.go
  router/core/init_config_poller.go
Due: router

refactor(router): name graph scope check after what it verifies
  router/core/reload_persistent_state.go
Due: router

test(router): clarify legacy endpoint assertion in fallback test
  router-tests/lifecycle/execution_config_fallback_test.go
Due: none

test(router): cover cold start rejection without a fallback config
  router-tests/lifecycle/execution_config_fallback_test.go
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
