Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: add .serena/ to .gitignore
  .gitignore
Due: none

chore: use latest engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: pre allocate required fields
  router/core/factoryresolver.go
Due: router

fixed typing issues
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/subgraph/types.ts
  composition/src/types/types.ts
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

feat: json output support for monograph/subgraph check (#2590)
  cli/.gitignore
  cli/README.md
  cli/package.json
  cli/src/commands/graph/monograph/commands/check.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/handle-check-result.ts
  cli/src/json-check-schema-output-builder.ts
  cli/test/check-schema.test.ts
  cli/test/fetch-schema.test.ts
  cli/test/fixtures/full-schema.graphql
  cli/test/fixtures/schema-with-nullable-list-items.graphql
  cli/test/fixtures/schema-with-validation-errors.graphql
  cli/test/fixtures/schema-with-warnings-and-errors.graphql
  cli/test/grpc-service.test.ts
  cli/test/json-check-schema-output-builder.test.ts
  cli/test/parse-operations.test.ts
  cli/test/testdata/query-map.json
  cli/tsconfig.json
  pnpm-lock.yaml
Due: cli

chore: update codeowners
  .github/CODEOWNERS
Due: none

use switch instead ifs in the handleListSizeDirective
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

update globals
  composition-go/index.global.js
Due: none

make lint
  composition/src/errors/errors.ts
  composition/src/normalization/types.ts
  composition/src/router-configuration/types.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cost.test.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

handle no parents case
  composition-go/index.global.js
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  keycloak/CHANGELOG.md
  keycloak/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

feat: option to remove nats consumers on shutdown (#2600)
  demo/pkg/subgraphs/subgraphs.go
  router-tests/events/nats_events_test.go
  router-tests/testenv/testenv.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/nats/adapter.go
  router/pkg/pubsub/nats/provider_builder.go
Due: router

chore: don't check if `subgraph` has a value (new subgraphs won't)
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

chore: return new field in all employee related functions
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
Due: none

chore: persist lint issues from the sce response
  controlplane/src/core/repositories/SchemaCheckRepository.ts
Due: controlplane

chore: add SkArchon to codeowners for router (#2622)
  .github/CODEOWNERS
Due: none

fix(composition): reject @override on @key fields
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/override.test.ts
Due: composition

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

braces in switch
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

update global
  composition-go/index.global.js
Due: none

chore: update golden files
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
Due: none

fix bug in tests and add nil check
  router-tests/costs_test.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
Due: router

feat: add composedSchemaBreakingChanges to UpdateProposalResponse
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

fix: replace undefined NatsWaitTimeout with EventWaitTimeout
  router-tests/events/nats_events_test.go
Due: none

add parallel benchmark
  router-tests/integration_test.go
Due: none

fix: flag option as experimental
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
Due: router

feat: add composedSchemaBreakingChanges to UpdateProposalResponse (#2627)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

fix: updates
  router-tests/expensive_query_cache_test.go
  router/core/expensive_query_cache.go
  router/core/expensive_query_cache_test.go
  router/core/graph_server.go
  router/core/operation_planner.go
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
  router/core/router.go
  router/core/router_config.go
Due: router

fix: updates
  router-tests/expensive_query_cache_test.go
  router/core/expensive_query_cache_test.go
  router/core/graph_server.go
  router/core/operation_planner.go
Due: router

feat: allow fields without arguments to be defined as resolvers
  protographic/OPERATIONS_TO_PROTO.md
  protographic/README.md
  protographic/SDL_MAPPING_RULES.md
  protographic/SDL_PROTO_RULES.md
  protographic/plugin_development.md
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/src/sdl-validation-visitor.ts
  protographic/tests/abstract-selection-rewriter/01-basics.test.ts
  protographic/tests/abstract-selection-rewriter/02-advanced.test.ts
  protographic/tests/operations/proto-text-generator.test.ts
  protographic/tests/operations/request-builder.test.ts
  protographic/tests/sdl-to-mapping/04-field-resolvers.test.ts
  protographic/tests/sdl-to-proto/13-field-arguments.test.ts
  protographic/vite.config.ts
Due: none

chore: Remove config nesting
  router-tests/events/nats_events_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/nats/provider_builder.go
Due: router

chore: do not ignore repeated fields
  protographic/src/sdl-to-proto-visitor.ts
  protographic/tests/sdl-to-proto/13-field-arguments.test.ts
Due: none

add tests for negative weights
  router-tests/costs_test.go
Due: none

chore: improve validation
  protographic/src/sdl-validation-visitor.ts
  protographic/tests/sdl-validation/01-basic-validation.test.ts
Due: none
