Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix(ci): dispatch cosmo chart releases to cloud
  .github/workflows/helm-release.yaml
Due: none

fix: grammar
  composition/src/errors/errors.ts
  composition/tests/v1/types/enums.test.ts
  docs-website/federation/composition-errors.mdx
Due: composition

fix(router): avoid idle WebSocket read wakeups
  docs-website/router/subscriptions/router-configuration-for-subscriptions.mdx
  router-tests/subscriptions/websocket_goroutine_test.go
  router-tests/subscriptions/websocket_tls_test.go
  router/core/websocket.go
  router/core/websocket_goroutine_test.go
Due: router

chore: exclude subscription documentation from CPU fix
  docs-website/router/subscriptions/router-configuration-for-subscriptions.mdx
Due: none

refactor(router): restore explicit WebSocket cancellation select
  router/core/websocket.go
Due: router

refactor(router): simplify WebSocket cancellation check
  router/core/websocket.go
Due: router

chore(router): apply go fix to subgraph logger test
  router/internal/requestlogger/subgraphlogger_test.go
Due: router

feat(router): expose response cache status on metrics, spans and access logs (#3272)
  docs-website/router/configuration.mdx
  docs-website/router/configuration/template-expressions.mdx
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/open-telemetry/custom-attributes.mdx
  docs-website/router/response-cache.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/operations/response_cache_metrics_test.go
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/response_cache_stats_test.go
  router/go.mod
  router/go.sum
  router/internal/expr/expr.go
  router/internal/requestlogger/subgraphlogger.go
  router/internal/requestlogger/subgraphlogger_test.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/otel/attributes.go
Due: router

test(router): combine WebSocket connection cleanup
  router/core/websocket_goroutine_test.go
Due: router

test(router): use assert for independent WebSocket checks
  router-tests/subscriptions/websocket_goroutine_test.go
  router-tests/subscriptions/websocket_tls_test.go
  router/core/websocket_goroutine_test.go
Due: router

docs(router): clarify response cache health metric scope, TTL and miss ranking
  docs-website/router/response-cache.mdx
Due: none

fix(router): drain pooled connections before process shutdown
  docs-website/router/configuration.mdx
  router/core/http_server.go
  router/core/http_server_drain.go
  router/core/http_server_drain_benchmark_test.go
  router/core/http_server_drain_flush_test.go
  router/core/http_server_drain_regression_test.go
  router/core/http_server_drain_test.go
  router/core/http_server_drain_writer.go
  router/core/http_server_drain_writer_test.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor.go
  router/core/supervisor_drain_test.go
  router/core/supervisor_instance.go
  router/go.mod
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/drain_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: update docs
  docs-website/router/gRPC/concepts.mdx
Due: none

docs(router): remove duplicated response cache metrics and traces section
  docs-website/router/response-cache.mdx
Due: none

chore: update docs (#3337)
  docs-website/router/gRPC/concepts.mdx
Due: none

fix(router): apply parser limits to the original document only
  docs-website/router/configuration.mdx
  router-tests/security/parser_limits_normalization_test.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/operation_processor_limits_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix(router): remove config fetch error logging in the retryable HTTP client (#3335)
  router/internal/httpclient/retryableclient.go
Due: router

feat(router): add security.parser_limits.ignore_persisted_operations
  docs-website/router/configuration.mdx
  router-tests/security/parser_limits_normalization_test.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/operation_processor_limits_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix(controlplane): isolate persisted operation deletion paths (#3329)
  controlplane/src/core/bufservices/persisted-operation/deleteClient.ts
  controlplane/src/core/bufservices/persisted-operation/deletePersistedOperation.ts
  controlplane/test/persisted-operations.test.ts
Due: controlplane

refactor(router): encapsulate WebSocket reader lifecycle
  router/core/websocket.go
  router/core/websocket_goroutine_test.go
Due: router

refactor(router): clarify WebSocket cancellation cleanup name
  router/core/websocket.go
Due: router

chore: simplify it
  docs-website/router/configuration.mdx
  router-tests/security/parser_limits_normalization_test.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/operation_processor_limits_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix(router): only finish a response cache write's own entry
  router/pkg/responsecaching/cache/redis/dangling_stress_test.go
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/finish_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/redis_test.go
  router/pkg/responsecaching/cache/redis/set.go
  router/pkg/responsecaching/cache/redis/tag_index_test.go
Due: router

fix(router): extend a response cache entry only once its tags are confirmed
  router/pkg/responsecaching/cache/redis/background_sweep_test.go
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/finish_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/set.go
Due: router

fix(router): delete invalidated entries again after marking them
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
Due: router

fix(router): keep invalidation marks until a walk removes them
  router/pkg/responsecaching/cache/redis/dangling_stress_test.go
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/finish_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/set.go
Due: router

fix(tracing): ensure spans are properly ended when request is aborted
  controlplane/src/core/tracing.ts
  controlplane/test/tracing-timeout.test.ts
Due: controlplane

fix(router): sweep only the marked members a walk read
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
Due: router

fix(router): keep a tag set alive as long as the entry its lift confirms
  router/pkg/responsecaching/cache/redis/finish_test.go
  router/pkg/responsecaching/cache/redis/set.go
Due: router

refactor(router): remove the background sweep; a walk removes its own marks
  router-tests/operations/response_cache_test.go
  router/pkg/responsecaching/cache/redis/background_sweep_test.go
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/own_marks_test.go
  router/pkg/responsecaching/cache/redis/redis.go
Due: router

chore: add initial golangci-lint checks
  .github/actions/go-linter/action.yaml
  .github/workflows/aws-lambda-router-ci.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .github/workflows/router-ci.yaml
  .golangci-lint-version
  .golangci.yml
  CONTRIBUTING.md
  Makefile
  aws-lambda-router/Makefile
  graphqlmetrics/Makefile
  router-tests/Makefile
  router-tests/security/block_operations_test.go
  router/Makefile
  router/internal/exporter/exporter_test.go
Due: router, graphqlmetrics

refactor(router): split response cache writes and walks into named steps
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/set.go
Due: router

chore: simplify linting and pin the local runner
  .github/actions/go-linter/action.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .gitignore
  .golangci.yml
  CONTRIBUTING.md
  Makefile
  aws-lambda-router/Makefile
  graphqlmetrics/Makefile
  router-tests/Makefile
  router/Makefile
  scripts/golangci-lint.sh
Due: router, graphqlmetrics

chore: enable additional low-churn Go linters
  .golangci.yml
  CONTRIBUTING.md
  router-tests/events/nats_events_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/graphql_prehandler.go
  router/pkg/schemaloader/loader.go
Due: router

docs: keep linter descriptions in the pull request
  CONTRIBUTING.md
Due: none

chore: install golangci-lint only on demand
  CONTRIBUTING.md
  Makefile
  aws-lambda-router/Makefile
  graphqlmetrics/Makefile
  router-tests/Makefile
  router/Makefile
Due: router, graphqlmetrics

fix(router): take every member of a tag when invalidating it
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
Due: router

fix(router): give each header constant an explicit type
  router/pkg/responsecaching/cache/redis/set.go
Due: router

fix(router): retain previous config when split mapper has no base graph
  router/core/init_config_poller.go
  router/core/init_config_poller_test.go
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
  router/core/router.go
  router/core/supervisor.go
  router/core/supervisor_execution_config_test.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

fix(router): preserve original execution config across fallback reloads
  router/core/init_config_poller_test.go
  router/core/reload_persistent_state.go
  router/core/router.go
  router/core/supervisor.go
  router/core/supervisor_execution_config_test.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
