Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix(demo): tidy router-tests go.mod for updated demo module
  router-tests/go.mod
Due: none

feat(router): render defer plans synchronously
  router-tests/protocol/defer_test.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/plan_generator.go
  router/core/plan_generator_test.go
Due: router

feat(router): orchestrate bounded defer advice
  router/core/defer_advisor.go
  router/core/defer_advisor_orchestration_test.go
  router/core/defer_advisor_response_test.go
Due: router

test(router): harden defer advisor middleware
  router/core/defer_advisor_middleware_test.go
Due: router

fix(shared): prevent incremental prototype pollution
  shared/src/playground/incremental-delivery.ts
  shared/test/incremental-delivery.test.ts
Due: none

fix(shared): support legacy incremental payloads
  shared/src/playground/incremental-delivery.ts
  shared/test/incremental-delivery.test.ts
Due: none

build(shared): export playground helpers
  playground/package.json
  pnpm-lock.yaml
  shared/package.json
  studio/package.json
Due: studio

fix(shared): resolve playground subpath types
  shared/package.json
Due: none

feat(shared): observe incremental playground results
  shared/src/playground/defer-schema.ts
  shared/src/playground/incremental-delivery.ts
  shared/test/defer-schema.test.ts
  shared/test/incremental-delivery.test.ts
Due: none

feat(router): expose defer advisor middleware
  router-tests/protocol/defer_advisor_test.go
  router/core/graph_server.go
  router/core/router.go
Due: router

docs(router): document defer streaming contract
  docs-website/docs.json
  docs-website/router/advanced-request-tracing-art.mdx
  docs-website/router/configuration.mdx
  docs-website/router/incremental-delivery.mdx
  docs-website/router/proxy-capabilities/forward-client-extensions.mdx
  docs-website/router/query-plan.mdx
  docs-website/router/subgraph-data-propagation/subgraph-extension-propagation.mdx
Due: none

test(router): verify defer ART extensions
  router-tests/protocol/defer_art_test.go
  router-tests/protocol/defer_test.go
Due: none

build(router): target defer ART engine
  router-tests/go.mod
  router/go.mod
Due: router

fix(router): renew APQ TTL without corrupting stored query
  router-tests/operations/automatic_persisted_queries_test.go
  router/core/operation_processor.go
  router/core/operation_processor_apq_ttl_test.go
  router/internal/persistedoperation/apq/client.go
  router/internal/persistedoperation/client.go
Due: router

feat(playground): add defer advisor client
  playground/src/components/playground/defer-advisor-request.test.ts
  playground/src/components/playground/defer-advisor-request.ts
  playground/src/components/playground/defer-advisor-rewrite.test.ts
  playground/src/components/playground/defer-advisor-rewrite.ts
  playground/src/components/playground/defer-advisor-view.tsx
  playground/src/components/playground/defer-inline-state.test.ts
  playground/src/components/playground/defer-inline.ts
  playground/src/components/playground/types.ts
Due: none

feat(playground): stream incremental executions
  playground/package.json
  playground/src/components/playground/playground-fetcher.test.ts
  playground/src/components/playground/playground-fetcher.ts
  playground/src/components/playground/query-plan-request.test.ts
  playground/src/components/playground/query-plan-request.ts
  playground/src/components/playground/use-playground-execution.test.ts
  playground/src/components/playground/use-playground-execution.ts
  playground/tsconfig.json
  playground/vite.config.ts
  pnpm-lock.yaml
Due: none

feat(playground): render defer-aware ART
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/fetch-waterfall.tsx
  playground/src/components/playground/prettyPrint.test.ts
  playground/src/components/playground/prettyPrint.ts
  playground/src/components/playground/trace-delivery.test.ts
  playground/src/components/playground/trace-delivery.ts
  playground/src/components/playground/trace-metadata.test.ts
  playground/src/components/playground/trace-metadata.ts
  playground/src/components/playground/trace-rendering.test.ts
  playground/src/components/playground/trace-rendering.ts
  playground/src/components/playground/trace-view.tsx
Due: none

feat(playground): integrate defer streaming tools
  playground/src/components/playground/index.tsx
Due: none

feat(studio): add defer advisor client
  studio/src/components/playground/defer-advisor-rewrite.test.ts
  studio/src/components/playground/defer-advisor-rewrite.ts
  studio/src/components/playground/defer-advisor-types.ts
  studio/src/components/playground/defer-inline.ts
  studio/src/components/playground/use-inline-defer-advisor.test.ts
  studio/src/components/playground/use-inline-defer-advisor.ts
Due: studio

feat(studio): preserve multipart playground responses
  studio/src/components/playground/playground-fetcher.test.ts
  studio/src/components/playground/playground-fetcher.ts
  studio/src/components/playground/playground-request-key.ts
  studio/src/components/playground/use-active-response-headers.test.ts
  studio/src/components/playground/use-active-response-headers.ts
  studio/vitest.config.mts
Due: studio

feat(studio): track incremental execution lifecycle
  studio/src/components/playground/use-playground-execution.test.ts
  studio/src/components/playground/use-playground-execution.ts
Due: studio

feat(studio): request selected defer query plans
  studio/src/components/playground/query-plan-request.test.ts
  studio/src/components/playground/query-plan-request.ts
Due: studio

feat(studio): render defer-aware ART
  studio/src/components/playground/fetch-flow.tsx
  studio/src/components/playground/fetch-waterfall.tsx
  studio/src/components/playground/prettyPrint.test.ts
  studio/src/components/playground/prettyPrint.ts
  studio/src/components/playground/trace-delivery.test.ts
  studio/src/components/playground/trace-delivery.ts
  studio/src/components/playground/trace-metadata.ts
  studio/src/components/playground/trace-rendering.test.ts
  studio/src/components/playground/trace-rendering.ts
  studio/src/components/playground/trace-view.test.ts
  studio/src/components/playground/trace-view.tsx
  studio/src/components/playground/types.ts
Due: studio

feat(studio): integrate defer playground support
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

build(router): regenerate embedded playground
  router/internal/graphiql/graphiql.html
Due: router

docs(router): plan defer ART rollout
  docs/superpowers/plans/2026-07-10-art-defer-playgrounds.md
  docs/superpowers/prs/cosmo-defer-art-playgrounds.md
  docs/superpowers/prs/graphql-go-tools-defer-art.md
  rfc/defer-advisor/RFC.md
Due: none

docs(router): record defer verification baselines
  docs/superpowers/plans/2026-07-10-art-defer-playgrounds.md
  docs/superpowers/prs/graphql-go-tools-defer-art.md
Due: none

docs(router): record final main sync
  docs/superpowers/plans/2026-07-10-art-defer-playgrounds.md
Due: none

docs(router): trim incremental delivery whitespace
  docs-website/router/incremental-delivery.mdx
Due: none

fix(playground): contain defer status in waterfall
  playground/src/components/playground/fetch-waterfall.test.tsx
  playground/src/components/playground/fetch-waterfall.tsx
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/fetch-waterfall.test.tsx
  studio/src/components/playground/fetch-waterfall.tsx
Due: router, studio

fix(playground): flatten single-child trace groups in ART view
  playground/src/components/playground/trace-view.tsx
  studio/src/components/playground/trace-view.tsx
Due: studio

feat(playground): redesign ART tree view (latency-weighted edges, cleaner nodes)
  playground/src/components/playground/fetch-flow.tsx
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/fetch-flow.tsx
Due: router, studio

chore: ignore .gstack tooling dir
  .gitignore
Due: none

style(playground): apply prettier to ART fetch-flow nodes
  playground/src/components/playground/fetch-flow.tsx
  studio/src/components/playground/fetch-flow.tsx
Due: studio

build(router): pin graphql-go-tools defer/ART engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(playground): skip client validation for persisted queries
  docs-website/router/advanced-request-tracing-art.mdx
  playground/src/components/playground/playground-fetcher.ts
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/playground-fetcher.ts
Due: router, studio

ci: use linux-built playground bundle and mark advisor test flaky
  router-tests/protocol/defer_advisor_test.go
  router/internal/graphiql/graphiql.html
Due: router

ci: rebuild embedded playground bundle for linux/amd64
  router/internal/graphiql/graphiql.html
Due: router

fix(router): drain only in-flight requests of muxes the graph server tears down
  router/core/graph_server.go
  router/core/graph_server_test.go
Due: router

test(router): assert graph server drain only waits on muxes it tears down
  router-tests/lifecycle/shutdown_test.go
Due: none
