Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: remove duplicate test
  router-tests/events/kafka_events_test.go
Due: none

chore: add extension forwarding section to router config docs
  docs-website/router/configuration.mdx
Due: none

chore: improve
  docs-website/router/configuration.mdx
Due: none

fix(router): unblock long code_mode_run_js calls and drop dead executeState.wg
  router/internal/codemode/sandbox/execute.go
  router/internal/codemode/sandbox/host.go
  router/internal/codemode/server/server.go
Due: router

feat(code-mode): strip auth directives from demo subgraph schemas
  demo/code-mode/.gitignore
  demo/code-mode/Makefile
  demo/code-mode/graph.yaml
  demo/code-mode/prepare-schemas.sh
Due: none

update generated
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
Due: none

chore: add docs for extension forwarding
  docs-website/docs.json
  docs-website/router/proxy-capabilities/forward-subgraph-extensions.mdx
Due: none

remove stale file
  composition-go/index.global.js
Due: none

feat: match proposals on checks even in draft state
  controlplane/src/core/repositories/ProposalRepository.ts
Due: controlplane

docs: update wording regarding proposals and their state
  docs-website/concepts/proposals.mdx
Due: none

fix: scope db query to organization
  controlplane/src/core/repositories/ProposalRepository.ts
Due: controlplane

fix names
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

feat(mcp): demo multi-graph MCP server with hot-reloading operations
  router/mcp.config.yaml
  router/pkg/mcpserver/introspection.go
  router/pkg/mcpserver/multi_server.go
  router/pkg/mcpserver/operations_watcher.go
Due: router

fix: keep websocket connections alive for reused graph muxes
  router/core/graph_server.go
Due: router

fix comment
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

fix 1 comment
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

chore: add tests
  router-tests/protocol/config_hot_reload_test.go
  router/core/graph_server.go
  router/demo.config.yaml
Due: router

fix: reset router config
  router/demo.config.yaml
Due: router

chore: address comments
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/CompositionService.ts
  controlplane/src/types/index.ts
Due: controlplane

fix: cancel context before closing caches, etc.
  router/core/graph_server.go
Due: router

refactor(code-mode): identify operations by content SHA instead of name
  router-tests/code_mode_named_ops_test.go
  router/internal/codemode/sandbox/host.go
  router/internal/codemode/server/search_handler.go
  router/internal/codemode/server/search_handler_test.go
  router/internal/codemode/storage/memory_backend.go
  router/internal/codemode/storage/memory_backend_test.go
  router/internal/codemode/storage/naming.go
  router/internal/codemode/storage/naming_test.go
  router/internal/codemode/storage/redis_backend.go
  router/internal/codemode/storage/redis_backend_test.go
  router/internal/codemode/storage/types.go
Due: router

feat: add support for split config in cdn
  cdn-server/cdn/src/index.ts
  cdn-server/cdn/test/cdn.test.ts
Due: none

allow intermediate default values with undefined leaf
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

bump engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

update lock file
  pnpm-lock.yaml
Due: none

chore: move comment into subtest
  router-tests/protocol/config_hot_reload_test.go
Due: none

update docs
  docs-website/router/security/cost-control.mdx
Due: none

chore(mcp): clarify reload logs as client-broadcast notifications
  router/pkg/mcpserver/operations_watcher.go
  router/pkg/mcpserver/server.go
Due: router

fix(router): keep websockets + resolver alive for reused graph muxes (#2838)
  router-tests/protocol/config_hot_reload_test.go
  router/core/graph_server.go
Due: router

chore: pass `tag options` to feature flag composition
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

feat: add support for split config in cdn (#2839)
  cdn-server/cdn/src/index.ts
  cdn-server/cdn/test/cdn.test.ts
Due: none

refactor(mcp): slim code_mode_run_js description, scope to bound names
  router/pkg/mcpserver/code_mode.go
Due: router

chore: add tests for v2 and fix edge cases
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/CompositionService.ts
  controlplane/test/feature-flag/feature-flag-integration-v2.test.ts
Due: controlplane

fix: add missing employee-events subgraph
  scripts/create-local-demo.sh
  scripts/update-demo.sh
Due: none

fix: implement some comments
  composition/src/errors/errors.ts
  composition/src/v1/federation/federation-factory.ts
Due: composition

fix: add employee-events also to graph.yaml in router/__schemas
  router/__schemas/graph.yaml
Due: router

fix: update kind label to use Union and Interface
  composition/src/v1/federation/federation-factory.ts
Due: composition

chore(code-mode-v2): demo full-federation fix + yoko proto/mock refresh
  Makefile
  buf.lock
  buf.yaml
  demo/code-mode-connect/README.md
  demo/code-mode-connect/router-config.yaml
  demo/code-mode-connect/start.sh
  demo/code-mode/README.md
  demo/code-mode/graph.yaml
  demo/code-mode/mcp-stdio-proxy/go.mod
  demo/code-mode/mcp-stdio-proxy/go.sum
  demo/code-mode/prepare-schemas.sh
  demo/code-mode/router-config.yaml
  demo/code-mode/run_subgraphs_subset.sh
  demo/code-mode/start.sh
  demo/code-mode/yoko-mock/go.mod
  demo/code-mode/yoko-mock/go.sum
  demo/code-mode/yoko-mock/main.go
  demo/code-mode/yoko-mock/main_test.go
  proto/wg/cosmo/code_mode/yoko/v1/yoko.proto
  router/gen/proto/buf/validate/validate.pb.go
  router/gen/proto/wg/cosmo/code_mode/yoko/v1/yoko.pb.go
  router/gen/proto/wg/cosmo/code_mode/yoko/v1/yokov1connect/yoko.connect.go
  router/go.mod
  router/go.sum
  router/internal/codemode/sandbox/sandbox_test.go
  router/internal/codemode/server/observability_handler_test.go
  router/internal/codemode/yoko/client.go
  router/internal/codemode/yoko/client_test.go
  router/internal/codemode/yoko/searcher.go
  router/pkg/codemode/varschema/varschema.go
  router/pkg/codemode/varschema/varschema_test.go
  router/pkg/grpcconnector/grpcplugin/grpc_plugin.go
Due: router

chore: create individual config section
  router-tests/protocol/extension_forwarding_test.go
  router-tests/testenv/testenv.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: tests
  composition/tests/v1/directives/subscription-filter.test.ts
Due: composition
