Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

update global
  composition-go/index.global.js
Due: none

fix(mcp): reset registeredTools between reloads to prevent false tool name collisions (#2625)
  router-tests/mcp_test.go
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
Due: router

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
  router/CHANGELOG.md
  router/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, studio, controlplane

fix: review comments
  router-tests/cache_warmup_test.go
  router-tests/expensive_query_cache_test.go
  router-tests/plan_fallback_cache_test.go
  router/core/context.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/otel/attributes.go
  router/pkg/planfallbackcache/plan_fallback_cache.go
  router/pkg/planfallbackcache/plan_fallback_cache_test.go
Due: router

fix: review comments
  router/core/context.go
  router/core/graph_server.go
  router/core/operation_planner.go
  router/pkg/planfallbackcache/plan_fallback_cache.go
Due: router

fix: review comments
  router/core/graph_server.go
  router/core/operation_planner.go
Due: router

fix: cleanup
  router-tests/cache_warmup_test.go
Due: none

fix: review comments
  router/core/operation_planner.go
Due: router

make two properties defined always
  composition/src/router-configuration/types.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

strict testing messages
  composition/tests/v1/directives/cost.test.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

refactor: migrate to composeGraphsInWorker for improved graph composition handling
  controlplane/src/core/bufservices/federated-graph/checkFederatedGraph.ts
  controlplane/src/core/composition/composeGraphs.types.ts
  controlplane/src/core/composition/composeGraphs.worker.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/composition/composition.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/util.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/test/composition-errors.test.ts
Due: controlplane

refactor: format code for improved readability in graph composition functions
  controlplane/src/core/bufservices/federated-graph/checkFederatedGraph.ts
  controlplane/src/core/composition/composeGraphs.worker.ts
  controlplane/src/core/composition/composer.ts
  controlplane/test/composition-errors.test.ts
Due: controlplane

refactor: clean up unused types and improve router execution config handling in composeGraphs.worker
  controlplane/src/core/composition/composeGraphs.worker.ts
Due: controlplane

refactor: improve readability of shouldIncludeClientSchema assignment in serializeComposedGraphArtifact
  controlplane/src/core/composition/composeGraphs.worker.ts
Due: controlplane

fix: review comments
  router-tests/cache_warmup_test.go
  router-tests/plan_fallback_cache_test.go
  router/core/graph_server.go
  router/core/operation_planner.go
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/slowplancache/slow_plan_cache.go
  router/pkg/slowplancache/slow_plan_cache_test.go
Due: router

feat: add limit option for error/warning display in publish command (#2634)
  cli/src/commands/subgraph/commands/publish.ts
  cli/test/check-schema.test.ts
  cli/test/publish-schema.test.ts
  cli/vite.config.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

fix: formatting (protographic) (#2639)
  .github/workflows/protographic.yaml
  protographic/OPERATIONS_TO_PROTO.md
  protographic/README.md
  protographic/SDL_MAPPING_RULES.md
  protographic/SDL_PROTO_RULES.md
  protographic/package.json
  protographic/plugin_development.md
  protographic/tests/abstract-selection-rewriter/01-basics.test.ts
  protographic/tests/abstract-selection-rewriter/02-advanced.test.ts
  protographic/tests/operations/proto-text-generator.test.ts
  protographic/tests/operations/request-builder.test.ts
  protographic/vite.config.ts
Due: none

fix: formatting
  playground/README.md
  playground/postcss.config.js
  playground/src/components/code-viewer.tsx
  playground/src/components/empty-state.tsx
  playground/src/components/playground/monaco-dark-theme.ts
  playground/src/components/playground/view-load-stats.tsx
  playground/src/components/playground/view-output.tsx
  playground/src/components/ui/badge.tsx
  playground/src/components/ui/button.tsx
  playground/src/components/ui/card.tsx
  playground/src/components/ui/cli.tsx
  playground/src/components/ui/dialog.tsx
  playground/src/components/ui/separator.tsx
  playground/src/components/ui/tabs.tsx
  playground/src/components/ui/tooltip.tsx
  playground/src/lib/use-event-callback.ts
  playground/src/lib/use-event-listener.ts
  playground/src/lib/use-isomorphic-layout-effect.ts
  playground/src/lib/utils.ts
Due: none

feat: add composedSchemaBreakingChanges to CreateProposalResponse
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/proposal/createProposal.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

refactor: update subgraphsToCompose type definition for clarity
  controlplane/src/core/composition/composeGraphs.types.ts
Due: controlplane

feat: add linter to playground
  playground/.eslintignore
  playground/.eslintrc.json
  playground/.gitignore
  playground/package.json
  pnpm-lock.yaml
Due: none

fix: lint issues
  playground/.eslintrc.json
  playground/src/components/playground/custom-scripts.tsx
  playground/src/components/playground/index.tsx
  playground/src/components/playground/plan-view.tsx
  playground/src/lib/random-uuid.ts
  playground/src/lib/utils.ts
Due: none

ci: enable lint & formatting checks
  .github/workflows/playground-ci.yaml
Due: none

chore: rebuild graphiql for router
  router/internal/graphiql/graphiql.html
Due: router

make requireOneSlicingArgument set to true by default
  composition/src/router-configuration/types.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
  router-tests/go.mod
Due: composition

use toStrictEqual in all tests
  composition/tests/v1/directives/cost.test.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

feat: reduce logging verbosity
  controlplane/src/core/services/Authentication.ts
Due: controlplane

fix: changes
  router/pkg/config/config.schema.json
  router/pkg/slowplancache/slow_plan_cache.go
  router/pkg/slowplancache/slow_plan_cache_test.go
Due: router

feat: add composedSchemaBreakingChanges to CreateProposalResponse (#2640)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/proposal/createProposal.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

fix: review comments
  router/core/graph_server.go
  router/core/operation_planner.go
  router/core/reload_persistent_state.go
Due: router

feat: reduce logging verbosity (#2642)
  controlplane/src/core/services/Authentication.ts
Due: controlplane

fix: refactoring
  router/core/operation_planner.go
  router/pkg/slowplancache/slow_plan_cache.go
Due: router

check the argument type for weights on the directives arguments
  composition-go/index.global.js
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cost.test.ts
Due: composition

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
