Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: lint
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
Due: none

refactor: remove idpNamespaceAccess from auth context and related functions
  controlplane/src/core/bufservices/namespace/updateNamespaceSSOMappings.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/util.ts
  controlplane/src/types/index.ts
  controlplane/test/test-util.ts
Due: controlplane

chore: add docs
  docs-website/docs.json
  docs-website/studio/namespace-login-methods.mdx
  docs-website/studio/sso.mdx
Due: none

chore: add new details also to tracing
  router-tests/telemetry/connection_phase_spans_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/router.go
  router/core/transport.go
  router/core/websocket.go
  router/internal/traceclient/traceclient.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/trace/config.go
Due: router

fix: review comments
  docs-website/concepts/cache-warmer.mdx
  router/cache-warmup-test.config.yaml
  router/core/cache_warmup.go
  router/core/cache_warmup_test.go
  router/core/graph_server.go
  router/demo.config.yaml
  router/pkg/config/config.schema.json
Due: router

feat(router): bump graphql-go-tools to PR #1259 HEAD and adapt to new APIs
  router-tests/entity_caching/entity_caching_test.go
  router-tests/entity_caching/harness_test.go
  router-tests/entity_caching/redis_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/core/errors.go
  router/core/factoryresolver.go
  router/core/flushwriter.go
  router/core/graphql_handler.go
  router/core/operation_processor.go
  router/core/plan_generator.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/entitycache/circuit_breaker.go
  router/pkg/entitycache/circuit_breaker_test.go
  router/pkg/entitycache/memory.go
  router/pkg/entitycache/memory_test.go
  router/pkg/entitycache/redis.go
  router/pkg/entitycache/redis_test.go
  router/pkg/pubsub/datasource/mocks.go
  router/pkg/pubsub/datasource/mocks_resolve.go
  router/pkg/pubsub/datasource/subscription_event_updater.go
  router/pkg/pubsub/datasource/subscription_event_updater_test.go
Due: router

fix: use float64 for intermediate cost calculations
  router-tests/go.mod
  router-tests/go.sum
  router-tests/security/costs_test.go
  router/go.mod
  router/go.sum
Due: router

2.4.1
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: use float64 for intermediate cost calculations (#2887)
  router-tests/go.mod
  router-tests/go.sum
  router-tests/security/costs_test.go
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

fix(router)!: prevent set from being forwarded to client (#2686)
  docs-website/router/proxy-capabilities/adjusting-cache-control.mdx
  docs-website/router/proxy-capabilities/subgraph-response-header-operations.mdx
  router-tests/operations/singleflight_test.go
  router-tests/protocol/header_propagation_race_test.go
  router-tests/protocol/header_propagation_test.go
  router-tests/protocol/header_set_test.go
  router/core/graph_server.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_buildheader_test.go
  router/core/header_rule_engine_test.go
  router/core/router.go
Due: router

chore: add resolve and response times
  router-tests/go.mod
  router-tests/go.sum
  router-tests/telemetry/connection_phase_spans_test.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/transport.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/internal/context/fetch_trace_timings.go
  router/internal/context/keys.go
  router/pkg/trace/transport.go
  router/pkg/trace/transport_test.go
Due: router

chore: fix format
  router-tests/testenv/testenv.go
Due: none

fix: do not set comm channels during onboarding
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/onboarding/createOnboarding.ts
  controlplane/src/core/bufservices/onboarding/getOnboarding.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
  controlplane/test/onboarding/onboarding.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/hooks/use-onboarding-navigation.ts
  studio/src/lib/track.ts
Due: studio, controlplane

fix: adjust copy
  studio/src/components/onboarding/step-1.tsx
Due: studio

feat: re-work step 1 animation
  studio/public/onboarding/composed-graph-dark.png
  studio/public/onboarding/composed-graph-light.png
  studio/public/onboarding/live-metrics-dark.png
  studio/public/onboarding/live-metrics-light.png
  studio/public/onboarding/router-dark.png
  studio/public/onboarding/router-light.png
  studio/src/components/onboarding/traffic-animation.tsx
Due: studio

feat: clicks on labels jiggle start button
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/traffic-animation.tsx
Due: studio

fix: remove unnecessary top padding
  studio/src/components/layout/onboarding-layout.tsx
Due: studio

feat: show default empty state along with empty state for onboarding
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

feat: add requirements copy
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/step-1.tsx
Due: studio

chore: switch from pat to github app auth in workflows
  .github/workflows/helm-release-docs-update.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/query-planner-ci.yaml
  .github/workflows/release-preview.yaml
  .github/workflows/release.yaml
Due: none

feat(ci): add .gitattributes to collapse generated files in GitHub PRs
  connect-go/.gitattributes
  connect/.gitattributes
  graphqlmetrics/.gitattributes
  router/.gitattributes
Due: router, graphqlmetrics

test: add optional description field to Label
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: none

test: share gRPC plugin header forwarding tests (#2883)
  router-tests/protocol/router_plugin_test.go
  router-tests/router_oci_plugin_test.go
  router-tests/testenv/grpc_plugin_header_cases.go
Due: none

chore: switch from pat to github app auth in workflows (#2889)
  .github/workflows/helm-release-docs-update.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/query-planner-ci.yaml
  .github/workflows/release-preview.yaml
  .github/workflows/release.yaml
Due: none

fix: docs
  docs-website/concepts/cache-warmer.mdx
Due: none

feat(dx): add .gitattributes to collapse generated files in GitHub PRs (#2891)
  connect-go/.gitattributes
  connect/.gitattributes
  graphqlmetrics/.gitattributes
  router/.gitattributes
Due: router, graphqlmetrics

fix: test updates
  router-tests/operations/cache_warmup_test.go
Due: none

fix: remove defaults from enabled flag
  docs-website/router/configuration.mdx
  docs-website/router/security/tls.mdx
  router/pkg/config/config.schema.json
Due: router

feat: support manifests for local development
  demo/.gitignore
  demo/Makefile
  demo/build_manifest.py
  router-tests/protocol/config_hot_reload_test.go
  router-tests/testenv/testdata/manifest/feature-flags/myff.json
  router-tests/testenv/testdata/manifest/latest.json
  router-tests/testenv/testdata/manifest/mapper.json
  router/.gitignore
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/json_schema.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/routerconfig/routerconfig.go
  router/pkg/watcher/watcher.go
Due: router

chore: update config
  docs-website/router/configuration.mdx
  router/pkg/config/config.go
Due: router

chore: review fixes
  demo/build_manifest.py
  router-tests/protocol/config_hot_reload_test.go
  router/core/router.go
  router/pkg/routerconfig/routerconfig.go
Due: router

chore: more fixes
  demo/build_manifest.py
Due: none

chore: improve docs
  docs-website/router/configuration.mdx
Due: none

feat: add support for config splitting
  cli/src/commands/auth/utils.ts
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/fetch.ts
  cli/src/commands/router/utils.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraphToken.ts
  controlplane/src/core/bufservices/federated-graph/generateRouterToken.ts
  controlplane/src/core/constants.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/services/CompositionService.ts
Due: cli, controlplane

chore: update documentation
  docs-website/cli/router/compose.mdx
Due: none
