Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore: bump graphql-go-tools to a5a32e9
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

Add failing test reproducing composition crash on subgraph names containing a period
  composition/tests/v1/dotted-subgraph-name-resolvability.test.ts
Due: composition

fix: describe private_id as a cache-key partition, use t.Context()
  docs-website/router/response-cache.mdx
  router/core/response_cache_private_id.go
  router/core/response_cache_test.go
  router/pkg/config/config.schema.json
Due: router

fix: updates
  docs-website/router/response-cache.mdx
Due: none

fix: rename and reword the required context argument error
  composition/src/errors/errors.ts
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/directives/context.test.ts
Due: composition

feat(router): add default websocket subprotocol for clients without a protocol header
  router-tests/subscriptions/websocket_test.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

docs(router): document websocket default_subprotocol option
  docs-website/router/configuration.mdx
Due: none

test(router): cover default websocket subprotocol with speedtrap scenarios
  router-tests/subscriptions/speedtrap_router_test.go
  router-tests/subscriptions/websocket_test.go
Due: none

refactor(router): drop env var for websocket default_subprotocol
  docs-website/router/configuration.mdx
  router/pkg/config/config.go
Due: router

feat(router): add default websocket subprotocol for clients without a protocol header (#3271)
  docs-website/router/configuration.mdx
  router-tests/subscriptions/speedtrap_router_test.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: refactor cursor related types
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/cursor.go
  router/pkg/pubsub/datasource/mocks_resolve.go
  router/pkg/pubsub/datasource/provider.go
  router/pkg/pubsub/datasource/pubsubprovider_test.go
  router/pkg/pubsub/datasource/subscription_event_updater.go
  router/pkg/pubsub/datasource/subscription_event_updater_beforeeventsdispatch_test.go
  router/pkg/pubsub/datasource/subscription_event_updater_onreceiveevents_test.go
  router/pkg/pubsub/datasource/subscription_event_updater_test.go
  router/pkg/pubsub/kafka/adapter.go
  router/pkg/pubsub/kafka/cursor.go
  router/pkg/pubsub/kafka/engine_datasource.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/redis/engine_datasource.go
Due: router

feat(router): expose response cache status on subgraph metrics and spans
  docs-website/router/configuration/template-expressions.mdx
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_metrics_test.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/graph_server.go
  router/internal/expr/expr.go
  router/pkg/otel/attributes.go
Due: router

feat: bump go version
  CONTRIBUTING.md
  Makefile
  aws-lambda-router/go.mod
  cli/scripts/compile-templates.ts
  cli/src/commands/router/commands/plugin/templates/go.ts
  cli/src/commands/router/commands/plugin/templates/go/Dockerfile.template
  cli/src/commands/router/commands/plugin/templates/go/go.mod.template
  cli/src/commands/router/commands/plugin/toolchain.ts
  cli/test/router/plugin-templates.test.ts
  demo/go.mod
  demo/pkg/subgraphs/projects/go.mod
  docs-website/router/deployment.mdx
  graphqlmetrics/go.mod
  router-plugin/go.mod
  router-tests/go.mod
  router-tests/go.sum
  router/README.md
  router/core/executor.go
  router/core/plan_generator.go
  router/go.mod
  router/go.sum
  scripts/install-proto-tools.sh
Due: router, cli, graphqlmetrics

chore: bump even more missing go versions
  .github/actions/go/action.yaml
  connect-go/go.mod
  demo/docker/availability.Dockerfile
  demo/docker/countries.Dockerfile
  demo/docker/employees.Dockerfile
  demo/docker/family.Dockerfile
  demo/docker/hobbies.Dockerfile
  demo/docker/mood.Dockerfile
  demo/docker/products.Dockerfile
  demo/docker/products_fg.Dockerfile
  demo/docker/test1.Dockerfile
  demo/pkg/subgraphs/projects/Dockerfile
  graphqlmetrics/Dockerfile
  otelcollector/Dockerfile
  router/Dockerfile
  router/custom.Dockerfile
  speedtrap/go.mod
Due: router, graphqlmetrics

chore: update engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: reset graphiql.html
  router/internal/graphiql/graphiql.html
Due: router

chore: pin ptq service generation to specific commit
  package.json
Due: none

chore: fix issue with env validation
  controlplane/src/core/env.schema.ts
Due: controlplane

fix: increase timeout settings for client, build server, and routes
  cli/src/core/client/client.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/routes.ts
Due: cli, controlplane

chore: reduce concurrent tasks
  controlplane/src/core/composition/composeGraphs.pool.ts
Due: controlplane

fix: description
  router/pkg/config/config.schema.json
Due: router

chore: make `minThreads` configurable
  controlplane/src/core/build-server.ts
  controlplane/src/core/composition/composeGraphs.pool.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/index.ts
Due: controlplane

docs(router): address defer review feedback
  docs-website/router/defer.mdx
  docs-website/router/defer/how-it-works.mdx
  docs-website/router/defer/when-to-use.mdx
Due: none

chore: regenerate
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
Due: none

chore: update staticcheck action
  .github/actions/go-linter/action.yaml
Due: none

test: cover context arguments against multiple implemented interfaces
  composition/tests/v1/directives/context.test.ts
Due: composition

chore: reduce concurrent tasks (#3275)
  controlplane/src/core/build-server.ts
  controlplane/src/core/composition/composeGraphs.pool.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/index.ts
Due: controlplane

fix: increase timeout settings for client, build server, and routes (#3274)
  cli/src/core/client/client.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/routes.ts
Due: cli, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  router/CHANGELOG.md
  router/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane

test(router): clarify JWT forwarding test expectations
  router-tests/security/token_validation_failure_test.go
Due: none

fix: update signing section
  rfc/at-least-once-v1.md
Due: none

fix: add DELIVERY_GUARANTEE_UNSATISFIABLE case
  rfc/at-least-once-v1.md
Due: none

feat(router): configure authentication error handling (#3234)
  docs-website/router/authentication-and-authorization.mdx
  docs-website/router/configuration.mdx
  router-tests/security/token_validation_failure_test.go
  router/core/access_controller.go
  router/core/access_controller_test.go
  router/core/supervisor_instance.go
  router/pkg/authentication/http_header_authenticator.go
  router/pkg/authentication/initial_payload_authenticator.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/marshaler.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

refactor: name the fromContext subgraph names and predicate after the directive
  composition/src/errors/errors.ts
  composition/src/schema-building/types/types.ts
  composition/src/schema-building/utils.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

fix(router): use released field-count estimator
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: updates
  router/pkg/responsecaching/cache/in_memory/in_memory.go
Due: router

feat: private caching (#3244)
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_private_test.go
  router/core/engine_loader_hooks.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/response_cache_private_id.go
  router/core/response_cache_private_id_test.go
  router/core/response_cache_test.go
  router/core/router.go
  router/internal/expr/resolvers.go
  router/internal/expr/resolvers_nil_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: update gomod
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
