Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

Update protographic/SDL_PROTO_RULES.md
  protographic/SDL_PROTO_RULES.md
Due: none

fix(cli): prevent process.env pollution and add edge case tests
  cli/src/commands/router/commands/compose.ts
  cli/test/expand-env-vars.test.ts
Due: cli

fix(protographic): prevent duplicate UNSPECIFIED enum value in proto generation (#2525)
  protographic/SDL_PROTO_RULES.md
  protographic/src/operations/request-builder.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/tests/operations/request-builder.test.ts
  protographic/tests/sdl-to-proto/05-edge-cases.test.ts
Due: none

handle coercient correctly
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

remove temp file
  router/bench-big.js
Due: router

update index
  composition-go/index.global.js
Due: none

chore: move ignored headers list to core package
  router/core/header_rule_engine.go
  router/internal/headers/headers.go
Due: router

add comments
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

fix: use canonical name for lookup
  router/core/header_rule_engine.go
Due: router

fix(router): fix append algorithm to produce single comma-separated header (#2531)
  router-tests/header_propagation_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Due: router

propagate costs from cli
  cli/src/commands/router/commands/compose.ts
Due: cli

feat(router): make log service name configurable via LOG_SERVICE_NAME env var
  router/cmd/main.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

test(router): add env override test for LOG_SERVICE_NAME
  router/pkg/config/config_test.go
Due: router

fix(router): preserve Set-Cookie as separate headers in append algorithm
  router-tests/header_propagation_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Due: router

fix(router): address PR review feedback on header propagation tests
  router-tests/header_propagation_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Due: router

fix(router): use ElementsMatch and combine nil-receiver tests
  router-tests/header_propagation_test.go
  router/core/header_rule_engine_test.go
Due: router

fix(router): fix append algorithm producing multiple headers instead of comma-separated (#2532)
  router-tests/header_propagation_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Due: router

feat: use latest engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat(router): bump graphql-go-tools to v2.0.0-rc.252, add gRPC header forwarding and nil context guard
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/integration_test.go
  router-tests/testenv/testenv.go
  router/core/header_rule_engine.go
  router/go.mod
  router/go.sum
Due: router

chore: add tests for nil context guarding
  router-tests/integration_test.go
Due: none

bump engine to 253
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: debug exporter
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/debug_exporter.go
  router/pkg/metric/meter.go
Due: router

Add support for per message deflate to websocket connectinos
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat(router): update engine, enable grpc header forwarding (#2524)
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/integration_test.go
  router-tests/testenv/testenv.go
  router/core/header_rule_engine.go
  router/go.mod
  router/go.sum
  router/internal/headers/headers.go
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
Due: router, cli, controlplane

fix test check and add stack for debugging
  router/core/plan_generator.go
  router/pkg/plan_generator/plan_generator_test.go
Due: router

fix(router): do not reuse planners in the plan generator
  router/pkg/plan_generator/plan_generator.go
  router/pkg/plan_generator/plan_generator_test.go
  router/pkg/plan_generator/testdata/queries/bench/full.graphql
Due: router

fix: debug exporter
  router-tests/telemetry/debug_export_test.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/debug_exporter.go
  router/pkg/metric/meter.go
Due: router

wrap all errors in pg
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/pkg/plan_generator/plan_generator.go
  router/pkg/plan_generator/plan_generator_test.go
Due: router

add a comment
  router/pkg/plan_generator/plan_generator.go
Due: router

fix: debug exporter
  router-tests/telemetry/debug_export_test.go
  router-tests/testenv/testenv.go
  router/pkg/config/config.go
  router/pkg/metric/config.go
  router/pkg/metric/debug_exporter.go
  router/pkg/metric/meter.go
Due: router

fix: updates
  router/pkg/metric/config.go
Due: router

fix: comments
  router/pkg/metric/debug_exporter.go
Due: router

fix(router): do not reuse planners in the plan generator (#2537)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/pkg/plan_generator/plan_generator.go
  router/pkg/plan_generator/plan_generator_test.go
  router/pkg/plan_generator/testdata/queries/bench/full.graphql
Due: router

fix: updates
  router-tests/telemetry/debug_export_test.go
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
