Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

docs(mcp): add max_scope_combinations config option
  docs-website/router/mcp/oauth/configuration.mdx
Due: none

feat(router): support per-key rate-limit overrides with regex pattern matching (#2683)
  docs-website/router/configuration.mdx
  docs-website/router/security/hardening-guide.mdx
  router-tests/security/ratelimit_test.go
  router/core/graph_server.go
  router/core/ratelimiter.go
  router/core/ratelimiter_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore(release): Publish [skip ci]
  aws-lambda-router/CHANGELOG.md
  aws-lambda-router/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  playground/CHANGELOG.md
  playground/package.json
  router/CHANGELOG.md
  router/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, studio, controlplane

fix: tests for prometheus and improve otel tests
  router-tests/observability/prometheus_test.go
  router-tests/security/circuit_breaker_test.go
  router-tests/telemetry/telemetry_helpers_test.go
  router-tests/telemetry/telemetry_test.go
Due: none

fix: remove redundant spy.mockRestore
  cli/test/cli-table.test.ts
Due: cli

chore: lint
  cli/test/cli-table.test.ts
Due: cli

chore: tidy
  graphqlmetrics/go.mod
Due: graphqlmetrics

chore: add tests to ensure that attributes are properly filtered and remapped
  router/pkg/trace/transport_test.go
Due: router

chore: add test for dropping of otelhttp scope metrics
  router/pkg/metric/meter.go
  router/pkg/metric/metric_store_test.go
Due: router

chore: add otel_scope_schema_url to test assertions
  graphqlmetrics/core/telemetry_test.go
Due: graphqlmetrics

chore: improve assertion
  graphqlmetrics/core/telemetry_test.go
Due: graphqlmetrics

chore: ensure to restore body to a non seeked body before retry
  router-tests/security/retry_test.go
  router/internal/retrytransport/retry_transport.go
Due: router

fix: remove unused function and deprecated metric
  graphqlmetrics/core/telemetry_test.go
  router/pkg/metric/metric_store.go
Due: router, graphqlmetrics

chore: mimimimi
  router/pkg/metric/metric_store_test.go
Due: router

refactor(mcp): simplify OAuth auth middleware and address review findings
  router-tests/testutil/jwt_helper.go
  router-tests/testutil/oauth_server.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/execute_graphql_scope_test.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/scope_challenge.go
  router/pkg/mcpserver/scope_challenge_test.go
  router/pkg/mcpserver/server.go
Due: router

fix(mcp): address code review findings for OAuth auth middleware
  router-tests/mcp_oauth_e2e_test.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/scope_extractor.go
  router/pkg/mcpserver/server_test.go
Due: router

fix(mcp): validate redirect_uri and remove scaffold test code
  router-tests/cmd/oauth-server/main.go
  router-tests/mcp_auth_e2e_test.go
  router-tests/mcp_auth_harness_example.go
  router-tests/testutil/oauth_server.go
Due: none

feat(mcp): add OAuth 2.1 authorization with per-tool scope extraction and configurable scope challenge modes
  demo/go.mod
  demo/go.sum
  router-tests/cmd/oauth-server/main.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/mcp_auth_e2e_test.go
  router-tests/mcp_auth_harness_example.go
  router-tests/mcp_oauth_e2e_test.go
  router-tests/protocol/mcp_test.go
  router-tests/testenv/testenv.go
  router-tests/testutil/auth_helpers.go
  router-tests/testutil/jwt_helper.go
  router-tests/testutil/oauth_server.go
  router-tests/testutil/oauth_server_test.go
  router/core/graph_server.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/errors.go
  router/pkg/mcpserver/execute_graphql_scope_test.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/schema_compiler.go
  router/pkg/mcpserver/scope_challenge.go
  router/pkg/mcpserver/scope_challenge.md
  router/pkg/mcpserver/scope_challenge_test.go
  router/pkg/mcpserver/scope_extractor.go
  router/pkg/mcpserver/scope_extractor_test.go
  router/pkg/mcpserver/server.go
  router/pkg/schemaloader/loader.go
  router/pkg/schemaloader/loader_test.go
Due: router

fix: gofmt router-tests files
  router-tests/cmd/oauth-server/main.go
  router-tests/mcp_oauth_e2e_test.go
  router-tests/testutil/oauth_server.go
  router-tests/testutil/oauth_server_test.go
Due: none

fix(mcp): wire stateless mode to new SDK and fix integration tests
  router-tests/protocol/mcp_test.go
  router/pkg/mcpserver/server.go
Due: router

fix: run go mod tidy for router
  router/go.mod
Due: router

fix: run go mod tidy for router-tests
  router-tests/go.mod
Due: none

fix(mcp): inject request headers into context for tool handlers
  router/pkg/mcpserver/server.go
Due: router

fix(mcp): align go.mod dependencies with main branch
  router-tests/go.mod
  router-tests/go.sum
  router-tests/mcp_oauth_e2e_test.go
  router/go.mod
  router/go.sum
Due: router

feat(mcp): make max scope combinations configurable
  router/pkg/config/config.go
  router/pkg/mcpserver/execute_graphql_scope_test.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/scope_extractor.go
  router/pkg/mcpserver/scope_extractor_test.go
  router/pkg/mcpserver/server.go
Due: router

fix(mcp): add language tags to code blocks
  router/pkg/mcpserver/scope_challenge.md
Due: router

test(mcp): assert 415 for non-standard Content-Type params after SDK migration
  router-tests/protocol/mcp_test.go
Due: none

fix: update config golden fixtures for max_scope_combinations
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix(mcp): surface auth errors from Connect for OAuth discovery flow
  router-tests/mcp_auth_e2e_test.go
Due: none

fix(mcp): cap scope combinations to prevent unbounded growth
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/scope_extractor.go
  router/pkg/mcpserver/scope_extractor_test.go
  router/pkg/mcpserver/server.go
Due: router

feat: pass `proxy url` to `admission webhook`
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/createFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/migrateFromApollo.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/bufservices/graph/recomposeGraph.ts
  controlplane/src/core/bufservices/graph/setGraphRouterCompatibilityVersion.ts
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/bufservices/proposal/createProposal.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/fixSubgraphSchema.ts
  controlplane/src/core/bufservices/subgraph/moveSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/AdmissionWebhookController.ts
Due: controlplane

chore: use the corresponding agent for http and https
  controlplane/package.json
  controlplane/src/core/services/AdmissionWebhookController.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  pnpm-lock.yaml
Due: controlplane

chore: disable axios' proxy
  controlplane/src/core/services/AdmissionWebhookController.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
Due: controlplane

docs: add documentation for @deprecated, @specifiedBy, @connect__fieldResolver, and @openfed__requireFetchReasons directives
  docs-website/docs.json
  docs-website/federation/directives/connect__fieldresolver.mdx
  docs-website/federation/directives/deprecated.mdx
  docs-website/federation/directives/openfed__requirefetchreasons.mdx
  docs-website/federation/directives/specifiedby.mdx
  docs-website/federation/federation-directives-index.mdx
Due: none

fix(router): deduplicate Vary response header during subgraph propagation
  router/core/header_rule_engine.go
Due: router

test(router): add unit tests for Vary header deduplication
  router/core/header_rule_engine_test.go
Due: router

chore: add docs section to SDL_PROTO_RULES.md
  protographic/SDL_PROTO_RULES.md
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
