Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

docs(rfc): add EDFS at-least-once RFC C — router-side durable WAL + checkpoints
  rfc/edfs-at-least-once-c-router-durable-wal.md
Due: none

docs(rfc): add EDFS at-least-once RFC D — delivery-manager layer + comparison index
  rfc/edfs-at-least-once-README.md
  rfc/edfs-at-least-once-d-delivery-manager-layer.md
Due: none

fix: correct spelling of 'clientSecret' in OIDC provider implementation and tests
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/services/OidcProvider.ts
  controlplane/test/deactivate-org.test.ts
  controlplane/test/delete-organization.test.ts
  controlplane/test/delete-user.test.ts
  controlplane/test/idp-gate-sql-filters.test.ts
  controlplane/test/namespace-sso-mapping.test.ts
  controlplane/test/oidc-provider.test.ts
  controlplane/test/org-login-methods.test.ts
  controlplane/test/organization-groups.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio, controlplane

feat: enable login-method-restrictions feature in test setups for IdP gate and namespace SSO mapping
  controlplane/test/idp-gate-sql-filters.test.ts
  controlplane/test/namespace-sso-mapping.test.ts
Due: controlplane

fix: lint
  controlplane/test/namespace-sso-mapping.test.ts
Due: controlplane

feat: refactor NamespaceLoginMethodSettings to use workspace context and improve loading/error handling
  studio/src/components/org-login-methods/namespace-login-method-settings.tsx
Due: studio

fix: update upgrade button link to use organization slug instead of user organization
  studio/src/pages/[organizationSlug]/login-methods.tsx
Due: studio

chore: add comments for manifest tests
  router-tests/protocol/config_hot_reload_test.go
Due: none

feat: support manifest for local development (#2892)
  demo/.gitignore
  demo/Makefile
  demo/build_manifest.py
  docs-website/router/configuration.mdx
  router-tests/protocol/config_hot_reload_test.go
  router-tests/testenv/testdata/manifest/feature-flags/myff.json
  router-tests/testenv/testdata/manifest/latest.json
  router-tests/testenv/testdata/manifest/mapper.json
  router/.gitignore
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/json_schema.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/routerconfig/routerconfig.go
  router/pkg/watcher/watcher.go
Due: router

refactor: rename SSO-related entities to login methods
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0141_chemical_may_parker.sql
  controlplane/migrations/0141_faithful_boomer.sql
  controlplane/migrations/meta/0141_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/namespace/listNamespaceLoginMethods.ts
  controlplane/src/core/bufservices/namespace/updateNamespaceLoginMethods.ts
  controlplane/src/core/bufservices/organization/updateOrganizationLoginMethods.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/repositories/NamespaceLoginMethodRepository.ts
  controlplane/src/core/repositories/OrganizationLoginMethodRepository.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/util.ts
  controlplane/src/db/schema.ts
  controlplane/test/idp-gate-sql-filters.test.ts
  controlplane/test/namespace-login-methods.test.ts
  controlplane/test/org-login-methods.test.ts
  controlplane/test/test-util.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/namespace-login-methods/namespace-mapping-rows.tsx
  studio/src/components/org-login-methods/namespace-login-method-settings.tsx
Due: studio, controlplane

refactor: update SectionCard component for consistency in namespace and organization login method settings
  studio/src/components/org-login-methods/namespace-login-method-settings.tsx
  studio/src/components/org-login-methods/organization-login-method-settings.tsx
Due: studio

chore: update wording
  cli/test/graph/federated-graph/fetch.test.ts
  cli/test/graph/federated-graph/recompose.test.ts
  cli/test/router/compose.test.ts
  cli/test/router/fetch.test.ts
  docs-website/cli/router/compose.mdx
Due: cli

refactor: simplify loginMethods response structure in getOrganizationLoginMethods
  controlplane/src/core/bufservices/organization/getOrganizationLoginMethods.ts
Due: controlplane

fix: lint
  studio/src/components/org-login-methods/namespace-login-method-settings.tsx
  studio/src/components/org-login-methods/organization-login-method-settings.tsx
Due: studio

refactor: replace router query with useCurrentOrganization for organization slug
  studio/src/components/org-login-methods/namespace-login-method-settings.tsx
Due: studio

refactor: add doesNamespaceMappingExceedsOrgAllowList utility function and update updateOrganizationLoginMethods to use it
  controlplane/src/core/bufservices/organization/updateOrganizationLoginMethods.ts
  controlplane/src/core/util.ts
Due: controlplane

chore: check for gRPC plugin span
  router-tests/protocol/router_plugin_test.go
Due: none

fix: allow header propagation for router-plugins (#2877)
  router-tests/protocol/router_plugin_test.go
  router-tests/router_oci_plugin_test.go
  router-tests/testenv/grpc_plugin_header_cases.go
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client.go
  router/pkg/grpcconnector/grpcplugin/grpc_plugin.go
  router/pkg/grpcconnector/grpcpluginoci/grpc_oci_plugin.go
Due: router

feat(router): add TLS/mTLS support to gRPC subgraphs (#2861)
  docs-website/router/configuration.mdx
  docs-website/router/gRPC/grpc-services.mdx
  docs-website/router/intro.mdx
  docs-website/router/security/tls.mdx
  router-tests/security/subgraph_grpc_mtls_test.go
  router-tests/security/subgraph_mtls_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/tls.go
  router/core/tls_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_grpc_tls_test.go
  router/pkg/config/config_http_tls_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/grpcconnector/grpcremote/grpc_remote.go
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane

feat: restrict proposal matching to approved and draft states
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/proposal/proposal-schema-match.test.ts
Due: controlplane

fix: calculate costs for abstract fields without double counting
  router-tests/go.mod
  router-tests/go.sum
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/go.mod
  router/go.sum
Due: router

chore: update docs
  docs-website/concepts/proposals.mdx
Due: none

fix: initialize proposalMatchMessage to an empty string for consistency
  controlplane/src/core/repositories/SchemaCheckRepository.ts
Due: controlplane

feat: restrict proposal matching to approved and draft states (#2898)
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/proposal/proposal-schema-match.test.ts
  docs-website/concepts/proposals.mdx
Due: controlplane

chore: improve configuration names
  router-tests/observability/prometheus_test.go
  router-tests/telemetry/connection_phase_spans_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/router.go
  router/core/router_config.go
  router/core/websocket.go
  router/internal/traceclient/traceclient.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/connection_metric_store.go
  router/pkg/metric/engine_metrics.go
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/trace/config.go
Due: router

feat(cli): add subgraph batch-publish command
  cli/src/commands/subgraph/commands/batch-publish.ts
  cli/src/commands/subgraph/index.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/subgraph/batch-publish-subgraphs.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

refactor: use a single subgraphs list for batch publish
  cli/src/commands/subgraph/commands/batch-publish.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/test/subgraph/batch-publish-subgraphs.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

chore: fix formatting in batch publish test
  controlplane/test/subgraph/batch-publish-subgraphs.test.ts
Due: controlplane

refactor: run batch publish composition outside the db transaction
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

test: cover batch publish fan-out across graphs, contract, and feature flag
  controlplane/test/subgraph/batch-publish-subgraphs.test.ts
Due: controlplane

test: assert exact composition counts in batch publish fan-out scenario
  controlplane/test/subgraph/batch-publish-subgraphs.test.ts
Due: controlplane

fix: trace batch publish helpers by using private instead of #-private methods
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/tracing.test.ts
Due: controlplane

docs: add batch-publish command page and align config help to YAML
  cli/src/commands/subgraph/commands/batch-publish.ts
  docs-website/cli/subgraph/batch-publish.mdx
  docs-website/docs.json
Due: cli

feat: enhance organization login methods to support SSO and improve error handling
  studio/src/components/org-login-methods/namespace-login-method-settings.tsx
  studio/src/components/org-login-methods/organization-login-method-settings.tsx
  studio/src/pages/[organizationSlug]/login-methods.tsx
Due: studio

feat: add span for `composeGraphsInWorker`
  controlplane/src/core/composition/composeGraphs.pool.ts
Due: controlplane

feat: make persisted operations limit configurable per organization plan (#2894)
  controlplane/src/bin/billing.json
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/types/index.ts
  controlplane/test/persisted-operations.test.ts
  studio/src/pages/[organizationSlug]/usages.tsx
Due: studio, controlplane

feat: add span for `composeGraphsInWorker` (#2901)
  controlplane/src/core/composition/composeGraphs.pool.ts
Due: controlplane

feat: improve queries and remove double transactions
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane
