Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix(router): correct custom CORS scheme spelling
  docs-website/router/configuration.mdx
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

test(router): preserve existing CORS config fixtures
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Due: router

docs(router): clarify custom CORS scheme validation
  docs-website/router/configuration.mdx
  router/pkg/config/config.schema.json
  router/pkg/cors/cors.go
Due: router

chore: more rfc progress
  rfc/at-least-once-v1.md
Due: none

refactor: map the fetch-based-on enum back with a lookup table
  studio/src/hooks/use-operations-filters.tsx
Due: studio

refactor: use property shorthand in the override mutations
  studio/src/components/checks/override.tsx
Due: studio

refactor: read the check route params once per changes table
  studio/src/components/checks/changes-table.tsx
Due: studio

docs: describe what the operations filters hook owns
  studio/src/hooks/use-operations-filters.tsx
Due: studio

refactor: check the fetch-based-on map with satisfies
  studio/src/hooks/use-operations-filters.tsx
Due: studio

fix: render the nuqs adapter inside the posthog provider
  studio/src/pages/_app.tsx
Due: studio

docs: clarify the pagination default page size prop
  studio/src/components/ui/pagination.tsx
Due: studio

refactor: share the check route params through a hook
  studio/src/components/checks/graph-pruning-issues-table.tsx
  studio/src/components/checks/lint-issues-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/hooks/use-check-params.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Due: studio

refactor: share the default page size between the hook and the pagination
  studio/src/components/ui/pagination.tsx
  studio/src/hooks/use-pagination-params.ts
Due: studio

feat(router): support custom URL schemes in CORS origins (#3230)
  docs-website/router/configuration.mdx
  router/pkg/config/config.schema.json
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

test(router): verify forwarding ignored authentication headers
  docs-website/router/authentication-and-authorization.mdx
  docs-website/router/configuration.mdx
  router-tests/security/token_validation_failure_test.go
  router/core/access_controller.go
Due: router

docs(router): trim authentication header forwarding details
  docs-website/router/authentication-and-authorization.mdx
  docs-website/router/configuration.mdx
Due: none

chore: revert last commit
  controlplane/src/core/repositories/FeatureFlagRepository.ts
Due: controlplane

fix: reject a context argument that is required in any subgraph
  composition/src/errors/errors.ts
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/directives/context.test.ts
Due: composition

test: use interpolation in normalization SDL expectations
  composition/tests/v1/normalization.test.ts
Due: composition

docs(router): simplify authentication error handling guidance
  docs-website/router/authentication-and-authorization.mdx
Due: none

feat(sentry): always sample the checks and publishes
  controlplane/src/core/sentry.config.ts
Due: controlplane

fix(router): limit authentication continuation to JWT credentials
  docs-website/router/authentication-and-authorization.mdx
  docs-website/router/configuration.mdx
  router-tests/security/token_validation_failure_test.go
  router/core/access_controller.go
  router/core/access_controller_test.go
  router/core/supervisor_instance.go
  router/pkg/authentication/http_header_authenticator.go
  router/pkg/authentication/initial_payload_authenticator.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_jwt_test.go
Due: router

fix(router): validate JWT error policy and focus regression tests
  router-tests/security/token_validation_failure_test.go
  router/core/access_controller_test.go
  router/pkg/config/config_jwt_test.go
  router/pkg/config/marshaler.go
Due: router

test(router): consolidate JWT error policy coverage
  docs-website/router/authentication-and-authorization.mdx
  router-tests/security/token_validation_failure_test.go
  router/core/access_controller_test.go
  router/pkg/config/config_jwt_test.go
Due: router

fix(router): log OTEL errors when only metrics are enabled
  router-tests/telemetry/attribute_processor_test.go
  router/core/router.go
  router/core/router_test.go
  router/pkg/trace/errors.go
  router/pkg/trace/meter.go
Due: router

docs(router): clarify JWT error policy boundaries
  docs-website/router/authentication-and-authorization.mdx
  docs-website/router/configuration.mdx
  router/pkg/config/config.schema.json
Due: router

test(router): name JWT error policy cases
  router/core/access_controller_test.go
Due: router

docs(router): clarify ignored JWT credentials
  docs-website/router/authentication-and-authorization.mdx
Due: none

test(router): use assert for independent CORS error checks
  router/core/cors_test.go
Due: router

test(router): declare CORS cases before test loops
  router/core/cors_test.go
  router/pkg/cors/cors_test.go
Due: router

test(router): isolate origin cases and simplify validation coverage
  router/core/cors_test.go
  router/pkg/cors/cors_test.go
Due: router

test(router): test CORS options without loading configuration
  router/core/cors_test.go
Due: router

refactor(router): retain original allow-origin normalization placement
  router/pkg/cors/config.go
  router/pkg/cors/cors_test.go
Due: router

test(router): isolate mixed-case origin normalization coverage
  router/pkg/cors/cors_test.go
Due: router

refactor(router): simplify CORS pattern compilation and tests
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

fix(router): normalize origins without rewriting CORS regexes
  docs-website/router/configuration.mdx
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

feat(router): support regex-based CORS origin matching
  docs-website/router/configuration.mdx
  router/core/cors_test.go
  router/core/router.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

refactor(router): reuse CORS patterns compiled during validation
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

refactor(router): remove redundant wildcard length check
  router/pkg/cors/config.go
Due: router
