Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: reorganize docs
  docs-website/docs.json
  docs-website/router/configuration.mdx
  docs-website/router/proxy-capabilities/forward-subgraph-extensions.mdx
  docs-website/router/subgraph-data-propagation/subgraph-error-propagation.mdx
  docs-website/router/subgraph-data-propagation/subgraph-extension-propagation.mdx
  docs-website/router/subscriptions-migration.mdx
Due: none

fix(code-mode-demo): make subgraphs resilient to NATS unavailability
  demo/code-mode/README.md
  demo/code-mode/router-config.yaml
  demo/code-mode/run_subgraphs_subset.sh
  demo/code-mode/start.sh
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/subgraphs.go
Due: none

fix: use result pattern
  composition/src/v1/federation/federation-factory.ts
Due: composition

fix: used result pattern also on validateSubscriptionFilterCondition and validateSubscriptionFieldCondition
  composition/src/v1/federation/federation-factory.ts
Due: composition

docs(code-mode): split unrelated mutations into separate search prompts
  router/internal/codemode/server/descriptions/search_tool.md
Due: router

test(controlplane): flip GRPC_SERVICE http(s) URL assertions to acceptance
  controlplane/test/subgraph/create-subgraph.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  controlplane/test/subgraph/update-subgraph.test.ts
Due: controlplane

feat(controlplane): accept http(s) URLs for GRPC_SERVICE subgraphs
  controlplane/src/core/bufservices/subgraph/createFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
Due: controlplane

fix: fix mapper.json deserialization
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/routerconfig/cdn/split_fetcher.go
Due: router

chore: remove unused ActiveGraphs from proto
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router

feat(router): add SpanNameFormatterProvider module interface
  router-tests/modules/custom-span-name-formatter/module.go
  router-tests/telemetry/span_name_formatter_test.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/modules.go
  router/core/router.go
  router/core/router_config.go
  router/core/span_name_formatter_test.go
  router/core/transport.go
  router/core/transport_test.go
Due: router

fix: fix tests + add guard for empty mapping
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/routerconfig/cdn/split_fetcher_test.go
Due: router

chore: validate tests
  controlplane/test/feature-flag/feature-flag-integration-v2.test.ts
  controlplane/test/feature-flag/feature-flag-integration.test.ts
Due: controlplane

fix(router): fix unmarshall error of mapper.json during config fetch (#2842)
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/routerconfig/cdn/split_fetcher.go
  router/pkg/routerconfig/cdn/split_fetcher_test.go
Due: router

feat: add options to configure split polling and execution config merging behavior
  router/core/init_config_poller.go
  router/core/router.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/controlplane/configpoller/config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/errs/errors.go
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/cdn/split_fetcher.go
  router/pkg/routerconfig/cdn/split_fetcher_test.go
  router/pkg/routerconfig/s3/client.go
Due: router

chore: add tests
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

chore: add to router config docs
  docs-website/router/configuration.mdx
Due: none

chore: add `version` metadata to the mapper file
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

feat(router): add options to configure router config assembling in split config poller (#2844)
  docs-website/router/configuration.mdx
  router/core/init_config_poller.go
  router/core/router.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/controlplane/configpoller/config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/errs/errors.go
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/cdn/split_fetcher.go
  router/pkg/routerconfig/cdn/split_fetcher_test.go
  router/pkg/routerconfig/s3/client.go
Due: router

feat: split router config (#2834)
  controlplane/migrations/0137_long_warbound.sql
  controlplane/migrations/meta/0137_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/createFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/migrateFromApollo.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/bufservices/graph/recomposeGraph.ts
  controlplane/src/core/bufservices/graph/setGraphRouterCompatibilityVersion.ts
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/moveSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/CompositionService.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/feature-flag/feature-flag-integration-v2.test.ts
Due: controlplane

feat(helm): add HPA extra metrics
  helm/cosmo/charts/router/README.md
  helm/cosmo/charts/router/templates/hpa.yaml
  helm/cosmo/charts/router/values.yaml
Due: none

chore: reuse ExecutionSuccess and ExecutionMultiFailure
  composition/src/errors/errors.ts
  composition/src/v1/federation/federation-factory.ts
Due: composition

fix: complete migration to result pattern
  composition/src/errors/errors.ts
  composition/src/v1/federation/federation-factory.ts
Due: composition

feat: add rpc method to recompose feature flags
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/feature-flag/recomposeFeatureFlag.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

chore: linting
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/feature-flag/recomposeFeatureFlag.ts
Due: controlplane

feat: add the `feature-flag recompose` command
  cli/src/commands/feature-flag/commands/recompose.ts
  cli/src/commands/feature-flag/index.ts
Due: cli

chore: add audit log and error counts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/feature-flag/recomposeFeatureFlag.ts
  controlplane/src/core/bufservices/graph/recomposeGraph.ts
  controlplane/src/db/models.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

chore: surface error count
  cli/src/commands/feature-flag/commands/recompose.ts
Due: cli

chore: fix an issue where the mapper included all hashes
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

chore: add tests
  controlplane/test/feature-flag/recompose-feature-flag.test.ts
Due: controlplane

chore: add tests
  cli/test/feature-flag/recompose.test.ts
  cli/test/feature-flag/utils.ts
Due: cli

chore: add tests for the generated `mapper.json` file
  controlplane/test/feature-flag/feature-flag-integration-v2.test.ts
  controlplane/test/test-util.ts
Due: controlplane

chore: improve `mapper.json` validation
  controlplane/test/feature-flag/feature-flag-integration-v2.test.ts
  controlplane/test/test-util.ts
Due: controlplane

chore: fix tests
  controlplane/test/test-util.ts
Due: controlplane

fix: remove unneeded deps from effect hook
  studio/src/components/onboarding/step-1.tsx
Due: studio

feat: store initialized onboarding in browser state
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/onboarding/step-1.tsx
Due: studio

fix: provide default values
  studio/src/components/onboarding/step-1.tsx
Due: studio

update goldies
  router-tests/operations/testdata/introspection/base-graph-schema.json
Due: none

chore: release helm-cosmo 0.18.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
Due: none

chore: drop migrations
  controlplane/migrations/0137_long_warbound.sql
  controlplane/migrations/meta/0137_snapshot.json
  controlplane/migrations/meta/_journal.json
Due: controlplane

chore: add migrations
  controlplane/migrations/0138_lazy_speedball.sql
  controlplane/migrations/meta/0138_snapshot.json
  controlplane/migrations/meta/_journal.json
Due: controlplane
