Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: remove wrong test case (#2453)
  router-tests/ratelimit_test.go
Due: none

feat: add an explanation on how to deal when adding a value to an enum used as input and output
  composition-go/index.global.js
  composition/src/errors/errors.ts
Due: composition

fix: grammar and flow
  composition-go/index.global.js
  composition/src/errors/errors.ts
Due: composition

use tmp engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: hide posthog errors from cli output if debug not enabled
  cli/src/core/telemetry.ts
Due: cli

feat: hide posthog errors from cli output if debug not enabled (#2458)
  cli/src/core/telemetry.ts
Due: cli

feat: make studio image rootless
  studio/Dockerfile
  studio/entrypoint.sh
Due: studio

fix(router): return typename on Cosmo Streams mutations (#2422)
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/events/redis_events_test.go
  router-tests/modules/stream_publish_test.go
  router/pkg/pubsub/kafka/engine_datasource.go
  router/pkg/pubsub/kafka/engine_datasource_factory_test.go
  router/pkg/pubsub/kafka/engine_datasource_test.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/nats/engine_datasource_factory_test.go
  router/pkg/pubsub/nats/engine_datasource_test.go
  router/pkg/pubsub/redis/engine_datasource.go
  router/pkg/pubsub/redis/engine_datasource_factory_test.go
  router/pkg/pubsub/redis/engine_datasource_test.go
Due: router

fix: operation validation false positives
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
Due: composition

chore: run composition-go
  composition-go/index.global.js
Due: none

fix: operation validation false positives (#2460)
  composition-go/index.global.js
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
Due: composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

chore: remove leftover `console.log`
  studio/src/components/user-menu.tsx
Due: studio

feat: improve overrides labels
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/components/checks/override.tsx
Due: studio

fix: go modules
  router-tests/go.mod
  router-tests/go.sum
  router/core/cache_warmup_plans.go
  router/go.mod
  router/go.sum
Due: router

fix: updates
  router/core/operation_planner.go
Due: router

change docker image source
  .github/actions/build-push-image/action.yaml
Due: none

feat: add an explanation on how to deal when adding a value to a shared enum (#2456)
  composition-go/index.global.js
  composition/src/errors/errors.ts
Due: composition

chore: add mapping and validation
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/src/sdl-validation-visitor.ts
  protographic/src/selection-set-validation-visitor.ts
  protographic/src/string-constants.ts
  protographic/src/types.ts
  protographic/tests/sdl-to-mapping/03-federation.test.ts
  protographic/tests/sdl-to-proto/01-basic-types.test.ts
  protographic/tests/sdl-to-proto/04-federation.test.ts
  protographic/tests/sdl-validation/01-basic-validation.test.ts
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router

fix: improve some labels
  studio/src/components/checks/operations.tsx
Due: studio

fix: updates
  router-tests/cache_warmup_test.go
  router/cmd/main.go
  router/core/cache_warmup_plans.go
  router/core/restart_switchover_config.go
  router/core/restart_switchover_config_test.go
  router/core/router.go
  router/core/supervisor.go
Due: router

fix: escaped entity
  studio/src/components/checks/operations.tsx
Due: studio

fix: misplace space
  studio/src/components/checks/operations.tsx
Due: studio

fix: make in memory switcher default when cache warmer is not enabled
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  controlplane/src/core/bufservices/NodeService.ts
  proto/wg/cosmo/node/v1/node.proto
  router-tests/cache_warmup_test.go
  router/core/cache_warmup_cdn.go
  router/core/graph_server.go
  router/core/restart_switchover_config.go
  router/core/restart_switchover_config_test.go
  router/core/router_config.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router, controlplane

feat(router): add omit_tool_name_prefix config for MCP tool names (#2441)
  router-tests/mcp_test.go
  router-tests/testdata/mcp_operations_collision/GetSchema.graphql
  router-tests/testdata/mcp_operations_collision/MyMutation.graphql
  router-tests/testdata/mcp_operations_collision/MyQuery.graphql
  router-tests/testenv/testenv.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/server.go
Due: router

fix: review comments
  router/core/restart_switchover_config.go
  router/core/router_config.go
  router/pkg/config/config.schema.json
Due: router

chore: add tests for field reslover improvements
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  demo/pkg/subgraphs/projects/src/service/service_resolve.go
  demo/pkg/subgraphs/projects/src/service/util.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
Due: router

chore: regenerate
  demo/configWithPlugins.json
  demo/configWithStandalone.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
Due: none

chore: provide go module path for integration
  demo/Makefile
Due: none

update engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix go mod sum
  router/go.sum
Due: router

fix: handle cross device link issues when creating a plugin
  cli/src/commands/router/commands/plugin/commands/init.ts
Due: cli

chore: improve comment
  cli/src/commands/router/commands/plugin/commands/init.ts
Due: cli

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
