Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

test(router): reserve require for test prerequisites
  router/core/reload_persistent_state_test.go
  router/core/supervisor_execution_config_test.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

fix(router): log fallback graph scope errors explicitly
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
Due: router

refactor(router): represent unavailable graph scope with nil
  router/core/reload_persistent_state.go
Due: router

test(router): simplify split config fallback regressions
  router/core/reload_persistent_state_test.go
  router/core/supervisor_execution_config_test.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

fix(playground): unwrap single-fetch trace root
  playground/src/components/playground/trace-view.tsx
  studio/src/__tests__/playground-trace-view.test.tsx
  studio/src/components/playground/trace-view.tsx
Due: studio

feat(router/mcpserver): separate OmitToolTitlePrefix into independent option
  router/pkg/mcpserver/discover_test.go
  router/pkg/mcpserver/server.go
Due: router

fix(router): preserve empty split mapper rejection
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

refactor(router): handle malformed config fallback at startup
  router/core/init_config_poller.go
  router/core/router.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/errs/errors.go
  router/pkg/routerconfig/cdn/split_fetcher.go
  router/pkg/routerconfig/cdn/split_fetcher_test.go
Due: router

refactor(router): simplify split config recovery
  router/core/init_config_poller.go
  router/core/reload_persistent_state_test.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/errs/errors.go
  router/pkg/routerconfig/cdn/split_fetcher.go
  router/pkg/routerconfig/cdn/split_fetcher_test.go
Due: router

refactor(router): rename execution config helper
  router/core/init_config_poller.go
  router/core/router.go
Due: router

refactor(router): separate graph scope parsing from logging
  router/core/reload_persistent_state.go
Due: router

fix: updates
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/orphan_test.go
  router/pkg/responsecaching/cache/redis/set.go
Due: router

fix: updates
  router/core/engine_loader_hooks.go
Due: router

feat(router): add response cache health metrics and fetches by type (#3294)
  docs-website/router/configuration.mdx
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/prometheus-metric-reference.mdx
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_health_metrics_test.go
  router-tests/operations/response_cache_metrics_test.go
  router-tests/testenv/testenv.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/response_cache_error_handler_test.go
  router/core/response_cache_stats_test.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/noop_response_cache_metrics.go
  router/pkg/metric/response_cache_measurements.go
  router/pkg/metric/response_cache_metric_store.go
  router/pkg/metric/response_cache_metric_store_test.go
  router/pkg/otel/attributes.go
  router/pkg/responsecaching/cache/redis/instrumented_test.go
  router/pkg/responsecaching/instrumented.go
  router/pkg/responsecaching/instrumented_test.go
Due: router

test(router): skip known orphan gaps and stop sharing request headers across parallel tests
  router-tests/operations/response_cache_request_directives_test.go
  router/pkg/responsecaching/cache/redis/orphan_test.go
Due: router

refactor(router): represent empty graph scope explicitly
  router/core/reload_persistent_state.go
Due: router

fix: updates
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/finish_test.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/orphan_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/set.go
  router/pkg/responsecaching/cache/redis/tag_index_test.go
Due: router

test(router): check end to end that no cached entry dangles
  router-tests/operations/response_cache_dangling_test.go
Due: none

test(router): separate WebSocket assertion blocks
  router/core/websocket_goroutine_test.go
Due: router

test(router): name WebSocket subtests by behavior
  router-tests/subscriptions/websocket_goroutine_test.go
Due: none

fix: initial cache tag composition
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

reject on interfaces
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

remove redundant code
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/directive-definitions.ts
Due: composition

fix: cleanup
  composition/src/directive-definition-data/directive-definition-data.ts
Due: composition

add missing tests
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

check consistency for shareable
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

fix comments and sorting
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/normalization-utils.test.ts
Due: composition

make override work for cacheTag fields
  composition/src/v1/normalization/batch-normalization/batch-normalizer.ts
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

accept whitespaces around dot-delimeter
  composition/src/v1/constants/constants.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cache-tag.test.ts
  composition/tests/v1/normalization-utils.test.ts
Due: composition

reconcile branch with main
  composition/src/errors/errors.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/constants/strings.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/cache-tag.test.ts
  composition/tests/v1/directives/unsupported-directives.test.ts
Due: composition

check arguments that may be hidden by @inaccessible
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/schema-building/utils.ts
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

fix: tests
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

don't store dupes of formats
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

more accurate error messages
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

store formats in canonical way
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/schema-building/types/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cache-tag.test.ts
  composition/tests/v1/normalization-utils.test.ts
Due: composition

remove test dupes
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/directives/cache-tag.test.ts
Due: composition

fix: updates
  composition/src/errors/errors.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cache-tag.test.ts
  composition/tests/v1/normalization-utils.test.ts
Due: composition

Revert "test(router): name WebSocket subtests by behavior"
  router-tests/subscriptions/websocket_goroutine_test.go
Due: none

test(router): split WebSocket shutdown scenarios into explicit subtests
  router-tests/subscriptions/websocket_goroutine_test.go
Due: none

test(router): consolidate WebSocket test cleanup
  router-tests/subscriptions/websocket_goroutine_test.go
Due: none
