Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore: CI stability run 8/50
  router-tests/CLAUDE.md
Due: none

fix: address PR review feedback for codereview pipeline
  .coderabbit.yaml
  codereview/STRATEGY.md
  codereview/package.json
  codereview/scripts/build-antipatterns.ts
  codereview/scripts/build-coderabbit.ts
  codereview/scripts/build-examples.ts
  codereview/scripts/classify.ts
Due: none

chore: CI stability run 9/50
  router-tests/CLAUDE.md
Due: none

feat: standards/ as single source of truth for review guidelines
  .coderabbit.yaml
  cli/CLAUDE.md
  codereview/CLAUDE.md
  codereview/package.json
  codereview/scripts/build-claude-md.ts
  codereview/scripts/build-coderabbit.ts
  codereview/scripts/build-examples.ts
  codereview/scripts/build-guidelines.ts
  codereview/scripts/classify.ts
  codereview/scripts/evaluate.ts
  connect/CLAUDE.md
  controlplane/CLAUDE.md
  router/CLAUDE.md
  standards/_global.md
  standards/cli.md
  standards/connect.md
  standards/controlplane.md
  standards/router.md
  standards/studio.md
  studio/CLAUDE.md
Due: router, cli, studio, controlplane

feat(router): add TLS support for NATS event source
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_events_nats_test.go
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/nats/provider_builder.go
  router/pkg/pubsub/nats/provider_builder_test.go
Due: router

feat(router): add entity analytics pipeline
  buf.entityanalytics.go.gen.yaml
  proto/wg/cosmo/entityanalytics/v1/entityanalytics.proto
  router-tests/entity_caching/entity_analytics_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/router.go
  router/core/router_config.go
  router/gen/proto/wg/cosmo/entityanalytics/v1/entityanalytics.pb.go
  router/gen/proto/wg/cosmo/entityanalytics/v1/entityanalyticsv1connect/entityanalytics.connect.go
  router/internal/entityanalytics/aggregate.go
  router/internal/entityanalytics/aggregate_test.go
  router/internal/entityanalytics/builder.go
  router/internal/entityanalytics/builder_test.go
  router/internal/entityanalytics/exporter.go
  router/internal/entityanalytics/sink.go
  router/pkg/config/config.go
Due: router

chore: add generated proto files for notifications and platform
  router/gen/proto/wg/cosmo/notifications/events.pb.go
  router/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  router/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
Due: router

feat: support `outFile`
  cli/src/commands/graph/monograph/commands/check.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/handle-check-result.ts
  cli/test/check-schema.test.ts
Due: cli

fix: exclude traffic checks in JSON output
  cli/src/handle-check-result.ts
  cli/test/check-schema.test.ts
Due: cli

chore: CI stability run 1/10
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 2/10
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 3/10
  router-tests/CLAUDE.md
Due: none

refactor: extract JSON builder class to separate file + tests
  cli/src/handle-check-result.ts
  cli/src/json-output-builder.ts
  cli/test/json-output-builder.test.ts
Due: cli

chore: CI stability run 4/10
  router-tests/CLAUDE.md
Due: none

fix: omit `linkedToSubgraph` JSON property
  cli/src/handle-check-result.ts
  cli/src/json-output-builder.ts
  cli/test/check-schema.test.ts
  cli/test/json-output-builder.test.ts
Due: cli

chore: CI stability run 5/10
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 6/10
  router-tests/CLAUDE.md
Due: none

fix: invalid lookup for null context in field resolvers (#2585)
  demo/pkg/subgraphs/courses/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
Due: none

chore: CI stability run 7/10
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 8/10
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 9/10
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 10/10
  router-tests/CLAUDE.md
Due: none

fix: Require CA file for mTLS
  router/pkg/pubsub/nats/provider_builder.go
  router/pkg/pubsub/nats/provider_builder_test.go
Due: router

chore: Improve test coverage to include success cases
  router/pkg/pubsub/nats/provider_builder_test.go
Due: router

feat: expensive cache
  router/core/expensive_query_cache.go
  router/core/graph_server.go
  router/core/operation_planner.go
  router/core/operation_planner_test.go
  router/core/reload_persistent_state.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix computation on cache hits
  router-tests/costs_test.go
  router/core/operation_planner.go
Due: router

add missing `cost_stats` in JSON schema
  router/pkg/config/config.schema.json
Due: router

feat(router): complete entity caching gaps — circuit breaker, global key prefix, cache op errors
  router-tests/entity_caching/entity_caching_test.go
  router-tests/entity_caching/redis_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/entitycache/circuit_breaker.go
  router/pkg/entitycache/circuit_breaker_test.go
  router/pkg/metric/entity_cache_metrics.go
  tasks/ENTITY_CACHING_ACCEPTANCE_CRITERIA.md
  tasks/GRAPHQL_GO_TOOLS_PREREQUISITES.md
Due: router

refactor: remove os.Chdir hack, use testenv.ResolvePath for all paths
  router-tests/CLAUDE.md
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc/connectrpc_test_helpers.go
  router-tests/events/nats_events_test.go
  router-tests/observability/main_test.go
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/introspection_test.go
  router-tests/operations/main_test.go
  router-tests/operations/persisted_operations_test.go
  router-tests/operations/query_plans_test.go
  router-tests/protocol/integration_test.go
  router-tests/protocol/main_test.go
  router-tests/protocol/mcp_test.go
  router-tests/protocol/router_config_test.go
  router-tests/protocol/router_plugin_test.go
  router-tests/router_oci_plugin_test.go
  router-tests/security/main_test.go
  router-tests/security/subgraph_mtls_test.go
  router-tests/security/tls_test.go
  router-tests/subscriptions/main_test.go
  router-tests/testenv/testenv.go
  router-tests/testenv/testexec.go
Due: none

chore: add support for @requires in cosmo
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/core/factoryresolver.go
  router/go.mod
  router/go.sum
Due: router

chore: improve
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
Due: none

Use a dedicated config subcategory for consumer configuration
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_full.json
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
