Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat(router): expose response cache status on router request metrics and spans
  docs-website/router/configuration/template-expressions.mdx
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_metrics_test.go
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/response_cache_stats_test.go
  router/internal/expr/expr.go
  router/pkg/otel/attributes.go
Due: router

feat(router): add response cache health metrics
  docs-website/router/configuration.mdx
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/prometheus-metric-reference.mdx
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_health_metrics_test.go
  router-tests/operations/response_cache_metrics_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/response_cache_error_handler_test.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/noop_response_cache_metrics.go
  router/pkg/metric/response_cache_measurements.go
  router/pkg/metric/response_cache_metric_store.go
  router/pkg/metric/response_cache_metric_store_test.go
  router/pkg/otel/attributes.go
  router/pkg/responsecaching/cache/in_memory/in_memory.go
  router/pkg/responsecaching/cache/in_memory/in_memory_test.go
  router/pkg/responsecaching/cache/redis/instrumented_test.go
  router/pkg/responsecaching/instrumented.go
  router/pkg/responsecaching/instrumented_test.go
Due: router

test(router): embed plan cache interface in warmup stub
  router/core/cache_warmup_planning_test.go
Due: router

feat(router): report the type and store decision of response cache fetches
  docs-website/router/configuration/template-expressions.mdx
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/prometheus-metric-reference.mdx
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_health_metrics_test.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/response_cache_error_handler_test.go
  router/core/response_cache_stats_test.go
  router/internal/expr/expr.go
  router/pkg/metric/noop_response_cache_metrics.go
  router/pkg/metric/response_cache_measurements.go
  router/pkg/metric/response_cache_metric_store.go
  router/pkg/metric/response_cache_metric_store_test.go
  router/pkg/otel/attributes.go
  router/pkg/responsecaching/cache/redis/instrumented_test.go
  router/pkg/responsecaching/instrumented.go
  router/pkg/responsecaching/instrumented_test.go
Due: router

fix(ci): detect engine bumps against the base branch tip in Query Planner
  .github/workflows/query-planner-ci.yaml
Due: none

docs(router): clarify persisted operation updates and IDs
  docs-website/router/persisted-queries/persisted-operations.mdx
Due: none

chore(router): pin graphql-go-tools to the response cache telemetry commit
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

refactor(router): drop the memory provider metrics of the response cache
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/prometheus-metric-reference.mdx
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_health_metrics_test.go
  router/core/router.go
  router/pkg/metric/noop_response_cache_metrics.go
  router/pkg/metric/response_cache_measurements.go
  router/pkg/metric/response_cache_metric_store.go
  router/pkg/metric/response_cache_metric_store_test.go
  router/pkg/responsecaching/cache/in_memory/in_memory.go
  router/pkg/responsecaching/cache/in_memory/in_memory_test.go
Due: router

refactor(router): drop the invalidated tags counter of the response cache
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/prometheus-metric-reference.mdx
  router-tests/operations/response_cache_health_metrics_test.go
  router/pkg/metric/noop_response_cache_metrics.go
  router/pkg/metric/response_cache_measurements.go
  router/pkg/metric/response_cache_metric_store.go
  router/pkg/metric/response_cache_metric_store_test.go
  router/pkg/responsecaching/instrumented.go
  router/pkg/responsecaching/instrumented_test.go
Due: router

refactor(router): drop the written bytes counter of the response cache
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/prometheus-metric-reference.mdx
  router-tests/operations/response_cache_health_metrics_test.go
  router/pkg/metric/noop_response_cache_metrics.go
  router/pkg/metric/response_cache_measurements.go
  router/pkg/metric/response_cache_metric_store.go
  router/pkg/metric/response_cache_metric_store_test.go
  router/pkg/responsecaching/instrumented.go
  router/pkg/responsecaching/instrumented_test.go
Due: router

docs(router): say cache failures are counted only with the health metrics enabled
  docs-website/router/response-cache.mdx
Due: none

docs(router): guard the redis memory ratio against a missing maxmemory
  docs-website/router/response-cache.mdx
Due: none

fix(router-tests): synchronize CDN request logging (#3290)
  router-tests/testenv/testenv.go
Due: none

feat(router): read the response cache status of a fetch from the engine
  docs-website/router/configuration/template-expressions.mdx
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_metrics_test.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/response_cache_stats_test.go
  router/internal/expr/expr.go
  router/pkg/otel/attributes.go
Due: router

feat(router): count response cache fetches by type and store decision
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/prometheus-metric-reference.mdx
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_health_metrics_test.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/response_cache_error_handler_test.go
  router/core/response_cache_stats_test.go
  router/pkg/metric/noop_response_cache_metrics.go
  router/pkg/metric/response_cache_measurements.go
  router/pkg/metric/response_cache_metric_store.go
  router/pkg/metric/response_cache_metric_store_test.go
  router/pkg/responsecaching/cache/redis/instrumented_test.go
  router/pkg/responsecaching/instrumented.go
  router/pkg/responsecaching/instrumented_test.go
Due: router

refactor(router): simplify naming the types of a fetch
  router/core/engine_loader_hooks.go
Due: router

fix(helm): allow disabling component ingress routes independently
  .github/workflows/helm-ci.yaml
  helm/Makefile
  helm/README.md
  helm/cosmo/DEV.md
  helm/cosmo/README.md
  helm/cosmo/templates/ingress.yaml
  helm/cosmo/values.yaml
  helm/tests/.gitignore
  helm/tests/kind-values.yaml
  helm/tests/requirements.txt
  helm/tests/test_ingress.py
Due: none

test(router): cover persisted cache hits during warmup end to end
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/testdata/cache_warmup/json_po_cache_hit/graphql.json
Due: none

test(helm): manage reusable chart tests with uv
  .github/workflows/helm-ci.yaml
  helm/.gitignore
  helm/.python-version
  helm/Makefile
  helm/README.md
  helm/pyproject.toml
  helm/tests/fixtures/cosmo-cluster.yaml
  helm/tests/helm_test.py
  helm/tests/requirements.txt
  helm/tests/test_ingress.py
  helm/uv.lock
Due: none

test(router): extend existing persisted operation warmup test
  router-tests/operations/cache_warmup_test.go
Due: none

ci(helm): validate chart configurations on kind
  .github/workflows/helm-ci.yaml
  helm/README.md
Due: none

test(helm): add self-contained kind validation target
  helm/Makefile
  helm/README.md
Due: none

chore(helm): keep ingress change focused on the feature
  .github/workflows/helm-ci.yaml
  helm/.gitignore
  helm/.python-version
  helm/Makefile
  helm/README.md
  helm/pyproject.toml
  helm/tests/.gitignore
  helm/tests/fixtures/cosmo-cluster.yaml
  helm/tests/helm_test.py
  helm/tests/test_ingress.py
  helm/uv.lock
Due: none

docs(helm): keep ingress settings in generated reference
  helm/cosmo/DEV.md
Due: none

test(router): preserve original warmup test as separate scenario
  router-tests/operations/cache_warmup_test.go
Due: none

test(router-tests): drop TLS variant of incomplete frame test
  router-tests/subscriptions/websocket_partial_frame_test.go
Due: none

feat(router): remove experimental WebSocket net poller
  docs-website/router/configuration.mdx
  docs-website/router/cosmo-streams.mdx
  docs-website/router/subscriptions-migration.mdx
  docs-website/router/subscriptions/router-configuration-for-subscriptions.mdx
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/events/redis_events_test.go
  router-tests/observability/structured_logging_test.go
  router-tests/security/error_handling_test.go
  router-tests/subscriptions/websocket_partial_frame_test.go
  router-tests/subscriptions/websocket_test.go
  router-tests/testenv/testenv.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/router_test.go
  router/core/websocket.go
  router/core/websocket_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
Due: router

perf(router): don't wake idle WebSocket connections after initialization
  router/core/websocket.go
  router/core/websocket_test.go
Due: router

test(router-tests): close WebSocket dial response body
  router-tests/subscriptions/websocket_partial_frame_test.go
Due: none

test(router): run WebSocket read tests in synctest bubbles
  router/core/websocket_test.go
Due: router

fix(ci): detect engine bumps against the base branch tip (#3293)
  .github/workflows/query-planner-ci.yaml
Due: none

fix(router): update WebSocket connection gauge before unsubscribing
  router/core/websocket.go
Due: router

feat: enhance span tracking for aborted requests
  controlplane/src/core/build-server.ts
  controlplane/src/core/sentry.config.ts
  controlplane/src/core/tracing.ts
  controlplane/test/tracing-timeout.test.ts
Due: controlplane

fix(values.yaml): fix clickhouse resources default
  helm/cosmo/values.yaml
Due: none

chore: update decompress
  cli/package.json
  pnpm-lock.yaml
Due: cli

fix(helm): allow disabling component ingress routes independently (#3297)
  helm/cosmo/README.md
  helm/cosmo/templates/ingress.yaml
  helm/cosmo/values.yaml
Due: none

test(router): table-drive persisted operation cache key coverage
  router/core/custom_operation_ids_test.go
Due: router

chore: update decompress (#3304)
  cli/package.json
  pnpm-lock.yaml
Due: cli

test(router): describe operations cache client scoping
  router/internal/persistedoperation/operationstorage/cache_test.go
Due: router
