Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

fix: simplify implementation
  router/core/operation_processor.go
Due: router

feat: improve create graph form UX (#2468)
  studio/src/components/create-graph.tsx
  studio/src/components/ui/tag-input/tag-input.tsx
Due: studio

feat: populate option to disable field arg mapping
  router/core/arguments.go
  router/core/graph_server.go
  router/core/operation_processor.go
Due: router

chore: use corresponding graph-go-tools version
  router-tests/go.mod
  router-tests/go.sum
  router-tests/modules/start_subscription_test.go
  router-tests/modules/stream_publish_test.go
  router-tests/modules/stream_receive_test.go
  router/core/arguments_test.go
  router/go.mod
  router/go.sum
Due: router

feat: refactor and add sanitizeUtf8 processor
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/trace/attributeprocessor/attributes.go
  router/pkg/trace/attributeprocessor/attributes_test.go
  router/pkg/trace/attributeprocessor/redact.go
  router/pkg/trace/attributeprocessor/sanitizeutf8.go
  router/pkg/trace/config.go
  router/pkg/trace/meter.go
  router/pkg/trace/redact/attributes.go
  router/pkg/trace/redact/attributes_test.go
Due: router

fix: prefix with mutation
  router-tests/modules/stream_publish_test.go
Due: none

fix: updates
  router-tests/telemetry/attribute_processor_test.go
  router-tests/testenv/testenv.go
  router/pkg/config/config.go
  router/pkg/trace/attributeprocessor/attributes_test.go
  router/pkg/trace/attributeprocessor/redact_test.go
  router/pkg/trace/attributeprocessor/sanitizeutf8_test.go
Due: router

feat: set operation name also with persistent queries (#2480)
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, studio

fix: review comments
  router-tests/telemetry/attribute_processor_test.go
  router/pkg/trace/attributeprocessor/attributes.go
  router/pkg/trace/attributeprocessor/attributes_test.go
  router/pkg/trace/attributeprocessor/redact.go
  router/pkg/trace/attributeprocessor/redact_test.go
  router/pkg/trace/attributeprocessor/sanitizeutf8_test.go
  router/pkg/trace/config.go
Due: router

fix: review comments
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
  router/pkg/config/config.go
Due: router

fix: review comments
  router/core/header_rule_engine.go
Due: router

fix: review comments
  router/pkg/config/testdata/config_full.json
Due: router

wip
  router/core/errors.go
  router/core/factoryresolver.go
  router/core/graphql_handler.go
  router/core/plan_generator.go
  router/core/trace_dialer.go
  router/core/websocket.go
  router/debug.config.yaml
  router/go.mod
  router/go.sum
Due: router

fix(mcp): improve error handling and security hardening
  router-tests/mcp_auth_e2e_test.go
  router-tests/mcp_test.go
  router-tests/testutil/auth_helpers.go
  router-tests/testutil/jwt_helper.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/server.go
Due: router

chore: improve the mapping
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/tests/sdl-to-mapping/03-federation.test.ts
Due: none

chore: add comments
  protographic/src/abstract-selection-rewriter.ts
Due: none

chore: export constants
  protographic/src/index.ts
Due: none

chore: update import
  protographic/src/sdl-to-mapping-visitor.ts
Due: none

fix: review comments
  router-tests/header_propagation_test.go
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
  router/pkg/config/config.go
Due: router

fix: review comments
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: dont forward content-* headers from client and subgraphs (#2481)
  demo/go.sum
  router-tests/header_propagation_test.go
  router-tests/headers_test.go
  router/core/header_rule_engine.go
Due: router

normalize keys
  protographic/src/naming-conventions.ts
  protographic/src/required-fields-visitor.ts
  protographic/tests/field-set/01-basics.test.ts
  protographic/tests/naming-conventions.test.ts
Due: none

chore: apply normalization logic from composition
  pnpm-lock.yaml
  protographic/package.json
  protographic/src/naming-conventions.ts
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/sdl-validation-visitor.ts
  protographic/tests/naming-conventions.test.ts
  protographic/tests/sdl-validation/01-basic-validation.test.ts
Due: none

chore: updates
  .github/workflows/protographic.yaml
  composition-go/index.global.js
Due: none

chore: mimimi
  protographic/src/abstract-selection-rewriter.ts
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/selection-set-validation-visitor.ts
Due: none

chore: do not duplicate messages
  protographic/src/required-fields-visitor.ts
  protographic/tests/field-set/01-basics.test.ts
Due: none

chore: remove unused options
  protographic/src/required-fields-visitor.ts
Due: none

chore: pr reviews
  protographic/src/selection-set-validation-visitor.ts
  protographic/tests/field-set/01-basics.test.ts
Due: none

chore: do not use type assertio9n
  protographic/src/sdl-to-mapping-visitor.ts
Due: none

chore: remove unused function
  protographic/src/required-fields-visitor.ts
Due: none

chore: return early
  protographic/src/abstract-selection-rewriter.ts
Due: none

chore: import
  protographic/src/required-fields-visitor.ts
Due: none

chore: install dependencies in related projects
  .github/workflows/protographic.yaml
Due: none
