Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: pr suggestions
  controlplane/src/core/util.ts
  controlplane/test/playground/playground-default-headers.test.ts
  studio/src/__tests__/playground-default-headers.test.ts
Due: studio, controlplane

fix(router): prevent data races in batched validation error responses (#3217)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  cdn-server/CHANGELOG.md
  cdn-server/cdn/CHANGELOG.md
  cdn-server/cdn/package.json
  cdn-server/package.json
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  playground/CHANGELOG.md
  playground/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

fix: tests
  controlplane/test/playground/playground-default-headers.test.ts
Due: controlplane

fix: pin check
  .github/workflows/go-mod-pinned-versions.yaml
Due: none

fix(ci): define proper permissions for stale closing workflow (#3212)
  .github/workflows/close-stale.yml
Due: none

feat: improve ui
  studio/src/components/playground/default-headers/default-headers-dialog.tsx
Due: studio

fix: lint
  controlplane/test/playground/playground-default-headers.test.ts
Due: controlplane

fix: updates
  .github/workflows/go-mod-pinned-versions.yaml
Due: none

fix(router): cache responses without public directive
  docs-website/router/response-cache.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/operations/response_cache_test.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.schema.json
Due: router

feat: add minimal support for newer federation directives
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/constants/non-directive-definitions.ts
  composition/src/v1/constants/strings.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/src/validation/validation.ts
  composition/tests/v1/directives/unsupported-directives.test.ts
  composition/tests/v1/utils/utils.ts
Due: composition

chore: add cacheTag to V2 directives
  composition/src/v1/constants/constants.ts
Due: composition

feat: add minimal support for newer federation directives (#3223)
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/constants/non-directive-definitions.ts
  composition/src/v1/constants/strings.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/src/validation/validation.ts
  composition/tests/v1/directives/unsupported-directives.test.ts
  composition/tests/v1/utils/utils.ts
Due: composition

fix(ci): regenerate stale router test config
  .github/workflows/router-ci.yaml
  router-tests/testenv/testdata/config.json
Due: none

chore(deps): bump google.golang.org/grpc to 1.83.2
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/projects/go.mod
  demo/pkg/subgraphs/projects/go.sum
  router-plugin/go.mod
  router-plugin/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

chore(deps): bump google.golang.org/grpc to 1.83.2 (#3225)
  .github/workflows/router-ci.yaml
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/projects/go.mod
  demo/pkg/subgraphs/projects/go.sum
  router-plugin/go.mod
  router-plugin/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testdata/config.json
  router/go.mod
  router/go.sum
Due: router

chore(deps): pin graphql-go-tools v2.20.3
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: updates
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
Due: router

fix: docs
  docs-website/router/response-cache.mdx
Due: none

fix(router): cache responses without public directive (#3221)
  docs-website/router/response-cache.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/operations/response_cache_test.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.schema.json
Due: router

feat: implement script for enabling `split-config-loading`
  controlplane/src/bin/enable-split-config-loading.ts
  controlplane/src/bin/get-config.ts
Due: controlplane

fix: add repeatable to @context
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/tests/v1/utils/utils.ts
Due: composition

fix: add repeatable to @context (#3228)
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/tests/v1/utils/utils.ts
Due: composition

chore(release): Publish [skip ci]
  aws-lambda-router/CHANGELOG.md
  aws-lambda-router/package.json
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router-plugin/CHANGELOG.md
  router-plugin/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

chore: correctly fetch feature flags from the correct namespaces
  controlplane/src/bin/enable-split-config-loading.ts
Due: controlplane

chore: add the `enable-split-config-loading` job to the controlplane chart
  helm/cosmo/charts/controlplane/templates/enable-split-confiog-loading.yaml
  helm/cosmo/charts/controlplane/values.yaml
Due: none

chore: update README to include new job
  helm/cosmo/charts/controlplane/README.md
Due: none

chore: linting
  controlplane/src/bin/enable-split-config-loading.ts
Due: controlplane

fix: exclude internal dependency scalars from federated schemas
  composition/src/v1/constants/strings.ts
  composition/tests/v1/federation-factory.test.ts
Due: composition

fix: strip context arguments from federated schemas
  composition/src/errors/errors.ts
  composition/src/schema-building/types/types.ts
  composition/src/schema-building/utils.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

test: add @context and @fromContext composition tests
  composition/tests/v1/directives/context.test.ts
  composition/tests/v1/directives/unsupported-directives.test.ts
  composition/tests/v1/utils/utils.ts
Due: composition

fix: graphqlgotools pin check (#3220)
  .github/workflows/go-mod-pinned-versions.yaml
Due: none

fix: documentation
  docs-website/router/response-cache.mdx
Due: none

feat: entity caching invalidation (#3213)
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_test.go
  router/core/response_cache_test.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/responsecaching/cache/in_memory/invalidation.go
  router/pkg/responsecaching/cache/in_memory/invalidation_test.go
  router/pkg/responsecaching/cache/in_memory/tag_index.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/tag_index_test.go
  router/pkg/responsecaching/invalidation/handler.go
  router/pkg/responsecaching/invalidation/handler_test.go
  router/pkg/responsecaching/invalidation/request.go
  router/pkg/responsecaching/invalidation/server.go
  router/pkg/responsecaching/invalidator.go
Due: router

fix: updates
  router/pkg/responsecaching/cache/redis/invalidation_test.go
Due: router

fix(playground): request deprecated input fields during introspection
  playground/src/components/playground/index.tsx
  router/internal/graphiql/graphiql.html
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: router, studio

fix: updates
  docs-website/router/response-cache.mdx
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
