Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

refactor: rename totalProposalsCount to totalCount in proposal responses
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
  controlplane/test/proposal/proposal-data-isolation.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/index.tsx
Due: studio, controlplane

fix: review comments
  composition/tests/utils/utils.ts
Due: composition

fix: move to upsertObject
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

feat(composition): @openfed__entityCache directive (1/5) (#2980)
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/constants/type-nodes.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/utils/utils.ts
  composition/tests/v1/directives/entity-cache.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router, composition

fix: cleanup post merge
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

fix: review comments
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-invalidate.test.ts
Due: composition

fix: review comments
  shared/src/router-config/builder.ts
Due: none

chore: handle repeated directive
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/entity-cache.test.ts
Due: composition

fix: review comments
  composition/tests/v1/directives/cache-invalidate.test.ts
Due: composition

fix: review comments
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-invalidate.test.ts
  shared/src/router-config/builder.ts
Due: composition

fix: merge changes
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-populate.test.ts
  composition/tests/v1/directives/entity-cache.test.ts
Due: composition

fix: review comments
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
  shared/src/router-config/builder.ts
Due: composition

fix: review comments
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

feat(composition): @openfed__cacheInvalidate directive (2/5) (#2983)
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cache-invalidate.test.ts
  composition/tests/v1/directives/entity-cache.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router, composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

fix: review comments
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-populate.test.ts
  composition/tests/v1/directives/entity-cache.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router, composition

fix: review comments
  composition/tests/v1/directives/cache-populate.test.ts
Due: composition

fix: incorrect use of errors.Join()
  router/pkg/metric/cache_metrics.go
  router/pkg/metric/engine_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_connection_metric_store.go
  router/pkg/metric/router_runtime_metrics.go
Due: router

chore: ensure cleanup of allocated resources if graph server/mux creation failed
  router/core/graph_server.go
Due: router

fix: review comments
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/request-scoped.test.ts
Due: composition

fix: review comments
  composition/src/router-configuration/types.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/request-scoped.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router, composition

fix: review comments
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/request-scoped.test.ts
Due: composition

fix: review comments
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/request-scoped.test.ts
  shared/src/router-config/builder.ts
Due: composition

fix(router): adapt entity-caching wiring to new proto format
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
Due: router

chore: refactor
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/tests/v1/directives/cache-invalidate.test.ts
  composition/tests/v1/directives/cache-populate.test.ts
  shared/src/router-config/builder.ts
Due: composition

chore: remove unnecessary comment
  composition/src/v1/normalization/types/types.ts
Due: composition

chore(router): temporarily no-op IgnoreImplementingTypeWeights
  router/core/executor.go
Due: router

test(router): adapt entity-caching tests to new proto format
  router-tests/entity_caching_standard_subgraphs_test.go
  router-tests/entitycaching/entitycaching_test.go
  router-tests/entitycaching/harness_test.go
  router/core/executor_entity_cache_test.go
  router/core/factoryresolver_entity_cache_test.go
  router/core/factoryresolver_test.go
Due: router

chore: respond to PR feedback
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-populate.test.ts
Due: composition

feat(composition): @openfed__cachePopulate directive (3/5) (#2984)
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cache-invalidate.test.ts
  composition/tests/v1/directives/cache-populate.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router, composition

fix: updates
  shared/test/entity-caching.test.ts
Due: none

fix: proto changes
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router

chore: remove requestScoped from queryCache branch (queryCache becomes 4/5)
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/request-scoped.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
  shared/test/entity-caching.test.ts
Due: router, composition

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
