Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat: navigate between steps + dismiss
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/step-4.tsx
  studio/src/hooks/use-onboarding-navigation.ts
  studio/src/hooks/use-session-storage.ts
  studio/src/pages/onboarding/index.tsx
Due: studio

feat: fetch initial onboarding state + redirect
  studio/src/components/dashboard/workspace-provider.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/posthog-feature-flag-provider.tsx
  studio/src/hooks/use-onboarding-navigation.ts
  studio/src/hooks/use-onboarding.ts
  studio/src/pages/_app.tsx
Due: studio

feat: new empty state for enabled onboarding
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

feat: scaffold routes for onboarding
  studio/src/components/app-provider.tsx
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/step-4.tsx
  studio/src/pages/onboarding/[step].tsx
  studio/src/pages/onboarding/index.tsx
Due: studio

feat: read feature flags, store in context
  studio/src/components/posthog-feature-flag-provider.tsx
  studio/src/pages/_app.tsx
Due: studio

feat: finish onboarding at step 4
  studio/src/components/onboarding/step-4.tsx
Due: studio

feat: add stepper
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/onboarding-steps.ts
  studio/src/components/onboarding/stepper.tsx
  studio/src/pages/onboarding/[step].tsx
Due: studio

feat: common layout for the step content
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/onboarding-container.tsx
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/step-4.tsx
  studio/tailwind.config.js
Due: studio

feat: restrict onboarding content to max width
  studio/src/components/layout/onboarding-layout.tsx
Due: studio

feat: onboarding navigation buttons
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/step-4.tsx
Due: studio

feat: improve onboarding layout
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/pages/onboarding/[step].tsx
Due: studio

feat: user settings form
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/hooks/use-onboarding-navigation.ts
  studio/src/lib/schemas.ts
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

feat: step 2 copy
  studio/src/components/onboarding/step-2.tsx
Due: studio

feat: step 3 - fetch federated graph
  studio/src/components/onboarding/federation-animation.tsx
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/onboarding/step-3.tsx
Due: studio

fix(router): add Vary to SkippedHeaders to prevent duplicate header
  router/internal/headers/headers.go
Due: router

fix: added variables
  router-tests/observability/structured_logging_test.go
  router/core/graphql_prehandler.go
  router/internal/expr/expr.go
  router/internal/expr/request_operation_bucket_visitor.go
  router/internal/expr/request_operation_bucket_visitor_test.go
Due: router

fix: add tests
  router-tests/observability/structured_logging_test.go
Due: none

fix: updates
  router/core/graphql_prehandler.go
  router/internal/expr/request_operation_bucket_visitor.go
  router/internal/expr/request_operation_bucket_visitor_test.go
Due: router

test(router): add unit and integration tests for Vary in SkippedHeaders
  router-tests/protocol/header_propagation_test.go
  router/core/header_rule_engine_test.go
Due: router

feat: add configuration for dynatrace (#2735)
  docs-website/docs.json
  docs-website/router/open-telemetry.mdx
  docs-website/router/open-telemetry/dynatrace.mdx
Due: none

feat(manifest): support PQL manifest for feature flags
  router-tests/operations/pql_manifest_test.go
  router/core/graph_server.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/internal/persistedoperation/pqlmanifest/store_test.go
Due: router

feat(manifest): implement support for manifest re-warm callbacks on updates
  router/core/graph_server.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/internal/persistedoperation/pqlmanifest/store_test.go
Due: router

fix: missing semicolon
  studio/src/lib/track.ts
Due: studio

chore: format
  cli/src/core/telemetry.ts
  studio/src/lib/track.ts
Due: cli, studio

fix: posthog migration logic
  studio/src/lib/track.ts
Due: studio

chore: formatting
  studio/src/lib/track.ts
Due: studio

fix: avoid empty email
  cli/src/core/telemetry.ts
Due: cli

fix: avoid debug logging if not enabled
  cli/src/core/telemetry.ts
Due: cli

feat: use latency coming up from engine
  router-tests/go.mod
  router-tests/go.sum
  router-tests/observability/prometheus_parallel_subgraph_metrics_test.go
  router-tests/observability/structured_logging_grpc_subgraph_latency_test.go
  router/core/engine_loader_hooks.go
  router/go.mod
  router/go.sum
Due: router

chore: remove local engine
  router-tests/go.mod
  router-tests/go.sum
Due: none

fix: remove wrong file
  router-tests/prometheus_parallel_subgraph_metrics_test.go
Due: none

feat(manifest): add support for feature flag validity tracking in persisted operations
  controlplane/migrations/0137_peaceful_marauders.sql
  controlplane/migrations/meta/0137_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/persisted-operations.test.ts
  docs/feature-flags-persisted-operations.md
  router-tests/operations/pql_manifest_test.go
Due: controlplane

fix: updates
  docs-website/router/configuration/template-expressions.mdx
  router-tests/observability/structured_logging_test.go
  router/core/graphql_prehandler.go
  router/internal/expr/expr.go
  router/internal/expr/request_operation_bucket_visitor.go
  router/internal/expr/request_operation_bucket_visitor_test.go
Due: router

chore: delete auto generated doc
  docs/feature-flags-persisted-operations.md
Due: none

fix: documentation
  docs-website/router/configuration/template-expressions.mdx
Due: none

feat(docs): update documentation to clarify PQL manifest regeneration on feature flag enable/disable
  docs-website/cli/feature-flags/disable-feature-flag.mdx
  docs-website/cli/feature-flags/enable-feature-flag.mdx
  docs-website/cli/operations/push.mdx
  docs-website/router/feature-flags.mdx
  docs-website/router/persisted-queries/persisted-operations.mdx
Due: none

docs: clarify router behavior for feature flag schema validation
  docs-website/router/feature-flags.mdx
Due: none

chore: improve `getWorkspace` and `getFederatedByGraphName` performance
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphByName.ts
  controlplane/src/core/bufservices/workspace/getWorkspace.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/WorkspaceService.ts
Due: controlplane

chore: remove `console.log` and query `protobufSchemaVersion` with `leftJoin` always
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphByName.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/test-util.ts
Due: controlplane
