Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat: update contract docs for simultaneous includes/excludes (#3036)
  docs-website/cli/schema-contracts/create.mdx
  docs-website/cli/schema-contracts/update.mdx
Due: none

fix: increase timeout for build_test job to 20 minutes
  .github/workflows/controlplane-ci.yaml
Due: none

chore: remove duplicated paragraph
  docs-website/cli/schema-contracts/update.mdx
Due: none

chore: remove duplicated paragraph (#3037)
  docs-website/cli/schema-contracts/update.mdx
Due: none

fix: doc updates
  docs/entity-caching/README.md
  docs/entity-caching/steps.md
Due: none

fix(entity-caching): rename EntityCachingConfiguration.entity_cache to entity_cache_configurations
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router

fix(entity-caching): rename EntityCachingConfiguration.entity_cache to entity_cache_configurations
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router-tests/entitycaching/harness_test.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router

chore: improve memory management for partially created mux (#2995)
  router/core/graph_server.go
  router/pkg/metric/cache_metrics.go
  router/pkg/metric/engine_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_connection_metric_store.go
  router/pkg/metric/router_runtime_metrics.go
Due: router

test: use testify in exporter tests
  router/internal/exporter/exporter_test.go
Due: router

chore: use compare and swap
  router/core/graph_server.go
Due: router

chore(router): pin graphql-go-tools to entity-cache key-coercion preview
  router/go.mod
  router/go.sum
Due: router

fix: doc changes
  demo/pkg/subgraphs/availability/subgraph/schema.graphqls
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  docs/entity-caching/README.md
  docs/entity-caching/steps.md
  router/demo.config.yaml
Due: router

chore: drop cli/cachegraph-cachedemo compose byproduct
  cli/cachegraph-cachedemo/cosmo-composition.yaml
  cli/cachegraph-cachedemo/subgraphs/cachegraph-ext.graphql
  cli/cachegraph-cachedemo/subgraphs/cachegraph.graphql
  cli/cachegraph-cachedemo/subgraphs/viewer.graphql
  cli/cachegraph-cachedemo/supergraph/cosmoClientSchema.graphql
  cli/cachegraph-cachedemo/supergraph/cosmoConfig.json
  cli/cachegraph-cachedemo/supergraph/cosmoSchema.graphql
Due: cli

docs: add language tags to fenced code blocks (CodeRabbit MD040)
  CLAUDE.md
  composition/AGENTS.md
  composition/CLAUDE.md
  composition/COMPOSITION_CONVENTIONS.md
Due: composition

docs: move PLAN.md into docs/entity-caching
  docs/entity-caching/PLAN.md
Due: none

docs: drop entity caching docs and pre-release testing kit from this PR
  docs/REQUEST_SCOPED.md
  docs/entity-caching/ENTITY_CACHING_DEMO.md
  docs/entity-caching/PLAN.md
  docs/entity-caching/analytics-rfc.md
  docs/entity-caching/analytics.md
  docs/entity-caching/configuration.md
  docs/entity-caching/directives.md
  docs/entity-caching/engineering-brief.md
  docs/entity-caching/pre-release-testing/.gitignore
  docs/entity-caching/pre-release-testing/Makefile
  docs/entity-caching/pre-release-testing/README.md
  docs/entity-caching/pre-release-testing/config/router.redis.yaml
  docs/entity-caching/pre-release-testing/docker-compose.yml
  docs/entity-caching/pre-release-testing/example/graph.yaml
  docs/entity-caching/pre-release-testing/example/subgraphs/products/schema.graphqls
  docs/entity-caching/pre-release-testing/example/subgraphs/products/server.ts
  docs/entity-caching/pre-release-testing/generated/.gitignore
  docs/entity-caching/pre-release-testing/package.json
  docs/entity-caching/pre-release-testing/scripts/check-config.sh
  docs/entity-caching/pre-release-testing/scripts/compose.sh
  docs/entity-caching/pre-release-testing/scripts/setup-pr.sh
  docs/entity-caching/pre-release-testing/scripts/smoke-test.sh
  docs/entity-caching/pre-release-testing/scripts/wait-router.sh
Due: none

feat(router): entity cache OTEL/Prometheus metrics
  router/core/graph_server.go
  router/core/graph_server_cache_metrics_test.go
  router/core/graphql_handler.go
  router/core/graphql_handler_caching_options_test.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/entity_cache_metrics.go
  router/pkg/metric/entity_cache_metrics_test.go
  router/pkg/otel/attributes.go
Due: router

docs(composition): move composition meta-docs here from the composition PR
  composition/AGENTS.md
  composition/CLAUDE.md
  composition/COMPOSITION_CONVENTIONS.md
Due: composition

perf(router): install no-op tracer provider when no realistic trace export destination
  router/core/router.go
  router/pkg/trace/config.go
Due: router

docs: update session notes for composition-go removal and package rename
  CLAUDE.md
  composition/CLAUDE.md
  composition/COMPOSITION_CONVENTIONS.md
Due: composition

feat(playground,studio): Cache Explorer, cache-mode controls, and cache-annotated traces
  playground/package.json
  playground/src/components/playground/cache-explorer-controller.ts
  playground/src/components/playground/cache-explorer-runner.ts
  playground/src/components/playground/cache-explorer-types.ts
  playground/src/components/playground/cache-explorer-utils.test.ts
  playground/src/components/playground/cache-explorer-utils.ts
  playground/src/components/playground/cache-explorer-view.tsx
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/fetch-waterfall.tsx
  playground/src/components/playground/index.test.ts
  playground/src/components/playground/index.tsx
  playground/src/components/playground/trace-view.test.tsx
  playground/src/components/playground/trace-view.tsx
  playground/src/components/playground/types.ts
  playground/src/components/playground/view-cache.tsx
  playground/src/test/setup.ts
  playground/vitest.config.ts
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/cache-explorer-controller.ts
  studio/src/components/playground/cache-explorer-runner.ts
  studio/src/components/playground/cache-explorer-types.ts
  studio/src/components/playground/cache-explorer-utils.ts
  studio/src/components/playground/cache-explorer-view.tsx
  studio/src/components/playground/fetch-flow.tsx
  studio/src/components/playground/fetch-waterfall.tsx
  studio/src/components/playground/trace-view.tsx
  studio/src/components/playground/types.ts
  studio/src/components/playground/view-cache.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: router, studio

fix: updates
  docs/entity-caching/README.md
Due: none

chore: misc linters
  router/core/context.go
  router/core/graph_server.go
  router/core/graph_server_test.go
  router/core/reload_persistent_state.go
Due: router

chore: fix demo subgraph docker setup
  demo/docker/availability.Dockerfile
  demo/docker/countries.Dockerfile
  demo/docker/employees.Dockerfile
  demo/docker/family.Dockerfile
  demo/docker/hobbies.Dockerfile
  demo/docker/mood.Dockerfile
  demo/docker/products.Dockerfile
  demo/docker/products_fg.Dockerfile
  demo/docker/test1.Dockerfile
  docker-compose.full.yml
  router/__schemas/graph.yaml
  router/debug.config.yaml
Due: router

fix: avoid holding previous graphMuxes when reloading
  mise-tasks/profile-reloads
  router/core/graph_server.go
  router/core/graph_server_test.go
Due: router

chore: go mod tidy
  router/go.mod
  router/go.sum
Due: router

fix: metrics flush timeout canceled shutdown (#2990)
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/internal/exporter/exporter.go
  router/internal/exporter/exporter_test.go
  router/pkg/metric/cache_metrics.go
  router/pkg/metric/connection_metric_store.go
  router/pkg/metric/engine_metrics.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/oltp_connection_metric_store.go
  router/pkg/metric/oltp_stream_metric_store.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_connection_metric_store.go
  router/pkg/metric/prom_metric_store.go
  router/pkg/metric/router_runtime_metrics.go
  router/pkg/metric/stream_metric_store.go
Due: router

chore: update helm docs and prepare release
  helm/cosmo/README.md
Due: none

fix: update docs
  docs/entity-caching/README.md
Due: none

fix: avoid holding previous graphMuxes when reloading (#3035)
  demo/docker/availability.Dockerfile
  demo/docker/countries.Dockerfile
  demo/docker/employees.Dockerfile
  demo/docker/family.Dockerfile
  demo/docker/hobbies.Dockerfile
  demo/docker/mood.Dockerfile
  demo/docker/products.Dockerfile
  demo/docker/products_fg.Dockerfile
  demo/docker/test1.Dockerfile
  docker-compose.full.yml
  mise-tasks/profile-reloads
  router/__schemas/graph.yaml
  router/core/context.go
  router/core/graph_server.go
  router/core/graph_server_test.go
  router/core/reload_persistent_state.go
  router/debug.config.yaml
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

fix: docs
  demo/pkg/subgraphs/availability/subgraph/schema.graphqls
  docs/entity-caching/README.md
  docs/entity-caching/first-request.png
  docs/entity-caching/second-request.png
Due: none

fix: doc updates
  demo/pkg/subgraphs/availability/subgraph/schema.graphqls
  docs/entity-caching/README.md
Due: none

chore: update base path and add some comments
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/test/graph/federated-graph/fetch.test.ts
Due: cli

chore: add normalization util for feature flag name
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/fetch.ts
  cli/src/commands/router/utils.ts
  cli/test/router/utils.test.ts
Due: cli

chore: reject feature flags with invalid names
  cli/src/commands/router/utils.ts
  cli/test/router/utils.test.ts
Due: cli

chore: propose @openfed__queryCache rfc
  rfc/openfed__queryCache-v1.md
Due: none
