Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore(release): Publish [skip ci]
  aws-lambda-router/CHANGELOG.md
  aws-lambda-router/package.json
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  graphqlmetrics/CHANGELOG.md
  graphqlmetrics/package.json
  keycloak/CHANGELOG.md
  keycloak/package.json
  router-plugin/CHANGELOG.md
  router-plugin/package.json
  router/CHANGELOG.md
  router/package.json
Due: router, cli, graphqlmetrics, controlplane

feat: add a custom module to propagate headers from subgraphs to federated response
  router-tests/modules/cache-tags/module.go
  router-tests/modules/cache_tags_test.go
Due: none

feat(router): add `BeforeEventsDispatch` Custom Module (#3102)
  docs-website/docs.json
  docs-website/router/configuration.mdx
  docs-website/router/cosmo-streams/custom-modules.mdx
  docs-website/router/cosmo-streams/custom-modules/before-events-dispatch.mdx
  docs-website/router/cosmo-streams/custom-modules/on-receive-event.mdx
  router-tests/modules/before-events-dispatch/module.go
  router-tests/modules/streams_before_events_dispatch_test.go
  router-tests/modules/streams_on_received_event_test.go
  router/core/factoryresolver.go
  router/core/router.go
  router/core/router_config.go
  router/core/subscriptions_modules.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_event_updater.go
  router/pkg/pubsub/datasource/subscription_event_updater_beforeeventsdispatch_test.go
  router/pkg/pubsub/datasource/subscription_event_updater_onreceiveevents_test.go
  router/pkg/pubsub/datasource/subscription_event_updater_test.go
Due: router

also verify hub's user is linked to the current Cosmo identity, the missing link that leaves the organization list empty
  scripts/ei-demo/lib.sh
Due: none

add testing instructions for running the demo on a machine that already has cosmo and hub set up
  scripts/ei-demo/TESTING.md
Due: none

restore the demo backups through the postgres containers, since a local psql install is not a given
  scripts/ei-demo/TESTING.md
Due: none

pin each keycloak to its own postgres, refuse recovery on an unreadable realm list, and stop a failed drop or group delete from passing as success
  Makefile
  scripts/ei-demo/RUNBOOK.md
  scripts/ei-demo/bootstrap-entity-intelligence-demo.sh
  scripts/ei-demo/keycloak.sh
  scripts/ei-demo/start.sh
Due: none

seed the demo identity into hub's keycloak, the only one the demo uses, and delete the identity remap and database recovery that existed to paper over the split
  scripts/ei-demo/RUNBOOK.md
  scripts/ei-demo/bootstrap-entity-intelligence-demo.sh
  scripts/ei-demo/keycloak.sh
Due: none

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

tell a stale identity-provider link apart from a missing one, since rebuilding skips users that already have any link
  scripts/ei-demo/lib.sh
Due: none

pin the keycloak database host from the shared library so a later infra bring-up cannot silently recreate the container back onto the ambiguous name
  scripts/ei-demo/RUNBOOK.md
  scripts/ei-demo/bootstrap-entity-intelligence-demo.sh
  scripts/ei-demo/lib.sh
Due: none

stop starting cosmo's keycloak for the demo, which authenticates entirely against hub's
  scripts/ei-demo/bootstrap-entity-intelligence-demo.sh
  scripts/ei-demo/start.sh
Due: none

stop a run from silently producing a demo without Entity Intelligence when hub is already running, and keep the database host pinned in the commands the error messages suggest
  scripts/ei-demo/align-hub-identity.sh
  scripts/ei-demo/bootstrap-entity-intelligence-demo.sh
  scripts/ei-demo/lib.sh
Due: none

name a drifted keycloak client secret instead of failing with a bare invalid_client, and stop giving up on demo traffic while the router is still compiling
  scripts/ei-demo/lib.sh
  scripts/ei-demo/start.sh
Due: none

let the Entity Intelligence abort actually print its guidance instead of dying silently under set -e, and make the identity-provider repair command paste-able
  scripts/ei-demo/bootstrap-entity-intelligence-demo.sh
  scripts/ei-demo/lib.sh
Due: none

docs: explain what the entity intelligence demo script does and why
  scripts/ei-demo/README.md
  scripts/ei-demo/RUNBOOK.md
Due: none

fix: incorrect connection stats for reused muxes
  router-tests/telemetry/connection_metrics_hot_reload_test.go
  router/core/graph_server.go
  router/core/graph_server_test.go
  router/core/router.go
  router/pkg/metric/connection_pool_stats.go
  router/pkg/metric/oltp_connection_metric_store.go
  router/pkg/metric/prom_connection_metric_store.go
Due: router

docs: add getting started steps and login details to the entity intelligence demo readme
  scripts/ei-demo/README.md
Due: none

docs: note the toolchain and ports the entity intelligence demo needs
  scripts/ei-demo/README.md
Due: none

docs: say how to open entity intelligence after the demo finishes
  scripts/ei-demo/TESTING.md
Due: none

docs: link the demo docs to each other and point existing dev machines at the testing guide
  scripts/ei-demo/README.md
  scripts/ei-demo/TESTING.md
Due: none

point at the demo docs before the run starts rewriting local state
  scripts/ei-demo/start.sh
Due: none

fix: executable directive definitions missing in client schema
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/federation-factory.test.ts
Due: composition

fix: revert formatting
  .github/workflows/controlplane-ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/dummy-ci.yaml
  .github/workflows/keycloak-ci.yaml
  .github/workflows/otelcollector-ci.yaml
  .github/workflows/release.yaml
  connect/src/wg/cosmo/common/common_pb.ts
  connect/src/wg/cosmo/node/v1/node-NodeService_connectquery.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  connect/src/wg/cosmo/notifications/events_pb.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  demo/pkg/subgraphs/courses/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/mapping.json
Due: none

fix: revert formatting #2
  .github/workflows/controlplane-ci.yaml
  .github/workflows/deploy.yaml
  .github/workflows/dummy-ci.yaml
  .github/workflows/keycloak-ci.yaml
  .github/workflows/otelcollector-ci.yaml
  .github/workflows/release.yaml
  controlplane/migrations/meta/0144_snapshot.json
  controlplane/migrations/meta/0145_snapshot.json
  controlplane/migrations/meta/0146_snapshot.json
  controlplane/migrations/meta/0147_snapshot.json
  controlplane/migrations/meta/_journal.json
  demo/pkg/subgraphs/courses/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/mapping.json
  helm/cosmo/README.md
  router/demo.config.yaml
  router/docs/Profiling.md
Due: router, controlplane

chore: improve
  router-tests/telemetry/connection_metrics_hot_reload_test.go
Due: none

chore: improve
  router/core/graph_server_test.go
  router/core/router.go
Due: router

test: execution directive without usages
  composition/tests/v1/federation-factory.test.ts
Due: composition

test: executable directives not present if declarations are not in all subgraphs
  composition/tests/v1/federation-factory.test.ts
Due: composition

fix: executable directive definitions missing in client schema (#3123)
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/federation-factory.test.ts
Due: composition

chore(deps): bump tar from 7.5.11 to 7.5.21
  pnpm-lock.yaml
Due: none

chore: add tests for nullable lists on required fields
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

chore: record max connections on each graph server creation
  router/core/graph_server.go
  router/core/graph_server_test.go
  router/core/router.go
  router/pkg/metric/connection_metric_store.go
  router/pkg/metric/oltp_connection_metric_store.go
  router/pkg/metric/prom_connection_metric_store.go
Due: router

chore: improve naming
  router/core/router.go
Due: router

feat: fix bug
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
Due: none

chore: assert full message type in tests
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

fix: formatting
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

chore: more tests
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

chore: modify test to assert on added call site only
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

chore: remove useless comments
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
