Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: tests
  router-tests/error_handling_test.go
  router-tests/http_subscriptions_test.go
  router-tests/modules/failing-writer/module.go
Due: none

fix: update Apollo GraphQL client header names for consistency
  router/pkg/config/config.schema.json
Due: router

fix: tests
  router-tests/error_handling_test.go
Due: none

fix: review comments
  router-tests/error_handling_test.go
  router-tests/header_propagation_test.go
  router-tests/modules/failing-writer/module.go
  router/core/errors.go
Due: router

fix: review comments
  router-tests/error_handling_test.go
  router-tests/header_propagation_test.go
  router-tests/modules/failing-writer/module.go
Due: none

fix: updates
  router-tests/error_handling_test.go
  router/core/errors.go
Due: router

fix: review comments
  router-tests/error_handling_test.go
Due: none

fix: update Apollo GraphQL client header names for consistency (#2493)
  router/pkg/config/config.schema.json
Due: router

fix: vulnerabilities
  cli/package.json
  cli/src/commands/mcp/tools/dream-query-workflow.ts
  cli/src/commands/mcp/tools/federated-graph-tools.ts
  cli/src/commands/mcp/tools/get-subgraphs.ts
  cli/src/commands/mcp/tools/introspect-subgraph.ts
  cli/src/commands/mcp/tools/list-subgraphs.ts
  cli/src/commands/mcp/tools/schema-change-proposal-workflow.ts
  cli/src/commands/mcp/tools/search-docs.ts
  cli/src/commands/mcp/tools/subgraph-verify-schema-changes.ts
  cli/src/commands/mcp/tools/supergraph_changelog.ts
  cli/src/commands/mcp/tools/verify-query-against-in-memory-schema.ts
  cli/src/commands/mcp/tools/verify-query-against-remote-schema.ts
  cli/src/commands/mcp/tools/verify-router-config.ts
  package.json
  pnpm-lock.yaml
Due: cli

fix: zod version
  cli/package.json
  cli/src/commands/mcp/tools/list-subgraphs.ts
  cli/src/commands/mcp/tools/schema-change-proposal-workflow.ts
  controlplane/package.json
  package.json
  pnpm-lock.yaml
  studio/package.json
Due: cli, studio, controlplane

rename for the engine with actual costs
  router-tests/security_test.go
  router/core/context.go
  router/core/executor.go
  router/core/operation_planner.go
  router/core/operation_processor.go
Due: router

chore: implement abstract selection rewriting
  protographic/src/abstract-selection-rewriter.ts
  protographic/tests/abstract-selection-rewriter/01-basics.test.ts
Due: none

chore: index won't be undefined
  protographic/src/abstract-selection-rewriter.ts
Due: none

feat: max number of persistent operations per request (#2477)
  cli/src/commands/operations/commands/push.ts
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/test/persisted-operations.test.ts
Due: cli, controlplane

chore: fix typo
  protographic/src/abstract-selection-rewriter.ts
Due: none

chore: remove duplicated type
  protographic/src/operations/type-mapper.ts
Due: none

chore: remove other duplicate map
  protographic/src/operations/type-mapper.ts
Due: none

fix: wait cleanup
  router/core/restart_switchover_config.go
Due: router

chore: fixes
  protographic/src/abstract-selection-rewriter.ts
Due: none

chore: implement recursive handling for rewriting subselections
  protographic/src/abstract-selection-rewriter.ts
  protographic/tests/abstract-selection-rewriter/02-advanced.test.ts
Due: none

chore: add more tests
  protographic/tests/abstract-selection-rewriter/02-advanced.test.ts
Due: none

feat: improve memory management by optimizing server state handling and reducing timeouts
  router-tests/go.mod
  router-tests/go.sum
  router/core/http_server.go
  router/core/router.go
  router/go.mod
  router/go.sum
Due: router

chore: merge main
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/projects/generated/service.proto
  router-tests/go.mod
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/pkg/pubsub/kafka/engine_datasource.go
  router/pkg/pubsub/kafka/engine_datasource_factory_test.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/nats/engine_datasource_factory_test.go
  router/pkg/pubsub/redis/engine_datasource.go
  router/pkg/pubsub/redis/engine_datasource_factory_test.go
Due: router

chore: nested inline fragments should only allow parent resolution
  protographic/src/abstract-selection-rewriter.ts
  protographic/tests/abstract-selection-rewriter/02-advanced.test.ts
Due: none

chore: more tests
  protographic/tests/abstract-selection-rewriter/02-advanced.test.ts
Due: none

fix: refactoring
  router-tests/cache_warmup_test.go
  router/cmd/main.go
  router/core/cache_warmup_plans.go
  router/core/graph_server.go
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
  router/core/router.go
  router/core/supervisor.go
  router/core/supervisor_instance.go
Due: router

fix: review comments
  router/core/reload_persistent_state.go
Due: router

chore: remove unused headerPropagation field from router configuration
  router/core/router_config.go
Due: router

test: fix mock event matching in engine datasource factory test
  router/pkg/pubsub/nats/engine_datasource_factory_test.go
Due: router

chore: improve
  composition/ARCHITECTURE.md
  composition/README.md
  composition/src/errors/errors.ts
  composition/src/schema-building/utils.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/strings.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types.ts
  composition/tests/v1/directives/cost.test.ts
  composition/tests/v1/directives/listSize.test.ts
  composition/tests/v1/utils/utils.ts
Due: composition

chore: fix diagram
  composition/ARCHITECTURE.md
Due: composition

chore: validate that directives dont appear in client schema
  composition/tests/v1/directives/cost.test.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

chore: address PR feedback
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

chore: add more tests
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cost.test.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

chore(protographic): add dominik to protographic codeowners (#2487)
  .github/CODEOWNERS
Due: none
