Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: update dependencies to use catalog references
  cli/package.json
  connect/package.json
  controlplane/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  protographic/package.json
  shared/package.json
  studio/package.json
Due: cli, studio, controlplane

fix: tests
  cli/src/commands/clients/commands/delete.ts
  cli/src/commands/clients/commands/list.ts
  cli/src/commands/feature-flag/commands/list.ts
  cli/src/commands/graph/federated-graph/commands/list.ts
  cli/src/commands/graph/monograph/commands/list.ts
  cli/src/commands/namespace/commands/list.ts
  cli/src/commands/subgraph/commands/list.ts
  cli/src/handle-check-result.ts
  cli/src/handle-composition-result.ts
  cli/src/utils.ts
  controlplane/test/onboarding/onboarding.test.ts
Due: cli, controlplane

chore: validate that the output directory is empty
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/test/router/compose.test.ts
Due: cli

fix: encode organizationSlug in router replace for settings navigation
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

bump to 2.5.0
  router-tests/go.mod
  router-tests/go.sum
  router-tests/security/costs_test.go
  router/go.mod
  router/go.sum
Due: router

fix(cli): correctly pass batch publish job status (#2977)
  cli/src/commands/subgraph/utils/poll-batch-publish-status.ts
Due: cli

feat: enable to ignore cost weights on implementing types (#2976)
  router-tests/go.mod
  router-tests/go.sum
  router-tests/security/costs_test.go
  router/core/executor.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_full.json
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  router/CHANGELOG.md
  router/package.json
Due: router, cli

fix(composition): propagate composed directives regardless of subgraph order
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/compose-directive.test.ts
Due: composition

fix(composition): propagate composed directives regardless of subgrap… (#2981)
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/compose-directive.test.ts
Due: composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

test(composition): add failing test for @composeDirective isReferenced reset
  composition/tests/v1/directives/compose-directive.test.ts
Due: composition

feat(composition): @openfed__requestScoped directive
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/router-configuration/types.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/request-scoped.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router, composition

feat(composition): @openfed__cacheInvalidate directive
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cache-invalidate.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router, composition

feat(composition): @openfed__entityCache directive
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/constants/type-nodes.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/entity-cache.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router, composition

feat(composition): @openfed__cachePopulate directive
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cache-populate.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router, composition

feat(composition): @openfed__queryCache and @openfed__is directives
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/utils/utils.ts
  composition/tests/v1/directives/entity-cache.test.ts
  composition/tests/v1/directives/query-cache.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
  shared/test/entity-caching.test.ts
Due: router, composition

fix(composition): use OPENFED_-prefixed directive name constants and add createSubgraphWithDefault test helper
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/utils/utils.ts
  composition/tests/v1/directives/entity-cache.test.ts
Due: composition

fix(composition): OPENFED_ constants, final directive tests, createSubgraphWithDefault helper
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/utils/utils.ts
  composition/tests/v1/directives/entity-cache.test.ts
Due: composition

fix(composition): prettier formatting
  composition/tests/v1/directives/query-cache.test.ts
  shared/test/entity-caching.test.ts
Due: composition

fix(shared): prettier formatting
  shared/src/router-config/builder.ts
Due: none

fix: review comments
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

chore: evaluate correct error in if statements
  router/pkg/metric/metric_store.go
Due: router

fix(router): accept JSON content type with parameters in MCP requests
  router-tests/go.mod
  router-tests/go.sum
  router-tests/protocol/mcp_test.go
  router/go.mod
  router/go.sum
Due: router

fix: pagination in proposals page
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
  controlplane/test/proposal/proposal-data-isolation.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/index.tsx
Due: studio, controlplane

test(router): use bytes.NewReader for MCP request bodies
  router-tests/protocol/mcp_test.go
Due: none

fix: flush shared meter providers before initiating shutdown
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/pkg/metric/connection_metric_store.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/oltp_connection_metric_store.go
  router/pkg/metric/oltp_stream_metric_store.go
  router/pkg/metric/prom_connection_metric_store.go
  router/pkg/metric/stream_metric_store.go
Due: router

chore: fix join error
  router/pkg/metric/oltp_connection_metric_store.go
  router/pkg/metric/prom_metric_store.go
Due: router

fix(router): prevent NATS durable consumer from dropping replayed messages on re-subscribe
  router/core/websocket.go
  router/pkg/pubsub/nats/adapter.go
Due: router

test(router): add deterministic tests for nats durable consumer cancellation
  router/.mockery.yml
  router/pkg/pubsub/nats/adapter_consume_test.go
  router/pkg/pubsub/nats/mocks_jetstream.go
Due: router

fix(router): nak and continue on nats subscription cancellation
  router/pkg/pubsub/nats/adapter.go
Due: router

fix(composition): composed directive versions should not override directive use
  composition/src/schema-building/utils.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/compose-directive.test.ts
Due: composition
