Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat(connectrpc): add GraphQL error handling with Relay classification
  router/go.mod
  router/go.sum
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_error_test.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/proto_loader_test.go
Due: router

removing pointless tests
  router-tests/connectrpc_test.go
  router/pkg/config/connectrpc_test.go
Due: router

fixing ports
  router/pkg/connectrpc/README.md
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/server_test.go
Due: router

fixing broken tests
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/server_lifecycle_test.go
Due: router

test: assert exact concurrency behavior in connectrpc server lifecycle test
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
Due: none

fix(connectrpc): use batch parsing with root import paths to resolve proto imports correctly
  router/pkg/connectrpc/proto_loader.go
Due: router

refactor(connectrpc): remove dynamic mode, use predefined operations only
  router/core/router.go
  router/core/supervisor_instance.go
  router/pkg/connectrpc/README.md
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/operation_builder.go
  router/pkg/connectrpc/operation_builder_test.go
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/proto_loader_test.go
  router/pkg/connectrpc/selection_generator.go
  router/pkg/connectrpc/selection_generator_test.go
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/server_lifecycle_test.go
  router/pkg/connectrpc/server_test.go
  router/pkg/connectrpc/vanguard_service.go
  router/pkg/connectrpc/vanguard_service_test.go
Due: router

moving files around
  router-tests/connectrpc/connectrpc_client_test.go
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc/connectrpc_test.go
  router-tests/connectrpc/connectrpc_test_helpers.go
Due: none

missing go.sum for dependencies
  router-tests/go.mod
  router-tests/go.sum
Due: none

feat(connectrpc): add Vanguard service wrapper
  router/go.mod
  router/go.sum
  router/pkg/connectrpc/vanguard_service.go
  router/pkg/connectrpc/vanguard_service_test.go
Due: router

remove the legacy prefix stripping logic
  router/pkg/connectrpc/handler.go
Due: router

coderabbitai
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/samples/services/employee.v1/service.proto
Due: router

refactoring server lifecycle test
  router-tests/connectrpc_client_test.go
  router-tests/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc_test.go
  router-tests/connectrpc_test_helpers.go
  router/pkg/connectrpc/server_lifecycle_test.go
  router/pkg/connectrpc/server_test.go
Due: router

refactor(connectrpc): simplify selection generator and add test docs
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/selection_generator.go
  router/pkg/connectrpc/selection_generator_test.go
Due: router

perf(connectrpc): pre-generate operations at startup
  router/core/router.go
  router/core/router_config.go
  router/pkg/connectrpc/README.md
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/operation_registry.go
  router/pkg/connectrpc/proto_loader_test.go
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/server_lifecycle_test.go
  router/pkg/connectrpc/server_test.go
  router/pkg/connectrpc/testdata/employee_only/employee.proto
  router/pkg/connectrpc/testdata/examples/product_service.proto
  router/pkg/connectrpc/testdata/examples/user_service.proto
  router/pkg/connectrpc/vanguard_service_test.go
Due: router

refactor(connectrpc): use custom registry instead of global protoregistry
  router/pkg/config/config.schema.json
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/vanguard_service.go
Due: router

test(connectrpc): add comprehensive unit tests for operation registry
  router/pkg/connectrpc/operation_registry_test.go
Due: router

refactor and addressing PR review comments
  protographic/src/operation-to-proto.ts
  router-tests/connectrpc/README.md
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/testdata/connectrpc/README.md
  router-tests/testdata/connectrpc/buf.gen.yaml
  router-tests/testdata/connectrpc/client/employee.v1/employeev1connect/service.connect.go
  router-tests/testdata/connectrpc/client/employee.v1/service.pb.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/connectrpc_test.go
  router/pkg/connectrpc/constructor_validation_test.go
  router/pkg/connectrpc/error_handling_test.go
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/operation_registry.go
  router/pkg/connectrpc/operation_registry_test.go
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/samples/service.graphqls
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/server_test.go
  router/pkg/connectrpc/service_discovery.go
  router/pkg/connectrpc/service_discovery_test.go
  router/pkg/connectrpc/test_helpers.go
  router/pkg/connectrpc/validator.go
  router/pkg/connectrpc/vanguard_service.go
  router/pkg/connectrpc/vanguard_service_test.go
  router/pkg/httputil/headers.go
  router/pkg/mcpserver/server.go
Due: router

docs: clarify proto generation constraints and improve ConnectRPC logging
  cli/src/commands/grpc-service/commands/generate.ts
  protographic/src/operation-to-proto.ts
  router/pkg/connectrpc/server.go
Due: router, cli

Update router/pkg/connectrpc/operation_registry.go
  router/pkg/connectrpc/operation_registry.go
Due: router

formatting the config file
  router/pkg/config/config.go
Due: router

fix(router): prevent resource leak when server initialization fails
  router/core/router.go
Due: router

test: defer ts.Close() after creating test server for explicit cleanup
  router-tests/connectrpc/connectrpc_client_test.go
Due: none

fix(protographic): track nested messages independently in lock file
  protographic/src/operations/proto-field-options.ts
  protographic/src/operations/proto-text-generator.ts
  protographic/src/operations/request-builder.ts
Due: none

linting
  router/pkg/connectrpc/operation_registry_test.go
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/vanguard_service.go
Due: router

chore: docs for the purpose of the vanguard service
  router/pkg/connectrpc/vanguard_service.go
Due: router

remove duplicate functions
  router/pkg/connectrpc/connect_util.go
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/operation_registry.go
  router/pkg/connectrpc/vanguard_service.go
Due: router

fix(connectrpc): handle header casing in SkippedHeaders check
  router/pkg/connectrpc/handler.go
Due: router

fix(connectrpc): handle _UNSPECIFIED enum values by omitting them from GraphQL requests
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
Due: router

fix: supporting cors in the connectrpc server
  router/core/router.go
  router/pkg/connectrpc/server.go
Due: router

feat(protographic): support GraphQL variable name field options
  protographic/src/operations/proto-field-options.ts
  protographic/src/operations/proto-text-generator.ts
  protographic/src/operations/request-builder.ts
Due: none

refactor(router): use protocompile directly instead of jhump/protoreflect in connectrpc
  router/go.mod
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/validator.go
Due: router

removing pointless tests
  router/pkg/connectrpc/error_handling_test.go
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
Due: router

fix: empty strings should be propagated, not omitted like UNSPECIFIED
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/testdata/test.proto
Due: router

chore: update connect-go dependency
  router-tests/go.mod
  router-tests/go.sum
Due: none

refactor: remove unused statusCode field from responseWriter
  router/pkg/connectrpc/server.go
Due: router

addressing security issue
  router/pkg/connectrpc/handler.go
Due: router

refactor(connectrpc): make OperationRegistry immutable
  router/pkg/connectrpc/constructor_validation_test.go
  router/pkg/connectrpc/error_handling_test.go
  router/pkg/connectrpc/helpers_test.go
  router/pkg/connectrpc/operation_loader.go
  router/pkg/connectrpc/operation_registry.go
  router/pkg/connectrpc/operation_registry_test.go
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/vanguard_service_test.go
Due: router

fix: as field option extension is embedded, we cannot provide fully qualified name
  proto/com/wundergraph/connectrpc/options/v1/annotations.proto
  protographic/src/operations/proto-field-options.ts
  protographic/src/operations/proto-text-generator.ts
Due: none

feat(connectrpc): add GraphQL variable name field option
  proto/com/wundergraph/connectrpc/options/v1/annotations.proto
Due: none
