Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

test(cli): cover mTLS client certificates
  cli/test/mtls.test.ts
Due: cli

feat(cli): support mTLS client certificates
  cli/.env.example
  cli/src/commands/index.ts
  cli/src/core/client/client.ts
  cli/src/core/config.ts
  cli/src/core/telemetry.ts
Due: cli

chore: fix ts error in `enable-split-config-loading.ts`
  controlplane/src/bin/enable-split-config-loading.ts
  controlplane/src/bin/get-config.ts
Due: controlplane

refactor(router): move SHA256 ID check out of PQL manifest handling
  router/core/cache_warmup_manifest.go
  router/core/cache_warmup_manifest_test.go
  router/core/operation_processor.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/client_test.go
  router/internal/persistedoperation/operation_id.go
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/internal/persistedoperation/pqlmanifest/store_test.go
Due: router

fix(studio): read namespace from querystring on top-level pages
  studio/src/__tests__/workspace-provider.test.tsx
  studio/src/components/dashboard/workspace-provider.tsx
Due: studio

fix(studio): read namespace from querystring on top-level pages (#3315)
  studio/src/__tests__/workspace-provider.test.tsx
  studio/src/components/dashboard/workspace-provider.tsx
Due: studio

chore: update helm docs and prepare release
  helm/cosmo/README.md
Due: none

feat(router): support custom persisted operation IDs (#3282)
  docs-website/router/persisted-queries/persisted-operations.mdx
  router-tests/operations/custom_operation_ids_test.go
  router-tests/operations/persisted_operations_test.go
  router-tests/operations/pql_manifest_test.go
  router-tests/subscriptions/websocket_test.go
  router/core/cache_warmup.go
  router/core/cache_warmup_manifest.go
  router/core/cache_warmup_manifest_test.go
  router/core/custom_operation_ids_test.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/persisted_operation_manifest_test.go
  router/core/websocket.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/client_test.go
  router/internal/persistedoperation/operation_id.go
  router/internal/persistedoperation/operationstorage/cache.go
  router/internal/persistedoperation/operationstorage/cache_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  router/CHANGELOG.md
  router/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio

fix(router): honor persisted operation cache hits during warmup (#3291)
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/testdata/cache_warmup/json_po_cache_hit/graphql.json
  router/core/cache_warmup.go
  router/core/cache_warmup_planning_test.go
Due: router

test(router): remove deprecated WebSocket poller config test
  router/pkg/config/config_test.go
Due: router

fix: update helm docs
  helm/cosmo/README.md
Due: none

feat(router): drain keep-alive connections before shutdown (drain_period)
  router/core/http_server.go
  router/core/http_server_test.go
  router/core/router.go
  router/core/supervisor.go
  router/core/supervisor_drain_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: remove emojis from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: update PR template (#3318)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

test(router): reproduce response cache tag index races
  router/pkg/responsecaching/cache/redis/dangling_stress_test.go
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/redis_test.go
Due: router

fix(router): keep response cache tag index consistent under concurrency
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/redis_test.go
Due: router

chore: update test
  router-tests/protocol/grpc_subgraph_test.go
Due: none

chore: temporary engine commit
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(router): finish interrupted response cache invalidations
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/redis.go
Due: router

fix(router): bound response cache entries orphaned by a dying writer
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/redis.go
Due: router

fix: updates
  router/pkg/responsecaching/cache/redis/dangling_stress_test.go
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/redis_test.go
Due: router

perf(router): cut response cache tagged writes to two round trips
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/redis.go
Due: router

fix(router): give every response cache tag a pending set
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/redis_test.go
Due: router

refactor(router): escape every response cache tag the same way
  router-tests/operations/response_cache_test.go
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/redis.go
Due: router

chore: reduce change log chunk size and parallelize, remove unnecessary method
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

chore: delete duplicate insert statement
  controlplane/src/core/repositories/FederatedGraphRepository.ts
Due: controlplane

changed scale plan pricing to custom
  controlplane/src/bin/billing.json
Due: controlplane

fix(router): allow printable ASCII persisted operation IDs
  docs-website/router/persisted-queries/persisted-operations.mdx
  router-tests/operations/custom_operation_ids_test.go
  router/core/custom_operation_ids_test.go
  router/core/operation_processor.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/cdn/client_test.go
  router/internal/persistedoperation/operationstorage/fs/client_test.go
  router/internal/persistedoperation/operationstorage/s3/client_test.go
Due: router

test(router): remove redundant storage ID round-trip tests
  router/internal/persistedoperation/operationstorage/cdn/client_test.go
  router/internal/persistedoperation/operationstorage/fs/client_test.go
  router/internal/persistedoperation/operationstorage/s3/client_test.go
Due: router

fix(router): shorten persisted operation ID validation error
  router/core/custom_operation_ids_test.go
  router/core/operation_processor.go
Due: router

fix(router): clarify custom ID validation message
  router/core/custom_operation_ids_test.go
  router/core/operation_processor.go
Due: router

docs(router): remove redundant operation ID example
  docs-website/router/persisted-queries/persisted-operations.mdx
Due: none

chore: fix cache key
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

refactor(router): keep tag index members through invalidation
  router-tests/operations/response_cache_test.go
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/redis_test.go
  router/pkg/responsecaching/cache/redis/tag_index_test.go
Due: router

fix(router): keep response cache tag keys alive past their entries by the prune grace
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/tag_index_test.go
Due: router

Updated Stripe billing
  controlplane/src/core/services/BillingService.ts
Due: controlplane

feat(router): mark invalidated tag members and sweep them a minute later
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/redis.go
Due: router

feat: improve subgraph publish performance (#3312)
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

fix(router): stamp and age response cache tag marks by redis's clock
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/redis.go
Due: router
