Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: circuit breaker tests
  router-tests/security/circuit_breaker_test.go
Due: none

fix: tests
  router/internal/retrytransport/retry_transport.go
Due: router

fix: tests
  router-tests/security/circuit_breaker_test.go
Due: none

fix: fix organization data tracking
  studio/src/lib/track.ts
Due: studio

test(mcp): expand OAuth scope E2E tests and add debug tooling
  client-tests/mcp-ts/mcp-debug-proxy.mjs
  client-tests/mcp-ts/mcp.test.config.yaml
  client-tests/mcp-ts/src/__tests__/McpOAuthScopes.test.ts
  router-tests/cmd/oauth-server/main.go
Due: none

test(mcp): add MCP OAuth E2E test project files
  client-tests/mcp-ts/package-lock.json
  client-tests/mcp-ts/package.json
  client-tests/mcp-ts/tsconfig.json
  client-tests/mcp-ts/vitest.config.ts
Due: none

fix: update debug proxy description to be client-agnostic
  client-tests/mcp-ts/mcp-debug-proxy.mjs
Due: none

fix: change failed query to debug instead of warn (#2745)
  router/internal/requestlogger/requestlogger.go
Due: router

chore: improve `getFeatureSubgraphsByFederatedGraph` performance
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
Due: studio, controlplane

fix: log refactoring
  router/core/cache_warmup.go
  router/core/cache_warmup_test.go
Due: router

fix: rename organizationSlug to organizationId in telemetry and related files
  cli/src/core/telemetry.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/organization/whoAmI.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/lib/track.ts
Due: cli, studio, controlplane

fix: regenerate go files from proto
  connect-go/gen/proto/wg/cosmo/common/common.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
  connect-go/gen/proto/wg/cosmo/notifications/events.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
Due: none

chore: small fixes
  controlplane/src/core/bufservices/feature-flag/getFeatureSubgraphsByFederatedGraph.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

chore: linting
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

feat(studio): make apollo migration row a button in graphs empty state
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

chore: remove unused comment
  controlplane/src/core/repositories/FeatureFlagRepository.ts
Due: controlplane

rename flush writer
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
Due: router

fix: make cache warmer debug logs info logs (#2746)
  router/core/cache_warmup.go
  router/core/cache_warmup_test.go
Due: router

update failing fixtures
  router-tests/testdata/queries_defer/products_defer_01_single_defer.txt
  router-tests/testdata/queries_defer/products_defer_01_single_defer_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_02_single_defer_between_regular.txt
  router-tests/testdata/queries_defer/products_defer_02_single_defer_between_regular_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_04_all_fields_deferred.txt
  router-tests/testdata/queries_defer/products_defer_04_all_fields_deferred_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_10_extensive_parallel.txt
  router-tests/testdata/queries_defer/products_defer_10_extensive_parallel_reconstructed.json
Due: none

fix some fixtures use astjson to reconstruct full response
  router-tests/defer_test.go
  router-tests/testdata/queries_defer/findEmployeesNoCriteria_defer_09_duplicated_field_across_defer.txt
  router-tests/testdata/queries_defer/findEmployeesNoCriteria_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/findEmployees_defer_09_duplicated_field_across_defer.txt
  router-tests/testdata/queries_defer/findEmployees_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testenv/testenv.go
Due: none

update fixtures and fix products queries
  router-tests/testdata/queries_defer/employeeDetails_original.graphql
  router-tests/testdata/queries_defer/employee_original.graphql
  router-tests/testdata/queries_defer/employees_original.graphql
  router-tests/testdata/queries_defer/findEmployeesNoCriteria_original.graphql
  router-tests/testdata/queries_defer/findEmployees_original.graphql
  router-tests/testdata/queries_defer/full_original.graphql
  router-tests/testdata/queries_defer/products_defer_01_single_defer.graphql
  router-tests/testdata/queries_defer/products_defer_02_single_defer_between_regular.graphql
  router-tests/testdata/queries_defer/products_defer_03_multiple_fields_deferred.graphql
  router-tests/testdata/queries_defer/products_defer_03_multiple_fields_deferred.txt
  router-tests/testdata/queries_defer/products_defer_04_all_fields_deferred.graphql
  router-tests/testdata/queries_defer/products_defer_05_nested_defer.graphql
  router-tests/testdata/queries_defer/products_defer_05_nested_defer.txt
  router-tests/testdata/queries_defer/products_defer_06_nested_defer_variation.graphql
  router-tests/testdata/queries_defer/products_defer_06_nested_defer_variation.txt
  router-tests/testdata/queries_defer/products_defer_07_parallel_defers.graphql
  router-tests/testdata/queries_defer/products_defer_07_parallel_defers.txt
  router-tests/testdata/queries_defer/products_defer_08_defer_nested_object.graphql
  router-tests/testdata/queries_defer/products_defer_08_defer_nested_object.txt
  router-tests/testdata/queries_defer/products_defer_09_duplicated_field_across_defer.graphql
  router-tests/testdata/queries_defer/products_defer_09_duplicated_field_across_defer.txt
  router-tests/testdata/queries_defer/products_defer_10_extensive_parallel.graphql
  router-tests/testdata/queries_defer/products_defer_11_fragment_around_and_inside.graphql
  router-tests/testdata/queries_defer/products_defer_12_fragment_body_defer.graphql
  router-tests/testdata/queries_defer/products_defer_12_fragment_body_defer.txt
  router-tests/testdata/queries_defer/products_defer_13_fragment_spread_defer.txt
  router-tests/testdata/queries_defer/products_original.graphql
  router-tests/testdata/queries_defer/requires_different_depth_original.graphql
  router-tests/testdata/queries_defer/requires_mood_original.graphql
Due: none

add defer support
  router-tests/defer_test.go
  router-tests/testenv/testenv.go
  router/core/defer_response_writer.go
  router/core/graphql_handler.go
  router/core/operation_processor.go
Due: router

add all reconstructed fixtures
  router-tests/testdata/queries_defer/employeeDetails_defer_03_multiple_fields_deferred_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_05_nested_defer_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_06_nested_defer_variation_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_07_parallel_defers_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/employees_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/employees_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/full_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_03_multiple_fields_deferred_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_05_nested_defer_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_06_nested_defer_variation_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_07_parallel_defers_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_12_fragment_body_defer_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_13_fragment_spread_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_08_defer_nested_object_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_11_fragment_around_and_inside_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_12_fragment_body_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_02_single_defer_between_regular_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_08_defer_nested_object_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_11_fragment_around_and_inside_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_12_fragment_body_defer_reconstructed.json
Due: none

save full structure of defer test
  router-tests/defer_test.go
Due: none

fix incorrect fragment type condition
  router-tests/testdata/queries_defer/full_defer_10_extensive_parallel.txt
  router-tests/testdata/queries_defer/full_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/full_defer_11_fragment_around_and_inside.graphql
  router-tests/testdata/queries_defer/full_defer_11_fragment_around_and_inside.txt
  router-tests/testdata/queries_defer/full_defer_11_fragment_around_and_inside_reconstructed.json
  router-tests/testdata/queries_defer/full_defer_12_fragment_body_defer.graphql
  router-tests/testdata/queries_defer/full_defer_12_fragment_body_defer.txt
  router-tests/testdata/queries_defer/full_defer_12_fragment_body_defer_reconstructed.json
  router-tests/testdata/queries_defer/full_defer_13_fragment_spread_defer.graphql
  router-tests/testdata/queries_defer/full_defer_13_fragment_spread_defer.txt
  router-tests/testdata/queries_defer/full_defer_13_fragment_spread_defer_reconstructed.json
Due: none

fix fixtures for defer sorting fix, fix fragment type condition
  router-tests/testdata/queries_defer/products_defer_10_extensive_parallel.txt
  router-tests/testdata/queries_defer/products_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_11_fragment_around_and_inside.graphql
  router-tests/testdata/queries_defer/products_defer_11_fragment_around_and_inside.txt
  router-tests/testdata/queries_defer/products_defer_11_fragment_around_and_inside_reconstructed.json
Due: none

fix fixtures for same ds requires chain
  router-tests/testdata/queries_defer/requires_different_depth_defer_08_defer_nested_object.txt
  router-tests/testdata/queries_defer/requires_different_depth_defer_08_defer_nested_object_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_09_duplicated_field_across_defer.txt
  router-tests/testdata/queries_defer/requires_different_depth_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_10_extensive_parallel.txt
  router-tests/testdata/queries_defer/requires_different_depth_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_11_fragment_around_and_inside.txt
  router-tests/testdata/queries_defer/requires_different_depth_defer_11_fragment_around_and_inside_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_12_fragment_body_defer.txt
  router-tests/testdata/queries_defer/requires_different_depth_defer_12_fragment_body_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_02_single_defer_between_regular.txt
  router-tests/testdata/queries_defer/requires_mood_defer_02_single_defer_between_regular_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_08_defer_nested_object.txt
  router-tests/testdata/queries_defer/requires_mood_defer_08_defer_nested_object_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_09_duplicated_field_across_defer.txt
  router-tests/testdata/queries_defer/requires_mood_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_10_extensive_parallel.txt
  router-tests/testdata/queries_defer/requires_mood_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_11_fragment_around_and_inside.txt
  router-tests/testdata/queries_defer/requires_mood_defer_11_fragment_around_and_inside_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_12_fragment_body_defer.txt
  router-tests/testdata/queries_defer/requires_mood_defer_12_fragment_body_defer_reconstructed.json
Due: none

add failing todo file
  router-tests/testdata/queries_defer/products_defer_12_fragment_body_defer.graphql.todo
Due: none

TMP: always print query plan
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

tmp: add plan wrapper to generate defer query plans
  router/core/plan_generator.go
Due: router

chore: fix syntax error after rebase
  router/core/operation_planner.go
Due: router
