Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

docs: reviewer guide for federation planner-improvements
  docs/planner-improvements.md
Due: none

build: pin graphql-go-tools planner-improvements commit (router + router-tests)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

docs(adr): decision records for federation planner-improvements
  adr/abstract-empty-selection-set.md
  adr/multi-hop-compound-key-resolvability.md
  adr/provides-on-interface-fieldsets.md
  adr/provides-on-union-fieldsets.md
  adr/requires-field-argument-conflict.md
Due: none

test(router): end-to-end tests for the five federation fixes
  router-tests/protocol/multihop_compound_key_test.go
  router-tests/protocol/provides_interface_test.go
  router-tests/protocol/provides_union_test.go
  router-tests/protocol/requires_argument_conflict_test.go
  router-tests/protocol/split_union_test.go
  router-tests/protocol/testdata/multihop_compound_key/compose.yaml
  router-tests/protocol/testdata/multihop_compound_key/link.graphqls
  router-tests/protocol/testdata/multihop_compound_key/list.graphqls
  router-tests/protocol/testdata/multihop_compound_key/price.graphqls
  router-tests/protocol/testdata/multihop_compound_key/products.graphqls
  router-tests/protocol/testdata/multihop_compound_key_config.json
  router-tests/protocol/testdata/provides_interface_config.json
Due: none

fix(composition): resolve multi-hop compound @key via nested entity gather
  composition/src/resolvability-graph/graph.ts
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

fix(composition): address review feedback
  composition/src/errors/errors.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

docs: address review feedback
  adr/abstract-empty-selection-set.md
  adr/provides-on-union-fieldsets.md
  docs/planner-improvements.md
Due: none

build: bump graphql-go-tools pin to include planner review-feedback fixes
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat(composition): support @provides on fields returning a Union type
  composition/src/ast/utils.ts
  composition/src/errors/errors.ts
  composition/src/schema-building/types/types.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/results.ts
  composition/src/v1/normalization/types/types.ts
  composition/tests/v1/directives/provides.test.ts
Due: composition

chore: fix tests
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix(composition): change how interface field selections are validated in a @provides fieldset
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/types/results.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/params.ts
  composition/src/v1/normalization/types/results.ts
  composition/tests/v1/directives/provides.test.ts
Due: composition

build: bump graphql-go-tools pin to partial-union intersection + child-type-mismatch
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(federation): adopt source-subgraph intersection for split unions (B1 replacement)
  adr/abstract-empty-selection-set.md
  docs/planner-improvements.md
  router-tests/protocol/split_union_test.go
Due: none

update defer audit tests according to changes
  defer-demo/tests/audit/ki-defer-eager-pending-announcement.test.ts
  defer-demo/tests/audit/ki-defer-recoverable-error-drops-defers.test.ts
  defer-demo/tests/audit/ki-defer-recoverable-error-drops-surviving-defer.test.ts
  defer-demo/tests/defer.test.ts
Due: none

chore: cleanup
  apollo-client-test/index.js
  apollo-client-test/package-lock.json
  apollo-client-test/package.json
  apollo-client-test/run.sh
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
Due: router

update fixtures to reflect defer pending announcement format
  router-tests/protocol/testdata/queries_defer/employeeDetails_defer_05_nested_defer.txt
  router-tests/protocol/testdata/queries_defer/employeeDetails_defer_06_nested_defer_variation.txt
  router-tests/protocol/testdata/queries_defer/employee_defer_05_nested_defer.txt
  router-tests/protocol/testdata/queries_defer/employee_defer_06_nested_defer_variation.txt
  router-tests/protocol/testdata/queries_defer/employees_defer_05_nested_defer.txt
  router-tests/protocol/testdata/queries_defer/employees_defer_06_nested_defer_variation.txt
  router-tests/protocol/testdata/queries_defer/findEmployeesNoCriteria_defer_05_nested_defer.txt
  router-tests/protocol/testdata/queries_defer/findEmployeesNoCriteria_defer_06_nested_defer_variation.txt
  router-tests/protocol/testdata/queries_defer/findEmployees_defer_05_nested_defer.txt
  router-tests/protocol/testdata/queries_defer/findEmployees_defer_06_nested_defer_variation.txt
  router-tests/protocol/testdata/queries_defer/full_defer_05_nested_defer.txt
  router-tests/protocol/testdata/queries_defer/full_defer_06_nested_defer_variation.txt
  router-tests/protocol/testdata/queries_defer/requires_different_depth_defer_05_nested_defer.txt
  router-tests/protocol/testdata/queries_defer/requires_different_depth_defer_06_nested_defer_variation.txt
  router-tests/protocol/testdata/queries_defer/requires_mood_defer_05_nested_defer.txt
Due: none

update engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: add warmup tests for defer (#3001)
  demo/run_subgraphs.sh
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/testdata/cache_warmup/defer/employee.graphql
  router/__schemas/graph-with-plugin.yaml
  router/__schemas/graph.yaml
Due: router

feat: make defer configurable (#3002)
  docs-website/router/configuration.mdx
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

return an error when no multipart header was supplied
  router-tests/protocol/defer_test.go
  router/core/defer_response_writer.go
  router/core/errors.go
  router/core/graphql_prehandler.go
Due: router

Add graphql-fs: project a GraphQL SDL onto a navigable file tree
  graphql-fs/.gitignore
  graphql-fs/README.md
  graphql-fs/compare.go
  graphql-fs/go.mod
  graphql-fs/go.sum
  graphql-fs/main.go
  graphql-fs/testdata/monday/RESULTS.md
  graphql-fs/testdata/monday/case01_items_page_filtered/actual.graphql
  graphql-fs/testdata/monday/case01_items_page_filtered/expected.graphql
  graphql-fs/testdata/monday/case01_items_page_filtered/prompt.txt
  graphql-fs/testdata/monday/case02_create_item/actual.graphql
  graphql-fs/testdata/monday/case02_create_item/expected.graphql
  graphql-fs/testdata/monday/case02_create_item/prompt.txt
  graphql-fs/testdata/monday/case03_next_items_page/actual.graphql
  graphql-fs/testdata/monday/case03_next_items_page/expected.graphql
  graphql-fs/testdata/monday/case03_next_items_page/prompt.txt
  graphql-fs/testdata/monday/case04_items_by_column_values/actual.graphql
  graphql-fs/testdata/monday/case04_items_by_column_values/expected.graphql
  graphql-fs/testdata/monday/case04_items_by_column_values/prompt.txt
  graphql-fs/testdata/monday/case05_boards_nested/actual.graphql
  graphql-fs/testdata/monday/case05_boards_nested/expected.graphql
  graphql-fs/testdata/monday/case05_boards_nested/prompt.txt
  graphql-fs/testdata/monday/run.sh
  graphql-fs/tree.go
Due: none

normalize raw defer response to use LF only
  router-tests/protocol/defer_test.go
Due: none

fix introspection fixtures
  router-tests/operations/testdata/introspection/base-graph-schema.json
  router-tests/operations/testdata/introspection/feature-graph-schema.json
Due: none

fix test expectations
  router-tests/protocol/header_set_test.go
  router-tests/security/subgraph_merge_results_test.go
Due: none

skip an additional parallel defer test
  router-tests/protocol/defer_test.go
Due: none

undo engine replaces
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat(studio): posthog cookieless tracking with consent gating
  pnpm-lock.yaml
  studio/package.json
  studio/src/lib/track.ts
  studio/src/pages/_app.tsx
Due: studio

refactor(studio): reactive consent re-identify instead of cached replay
  studio/src/components/app-provider.tsx
  studio/src/hooks/use-analytics-consent.ts
  studio/src/lib/track.ts
  studio/src/pages/_app.tsx
Due: studio

feat(studio): posthog cookieless tracking with consent gating (#3028)
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/app-provider.tsx
  studio/src/hooks/use-analytics-consent.ts
  studio/src/lib/track.ts
  studio/src/pages/_app.tsx
Due: studio

fix non deterministic test
  router-tests/observability/structured_logging_test.go
Due: none

fix schema usage test
  router/pkg/graphqlschemausage/schemausage_test.go
Due: router

feat: add support for feature subgraph checks
  cli/src/commands/subgraph/commands/check.ts
  cli/src/handle-check-result.ts
  cli/src/json-check-schema-output-builder.ts
  cli/test/check-schema.test.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0144_narrow_chat.sql
  controlplane/migrations/meta/0144_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/composition/composeGraphs.pool.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/feature-flag/check-with-feature-flags.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/composed-schema-changes-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/index.tsx
Due: cli, studio, controlplane

chore: add docs
  docs-website/cli/subgraph/check.mdx
  docs-website/studio/schema-checks.mdx
Due: none

chore: drop migrations
  controlplane/migrations/0144_narrow_chat.sql
  controlplane/migrations/meta/0144_snapshot.json
  controlplane/migrations/meta/_journal.json
Due: controlplane

chore: merge migrations
  controlplane/migrations/0145_goofy_rhodey.sql
  controlplane/migrations/meta/0145_snapshot.json
  controlplane/migrations/meta/_journal.json
Due: controlplane

fix: lint
  cli/src/json-check-schema-output-builder.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Due: cli, studio

chore: migrations
  controlplane/migrations/0146_gorgeous_otto_octavius.sql
  controlplane/migrations/meta/0146_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
Due: controlplane

fix: lint
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

fix: handle deletion of feature subgraphs in flag composition logic
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/test/feature-flag/check-with-feature-flags.test.ts
Due: controlplane
