Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

remove odd comment
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
Due: none

feedback
  router/core/websocket.go
Due: router

feat: improve OIDC connection behavior
  controlplane/src/core/bufservices/sso/deleteOIDCProvider.ts
  studio/src/components/check-extensions/check-extensions-config.tsx
  studio/src/components/oidc/connect-oidc-provider-dialog.tsx
  studio/src/components/oidc/disconnect-oidc-provider-dialog.tsx
  studio/src/components/oidc/oidc-card.tsx
  studio/src/components/oidc/oidc-form.tsx
  studio/src/components/oidc/oidc-group-mapper.tsx
  studio/src/components/oidc/oidc-info-dialog.tsx
  studio/src/components/oidc/update-mappers-dialog.tsx
  studio/src/lib/zod.ts
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio, controlplane

chore: linting
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

wip
  router-tests/subscriptions/websocket_test.go
  router/internal/wsproto/subscriptions_transport_ws.go
  speedtrap/scenarios/graphql/proxy/graphqlws/lifecycle.go
Due: router

chore: fix some inconsistencies
  studio/src/components/oidc/oidc-form.tsx
  studio/src/components/oidc/update-mappers-dialog.tsx
Due: studio

fix: formatting
  router/core/websocket.go
  router/pkg/pubsub/datasource/subscription_event_updater_test.go
Due: router

format again
  router-tests/subscriptions/speedtrap_test.go
Due: none

update snapshots
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: fix placeholder typo
  studio/src/components/oidc/oidc-form.tsx
Due: studio

minor cleanup
  router-tests/modules/start_subscription_test.go
  router/pkg/config/config.schema.json
  speedtrap/scenarios/graphql/proxy/PROTOCOL_AMENDMENTS.md
  speedtrap/scenarios/graphql/proxy/ROUTER_BUGS.md
Due: router

wip: docs
  docs-website/docs.json
  docs-website/router/configuration.mdx
  docs-website/router/subgraph-error-propagation.mdx
  docs-website/router/subscriptions-migration.mdx
  docs-website/router/subscriptions.mdx
  docs-website/router/subscriptions/router-configuration-for-subscriptions.mdx
Due: none

feat(router): add TLS support for NATS event source (#2749)
  docs-website/router/configuration.mdx
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_events_nats_test.go
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/nats/provider_builder.go
  router/pkg/pubsub/nats/provider_builder_test.go
Due: router

fix(entity-caching): CI follow-ups — prettier + gqlgen-safe var placement
  composition/src/v1/normalization/normalization-factory.ts
  demo/pkg/subgraphs/cachegraph/subgraph/auth_profiles.go
  demo/pkg/subgraphs/cachegraph/subgraph/schema.resolvers.go
Due: composition

chore: add inline comments
  router-tests/events/nats_tls_test.go
Due: none

chore: add router-tests for testing tls on nats
  router-tests/events/nats_tls_test.go
  router-tests/go.mod
  router-tests/go.sum
Due: none

fix(entity-caching): second round of PR #2777 review items
  PLAN.md
  benchmark/scripts/capture_pprof.sh
  benchmark/scripts/run_suite.test.ts
  benchmark/scripts/run_suite.ts
  benchmark/scripts/stop_stack.sh
  benchmark/scripts/wait_ready.sh
  composition/AGENTS.md
  composition/tests/v1/directives/entity-cache-fuzz.test.ts
  demo/go.mod
  demo/go.sum
  docs/entity-caching/ENTITY_CACHING_DEMO.md
  docs/entity-caching/directives.md
  docs/entity-caching/engineering-brief.md
  router-tests/entity_caching/entity_caching_test.go
  router-tests/entity_caching/harness_test.go
Due: composition

fix(composition): run prettier on AGENTS.md
  composition/AGENTS.md
Due: composition

chore: update routers nats client to v1.50.0
  router/go.mod
  router/go.sum
Due: router

feat: prepare command
  cli/src/commands/clients/commands/list.ts
  cli/src/commands/clients/index.ts
  cli/src/commands/index.ts
Due: cli

feat: onboarding wizard #1 (#2719)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0137_icy_sasquatch.sql
  controlplane/migrations/meta/0137_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/onboarding/createOnboarding.ts
  controlplane/src/core/bufservices/onboarding/finishOnboarding.ts
  controlplane/src/core/bufservices/onboarding/getOnboarding.ts
  controlplane/src/core/bufservices/user/inviteUsers.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
  controlplane/src/db/schema.ts
  controlplane/test/invite-users.test.ts
  controlplane/test/onboarding/onboarding.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

feat: onboarding wizard #2 (#2720)
  studio/README.md
  studio/next.config.mjs
  studio/src/components/app-provider.tsx
  studio/src/components/dashboard/workspace-provider.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/posthog-feature-flag-provider.tsx
  studio/src/hooks/use-onboarding-navigation.ts
  studio/src/hooks/use-onboarding.ts
  studio/src/hooks/use-session-storage.ts
  studio/src/lib/track.ts
  studio/src/pages/_app.tsx
  studio/src/pages/onboarding/[step].tsx
  studio/src/pages/onboarding/index.tsx
Due: studio

feat: restrict onboarding content to max width
  studio/src/components/layout/onboarding-layout.tsx
Due: studio

feat: improve onboarding layout
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/pages/onboarding/[step].tsx
Due: studio

feat: client list command
  cli/src/commands/clients/commands/list.ts
  cli/test/clients-list.test.ts
  docs-website/cli/clients.mdx
  docs-website/cli/clients/list.mdx
  docs-website/docs.json
Due: cli

feat: add stepper
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/onboarding-steps.ts
  studio/src/components/onboarding/stepper.tsx
  studio/src/pages/onboarding/[step].tsx
Due: studio

feat: common layout for the step content
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/onboarding-container.tsx
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/tailwind.config.js
Due: studio

feat: step 1 functionality
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/traffic-animation.tsx
  studio/src/hooks/use-onboarding-navigation.ts
Due: studio

feat: onboarding navigation buttons
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
Due: studio

fix: Handle terminal subscription errors
  router-tests/testenv/testexec.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/core/websocket.go
  router/internal/wsproto/subscriptions_transport_ws.go
Due: router

feat: prepare back-end for deleting clients and related operations
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/persisted-operation/deleteClient.ts
  controlplane/src/core/bufservices/persisted-operation/previewDeleteClient.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/persisted-operations.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

use alias
  composition/src/v1/normalization/types.ts
Due: composition

fix names
  composition-go/index.global.js
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

fix: process poErrors
  router-tests/subscriptions/websocket_test.go
  router/core/websocket.go
Due: router

chore: add new codeowners
  .github/CODEOWNERS
Due: none

chore: fix typo
  .github/CODEOWNERS
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
