Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore: improve error handling in wrapper
  cli/src/commands/router/commands/plugin/commands/init.ts
Due: cli

fix(cli): handle cross device link error on plugin init (#2465)
  cli/src/commands/router/commands/plugin/commands/init.ts
Due: cli

chore: log when token refresh fails
  controlplane/src/core/services/Keycloak.ts
Due: controlplane

fix: planner fixes for abstract selection rewriter, node selection rules (#2457)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

fix: updates
  router/core/restart_switchover_config.go
  router/core/restart_switchover_config_test.go
  router/core/router.go
Due: router

fix: go mod
  router-tests/go.sum
Due: none

fix: update enabled
  router/core/restart_switchover_config.go
Due: router

fix: update enabled
  router/core/graph_server.go
Due: router

fix: review comments
  router/core/restart_switchover_config_test.go
Due: router

fix: review comments
  router/core/graph_server.go
  router/core/restart_switchover_config.go
  router/core/restart_switchover_config_test.go
Due: router

fix: feature flags didnt pass in cosmo flag status
  router/core/graph_server.go
Due: router

fix: nil pointer
  router/core/router.go
Due: router

chore: prevent tokens without expiration from living forever
  controlplane/src/core/services/Keycloak.ts
Due: controlplane

feat(mcp): add OAuth 2.1 authorization with JWT validation and per-tool scopes
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/mcp_auth_e2e_test.go
  router-tests/mcp_auth_harness_example.go
  router-tests/mcp_oauth_e2e_test.go
  router-tests/mcp_test.go
  router-tests/testenv/testenv.go
  router-tests/testutil/auth_helpers.go
  router-tests/testutil/jwt_helper.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/errors.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/schema_compiler.go
  router/pkg/mcpserver/server.go
Due: router

feat(mcp): add per-tool scope verification and random port allocation for tests
  router-tests/mcp_oauth_e2e_test.go
  router-tests/testutil/jwt_helper.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/server.go
Due: router

docs(mcp): clarify error code ranges to avoid JSON-RPC conflicts
  router/pkg/mcpserver/errors.go
Due: router

feat(mcp): migrate to official modelcontextprotocol/go-sdk
  router/go.mod
  router/go.sum
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/server.go
Due: router

feat: make studio image rootless (#2459)
  studio/Dockerfile
  studio/entrypoint.sh
Due: studio

wip: header forwarding
  router/core/engine_loader_hooks.go
  router/core/graph_server.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client.go
  router/pkg/grpcconnector/grpcremote/grpc_remote.go
  router/pkg/grpcconnector/grpcremote/header_interceptor.go
Due: router

feat: include schema version and published proposals in graph update webhook
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
Due: controlplane

fix: filter published proposals by federated graph ID in delete and publish functions
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
Due: controlplane

add test
  controlplane/test/proposal/proposal-webhooks.test.ts
Due: controlplane

feat: improve create graph ux
  studio/src/components/create-graph.tsx
  studio/src/components/ui/tag-input/tag-input.tsx
Due: studio

fix: use the new ristretto version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

add config options
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_planner.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Due: router

fix: formatting
  router-tests/cache_warmup_test.go
  router/core/cache_warmup_cdn.go
  router/core/cache_warmup_plans.go
  router/core/restart_switchover_config.go
  router/core/restart_switchover_config_test.go
Due: router

refactor: optimize federated graph re-fetching in delete and update functions by using Promise.all
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  demo/go.sum
Due: controlplane

fix: review comments
  router/core/restart_switchover_config.go
  router/core/restart_switchover_config_test.go
  router/core/supervisor.go
  router/pkg/config/config.go
Due: router

chore: use unified interface for flush call
  router/core/flushwriter.go
  router/core/graphql_handler.go
Due: router

fix: review comments
  router/core/cache_warmup_plans.go
  router/core/graph_server.go
  router/core/restart_switchover_config.go
Due: router

fix: review comments
  router/core/router.go
Due: router

fix: tests
  router/core/restart_switchover_config_test.go
Due: router

chore: use ignore also in override listing
  studio/src/components/checks/operations.tsx
  studio/src/components/checks/override.tsx
Due: studio

revert go sum update
  demo/go.sum
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
