Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: updates
  router/pkg/responsecaching/cache/redis/invalidation.go
Due: router

fix: tests
  controlplane/test/playground/playground-default-headers.test.ts
Due: controlplane

feat: add more tests
  controlplane/test/playground/playground-default-headers.test.ts
Due: controlplane

feat: add an option to set default headers (#3208)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0148_huge_strong_guy.sql
  controlplane/migrations/meta/0148_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/playground/getPlaygroundDefaultHeaders.ts
  controlplane/src/core/bufservices/playground/updatePlaygroundDefaultHeaders.ts
  controlplane/src/core/repositories/PlaygroundDefaultHeadersRepository.ts
  controlplane/src/core/util.ts
  controlplane/src/db/schema.ts
  controlplane/test/playground/playground-default-headers.test.ts
  docs-website/docs.json
  docs-website/studio/playground/custom-scripts.mdx
  docs-website/studio/playground/default-headers.mdx
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/__tests__/playground-default-headers.test.ts
  studio/src/components/playground/custom-scripts.tsx
  studio/src/components/playground/default-headers/default-headers-dialog.tsx
  studio/src/components/playground/default-headers/header-editor.tsx
  studio/src/lib/playground-headers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio, controlplane

refactor: address review on the schema selector
  studio/src/__tests__/schema-loading.test.ts
  studio/src/components/schema/feature-flag-menu-item.tsx
  studio/src/components/schema/schema-selection.ts
  studio/src/components/schema/schema-selector.tsx
  studio/src/lib/schema-loading.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
Due: studio

fix: select the playground schema by config type
  studio/src/__tests__/schema-loading.test.ts
  studio/src/lib/schema-loading.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

feat: implement ai feature terms acceptance
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0148_bright_red_hulk.sql
  controlplane/migrations/meta/0148_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/organization/acceptFeatureTerms.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/services/PromptToQueryService.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/app-provider.tsx
  studio/src/components/settings/cosmo-ai-terms-of-service.ts
  studio/src/components/settings/cosmo-ai.tsx
  studio/src/components/settings/use-update-feature-settings.ts
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio, controlplane

chore: linting and migration generation
  controlplane/migrations/0149_clever_cerebro.sql
  controlplane/migrations/meta/0149_snapshot.json
  controlplane/migrations/meta/_journal.json
  studio/src/components/settings/cosmo-ai.tsx
Due: studio, controlplane

chore: regenerate proto
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
Due: none

chore: linting
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  controlplane/src/core/repositories/OrganizationRepository.ts
Due: controlplane

feat(router): support custom URL schemes in CORS origins
  docs-website/router/configuration.mdx
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

feat(router): support regex-based CORS origin matching
  docs-website/router/configuration.mdx
  router/core/cors_test.go
  router/core/router.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

test(router): declare CORS cases before test loops
  router/core/cors_test.go
  router/pkg/cors/cors_test.go
Due: router

test(router): use assert for independent CORS error checks
  router/core/cors_test.go
Due: router

refactor(router): simplify regex CORS tests and clarify compilation
  docs-website/router/configuration.mdx
  router/core/cors_test.go
  router/pkg/config/config_test.go
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

feat(router): configure authentication error handling
  docs-website/router/authentication-and-authorization.mdx
  docs-website/router/configuration.mdx
  router-tests/security/token_validation_failure_test.go
  router/core/access_controller.go
  router/core/access_controller_test.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/marshaler.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: contributing doc
  cli/CONTRIBUTING.md
Due: cli

fix: mention contribution doc in readme
  cli/README.md
Due: cli

feat: more information regarding result objects
  cli/CONTRIBUTING.md
Due: cli

fix: document return after setting exit code
  cli/CONTRIBUTING.md
Due: cli

fix: document JSON error output
  cli/CONTRIBUTING.md
Due: cli

fix: typo
  cli/README.md
Due: cli

feat: set minimum package age policy to 72h
  pnpm-workspace.yaml
Due: none

fix: show an empty state for an unresolved feature subgraph in the playground
  studio/src/components/schema/feature-flag-menu-item.tsx
  studio/src/components/schema/schema-selector.tsx
  studio/src/components/schema/schema-type-radio-group.tsx
  studio/src/hooks/use-feature-subgraph-schema.ts
  studio/src/lib/schema-loading.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
Due: studio

ci: test pnpm workspace changes
  .github/workflows/shared-ci.yaml
Due: none

feat: set minimum package age policy to 72h (#3236)
  .github/workflows/shared-ci.yaml
  pnpm-workspace.yaml
Due: none

fix: link CLI contributing
  CONTRIBUTING.md
Due: none

chore: document support of Valkey
  docs-website/router/configuration.mdx
Due: none

chore: split barrel file into individual files
  composition/src/v1/constants/constants.ts
  composition/src/v1/warnings/warnings.ts
  controlplane/src/core/bufservices/organization/acceptFeatureTerms.ts
  studio/src/components/settings/ai/ai-segment.tsx
  studio/src/components/settings/ai/cosmo-ai-segment.tsx
  studio/src/components/settings/ai/cosmo-ai-terms-of-service.ts
  studio/src/components/settings/ai/cosmo-ai.tsx
  studio/src/components/settings/ai/ptq-segment.tsx
  studio/src/components/settings/ai/terms-dialog.tsx
  studio/src/components/settings/cosmo-ai.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio, controlplane, composition

chore: use `useUpdateFeatureSettings` for feature toggling
  studio/src/components/settings/use-update-feature-settings.ts
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

fix: tests
  controlplane/test/prompt-to-query-service.test.ts
Due: controlplane

chore: document support of Valkey (#3237)
  docs-website/router/configuration.mdx
Due: none

chore: describe the cursor design
  rfc/at-least-once-v1.md
Due: none

chore: fixes to the rfc
  rfc/at-least-once-v1.md
Due: none

docs(router): note that WebSocket forwarded payloads become part of the dedup request body
  docs-website/router/request-deduplication.mdx
Due: none

fix(router): add SSE server write timeout
  docs-website/router/configuration.mdx
  docs-website/router/custom-modules.mdx
  router-tests/modules/non-flusher-writer/module.go
  router-tests/subscriptions/http_subscriptions_test.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: add transport section
  rfc/at-least-once-v1.md
Due: none

chore: improve transport section
  rfc/at-least-once-v1.md
Due: none

feat: wgc router compose supports contracts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/types/params.ts
  cli/src/utils.ts
  cli/test/fixtures/tagged-schema-variant.graphql
  cli/test/fixtures/tagged-schema.graphql
  cli/test/router/compose.test.ts
  cli/test/testdata/compose-contract.yaml
  cli/test/utils.ts
  composition/src/v1/federation/federation-factory.ts
  docs-website/cli/router/compose.mdx
Due: cli, composition

chore: fix typo
  docs-website/cli/router/compose.mdx
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
