Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: avoid map creation during request processing
  router/core/arguments.go
  router/core/arguments_test.go
  router/core/context.go
  router/core/graphql_prehandler.go
  router/core/websocket.go
Due: router

feat: clear `localStorage` when logout (#2446)
  studio/src/components/user-menu.tsx
  studio/src/lib/track.ts
Due: studio

feat: improve `authenticateClient` by avoiding unnecessary token creation (#2443)
  controlplane/src/core/services/Keycloak.ts
Due: controlplane

refactor(router-tests): replace golden tests with inline assertions in connectrpc tests
  router-tests/connectrpc/connectrpc_client_test.go
  router-tests/connectrpc/testdata/connectrpc/employee_response.json
  router-tests/connectrpc/testdata/connectrpc/error_http_404.json
  router-tests/connectrpc/testdata/connectrpc/error_http_500.json
  router-tests/connectrpc/testdata/connectrpc/error_multiple_graphql_errors.json
  router-tests/connectrpc/testdata/connectrpc/error_no_data.json
  router-tests/connectrpc/testdata/connectrpc/error_partial_data.json
Due: none

feat: client expressions
  router-tests/header_propagation_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: add pagination and limit handling for API keys (#2430)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/api-key/createAPIKey.ts
  controlplane/src/core/bufservices/api-key/getAPIKeys.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/getChecksByFederatedGraphName.ts
  controlplane/src/core/bufservices/federated-graph/getCompositions.ts
  controlplane/src/core/bufservices/organization/getAuditLogs.ts
  controlplane/src/core/bufservices/proposal/getProposalChecks.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
  controlplane/src/core/repositories/ApiKeyRepository.ts
  controlplane/test/fetch-checks-by-federated-graph.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/apikeys.tsx
Due: studio, controlplane

refactor(router-tests): remove duplicate proto/graphql services
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc/connectrpc_test_helpers.go
  router-tests/testdata/connectrpc/employee_response.json
  router-tests/testdata/connectrpc/services/employee.v1/MutationUpdateEmployeeMood.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeeById.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeeByPets.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeeWithMood.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployees.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeesByPetsInlineFragment.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeesByPetsNamedFragment.graphql
  router-tests/testdata/connectrpc/services/employee.v1/service.proto
  router-tests/testdata/connectrpc/services/employee.v1/service.proto.lock.json
Due: none

test(router-tests): remove redundant and flaky connectrpc tests
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc/connectrpc_test.go
Due: none

fix: tests
  router-tests/header_propagation_test.go
  router/core/graphql_handler.go
Due: router

fix: tests
  router/core/graphql_handler.go
Due: router

fix: remove unnecessary code
  studio/src/pages/login.tsx
Due: studio

fix: encode redirect URLs in login and signup links
  studio/src/pages/login.tsx
  studio/src/pages/signup.tsx
Due: studio

refactor: remove published proposals from delete and publish federated subgraph functions
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/test/proposal/proposal-webhooks.test.ts
Due: controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

test(router): remove trivial and implementation-detail connectrpc tests
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/operation_registry_test.go
  router/pkg/connectrpc/service_discovery_test.go
  router/pkg/connectrpc/vanguard_service_test.go
Due: router

feat: add gRPC naming scheme validation for subgraph routing URLs
  controlplane/src/core/bufservices/subgraph/createFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
  controlplane/test/feature-flag/feature-flag-with-grpc-service-fs.test.ts
  controlplane/test/feature-subgraph/create-feature-subgraph.test.ts
  controlplane/test/feature-subgraph/publish-feature-subgraph.test.ts
  controlplane/test/subgraph/create-subgraph.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  controlplane/test/subgraph/update-subgraph.test.ts
  controlplane/test/test-util.ts
Due: controlplane

fix: check also the port range
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
Due: controlplane

fix: check explicity dns with only authority
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
Due: controlplane

feat: simplify logic, fix test expectations
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
Due: controlplane

feat: allow to copy operations id from checks section
  studio/src/components/checks/operations.tsx
Due: studio

fix: remove second hash
  studio/src/components/checks/operations.tsx
Due: studio

fix: improve
  studio/src/components/checks/operations.tsx
Due: studio

feat: enhance redirect logic in auth controller to include onboarding parameter
  controlplane/src/core/controllers/auth.ts
Due: controlplane

feat: max number of persistent operations per request
  cli/src/commands/operations/commands/push.ts
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/test/persisted-operations.test.ts
Due: cli, controlplane

refactor: update federated graph retrieval in delete and publish functions to use local arrays
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
Due: controlplane

fix: if an error is caught, exit immediately. Waiting on potentially hanging work is not acceptable.
  cli/src/index.ts
Due: cli

fix: use for..of
  cli/src/commands/operations/commands/push.ts
Due: cli

fix: always stop bar progress
  cli/src/commands/operations/commands/push.ts
Due: cli

feat: allow to copy operations id from checks section (#2474)
  studio/src/components/checks/operations.tsx
Due: studio

fix: update layout and styling of login and signup pages for mobile screens
  studio/src/components/auth/auth-components.tsx
  studio/src/pages/login.tsx
  studio/src/pages/signup.tsx
Due: studio

fix: review comments
  router/core/cache_warmup.go
  router/core/cache_warmup_cdn.go
  router/core/cache_warmup_plans.go
  router/core/graph_server.go
  router/core/restart_switchover_config.go
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
