Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: updates
  router/core/errors.go
Due: router

fix: updates
  router/core/graphql_handler.go
Due: router

chore: update go tools
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/singleflight_test.go
  router/go.mod
  router/go.sum
Due: router

chore: update go tools & merge main
  demo/go.sum
  router/core/graphql_handler.go
  router/core/websocket.go
Due: router

chore: set deduplication shards to GOMAXPROCS
  router/core/executor.go
Due: router

chore: update fixtures
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: added
  router/core/graphql_handler.go
Due: router

fix: code change
  router/core/graphql_handler.go
Due: router

fix: updates
  router/core/context.go
Due: router

chore: create one dedicated http client per host
  router/core/factoryresolver.go
  router/core/plan_generator.go
Due: router

fix: updates
  router-tests/modules/context-error/module.go
  router/core/context.go
Due: router

chore: always use headerPropagationWriter
  router/core/header_rule_engine.go
Due: router

fix: make error accessible to custom modules (#2420)
  router-tests/modules/context-error/module.go
  router-tests/modules/context_error_field_test.go
  router/core/context.go
  router/core/graphql_handler.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

fix: use the correct cgroup policy to work on most of the systems
  router/cmd/plan_generator.go
  router/core/supervisor_instance.go
Due: router

fix: use the correct cgroup policy to work on most of the systems (#2421)
  router/cmd/plan_generator.go
  router/core/supervisor_instance.go
Due: router

chore: merge main, cleanup, add test
  router-tests/modules/context_error_field_test.go
  router/core/factoryresolver.go
  router/core/header_rule_engine.go
Due: router

chore: fix test
  router/core/factoryresolver.go
Due: router

fix: return typename on Cosmo Streams mutations
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/events/redis_events_test.go
  router-tests/modules/stream_publish_test.go
  router/pkg/pubsub/kafka/engine_datasource.go
  router/pkg/pubsub/kafka/engine_datasource_factory_test.go
  router/pkg/pubsub/kafka/engine_datasource_test.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/nats/engine_datasource_factory_test.go
  router/pkg/pubsub/nats/engine_datasource_test.go
  router/pkg/pubsub/redis/engine_datasource.go
  router/pkg/pubsub/redis/engine_datasource_factory_test.go
  router/pkg/pubsub/redis/engine_datasource_test.go
Due: router

chore: update script and tests
  controlplane/src/bin/db-cleanup.ts
  controlplane/src/core/bufservices/organization/deleteOrganization.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/workers/CacheWarmerWorker.ts
  controlplane/src/core/workers/DeactivateOrganizationWorker.ts
  controlplane/src/core/workers/DeleteOrganizationAuditLogsWorker.ts
  controlplane/src/core/workers/DeleteOrganizationWorker.ts
  controlplane/src/core/workers/DeleteUserQueue.ts
  controlplane/src/core/workers/NotifyOrganizationDeletionQueuedWorker.ts
  controlplane/src/core/workers/ReactivateOrganizationWorker.ts
  controlplane/test/test-util.ts
Due: controlplane

chore: linting and tests
  controlplane/src/bin/db-cleanup.ts
  controlplane/src/core/workers/NotifyOrganizationDeletionQueuedWorker.ts
  controlplane/test/test-util.ts
Due: controlplane

fix(demo): initialize NATS adapters and add GetPubSubName function
  demo/cmd/all/main.go
  demo/pkg/subgraphs/subgraphs.go
Due: none

chore: remove non-null assertion
  controlplane/src/bin/db-cleanup.ts
Due: controlplane

Add support for per message deflate to websocket connectinos
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

revert formatting
  router/pkg/config/config.go
Due: router

fix(demo): initialize NATS adapters and add GetPubSubName function (#2423)
  demo/cmd/all/main.go
  demo/pkg/subgraphs/subgraphs.go
Due: none

feat: add Keycloak cleanup script
  controlplane/src/bin/cleanup-keycloak-users.ts
  controlplane/src/bin/migrate-groups.ts
Due: controlplane

chore: linting
  controlplane/src/bin/cleanup-keycloak-users.ts
Due: controlplane

chore: don't connect to the database until necessary
  controlplane/src/bin/cleanup-keycloak-users.ts
Due: controlplane

refactoring server lifecycle test
  router-tests/connectrpc_client_test.go
  router-tests/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc_test.go
  router-tests/connectrpc_test_helpers.go
  router/pkg/connectrpc/server_lifecycle_test.go
  router/pkg/connectrpc/server_test.go
Due: router

fix(connectrpc): handle _UNSPECIFIED enum values by omitting them from GraphQL requests
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
Due: router

feat(connectrpc): add proto loader with dynamic parsing
  router/go.mod
  router/go.sum
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/proto_loader_test.go
  router/pkg/connectrpc/testdata/employee.proto
Due: router
