Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat: add script to delete data older than 90 days
  controlplane/migrations/0137_certain_monster_badoon.sql
  controlplane/migrations/meta/0137_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/bin/cleanup-old-data.ts
  controlplane/src/db/schema.ts
Due: controlplane

feat: create Kubernetes cron job to cleanup data older than 90 days
  helm/cosmo/charts/controlplane/templates/cleanup-old-data-cronjob.yaml
  helm/cosmo/charts/controlplane/values.yaml
Due: none

chore: update docs
  helm/cosmo/charts/controlplane/README.md
Due: none

chore: remove `cleanup` script from `package.json`
  controlplane/package.json
Due: controlplane

feat: add server-side pagination to operation overrides with limit and offset parameters
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/check/getAllOverrides.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/override.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/overrides.tsx
Due: studio, controlplane

fix: tests
  controlplane/test/persisted-operations.test.ts
  controlplane/test/test-util.ts
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router, controlplane

fix: pr suggestions
  controlplane/src/core/bufservices/check/getAllOverrides.ts
  controlplane/src/core/constants.ts
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
  controlplane/test/override.test.ts
Due: controlplane

docs: add comment explaining total count query for pagination in getPersistedOperations
  controlplane/src/core/repositories/OperationsRepository.ts
Due: controlplane

bump the engine to 267
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: tests
  controlplane/test/override.test.ts
Due: controlplane

feat(router): validate slicing arguments in Cost Control (#2692)
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/operations/testdata/introspection/base-graph-schema.json
  router-tests/security/costs_test.go
  router-tests/testenv/testdata/config.json
  router/core/operation_processor.go
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  router/CHANGELOG.md
  router/package.json
Due: router, cli

chore: use latest engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

docs(mcp): clarify that only file_system storage provider is currently supported
  docs-website/router/mcp/configuration.mdx
Due: none

docs(mcp): restructure OAuth docs following Diátaxis framework
  docs-website/docs.json
  docs-website/router/mcp.mdx
  docs-website/router/mcp/configuration.mdx
  docs-website/router/mcp/oauth.mdx
  docs-website/router/mcp/oauth/configuration.mdx
  docs-website/router/mcp/oauth/overview.mdx
  docs-website/router/mcp/oauth/quickstart.mdx
  docs-website/router/mcp/oauth/scopes.mdx
  docs-website/router/mcp/quickstart.mdx
Due: none

chore: add docs-website to prettierignore
  .prettierignore
Due: none

feat: add server-side pagination to operation overrides with limit and offset parameters (#2695)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/check/getAllOverrides.ts
  controlplane/src/core/constants.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
  controlplane/test/override.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/overrides.tsx
Due: studio, controlplane

feat(persisted-query): enhance CDN client and add PQL manifest support
  docs-website/router/configuration.mdx
  docs-website/router/persisted-queries/persisted-operations.mdx
  docs-website/router/security/hardening-guide.mdx
  docs-website/router/storage-providers.mdx
  router-tests/operations/pql_manifest_test.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/internal/persistedoperation/README.md
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/fs/client.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: add docs-website to prettierignore (#2696)
  .prettierignore
Due: none

feat(pql): add test for CDN manifest fetch failure and improve error handling
  router-tests/operations/pql_manifest_test.go
  router/core/router.go
Due: router

feat(pql): add test for CDN manifest fetch failure and improve error handling
  cdn-server/cdn/src/index.ts
  cdn-server/cdn/test/cdn.test.ts
  router-tests/operations/pql_manifest_test.go
  router/internal/persistedoperation/pqlmanifest/fetcher.go
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
  router/internal/persistedoperation/pqlmanifest/poller_test.go
Due: router

refactor(tests): simplify handler assignment in fetcher tests
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
Due: router

fix(cdn): change HTTP method to GET for fetching manifest
  router/internal/persistedoperation/operationstorage/cdn/client.go
Due: router

feat(pql): implement ReadManifest method for fetching PQL manifests from CDN and filesystem
  router-tests/operations/pql_manifest_test.go
  router/core/router.go
  router/demo.config.yaml
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/fs/client.go
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/internal/persistedoperation/pqlmanifest/fetcher.go
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
  router/internal/persistedoperation/pqlmanifest/poller.go
  router/internal/persistedoperation/pqlmanifest/poller_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
Due: router

chore(config): remove unused persisted_operations section from demo.config.yaml
  router/demo.config.yaml
Due: router

docs(push): clarify client-name option usage in push.mdx
  docs-website/cli/operations/push.mdx
Due: none

update fixtures and fix products queries
  router-tests/testdata/queries_defer/employeeDetails_original.graphql
  router-tests/testdata/queries_defer/employee_original.graphql
  router-tests/testdata/queries_defer/employees_original.graphql
  router-tests/testdata/queries_defer/findEmployeesNoCriteria_original.graphql
  router-tests/testdata/queries_defer/findEmployees_original.graphql
  router-tests/testdata/queries_defer/full_original.graphql
  router-tests/testdata/queries_defer/products_defer_01_single_defer.graphql
  router-tests/testdata/queries_defer/products_defer_02_single_defer_between_regular.graphql
  router-tests/testdata/queries_defer/products_defer_03_multiple_fields_deferred.graphql
  router-tests/testdata/queries_defer/products_defer_03_multiple_fields_deferred.txt
  router-tests/testdata/queries_defer/products_defer_04_all_fields_deferred.graphql
  router-tests/testdata/queries_defer/products_defer_05_nested_defer.graphql
  router-tests/testdata/queries_defer/products_defer_05_nested_defer.txt
  router-tests/testdata/queries_defer/products_defer_06_nested_defer_variation.graphql
  router-tests/testdata/queries_defer/products_defer_06_nested_defer_variation.txt
  router-tests/testdata/queries_defer/products_defer_07_parallel_defers.graphql
  router-tests/testdata/queries_defer/products_defer_07_parallel_defers.txt
  router-tests/testdata/queries_defer/products_defer_08_defer_nested_object.graphql
  router-tests/testdata/queries_defer/products_defer_08_defer_nested_object.txt
  router-tests/testdata/queries_defer/products_defer_09_duplicated_field_across_defer.graphql
  router-tests/testdata/queries_defer/products_defer_09_duplicated_field_across_defer.txt
  router-tests/testdata/queries_defer/products_defer_10_extensive_parallel.graphql
  router-tests/testdata/queries_defer/products_defer_11_fragment_around_and_inside.graphql
  router-tests/testdata/queries_defer/products_defer_12_fragment_body_defer.graphql
  router-tests/testdata/queries_defer/products_defer_12_fragment_body_defer.txt
  router-tests/testdata/queries_defer/products_defer_13_fragment_spread_defer.txt
  router-tests/testdata/queries_defer/products_original.graphql
  router-tests/testdata/queries_defer/requires_different_depth_original.graphql
  router-tests/testdata/queries_defer/requires_mood_original.graphql
Due: none

add failing todo file
  router-tests/testdata/queries_defer/products_defer_12_fragment_body_defer.graphql.todo
Due: none

fix: cache updates
  docs-website/router/proxy-capabilities/adjusting-cache-control.mdx
  docs-website/router/proxy-capabilities/subgraph-response-header-operations.mdx
  router-tests/operations/singleflight_test.go
  router-tests/protocol/header_propagation_test.go
  router-tests/protocol/header_set_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
  router/pkg/config/config.go
Due: router

fix: changes
  router/core/graph_server.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_buildheader_test.go
  router/core/header_rule_engine_test.go
  router/core/router.go
  router/pkg/config/config.go
Due: router

add all reconstructed fixtures
  router-tests/testdata/queries_defer/employeeDetails_defer_03_multiple_fields_deferred_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_05_nested_defer_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_06_nested_defer_variation_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_07_parallel_defers_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/employeeDetails_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/employees_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/employees_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/full_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_03_multiple_fields_deferred_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_05_nested_defer_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_06_nested_defer_variation_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_07_parallel_defers_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_12_fragment_body_defer_reconstructed.json
  router-tests/testdata/queries_defer/products_defer_13_fragment_spread_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_08_defer_nested_object_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_11_fragment_around_and_inside_reconstructed.json
  router-tests/testdata/queries_defer/requires_different_depth_defer_12_fragment_body_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_02_single_defer_between_regular_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_08_defer_nested_object_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_09_duplicated_field_across_defer_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_10_extensive_parallel_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_11_fragment_around_and_inside_reconstructed.json
  router-tests/testdata/queries_defer/requires_mood_defer_12_fragment_body_defer_reconstructed.json
Due: none

fix: review changes
  docs-website/router/proxy-capabilities/adjusting-cache-control.mdx
  router/core/header_rule_engine.go
  router/core/header_rule_engine_buildheader_test.go
  router/core/header_rule_engine_test.go
  router/core/router.go
Due: router

fix: review comments
  docs-website/router/proxy-capabilities/subgraph-response-header-operations.mdx
  router/core/header_rule_engine.go
Due: router
