Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: review comments
  docs-website/router/proxy-capabilities/adjusting-cache-control.mdx
  docs-website/router/proxy-capabilities/subgraph-response-header-operations.mdx
  router-tests/protocol/header_propagation_race_test.go
Due: none

fix: review comments
  docs-website/router/proxy-capabilities/subgraph-response-header-operations.mdx
Due: none

fix: gofmt
  router/core/router.go
Due: router

fix: simplify argument passing
  studio/src/components/onboarding/step-1.tsx
Due: studio

feat: step 3 - run the router & detect metrics
  studio/src/components/onboarding/metrics-monitor.tsx
  studio/src/components/onboarding/status-icon.tsx
  studio/src/components/onboarding/step-3.tsx
Due: studio

feat: step 2 - create federated graph + subgraphs
  studio/src/components/onboarding/federation-animation.tsx
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/onboarding/step-2.tsx
Due: studio

feat: finish UI + invitation flow
  studio/src/components/layout/onboarding-layout.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/step-finished.tsx
  studio/src/pages/onboarding/[step].tsx
Due: studio

fix: use non-worker canvas-confetti instance
  studio/src/hooks/use-fireworks.ts
Due: studio

fix: use success class
  studio/src/components/onboarding/status-icon.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
Due: studio

feat: scaffold demo start command
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/index.ts
  cli/src/commands/demo/util.ts
  cli/src/commands/index.ts
  cli/src/utils.ts
Due: cli

feat: step 3 - run the router
  cli/.env.example
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
  cli/src/core/config.ts
Due: cli

feat: check docker and buildx readiness during onboarding
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
  cli/src/core/config.ts
Due: cli

feat: step 3 - obtain router token
  cli/src/commands/demo/command.ts
  cli/src/commands/router/commands/token/commands/create.ts
  cli/src/commands/router/commands/token/commands/delete.ts
  cli/src/core/config.ts
  cli/src/core/router-token.ts
Due: cli

feat: publish subgraphs as plugins
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
  cli/src/commands/router/commands/plugin/commands/publish.ts
  cli/src/core/config.ts
  cli/src/core/plugin-publish.ts
Due: cli

feat: get user info
  cli/src/commands/demo/api.ts
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/types.ts
  cli/src/commands/demo/util.ts
  cli/src/utils.ts
  controlplane/src/core/bufservices/organization/whoAmI.ts
Due: cli, controlplane

feat: copy onboarding support files to filesystem
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
  cli/src/core/config.ts
Due: cli

feat: handle federated graph creation
  cli/src/commands/demo/api.ts
  cli/src/commands/demo/command.ts
  cli/src/core/config.ts
Due: cli

fix: retry when router fails to start
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
Due: cli

refactor: use async/await when waiting for docker healthcheck
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
Due: cli

test: demo command
  cli/test/demo/command.test.ts
  cli/test/demo/util.test.ts
Due: cli

feat: open onboarding URL via prompt
  cli/src/commands/demo/command.ts
Due: cli

docs: demo command
  docs-website/cli/demo.mdx
  docs-website/docs.json
Due: none

fix: handle CTRL+C during spinners
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
  cli/src/utils.ts
Due: cli

fix: always publish plugins to avoid broken states
  cli/src/commands/demo/command.ts
Due: cli

test: event tracking
  cli/test/demo/command.test.ts
Due: cli

feat: event tracking errors
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/step-finished.tsx
Due: cli, studio

feat: event tracking happy path
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/step-finished.tsx
  studio/src/hooks/use-onboarding-navigation.ts
  studio/src/lib/track.ts
Due: cli, studio

docs: add entity caching pre-release test kit
  docs/entity-caching/pre-release-testing/Makefile
  docs/entity-caching/pre-release-testing/README.md
  docs/entity-caching/pre-release-testing/config/router.redis.yaml
  docs/entity-caching/pre-release-testing/docker-compose.yml
  docs/entity-caching/pre-release-testing/example/graph.yaml
  docs/entity-caching/pre-release-testing/example/subgraphs/products/schema.graphqls
  docs/entity-caching/pre-release-testing/generated/.gitignore
  docs/entity-caching/pre-release-testing/scripts/check-config.sh
  docs/entity-caching/pre-release-testing/scripts/compose.sh
  docs/entity-caching/pre-release-testing/scripts/setup-pr.sh
Due: none

fix(composition): third round of PR #2777 review items (#9, #10, #11, #18)
  composition-go/index.global.js
  composition/CLAUDE.md
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/entity-caching.test.ts
Due: composition

docs: make entity caching pre-release kit self-contained
  docs/entity-caching/pre-release-testing/.gitignore
  docs/entity-caching/pre-release-testing/Makefile
  docs/entity-caching/pre-release-testing/README.md
  docs/entity-caching/pre-release-testing/docker-compose.yml
  docs/entity-caching/pre-release-testing/example/graph.yaml
  docs/entity-caching/pre-release-testing/example/subgraphs/products/server.js
  docs/entity-caching/pre-release-testing/package.json
  docs/entity-caching/pre-release-testing/scripts/smoke-test.sh
  docs/entity-caching/pre-release-testing/scripts/wait-router.sh
Due: none

fix(router): opt-in for entity cache telemetry (PR #2777 review #21)
  router/core/graph_server.go
  router/core/graph_server_cache_metrics_test.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
Due: router

docs: use Yoga for pre-release test subgraph
  docs/entity-caching/pre-release-testing/README.md
  docs/entity-caching/pre-release-testing/example/subgraphs/products/server.js
  docs/entity-caching/pre-release-testing/example/subgraphs/products/server.ts
  docs/entity-caching/pre-release-testing/package.json
Due: none

fix(router-tests): entity cache test cleanup (PR #2777 review #3, #4, #6)
  router-tests/entity_caching/entity_caching_test.go
  router-tests/entity_caching/harness_test.go
Due: none

docs: load pre-release test schema from SDL
  docs/entity-caching/pre-release-testing/README.md
  docs/entity-caching/pre-release-testing/example/subgraphs/products/server.ts
Due: none

fix(demo): demo hardening (PR #2777 review #13, #14, #15)
  Makefile
  demo/pkg/subgraphs/cachegraph/subgraph/data_race_test.go
  demo/pkg/subgraphs/cachegraph/subgraph/schema.resolvers.go
Due: none

fix(benchmark,docs): rename mode + document TTL divergence (PR #2777 review #7, #12)
  benchmark/scenarios/cache-demo.json
  benchmark/scripts/lib.test.ts
  benchmark/scripts/lib.ts
  docs/entity-caching/directives.md
Due: none

docs(entity-caching): clarify Coordinate L1 vs Entity L1 (PR #2777 review #22)
  docs/REQUEST_SCOPED.md
Due: none

docs: harden entity caching smoke test
  docs/entity-caching/pre-release-testing/Makefile
  docs/entity-caching/pre-release-testing/README.md
  docs/entity-caching/pre-release-testing/scripts/smoke-test.sh
Due: none

fix: add cleanup + improve tls url scheme test
  router-tests/events/nats_tls_test.go
Due: none

clarify with comments
  composition/src/v1/normalization/normalization-factory.ts
Due: composition
