Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: updates
  router/pkg/entitycaching/cache/in_memory/in_memory.go
Due: router

fix: updates
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: pr suggestions
  studio/src/components/playground/types.ts
Due: studio

fix: allow AWS default credential chain for S3 storage
  cdn-server/src/utils.ts
  controlplane/src/core/util.ts
  controlplane/test/utils.s3storage.test.ts
Due: controlplane

fix fmt
  router/pkg/config/config.go
Due: router

fix tests
  router-tests/modules/query_stats_test.go
  router-tests/operations/multi_fetch_test.go
  router-tests/operations/testdata/fixtures/query_plans/only_query_plan.json
  router-tests/operations/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_operation_name.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_operation_name_sanitized_no_data.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: resolve feature subgraphs in federated graph field usage (#3144)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphByName.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/util.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/field-usage.tsx
  studio/src/components/layout/graph-layout.tsx
Due: studio, controlplane

fix fmt
  router-tests/operations/multi_fetch_test.go
Due: none

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

test(mcp): assert output schemas as JSON instead of nested map literals
  router-tests/protocol/mcp_test.go
Due: none

docs(mcp): document dual content shape and add flag on and off curl examples
  docs-website/router/mcp/tools.mdx
Due: none

refactor(mcp): emit response schemas with google/jsonschema-go
  router/go.mod
  router/pkg/mcpserver/response_schema.go
  router/pkg/mcpserver/response_schema_test.go
Due: router

docs(mcp): remove filler word from schema fallback sentence
  docs-website/router/mcp/tools.mdx
Due: none

fix complex test
  router-tests/protocol/integration_test.go
Due: none

fix: updates
  router/core/graph_server.go
Due: router

fix test msg
  router-tests/protocol/integration_test.go
Due: none

feat: in memory adapter for entity caching cache (#3137)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/pkg/entitycaching/cache/in_memory/in_memory.go
  router/pkg/entitycaching/cache/in_memory/in_memory_test.go
Due: router

feat: redis adapter
  router/pkg/entitycaching/cache/redis.go
  router/pkg/entitycaching/cache/redis_test.go
Due: router

feat: in memory adapter
  router/pkg/entitycaching/cache/in_memory.go
  router/pkg/entitycaching/cache/in_memory_test.go
Due: router

fix: gofmt
  router/pkg/entitycaching/cache/in_memory.go
Due: router

fix: updates
  router/pkg/entitycaching/cache/in_memory.go
  router/pkg/entitycaching/cache/in_memory_test.go
Due: router

fix: update in memory logic and tests
  router/pkg/entitycaching/cache/in_memory.go
  router/pkg/entitycaching/cache/in_memory_test.go
Due: router

fix: tests
  router/pkg/entitycaching/cache/in_memory.go
  router/pkg/entitycaching/cache/in_memory_test.go
Due: router

fix: review comments
  router/pkg/entitycaching/cache/in_memory.go
  router/pkg/entitycaching/cache/in_memory/in_memory.go
  router/pkg/entitycaching/cache/in_memory_test.go
Due: router

fix: review comments
  router/pkg/entitycaching/cache/redis/redis.go
  router/pkg/entitycaching/cache/redis/redis_test.go
Due: router

fix: review comments
  router/pkg/entitycaching/cache/in_memory/in_memory_test.go
  router/pkg/entitycaching/cache/redis/redis_test.go
Due: router

feat: redis adapter reports remaining TTL and known stored keys
  router/pkg/entitycaching/cache/redis.go
  router/pkg/entitycaching/cache/redis/redis.go
  router/pkg/entitycaching/cache/redis/redis_test.go
Due: router

feat(mcp): add mount path helpers for multi-server mounts
  router/pkg/mcpserver/paths.go
  router/pkg/mcpserver/paths_test.go
Due: router

refactor(mcp): give the MCP server its own mount path and route registration
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
Due: router

fix(mcp): derive OAuth resource identifier and metadata path from the mount path
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
Due: router

feat(mcp): add the mcp.servers config map
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix(mcp): correct mount path validation for short and double-slash paths
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/mcpserver/paths.go
  router/pkg/mcpserver/paths_test.go
Due: router

feat(mcp): validate mount paths across the servers map
  router/pkg/mcpserver/validation.go
  router/pkg/mcpserver/validation_test.go
Due: router

test(mcp): assert deterministic error order across map iterations
  router/pkg/mcpserver/validation_test.go
Due: router

refactor(mcp): move listener and mux ownership into a Host type
  router/pkg/mcpserver/host.go
  router/pkg/mcpserver/host_test.go
  router/pkg/mcpserver/server.go
Due: router

feat(mcp): mount one server per mcp.servers entry on a shared listener
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/router_test.go
Due: router

fix(mcp): scope router_url to deprecated path and close partial builds
  router/core/router.go
  router/core/router_test.go
Due: router

chore: update router tests
  router-tests/events/nats_events_test.go
  router-tests/testdata/schemas/nats-subscription-filter/base.graphqls
  router-tests/testdata/schemas/nats-subscription-filter/graph.yaml
  router-tests/testdata/schemas/nats-subscription-filter/subscriptions.graphqls
  router-tests/testenv/testdata/natsSubscriptionFilter.json
  router-tests/testenv/testenv.go
  router-tests/update-config.sh
Due: none
