Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore: imports
  protographic/src/required-fields-visitor.ts
Due: none

chore: mroe cleanup
  protographic/src/operation-to-proto.ts
  protographic/src/proto-utils.ts
  protographic/src/sdl-to-mapping-visitor.ts
Due: none

feat: client response expressions (#2472)
  router-tests/header_propagation_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: add dominik to protographic codeowners
  .github/CODEOWNERS
Due: none

chore: more lint updates
  protographic/src/abstract-selection-rewriter.ts
  protographic/src/operations/field-numbering.ts
  protographic/src/operations/message-builder.ts
  protographic/src/operations/proto-text-generator.ts
  protographic/src/operations/request-builder.ts
  protographic/src/proto-utils.ts
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/src/sdl-validation-visitor.ts
  protographic/src/selection-set-validation-visitor.ts
Due: none

chore: sanitize comments
  protographic/src/proto-utils.ts
  protographic/tests/sdl-to-proto/09-comments.test.ts
Due: none

chore: update comment
  protographic/tests/field-set/01-basics.test.ts
Due: none

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

chore: use wip go-tools cbfbe4d4
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix or skip websocket tests
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
Due: none

remove replace
  router/go.mod
Due: router

feat: add UTM parameter tracking for new user signups
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
Due: controlplane

update go sum
  demo/go.sum
  router/go.sum
Due: router

chore: use wip go-tools ac812888
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: properly handle composite types on field level
  protographic/src/proto-utils.ts
  protographic/src/required-fields-visitor.ts
  protographic/src/types.ts
  protographic/tests/field-set/01-basics.test.ts
  protographic/tests/proto-utils/build-proto-message.test.ts
Due: none

chore: lint
  protographic/src/selection-set-validation-visitor.ts
Due: none

chore: balance pop
  protographic/src/required-fields-visitor.ts
Due: none

chore: add eslint dependency
  pnpm-lock.yaml
  protographic/package.json
Due: none

fix linter issue
  router-tests/websocket_test.go
Due: none

fix: show posthog errors only on debug logs and don't treat them as important
  router/core/router.go
  router/internal/track/track.go
Due: router

chore: make composite member type order deterministic
  protographic/src/proto-utils.ts
  protographic/tests/proto-utils/build-proto-message.test.ts
Due: none

fix: correct posthog endpoint URL in usage tracker configuration
  router/internal/track/track.go
Due: router

feat: add UTM parameter tracking for new user signups (#2488)
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
Due: controlplane

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: controlplane

fix: handling errors header processing updates
  router/core/batch.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/modules.go
Due: router

Exposing operation timings
  router-tests/modules/custom-operation-timings/module.go
  router-tests/modules/operation_timings_test.go
  router/core/context.go
Due: router

fix: refactor function
  router/core/batch.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/modules.go
Due: router

Add SetBypassScopeValidation to skip scope authorization
  router/core/authorizer.go
  router/core/context.go
  router/pkg/authentication/authentication.go
Due: router

fix: tests
  router-tests/header_propagation_test.go
Due: none

fix: review comments
  router-tests/header_propagation_test.go
Due: none

nil channel check in test module
  router-tests/modules/custom-operation-timings/module.go
Due: none

Added tiny buffer
  router-tests/modules/custom-operation-timings/module.go
Due: none

fix: tests
  router-tests/http_subscriptions_test.go
  router-tests/modules/non-flusher-writer/module.go
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
