Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: add docs
  docs-website/docs.json
  docs-website/router/cosmo-streams/custom-modules.mdx
  docs-website/router/cosmo-streams/custom-modules/subscription-on-create.mdx
Due: none

chore: add integration tests
  router-tests/modules/subscription-on-create/module.go
  router-tests/modules/subscription_on_create_test.go
Due: none

chore: reduce duplicate code in test file
  router-tests/modules/subscription_on_create_test.go
Due: none

chore: address comments
  cli/src/commands/subgraph/commands/batch-publish.ts
  cli/src/commands/subgraph/utils/poll-batch-publish-status.ts
Due: cli

chore: pass `signal` to `sleep`
  cli/src/commands/subgraph/utils/poll-batch-publish-status.ts
Due: cli

feat: let hook return errors
  docs-website/router/cosmo-streams/custom-modules/subscription-on-create.mdx
  router-tests/modules/subscription-on-create/module.go
  router-tests/modules/subscription_on_create_test.go
  router/core/router_config.go
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_datasource.go
  router/pkg/pubsub/datasource/subscription_datasource_test.go
Due: router

feat: cli implement status fetch for accept first strategy (#2964)
  cli/src/commands/subgraph/commands/batch-publish.ts
  cli/src/commands/subgraph/utils/poll-batch-publish-status.ts
Due: cli

feat: controlpanel move to a accept first strategy for batch (#2963)
  cli/src/commands/subgraph/commands/batch-publish.ts
  cli/src/commands/subgraph/utils/poll-batch-publish-status.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/.gitattributes
  controlplane/migrations/0143_naive_overlord.sql
  controlplane/migrations/meta/0143_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/package.json
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/subgraph/getBatchPublishJobStatus.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/plugins/redis.ts
  controlplane/src/core/repositories/BatchPublishJobDetailsRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/workers/DeleteBatchPublishJobDetailsWorker.ts
  controlplane/src/db/models.ts
  controlplane/src/db/schema.ts
  controlplane/src/redlock.d.ts
  controlplane/test/subgraph/batch-publish-subgraphs.test.ts
  controlplane/test/test-util.ts
  controlplane/tsconfig.test.json
  pnpm-lock.yaml
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane

fix(controlplane): store null instead of empty string for proposal subgraph UUIDs
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/test/proposal/update-proposal.test.ts
Due: controlplane

foramt
  controlplane/test/proposal/update-proposal.test.ts
Due: controlplane

fix(controlplane): handle unpublished subgraph in proposal update (#2975)
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/test/proposal/update-proposal.test.ts
Due: controlplane

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: controlplane

feat: enable to ignore cost weights on implementing types
  router-tests/go.mod
  router-tests/go.sum
  router-tests/security/costs_test.go
  router/core/executor.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_full.json
Due: router

remove comment
  router/core/executor.go
Due: router

clarify comment
  router-tests/security/costs_test.go
Due: none

chore: refactor router compose
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/types/params.ts
  cli/src/commands/router/commands/types/types.ts
Due: cli

chore: refactor dir creation
  cli/src/commands/router/commands/compose.ts
Due: cli

chore: import formatting
  cli/src/commands/router/commands/types/params.ts
  cli/src/commands/router/commands/types/types.ts
Due: cli

chore: import formatting (again)
  cli/src/commands/router/commands/compose.ts
Due: cli

feat: fix issue where the batch publish status was being ignored
  cli/src/commands/subgraph/utils/poll-batch-publish-status.ts
Due: cli

chore: linting
  cli/src/commands/router/commands/compose.ts
Due: cli

chore: correct status check
  cli/src/commands/subgraph/utils/poll-batch-publish-status.ts
Due: cli

chore: fix tests
  cli/e2e/smoke.test.ts
  cli/src/commands/router/commands/compose.ts
Due: cli

chore: add uniqueness to tests
  cli/test/router/compose.test.ts
Due: cli

chore: create directory recursively
  cli/src/commands/router/commands/compose.ts
Due: cli

chore: fix dir creation
  cli/src/commands/router/commands/compose.ts
  cli/test/router/compose.test.ts
Due: cli

chore: fix e2e tests
  cli/e2e/smoke.test.ts
Due: cli

ci: dispatch newest cooled-down wgc version so the tap can backfill
  .github/workflows/dispatch-wgc-homebrew-bump.yml
Due: none

ci: dispatch wgc homebrew bump hourly after npm cooldown (#2968)
  .github/workflows/cli-binary-release.yaml
  .github/workflows/dispatch-wgc-homebrew-bump.yml
Due: none

chore: restore non-recursive directory creation for split config
  cli/src/commands/router/commands/compose.ts
Due: cli

chore: improvements
  cli/e2e/smoke.test.ts
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/fetch.ts
  cli/src/commands/router/types/params.ts
  cli/src/commands/router/types/types.ts
  cli/src/commands/router/utils.ts
Due: cli

Update header_rule_engine.go
  router/core/header_rule_engine.go
Due: router

Update header_rule_engine_test.go
  router/core/header_rule_engine_test.go
Due: router

same names
  router-tests/go.mod
  router-tests/go.sum
  router/core/executor.go
  router/go.mod
  router/go.sum
Due: router

fix: allow from_file header to be propagated
  router-tests/protocol/header_set_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Due: router

bump
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(router): allow from_file header to be propagated (#2979)
  router-tests/protocol/header_set_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

fix: lint
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/getFeatureFlagsInLatestCompositionByFederatedGraph.ts
  controlplane/src/core/bufservices/feature-flag/getFeatureSubgraphsByFederatedGraph.ts
  controlplane/src/core/bufservices/feature-flag/recomposeFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphByName.ts
  controlplane/src/core/bufservices/federated-graph/migrateFromApollo.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/namespace/listNamespaceLoginMethods.ts
  controlplane/src/core/bufservices/namespace/updateNamespaceLoginMethods.ts
  controlplane/src/core/bufservices/onboarding/createOnboarding.ts
  controlplane/src/core/bufservices/onboarding/finishOnboarding.ts
  controlplane/src/core/bufservices/onboarding/getOnboarding.ts
  controlplane/src/core/bufservices/organization/getOrganizationLoginMethods.ts
  controlplane/src/core/bufservices/organization/updateOrganizationLoginMethods.ts
  controlplane/src/core/bufservices/persisted-operation/deleteClient.ts
  controlplane/src/core/bufservices/persisted-operation/previewDeleteClient.ts
  controlplane/src/core/bufservices/sso/listOIDCProviders.ts
  controlplane/src/core/bufservices/subgraph/getBatchPublishJobStatus.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/bufservices/user/inviteUsers.ts
  controlplane/src/core/bufservices/workspace/getWorkspace.ts
  controlplane/src/core/composition/composeGraphs.worker.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
  controlplane/src/db/schema.ts
Due: controlplane
