Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: trigger cli release (#2874)
  cli/.eslintignore
Due: cli

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
Due: cli

chore: no comparison to bool var
  router/pkg/config/config.go
Due: router

feat: add PostHog name properties to identify call (#2857)
  controlplane/src/core/controllers/auth.ts
  studio/src/components/app-provider.tsx
  studio/src/lib/track.ts
Due: studio, controlplane

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: studio, controlplane

feat: ping periodically for ClickHouse healthcheck
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
  controlplane/src/core/plugins/clickhouse.ts
Due: controlplane

feat: proper shutdown for healthcheck
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
  controlplane/src/core/plugins/clickhouse.ts
Due: controlplane

chore(router): refactor TLS configuration (#2863)
  router-tests/events/nats_events_test.go
  router-tests/security/subgraph_mtls_test.go
  router-tests/security/tls_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/http_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/core/tls.go
  router/pkg/config/config.go
Due: router

feat: exponential backoff for healthcheck
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
  controlplane/src/core/plugins/clickhouse.ts
  controlplane/src/core/util/poll-with-backoff.ts
  controlplane/test/poll-with-backoff.test.ts
Due: controlplane

feat: add leading option to polling util to ping CH immediately
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
  controlplane/src/core/util/poll-with-backoff.ts
  controlplane/test/poll-with-backoff.test.ts
Due: controlplane

feat: detect unavailable ClickHouse and send 503
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
  controlplane/src/core/errors/errors.ts
  controlplane/src/core/util.ts
Due: controlplane

fix: only throw ClickHouse connection error if issue is with transport
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
Due: controlplane

chore: convert type fields to local variables
  router/core/graph_server.go
  router/pkg/grpcconnector/grpcremote/grpc_remote.go
Due: router

chore: remove comment
  .github/CODEOWNERS
Due: none

chore: refactor codeowners
  .github/CODEOWNERS
Due: none

chore: playground to cosmo
  .github/CODEOWNERS
Due: none

chore: apply dummy ci to codeowners changes
  .github/workflows/dummy-ci.yaml
Due: none

chore: fix typo
  .github/CODEOWNERS
Due: none

chore: ignore codeowners changes in ci
  .github/workflows/codecov-post-merge.yaml
  .github/workflows/codeql.yml
  .github/workflows/helm-release.yaml
  .github/workflows/release-preview.yaml
Due: none

chore: add platform as co-owners of cdn
  .github/CODEOWNERS
Due: none

fix: missing client code
  connect-go/gen/proto/wg/cosmo/common/common.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
  connect-go/gen/proto/wg/cosmo/notifications/events.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  graphqlmetrics/gen/proto/wg/cosmo/common/common.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetricsv1connect/graphqlmetrics.connect.go
  router/gen/proto/wg/cosmo/common/common.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetricsv1connect/graphqlmetrics.connect.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
Due: router, graphqlmetrics

chore: remove symbol from comments
  router/pkg/config/config.go
Due: router

fix: continuous healthcheck for ClickHouse + HTTP status code for unavailability (#2875)
  controlplane/src/core/clickhouse/client/ClickHouseClient.ts
  controlplane/src/core/errors/errors.ts
  controlplane/src/core/plugins/clickhouse.ts
  controlplane/src/core/util.ts
  controlplane/src/core/util/poll-with-backoff.ts
  controlplane/test/poll-with-backoff.test.ts
Due: controlplane

chore(release): Publish [skip ci]
  aws-lambda-router/CHANGELOG.md
  aws-lambda-router/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  graphqlmetrics/CHANGELOG.md
  graphqlmetrics/package.json
  router-plugin/CHANGELOG.md
  router-plugin/package.json
  router/CHANGELOG.md
  router/package.json
Due: router, graphqlmetrics, controlplane

fix: fix router-tests
  router-tests/security/subgraph_grpc_mtls_test.go
  router-tests/security/subgraph_mtls_test.go
Due: none

fix: use remapped variables in cost calculation
  router-tests/security/costs_test.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/operation_processor.go
Due: router

fix: lint
  controlplane/src/core/bufservices/organization/whoAmI.ts
  studio/src/components/user-menu.tsx
  studio/src/pages/[organizationSlug]/namespace-sso.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio, controlplane

fix: lint
  controlplane/src/core/repositories/NamespaceSsoMappingRepository.ts
  controlplane/src/core/repositories/OidcRepository.ts
Due: controlplane

fix: lint
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/organization/whoAmI.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

fix: lint
  controlplane/src/core/repositories/NamespaceSsoMappingRepository.ts
Due: controlplane

fix: lint
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/organization/whoAmI.ts
  controlplane/src/core/bufservices/sso/listOIDCProviders.ts
  controlplane/src/core/services/RBACEvaluator.ts
  controlplane/src/db/schema.ts
Due: controlplane

fix: allow subgraph header propagation for router-plugins
  router-tests/protocol/router_plugin_test.go
  router-tests/router_oci_plugin_test.go
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client.go
  router/pkg/grpcconnector/grpcplugin/grpc_plugin.go
  router/pkg/grpcconnector/grpcpluginoci/grpc_oci_plugin.go
Due: router

chore: restructure codeowners from individuals to teams (#2870)
  .github/CODEOWNERS
  .github/workflows/codecov-post-merge.yaml
  .github/workflows/codeql.yml
  .github/workflows/dummy-ci.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/release-preview.yaml
Due: none

fix: tests
  controlplane/test/oidc-provider.test.ts
Due: controlplane

fix: handle default values for slicingArguments
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: tests
  controlplane/test/oidc-provider.test.ts
  controlplane/test/organization-groups.test.ts
Due: controlplane

fix: remove redundant provider ID checks in OIDC provider functions
  controlplane/src/core/bufservices/sso/deleteOIDCProvider.ts
  controlplane/src/core/bufservices/sso/getOIDCProvider.ts
  controlplane/src/core/bufservices/sso/updateIDPMappers.ts
Due: controlplane

fix: update default SSO label in UserMenu component
  studio/src/components/user-menu.tsx
Due: studio
