Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: add ip-address 10.x override to fix CVE-2026-42338
  package.json
  pnpm-lock.yaml
Due: none

fix: add ws 8.x override to fix CVE-2026-45736
  package.json
  pnpm-lock.yaml
Due: none

chore: update keycloak lockfile
  keycloak/theme/package-lock.json
Due: none

fix: update hono to 4.12.25 to fix CVE-2026-54290
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: update ws 8.x override to 8.21.0 to fix CVE-2026-48779
  package.json
Due: none

chore: fix additional dependencies
  package.json
  pnpm-lock.yaml
Due: none

update engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

test(defer): add @defer battle-test harness + 3 new bugs (BT-1/BT-2/BT-3)
  defer-demo/battletest/.gitignore
  defer-demo/battletest/AGENTS.md
  defer-demo/battletest/BATTLETEST_REPORT.md
  defer-demo/battletest/FINDINGS.md
  defer-demo/battletest/LOOP_PROMPT.md
  defer-demo/battletest/README.md
  defer-demo/battletest/ROUNDS.log
  defer-demo/battletest/corpus/seeds.jsonl
  defer-demo/battletest/findings.jsonl
  defer-demo/battletest/oracle.mjs
  defer-demo/battletest/race-traces.txt
  defer-demo/battletest/rounds/round-001.jsonl
  defer-demo/battletest/rounds/round-001.oracle.err
  defer-demo/battletest/rounds/round-001.verdicts.jsonl
  defer-demo/battletest/rounds/round-002.jsonl
  defer-demo/battletest/rounds/round-002.verdicts.jsonl
  defer-demo/battletest/rounds/round-003.jsonl
  defer-demo/battletest/rounds/round-003.verdicts.jsonl
  defer-demo/battletest/rounds/round-004.jsonl
  defer-demo/battletest/rounds/round-004.verdicts.jsonl
  defer-demo/battletest/rounds/round-005.jsonl
  defer-demo/battletest/rounds/round-005.verdicts.jsonl
  defer-demo/battletest/rounds/round-006.jsonl
  defer-demo/battletest/rounds/round-006.verdicts.jsonl
  defer-demo/battletest/state.example.json
  defer-demo/battletest/state.json
  defer-demo/tests/defer.bugs.test.ts
Due: none

test(defer): verify PR#1464 @defer/@stream audit findings + RED tests (no fixes)
  defer-demo/battletest/audit/AUDIT_FINDINGS.md
  defer-demo/battletest/audit/AUDIT_VERIFICATION.md
  defer-demo/tests/audit/ki-defer-assigndefer-undefined-field-panic.test.ts
  defer-demo/tests/audit/ki-defer-deferred-render-auth-error-no-termination.test.ts
  defer-demo/tests/audit/ki-defer-duplicate-auth-error-two-pass.test.ts
  defer-demo/tests/audit/ki-defer-eager-pending-announcement.test.ts
  defer-demo/tests/audit/ki-defer-group-fetch-error-no-termination.test.ts
  defer-demo/tests/audit/ki-defer-if-variable-not-deferred.test.ts
  defer-demo/tests/audit/ki-defer-list-path-truncation.test.ts
  defer-demo/tests/audit/ki-defer-no-label-validation.test.ts
  defer-demo/tests/audit/ki-defer-no-root-prohibition.test.ts
  defer-demo/tests/audit/ki-defer-one-id-per-ast-defer.test.ts
  defer-demo/tests/audit/ki-defer-parallel-shared-tree-data-race.test.ts
  defer-demo/tests/audit/ki-defer-pr-dropped-directive-handling.test.ts
  defer-demo/tests/audit/ki-defer-recoverable-error-drops-defers.test.ts
  defer-demo/tests/audit/ki-defer-render-phase-printerr-no-termination.test.ts
  defer-demo/tests/audit/ki-defer-stream-unterminated-on-initial-error.test.ts
  defer-demo/tests/audit/ki-defer-unbounded-fanout-dos.test.ts
  defer-demo/tests/audit/ki-stream-def-nonnull.test.ts
  defer-demo/tests/audit/ki-stream-not-embedded.test.ts
  defer-demo/tests/audit/ki-stream-unimplemented.test.ts
Due: none

add notes, fix some issues
  defer-demo/tests/audit/ki-defer-list-path-truncation.test.ts
  defer-demo/tests/audit/ki-defer-no-root-prohibition.test.ts
  defer-demo/tests/audit/ki-defer-one-id-per-ast-defer.test.ts
  defer-demo/tests/audit/ki-defer-pr-dropped-directive-handling.test.ts
  defer-demo/tests/audit/ki-defer-unbounded-fanout-dos.test.ts
  defer-demo/tests/audit/ki-stream-def-nonnull.test.ts
  defer-demo/tests/audit/ki-stream-not-embedded.test.ts
  defer-demo/tests/audit/ki-stream-unimplemented.test.ts
  defer-demo/tests/defer.bugs.test.ts
Due: none

fix(router): clear slowplancache entries on Close to release retained values
  router/pkg/slowplancache/slow_plan_cache.go
  router/pkg/slowplancache/slow_plan_cache_test.go
Due: router

fix(router): drain WS subs and skip plan cache OnEvict on mux shutdown
  router/core/graph_server.go
  router/core/websocket.go
Due: router

fix(router): release executor schema refs and reduce upstream WS overhead on reload
  router/core/executor.go
  router/core/executor_test.go
  router/core/factoryresolver.go
  router/core/graph_server.go
Due: router

fix(router): skip unchanged manifest reloads and release stale execution config
  router/core/router.go
  router/core/router_config.go
  router/pkg/routerconfig/routerconfig.go
Due: router

fix(router): use noop upstream subscription client when subscriptions unused
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/noop_graphql_subscription_client.go
  router/core/noop_graphql_subscription_client_test.go
  router/core/transport.go
Due: router

fix(router): re-read PPROF_ADDR from env after flag.Parse
  router/cmd/main.go
Due: router

fix(router): nil graphMux caches after shutdown to allow GC on reload
  router/core/graph_server.go
Due: router

fix(router): register heap pprof handlers for in-use profiling
  router/pkg/profile/profile.go
Due: router

fix(router): release schema refs on config reload to prevent memory leak
  router/core/operation_planner.go
  router/core/router.go
Due: router

chore(router): drop PPROF_ADDR re-read from upstream memory leak PR
  router/cmd/main.go
Due: router

fix(router): call OnRouterConfigReload before CDN/manifest hot-reload
  router/core/router.go
Due: router

fix(router): skip plan cache OnEvict during graphMux shutdown
  router/core/graph_server.go
Due: router

fix(router): drain websocket subscriptions before plan cache close
  router/core/graph_server.go
  router/core/websocket.go
Due: router

fix(router): release executor schema refs on graphMux shutdown
  router/core/executor.go
  router/core/executor_test.go
  router/core/graph_server.go
Due: router

fix(router): nil Ristretto caches after graphMux shutdown
  router/core/graph_server.go
Due: router

fix(router): proto.Reset stale execution config after manifest reload
  router/core/router.go
Due: router

fix(router): stop pinning schema AST in cached plan entries
  router/core/operation_planner.go
Due: router

fix: update dependencies (#3003)
  client-tests/mcp-ts/package-lock.json
  keycloak/theme/package-lock.json
  keycloak/theme/package.json
  package.json
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  studio/package.json
Due: studio

test(defer): wire auth/fetch/renderer error simulation -> F04/F05 live RED
  defer-demo/battletest/audit/SIMULATION.md
  defer-demo/config.json
  defer-demo/subgraphs/content/schema.graphqls
  defer-demo/subgraphs/reviews/schema.graphqls
  defer-demo/tests/audit/ki-defer-assigndefer-undefined-field-panic.test.ts
  defer-demo/tests/audit/ki-defer-deferred-render-auth-error-no-termination.test.ts
  defer-demo/tests/audit/ki-defer-duplicate-auth-error-two-pass.test.ts
  defer-demo/tests/audit/ki-defer-group-fetch-error-no-termination.test.ts
  defer-demo/tests/audit/ki-defer-render-phase-printerr-no-termination.test.ts
  router/core/defer_sim.go
  router/core/graphql_handler.go
Due: router

chore: move common deps to catalog
  admission-server/package.json
  cdn-server/package.json
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  studio/package.json
Due: studio

chore: improve
  docs-website/router/configuration.mdx
  router-tests/testenv/testenv.go
Due: none

feat(router): support configurable Pyroscope application name and tags
  router/cmd/main.go
  router/docs/Profiling.md
  router/pkg/mondaytweaks/mondaytweaks.go
  router/pkg/profile/pyroscope.go
  router/pkg/profile/pyroscope_test.go
Due: router

redo tests for rewarmer cycle mostly
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/testdata/cache_warmup/defer_if/employee.graphql
  router-tests/operations/testdata/cache_warmup/defer_include/employee.graphql
Due: none

remove redundant whitespace
  router-tests/protocol/defer_test.go
Due: none

directly write to writer instead of string concatenation
  router/core/defer_response_writer.go
Due: router

chore: rename variable
  controlplane/src/core/repositories/OrganizationRepository.ts
Due: controlplane

feat(controlplane): persist proposal state notification graph (#2993)
  controlplane/migrations/0144_jittery_master_chief.sql
  controlplane/migrations/meta/0144_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/notification/createIntegration.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/src/db/schema.ts
  controlplane/test/integrations.test.ts
Due: controlplane

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
