Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

feat: implement endpoint to ensure user is initialized in Cosmo
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/auth-utils.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/user/initializeCosmoUser.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/services/Keycloak.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/test/initialize-cosmo-user.test.ts
  controlplane/test/test-util.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

chore: improve token validation
  controlplane/src/core/auth-utils.ts
  controlplane/src/core/bufservices/user/initializeCosmoUser.ts
  controlplane/src/core/services/Keycloak.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
Due: controlplane

feat: expose query operation timings (#2491)
  router-tests/modules/custom-operation-timings/module.go
  router-tests/modules/operation_timings_test.go
  router/core/context.go
Due: router

fix: show posthog errors only on debug logs and don't treat them as important (#2489)
  router/core/router.go
  router/internal/track/track.go
Due: router

chore: add inline fragment tests + refactor tests
  router-tests/go.mod
  router-tests/go.sum
  router/core/arguments_test.go
  router/go.mod
  router/go.sum
Due: router

chore: update engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: simplify token validation using `getUserInfo`
  controlplane/src/core/bufservices/user/initializeCosmoUser.ts
  controlplane/src/core/services/AccessTokenAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/services/Keycloak.ts
  controlplane/src/core/test-util.ts
  controlplane/test/initialize-cosmo-user.test.ts
Due: controlplane

fix: requires is not ignored when all fields provided (#2498)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

fix: do not re-evaluate internal graph nodes if all its descendants are resolvable
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

fix: do not re-evaluate internal graph nodes if all its descendants a… (#2499)
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

chore: add requires docs to markdown file
  protographic/SDL_PROTO_RULES.md
Due: none

feat: add pagination and limit handling for API keys (#2430)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/api-key/createAPIKey.ts
  controlplane/src/core/bufservices/api-key/getAPIKeys.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/getChecksByFederatedGraphName.ts
  controlplane/src/core/bufservices/federated-graph/getCompositions.ts
  controlplane/src/core/bufservices/organization/getAuditLogs.ts
  controlplane/src/core/bufservices/proposal/getProposalChecks.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
  controlplane/src/core/repositories/ApiKeyRepository.ts
  controlplane/test/fetch-checks-by-federated-graph.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/apikeys.tsx
Due: studio, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

fix(router): flush errors on sse streams (#2377)
  router-tests/http_subscriptions_test.go
  router/core/flushwriter.go
  router/core/graphql_handler.go
Due: router

feat: improve overrides labels (#2461)
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/components/checks/override.tsx
Due: studio

feat: improve `authenticateClient` by avoiding unnecessary token creation (#2443)
  controlplane/src/core/services/Keycloak.ts
Due: controlplane

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, studio

feat: clear `localStorage` when logout (#2446)
  studio/src/components/user-menu.tsx
  studio/src/lib/track.ts
Due: studio

feat: allow to copy operations id from checks section (#2474)
  studio/src/components/checks/operations.tsx
Due: studio

fix: improve field resolver handling for nested resolver calls (#2464)
  demo/Makefile
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service.proto.lock.json
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  demo/pkg/subgraphs/projects/src/service/service_resolve.go
  demo/pkg/subgraphs/projects/src/service/util.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/grpc_subgraph_test.go
  router-tests/router_plugin_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
Due: router

fix: if an error is caught, exit immediately (#2478)
  cli/src/index.ts
Due: cli

fix: update Apollo GraphQL client header names for consistency (#2493)
  router/pkg/config/config.schema.json
Due: router

fix: vulnerabilities (#2494)
  cli/package.json
  cli/src/commands/mcp/tools/dream-query-workflow.ts
  cli/src/commands/mcp/tools/federated-graph-tools.ts
  cli/src/commands/mcp/tools/get-subgraphs.ts
  cli/src/commands/mcp/tools/introspect-subgraph.ts
  cli/src/commands/mcp/tools/list-subgraphs.ts
  cli/src/commands/mcp/tools/schema-change-proposal-workflow.ts
  cli/src/commands/mcp/tools/search-docs.ts
  cli/src/commands/mcp/tools/subgraph-verify-schema-changes.ts
  cli/src/commands/mcp/tools/supergraph_changelog.ts
  cli/src/commands/mcp/tools/verify-query-against-in-memory-schema.ts
  cli/src/commands/mcp/tools/verify-query-against-remote-schema.ts
  cli/src/commands/mcp/tools/verify-router-config.ts
  controlplane/package.json
  package.json
  pnpm-lock.yaml
  studio/package.json
Due: cli, studio, controlplane

fix: ensure router header expressions are set even on early return errors (#2492)
  router-tests/error_handling_test.go
  router-tests/header_propagation_test.go
  router-tests/http_subscriptions_test.go
  router-tests/modules/failing-writer/module.go
  router-tests/modules/non-flusher-writer/module.go
  router/core/batch.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/modules.go
Due: router

feat: add UTM parameter tracking for new user signups (#2488)
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
Due: controlplane

feat: rewarm cache from planner cache on schema change (#2445)
  router-tests/cache_warmup_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/cmd/main.go
  router/core/cache_warmup.go
  router/core/cache_warmup_plans.go
  router/core/graph_server.go
  router/core/operation_planner.go
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor.go
  router/core/supervisor_instance.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: query execution event capture (#2482)
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

fix: dont forward content-* headers from client and subgraphs (#2481)
  demo/go.sum
  router-tests/header_propagation_test.go
  router-tests/headers_test.go
  router/core/header_rule_engine.go
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
