Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix(studio): button style CTAs in onboarding empty state (#2864)
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

fix(studio): remove wgc install suggestion in onboarding step 2 (#2865)
  studio/src/components/onboarding/step-2.tsx
Due: studio

feat(mcp): demo multi-graph MCP server with hot-reloading operations
  router/mcp.config.yaml
  router/pkg/mcpserver/introspection.go
  router/pkg/mcpserver/multi_server.go
  router/pkg/mcpserver/operations_watcher.go
Due: router

chore: wip multi-collection mcp
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/server.go
  router/pkg/schemaloader/loader.go
Due: router

fix(composition): apply subscription filters on union and interface return types (#2797)
  composition/src/errors/errors.ts
  composition/src/federation/types/results.ts
  composition/src/index.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/types/params.ts
  composition/tests/v1/directives/subscription-filter.test.ts
  demo/graph.yaml
  demo/pkg/subgraphs/employee-events/subgraph/schema.graphqls
  demo/pkg/subgraphs/employeeupdated/subgraph/schema.graphqls
  docs-website/federation/directives/openfed__subscriptionfilter.mdx
  router-tests/events/kafka_events_test.go
  router-tests/testenv/testdata/configWithEdfs.json
  router-tests/testenv/testdata/configWithEdfsKafka.json
  router/__schemas/graph.yaml
  scripts/create-local-demo.sh
  scripts/update-demo.sh
Due: router, composition

fix: scope cached playground queries to graphs
  studio/src/components/user-menu.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

refactor(router): extract Code Mode MCP descriptions to embedded markdown
  router/internal/codemode/server/descriptions/descriptions.go
  router/internal/codemode/server/descriptions/execute_source.md
  router/internal/codemode/server/descriptions/execute_tool.md
  router/internal/codemode/server/descriptions/persisted_ops_resource.md
  router/internal/codemode/server/descriptions/search_tool.md
  router/internal/codemode/server/server.go
  router/internal/codemode/server/server_test.go
Due: router

feat(router): sanitize non-serializable code mode return values
  router/internal/codemode/harness/envelope.go
  router/internal/codemode/sandbox/execute.go
  router/internal/codemode/sandbox/sandbox.go
  router/internal/codemode/sandbox/sandbox_test.go
  router/internal/codemode/sandbox/validation.go
  router/internal/codemode/server/server.go
Due: router

feat(code-mode): auto-reconnect upstream from MCP stdio proxy
  demo/code-mode/mcp-stdio-proxy/main.go
  demo/code-mode/mcp-stdio-proxy/main_test.go
Due: none

fix(router): unblock long code_mode_run_js calls and drop dead executeState.wg
  router/internal/codemode/sandbox/execute.go
  router/internal/codemode/sandbox/host.go
  router/internal/codemode/server/server.go
Due: router

chore(mcp): clarify reload logs as client-broadcast notifications
  router/pkg/mcpserver/operations_watcher.go
  router/pkg/mcpserver/server.go
Due: router

feat(code-mode): strip auth directives from demo subgraph schemas
  demo/code-mode/.gitignore
  demo/code-mode/Makefile
  demo/code-mode/graph.yaml
  demo/code-mode/prepare-schemas.sh
Due: none

chore(mcp): drop stray blank line in mcp.config.yaml
  router/mcp.config.yaml
Due: router

refactor(code-mode): identify operations by content SHA instead of name
  router-tests/code_mode_named_ops_test.go
  router/internal/codemode/sandbox/host.go
  router/internal/codemode/server/search_handler.go
  router/internal/codemode/server/search_handler_test.go
  router/internal/codemode/storage/memory_backend.go
  router/internal/codemode/storage/memory_backend_test.go
  router/internal/codemode/storage/naming.go
  router/internal/codemode/storage/naming_test.go
  router/internal/codemode/storage/redis_backend.go
  router/internal/codemode/storage/redis_backend_test.go
  router/internal/codemode/storage/types.go
Due: router

feat(router): regex selectors for subgraph header rules
  docs-website/router/proxy-capabilities/subgraph-request-header-operations.mdx
  docs-website/router/proxy-capabilities/subgraph-response-header-operations.mdx
  router/core/header_rule_engine.go
  router/core/header_rule_engine_buildheader_test.go
  router/core/header_rule_engine_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: avoid duplicated tabs
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

feat(router): subgraph header groups (headers.groups)
  docs-website/router/proxy-capabilities/subgraph-request-header-operations.mdx
  docs-website/router/proxy-capabilities/subgraph-response-header-operations.mdx
  router/core/header_rule_engine.go
  router/core/header_rule_engine_buildheader_test.go
  router/core/header_rule_engine_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

test(router): pin down conflict resolution between header group rules
  docs-website/router/proxy-capabilities/subgraph-request-header-operations.mdx
  router/core/header_rule_engine_buildheader_test.go
Due: router

fix(router/cacheevents): propagate DataSource and FieldPath onto FIELD_HASH events
  router/internal/cacheevents/builder.go
  router/internal/cacheevents/builder_test.go
Due: router

chore(code-mode-v2): demo full-federation fix + yoko proto/mock refresh
  Makefile
  buf.lock
  buf.yaml
  demo/code-mode-connect/README.md
  demo/code-mode-connect/router-config.yaml
  demo/code-mode-connect/start.sh
  demo/code-mode/README.md
  demo/code-mode/graph.yaml
  demo/code-mode/mcp-stdio-proxy/go.mod
  demo/code-mode/mcp-stdio-proxy/go.sum
  demo/code-mode/prepare-schemas.sh
  demo/code-mode/router-config.yaml
  demo/code-mode/run_subgraphs_subset.sh
  demo/code-mode/start.sh
  demo/code-mode/yoko-mock/go.mod
  demo/code-mode/yoko-mock/go.sum
  demo/code-mode/yoko-mock/main.go
  demo/code-mode/yoko-mock/main_test.go
  proto/wg/cosmo/code_mode/yoko/v1/yoko.proto
  router/gen/proto/buf/validate/validate.pb.go
  router/gen/proto/wg/cosmo/code_mode/yoko/v1/yoko.pb.go
  router/gen/proto/wg/cosmo/code_mode/yoko/v1/yokov1connect/yoko.connect.go
  router/go.mod
  router/go.sum
  router/internal/codemode/sandbox/sandbox_test.go
  router/internal/codemode/server/observability_handler_test.go
  router/internal/codemode/yoko/client.go
  router/internal/codemode/yoko/client_test.go
  router/internal/codemode/yoko/searcher.go
  router/pkg/codemode/varschema/varschema.go
  router/pkg/codemode/varschema/varschema_test.go
  router/pkg/grpcconnector/grpcplugin/grpc_plugin.go
Due: router

docs(code-mode): split unrelated mutations into separate search prompts
  router/internal/codemode/server/descriptions/search_tool.md
Due: router

fix(code-mode-demo): make subgraphs resilient to NATS unavailability
  demo/code-mode/README.md
  demo/code-mode/router-config.yaml
  demo/code-mode/run_subgraphs_subset.sh
  demo/code-mode/start.sh
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/mood/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/subgraphs.go
Due: none

perf(mcp): leading-edge debounce in operations watcher
  router/pkg/mcpserver/operations_watcher.go
  router/pkg/mcpserver/operations_watcher_test.go
Due: router

feat(mcp): add code_mode_generate_query tool for Yoko-backed query drafting
  router/internal/codemode/server/descriptions/descriptions.go
  router/internal/codemode/server/descriptions/generate_query_tool.md
  router/internal/codemode/server/query_handler.go
  router/internal/codemode/server/server.go
  router/internal/codemode/server/server_test.go
Due: router

feat(mcp): per-server Code Mode + Yoko, drop bespoke code_mode_run_js
  router/core/router.go
  router/internal/codemode/server/search_handler.go
  router/internal/codemode/server/search_handler_test.go
  router/internal/codemode/server/server.go
  router/mcp.config.yaml
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/mcpserver/multi_server.go
  router/pkg/mcpserver/server.go
Due: router

feat(mcp): allow filesystem-loaded operations alongside Code Mode
  router/pkg/mcpserver/multi_server.go
  router/pkg/mcpserver/server.go
Due: router

chore(mcp): log every tools/list_changed notification fired
  router/pkg/mcpserver/server.go
Due: router

fix: url state not being decoded properly
  studio/src/hooks/use-hydrate-playground-state-from-url.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

fix: header deserialization
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

fix: parsing of URL per shared link
  studio/src/hooks/use-hydrate-playground-state-from-url.ts
Due: studio

fix: reappearing tabs between graphs
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

chore: bump pnpm to v11
  .npmrc
  admission-server/Dockerfile
  cdn-server/Dockerfile
  client-tests/apollo-js/Dockerfile
  client-tests/apollo-js/package.json
  client-tests/apollo-js/pnpm-lock.yaml
  client-tests/mcp-ts/package.json
  controlplane/Dockerfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  studio/Dockerfile
Due: studio, controlplane

fix: add toast to ref
  studio/src/hooks/use-hydrate-playground-state-from-url.ts
Due: studio

fix(router): add Vary to SkippedHeaders to prevent duplicate header (#2737)
  router-tests/protocol/header_propagation_test.go
  router/internal/headers/headers.go
Due: router

feat: local cosmo cloud registry
  cli/.env.example
  docker-compose.yml
  router-tests/testenv/testenv.go
  router/.env.example
  router/core/graph_server.go
  router/pkg/config/config.go
  router/pkg/grpcconnector/grpcpluginoci/grpc_oci_plugin.go
Due: router, cli

bump engine to 2.3.0
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: enable mock registry for demo command
  cli/.env.example
  cli/src/commands/demo/util.ts
  cli/src/core/config.ts
Due: cli
