Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: fix missing parameter
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

chore: limit pool size of exporter and zero pointers
  router/internal/exporter/exporter.go
  router/internal/exporter/exporter_test.go
Due: router

chore(release): Publish [skip ci]
  cdn-server/CHANGELOG.md
  cdn-server/cdn/CHANGELOG.md
  cdn-server/cdn/package.json
  cdn-server/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  keycloak/CHANGELOG.md
  keycloak/package.json
  playground/CHANGELOG.md
  playground/package.json
  router/CHANGELOG.md
  router/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, studio, controlplane

chore: commit progress state
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/router-configuration/types.ts
  composition/src/router-configuration/utils.ts
  composition/src/types/types.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  shared/src/router-config/builder.ts
Due: composition

feat(composition): support in/exclude contract tags simultaneously
  composition/src/errors/errors.ts
  composition/src/v1/federation/federation-factory.ts
  composition/tests/utils/utils.ts
  composition/tests/v1/contracts.test.ts
Due: composition

feat(cli): support in/exclude contract tags simultaneously
  cli/src/commands/contract/commands/create.ts
  cli/src/commands/contract/commands/update.ts
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/test/contracts.test.ts
Due: cli, controlplane

chore: add tests
  composition/tests/v1/contracts.test.ts
Due: composition

chore: fix typo
  composition/src/errors/errors.ts
Due: composition

chore: change test name
  composition/tests/v1/contracts.test.ts
Due: composition

feat(composition): support in/exclude contract tags simultaneously (#3016)
  composition/src/errors/errors.ts
  composition/src/v1/federation/federation-factory.ts
  composition/tests/utils/utils.ts
  composition/tests/v1/contracts.test.ts
Due: composition

feat(cli): support in/exclude contract tags simultaneously (#3017)
  cli/src/commands/contract/commands/create.ts
  cli/src/commands/contract/commands/update.ts
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/test/contracts.test.ts
Due: cli, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

fix: mapping json generation
  cli/src/commands/grpc-service/commands/generate.ts
  cli/src/commands/router/commands/plugin/commands/init.ts
  cli/src/commands/router/commands/plugin/toolchain.ts
  demo/pkg/subgraphs/courses/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/mapping.json
Due: cli

chore: improve tests
  router-tests/observability/structured_logging_test.go
  router/internal/expr/functions_test.go
Due: router

support scoped package republish and switch to npm trusted publishing
  .github/workflows/release.yaml
Due: none

fix(router): clear slowplancache entries on Close to release retained values
  router/pkg/slowplancache/slow_plan_cache.go
  router/pkg/slowplancache/slow_plan_cache_test.go
Due: router

fix(router): stop pinning schema AST in cached plan entries
  router/core/operation_planner.go
Due: router

fix(router): skip plan cache OnEvict during graphMux shutdown
  router/core/graph_server.go
Due: router

fix(router): call OnRouterConfigReload before CDN/manifest hot-reload
  router/core/router.go
Due: router

test(router): reproduce config-reload plan-cache retention leak
  router/core/reload_persistent_state_leak_test.go
Due: router

rm NPM_TOKEN from republish step
  .github/workflows/release.yaml
Due: none

Update .github/workflows/release.yaml
  .github/workflows/release.yaml
Due: none

merge envs
  .github/workflows/release.yaml
Due: none

chore: fix tests
  router/internal/expr/functions_test.go
Due: router

fix: remove useless UTC_to_epochUnix
  docs-website/router/access-logs.mdx
  docs-website/router/configuration/template-expressions.mdx
  router-tests/observability/structured_logging_test.go
  router/core/access_log_field_handler_test.go
  router/core/engine_loader_hooks.go
  router/core/request_context_fields.go
  router/internal/expr/expr.go
  router/internal/expr/expr_manager.go
  router/internal/expr/functions.go
  router/internal/expr/functions_test.go
Due: router

rollback scoped republish step from release workflow
  .github/workflows/release.yaml
Due: none

add workflow dir to dummy-ci paths
  .github/workflows/dummy-ci.yaml
Due: none

feat: switch to npm trusted publishing (#3018)
  .github/workflows/dummy-ci.yaml
  .github/workflows/release.yaml
Due: none

patch bump published npm packages
  cdn-server/cdn/package.json
  cli/package.json
  composition/package.json
  connect/package.json
  playground/package.json
  protographic/package.json
  shared/package.json
Due: cli, composition

ci: remove pnpm whoami blocking trusted publish
  .github/workflows/release.yaml
Due: none

fix: patch bump published npm packages (#3021)
  .github/workflows/release.yaml
  cdn-server/cdn/package.json
  cli/package.json
  composition/package.json
  connect/package.json
  playground/package.json
  protographic/package.json
  shared/package.json
Due: cli, composition

chore(release): Publish [skip ci]
  cdn-server/CHANGELOG.md
  cdn-server/cdn/CHANGELOG.md
  cdn-server/cdn/package.json
  cdn-server/package.json
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  playground/CHANGELOG.md
  playground/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

fix: reset mindir and mindur on cache close
  router/pkg/slowplancache/slow_plan_cache.go
Due: router

chore: gofmt
  router/core/operation_planner.go
Due: router

fix: do not wait for pending writes on plancache on mux shutdown
  router/core/graph_server.go
Due: router

feat: add flag SkipNullVariablesError
  router-tests/go.mod
  router-tests/go.sum
  router/core/operation_processor.go
  router/core/router_config.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix(composition): accept @provides field sets over union- and interface-typed fields
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/tests/v1/directives/provides.test.ts
Due: composition
