Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

feat(router): support multiple OAuth authorization servers for MCP (#3148)
  docs-website/router/mcp/oauth/configuration.mdx
  docs-website/router/mcp/oauth/quickstart.mdx
  router-tests/protocol/mcp_oauth_e2e_test.go
  router-tests/testutil/oauth_server.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/protected_resource_metadata_test.go
  router/pkg/mcpserver/server.go
Due: router

limit deploy concurrency to 1, detect release tags on each run
  .github/workflows/deploy.yaml
Due: none

fix(CI): fix Deploy dispatching only one package when several are released together (#3150)
  .github/workflows/deploy.yaml
Due: none

make features disabled by default
  router-tests/go.mod
  router-tests/go.sum
  router-tests/modules/query_stats_test.go
  router-tests/operations/multi_fetch_test.go
  router-tests/operations/testdata/fixtures/query_plans/only_query_plan.json
  router-tests/operations/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_operation_name.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_operation_name_sanitized_no_data.json
  router-tests/protocol/integration_test.go
  router-tests/protocol/testdata/tracing.json
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/plan_generator.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore(release): Publish [skip ci]
  aws-lambda-router/CHANGELOG.md
  aws-lambda-router/package.json
  router/CHANGELOG.md
  router/package.json
Due: router

bump golang.org/x/text to v0.39.0
  router/go.mod
  router/go.sum
Due: router

bump engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

update docs
  docs-website/router/configuration.mdx
Due: none

test(router): reproduce subscription hydration stall
  router-tests/events/kafka_hydration_hang_test.go
Due: none

wip: expose prompt-to-query through MCP
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/services/PromptToQueryService.ts
  controlplane/test/router-config.test.ts
  docs-website/router/mcp/oauth/configuration.mdx
  docs-website/router/mcp/tools.mdx
  mcp-yoko-run.sh
  proto/wg/cosmo/node/v1/node.proto
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/controlplane/prompttoquery/client.go
  router/pkg/controlplane/prompttoquery/client_test.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/discover_test.go
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
Due: router, controlplane

feat: resolve prompt-to-query indexes by schema version
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/services/PromptToQueryService.ts
  controlplane/test/prompt-to-query-service.test.ts
  controlplane/test/prompt-to-query.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/test-util.ts
  mcp-yoko-run.sh
  proto/wg/cosmo/node/v1/node.proto
  router/core/graph_server.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/pkg/controlplane/prompttoquery/client.go
  router/pkg/controlplane/prompttoquery/client_test.go
  router/pkg/mcpserver/discover_test.go
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
Due: router, controlplane

refactor: align generate query version field
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/test/prompt-to-query.test.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/pkg/controlplane/prompttoquery/client.go
  router/pkg/controlplane/prompttoquery/client_test.go
Due: router, controlplane

refactor: resolve prompt schema inside service
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/services/PromptToQueryService.ts
  controlplane/test/prompt-to-query-service.test.ts
Due: controlplane

style(router): clean up prompt-to-query client
  router/pkg/controlplane/prompttoquery/client.go
Due: router

test(router): remove prompt-to-query client test
  router/pkg/controlplane/prompttoquery/client_test.go
Due: router

test(controlplane): remove stacked prompt-to-query tests
  controlplane/test/prompt-to-query-service.test.ts
  controlplane/test/prompt-to-query.test.ts
  controlplane/test/test-util.ts
Due: controlplane

test(router): remove generate-query error cases
  router/pkg/mcpserver/server_test.go
Due: router

chore(router): remove local prompt-to-query script
  mcp-yoko-run.sh
Due: none

refactor(controlplane): use zod UUID validation
  controlplane/src/core/services/PromptToQueryService.ts
Due: controlplane

fix(controlplane): avoid indexing schemas during query generation
  controlplane/src/core/services/PromptToQueryService.ts
Due: controlplane

chore: set temporary engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

add a combined test
  router-tests/operations/multi_fetch_test.go
  router-tests/operations/multi_fetches__scheduling_test.go
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_multi_fetch_schedule.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_schedule_chains.json
Due: none

go fmt
  router-tests/operations/multi_fetches_scheduling_test.go
Due: none

engine 2.16.0
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

remove stale comment
  router/core/plan_generator.go
Due: router

fix(router): prevent stalled subscription hydration
  router-tests/events/kafka_hydration_hang_test.go
  router/core/router.go
  router/core/router_test.go
  router/core/transport.go
  router/core/transport_cancellation_test.go
  router/internal/httpclient/cancelable_transport.go
  router/internal/httpclient/cancelable_transport_test.go
  router/internal/retrytransport/retry_transport.go
  router/internal/retrytransport/retry_transport_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
Due: router

feat: merge entity fetches and then schedule optimally (#3146)
  docs-website/router/configuration.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/operations/multi_fetches_scheduling_test.go
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_multi_fetch_schedule.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_schedule_chains.json
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/operation_planner.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

feat: update Okta documentation
  docs-website/images/studio/sso/add-token-claim-expression-dialog.png
  docs-website/images/studio/sso/okta-token-claims-card.png
  docs-website/studio/sso/okta.mdx
Due: none

chore: small update
  docs-website/studio/sso/okta.mdx
Due: none

chore: update doc text
  docs-website/studio/sso/okta.mdx
Due: none

fix(router): bound stalled SSE subscription writes
  router-tests/events/kafka_sse_write_timeout_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/noop_stream_metrics.go
  router/pkg/metric/oltp_stream_metric_store.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
  router/pkg/metric/prom_stream_metric_store.go
  router/pkg/metric/stream_measurements.go
  router/pkg/metric/stream_metric_store.go
  router/pkg/pubsub/kafka/adapter.go
  router/pkg/pubsub/nats/adapter.go
  router/pkg/pubsub/redis/adapter.go
Due: router

fix(router): address subscription recovery review feedback
  router-tests/events/kafka_sse_write_timeout_test.go
  router/core/graphql_handler.go
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
  router/internal/httpclient/cancelable_transport_test.go
  router/internal/retrytransport/retry_transport.go
  router/internal/retrytransport/retry_transport_test.go
  router/pkg/metric/stream_metric_store.go
  router/pkg/pubsub/redis/adapter.go
Due: router

fix(router): rely on cooperative hydration cancellation
  router-tests/events/kafka_hydration_hang_test.go
  router/core/http_transport_cancellation_test.go
  router/core/router.go
  router/core/router_test.go
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
  router/core/transport.go
  router/core/transport_cancellation_test.go
  router/internal/httpclient/cancelable_transport.go
  router/internal/httpclient/cancelable_transport_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
Due: router

perf(router): record SSE metrics only on failure
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
Due: router

feat(router): restore SSE write duration metric
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
Due: router

feat: add proposal status command
  cli/src/commands/proposal/commands/status.ts
  cli/src/commands/proposal/index.ts
  cli/test/proposal-status.test.ts
  docs-website/cli/proposal.mdx
  docs-website/cli/proposal/status.mdx
  docs-website/docs.json
Due: cli

fix: if not specified, use the default namespace
  cli/src/commands/proposal/commands/status.ts
  cli/test/proposal-status.test.ts
Due: cli

fix: remove bold formatting
  cli/src/commands/proposal/commands/status.ts
Due: cli

feat: add json output
  cli/src/commands/proposal/commands/update-status.ts
  cli/test/update-proposal-status.test.ts
  docs-website/cli/proposal/update-status.mdx
  docs-website/concepts/proposals.mdx
Due: cli

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
