Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: controlplane

docs(router): add defer directive docs
  docs-website/docs.json
  docs-website/federation/directives.mdx
  docs-website/federation/directives/defer.mdx
  docs-website/federation/federation-directives-index.mdx
  docs-website/router/configuration.mdx
  docs-website/router/defer.mdx
  docs-website/router/defer/how-it-works.mdx
  docs-website/router/defer/usage.mdx
  docs-website/router/defer/when-to-use.mdx
Due: none

fix a doc
  docs-website/router/response-cache.mdx
Due: none

chore: after review fixes
  docs-website/router/defer.mdx
  docs-website/router/defer/usage.mdx
  docs-website/router/defer/when-to-use.mdx
  router/core/defer_response_writer.go
Due: router

fix: updates
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Due: router

chore: apply ste rules to wording
  docs-website/federation/directives/defer.mdx
  docs-website/router/defer.mdx
  docs-website/router/defer/how-it-works.mdx
  docs-website/router/defer/usage.mdx
  docs-website/router/defer/when-to-use.mdx
Due: none

feat(router): cache multi-fetches and cap Cache-Control at cached TTL (#3258)
  docs-website/router/response-cache.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/operations/response_cache_test.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/header_rule_engine.go
  router/go.mod
  router/go.sum
Due: router

test: inline the shared context subgraph fixtures into each test
  composition/tests/v1/directives/context.test.ts
Due: composition

test: use test rather than it and the z spelling of normalization
  composition/tests/v1/directives/context.test.ts
Due: composition

fix(router): preserve SSE subscription connection errors
  router-tests/go.mod
  router-tests/go.sum
  router-tests/subscriptions/http_subscriptions_test.go
  router-tests/subscriptions/websocket_test.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/go.mod
  router/go.sum
Due: router

chore(deps): tidy pinned subscription transport dependency
  router-tests/go.sum
  router/go.sum
Due: router

chore(deps): update graphql-go-tools to v2.21.1
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: reword the context argument errors in terms of definitions
  composition/src/errors/errors.ts
Due: composition

chore: provide a way to compose federated graphs and feature flags without enabling the `split-config-loading` in the database
  controlplane/src/bin/enable-split-config-loading.ts
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

chore: revert playground files
  playground/src/components/playground/cursor.ts
  playground/src/components/playground/index.tsx
  playground/src/components/playground/stream-events.tsx
  playground/src/components/playground/view-output.tsx
  playground/src/theme.css
Due: none

fix(router): use incrementalSpec=v0.2 in Content-Type header for @defer and reject unsupported spec
  router-tests/protocol/defer_accept_test.go
  router-tests/protocol/defer_test.go
  router/core/defer_accept_test.go
  router/core/defer_response_writer.go
  router/core/errors.go
  router/core/graphql_prehandler.go
Due: router

chore: after review fixes
  docs-website/router/defer.mdx
  docs-website/router/defer/usage.mdx
  docs-website/router/defer/when-to-use.mdx
Due: none

chore: use temporary engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(router): preserve SSE subscription connection errors (#3260)
  router-tests/go.mod
  router-tests/go.sum
  router-tests/subscriptions/http_subscriptions_test.go
  router-tests/subscriptions/websocket_test.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/go.mod
  router/go.sum
Due: router

fix: updates
  docs-website/router/response-cache.mdx
Due: none

feat(router): add metric request timetolastbyte (#3119)
  docs-website/router/configuration.mdx
  docs-website/router/configuration/template-expressions.mdx
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/prometheus-metric-reference.mdx
  router-tests/observability/prometheus_test.go
  router-tests/observability/structured_logging_test.go
  router-tests/telemetry/connection_metrics_test.go
  router/internal/expr/expr.go
  router/internal/traceclient/traceclient.go
  router/internal/traceclient/traceclient_test.go
  router/pkg/config/config.schema.json
  router/pkg/metric/connection_measurements.go
  router/pkg/metric/connection_metric_store.go
  router/pkg/metric/noop_connection_metrics.go
  router/pkg/metric/oltp_connection_metric_store.go
  router/pkg/metric/prom_connection_metric_store.go
Due: router

refactor: remove positionTracker
  router/pkg/pubsub/kafka/adapter.go
  router/pkg/pubsub/kafka/cursor.go
Due: router

fix: doc changes
  docs-website/router/response-cache.mdx
Due: none

feat: router cache tag based invalidation for cdns (#3218)
  docs-website/router/response-cache.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/operations/response_cache_tag_header_test.go
  router-tests/operations/response_cache_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/core/response_cache_tag_header.go
  router/core/response_cache_tag_header_test.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/responsecaching/cache/in_memory/in_memory.go
  router/pkg/responsecaching/cache/in_memory/in_memory_test.go
  router/pkg/responsecaching/cache/in_memory/invalidation.go
  router/pkg/responsecaching/cache/in_memory/invalidation_test.go
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/invalidation_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/redis_test.go
  router/pkg/responsecaching/cache/redis/tag_index_test.go
  router/pkg/responsecaching/invalidation/handler.go
  router/pkg/responsecaching/invalidation/handler_test.go
Due: router

chore: update docs
  docs-website/router/configuration.mdx
  docs-website/router/traffic-shaping/retry.mdx
Due: none

chore: update retry docs (#3265)
  docs-website/router/configuration.mdx
  docs-website/router/traffic-shaping/retry.mdx
Due: none

chore(router): bump graphql-go-tools to v2.22.1
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(router): bump graphql-go-tools to v2.22.1 (#3266)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

feat: support no-cache and no-store directives of Cache-Control
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_request_directives_test.go
  router-tests/operations/response_cache_test.go
  router/core/cache_control.go
  router/core/cache_control_test.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
Due: router

test(router): clarify JWT error handling subtests
  router-tests/security/token_validation_failure_test.go
  router/core/access_controller_test.go
Due: router

refactor(controlplane): move router config metadata helper to util/composition
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/CacheWarmerRepository.ts
  controlplane/src/core/util/composition.ts
  controlplane/src/core/workers/CacheWarmerWorker.ts
  controlplane/test/composer.test.ts
  controlplane/test/util/composition.test.ts
Due: controlplane

fix: doc updates
  docs-website/router/response-cache.mdx
Due: none

fix: vary multifetch
  router-tests/operations/response_cache_vary_test.go
  router/pkg/responsecaching/cache/in_memory/in_memory.go
  router/pkg/responsecaching/cache/in_memory/in_memory_test.go
  router/pkg/responsecaching/cache/redis/redis_test.go
Due: router

chore: bump graphql-go-tools to ee58bc5, use EncodeItem in redis test
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/pkg/responsecaching/cache/redis/redis_test.go
Due: router

chore: bump graphql-go-tools to 5b2a9f9
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: settings
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_private_test.go
  router-tests/operations/response_cache_subgraph_test.go
  router-tests/operations/response_cache_test.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/response_cache_private_id.go
  router/core/response_cache_private_id_test.go
  router/core/response_cache_settings.go
  router/core/response_cache_settings_test.go
  router/core/response_cache_test.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
