Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

feat(cache): deduplicate persisted operations during warmup and prevent APQ saves for manifest-known operations
  demo-router.fly.toml
  router-tests/operations/pql_manifest_test.go
  router-tests/operations/testdata/cache_warmup/json_po_manifest_overlap/graphql.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/manifest.json
  router/core/cache_warmup.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/internal/persistedoperation/client.go
Due: router

feat(pql): update warmup configuration to reduce worker count and add items per second limit
  router-tests/operations/pql_manifest_test.go
Due: none

feat(cache): update cache warmup logic to prevent false metrics for already cached operations
  router/core/cache_warmup.go
Due: router

chore: do not delete graph compositions if the schema version is kept
  controlplane/src/bin/cleanup-old-data.ts
Due: controlplane

feat: allow PostHog tracking on localhost if key is provided
  studio/src/lib/track.ts
Due: studio

fix: avoid loading PostHog twice
  studio/src/lib/track.ts
  studio/src/pages/_app.tsx
Due: studio

feat: scaffold onboarding route
  studio/src/components/app-provider.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/pages/[organizationSlug]/onboarding.tsx
  studio/src/pages/_app.tsx
Due: studio

feat: onboarding hook
  studio/src/hooks/use-onboarding.ts
Due: studio

feat: pre-fill organization name in onboarding form
  studio/src/components/onboarding/onboarding-form.tsx
Due: studio

refactor: share schemas for re-usability
  studio/src/components/onboarding/onboarding-form.tsx
  studio/src/lib/form-schemas.ts
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

feat: create stepper component & steps
  studio/src/components/layout/title-layout.tsx
  studio/src/components/onboarding/onboarding-layout.tsx
  studio/src/components/onboarding/stepper.tsx
  studio/src/pages/[organizationSlug]/onboarding/index.tsx
  studio/src/pages/onboarding/index.tsx
  studio/src/pages/onboarding/welcome.tsx
Due: studio

feat: wizard routing + step 1 form
  studio/src/components/onboarding/onboarding-form.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/pages/[organizationSlug]/onboarding.tsx
  studio/src/pages/[organizationSlug]/onboarding/index.tsx
  studio/src/pages/[organizationSlug]/onboarding/welcome.tsx
Due: studio

feat: add database onboarding table
  controlplane/migrations/0137_bizarre_aaron_stack.sql
  controlplane/migrations/meta/0137_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
Due: controlplane

feat: provide onboarding metadata
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
Due: controlplane

feat: add demo column to federated graphs
  controlplane/migrations/0138_sturdy_captain_britain.sql
  controlplane/migrations/meta/0138_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/db/schema.ts
Due: controlplane

feat(cache): implement waitForCaches to ensure visibility of cached items during warmup
  router-tests/operations/pql_manifest_test.go
  router/core/cache_warmup.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/internal/persistedoperation/pqlmanifest/store_test.go
Due: router

feat(apq): remove duplicate save logic for manifest-known operations
  router-tests/operations/pql_manifest_test.go
  router/internal/persistedoperation/client.go
Due: router

feat(apq): add IsDistributed method and optimize save logic for manifest-known operations
  router-tests/operations/pql_manifest_test.go
  router/core/graph_server.go
  router/internal/persistedoperation/apq/client.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/internal/persistedoperation/pqlmanifest/store_test.go
Due: router

feat(store): implement Close method to stop update worker and ensure proper resource cleanup
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/pqlmanifest/store.go
Due: router

feat(pql): refactor PQL store integration and improve poller initialization
  router/core/router.go
  router/core/router_config.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/pqlmanifest/fetcher.go
  router/internal/persistedoperation/pqlmanifest/poller.go
  router/internal/persistedoperation/pqlmanifest/store.go
Due: router

feat(tests): update poller tests to use new store instance for improved clarity
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
  router/internal/persistedoperation/pqlmanifest/poller_test.go
Due: router

feat(cache): deduplicate persisted operations and avoid planning twice (#2701)
  demo-router.fly.toml
  router-tests/operations/pql_manifest_test.go
  router-tests/operations/testdata/cache_warmup/json_po_manifest_overlap/graphql.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/manifest.json
  router/core/cache_warmup.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/router.go
  router/core/router_config.go
  router/internal/persistedoperation/apq/client.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/pqlmanifest/fetcher.go
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
  router/internal/persistedoperation/pqlmanifest/poller.go
  router/internal/persistedoperation/pqlmanifest/poller_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/internal/persistedoperation/pqlmanifest/store_test.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

feat(composition): add composeDirective
  composition/src/errors/errors.ts
  composition/src/normalization/types.ts
  composition/src/schema-building/types.ts
  composition/src/schema-building/utils.ts
  composition/src/subgraph/types.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/compose-directive.test.ts
  composition/tests/v1/utils/utils.ts
Due: composition

feat(composition): add composeDirective
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/utils/utils.ts
Due: composition

feat(composition): add composeDirective
  composition/src/v1/federation/federation-factory.ts
Due: composition

feat(composition): add composeDirective
  composition/src/errors/errors.ts
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/directives/compose-directive.test.ts
Due: composition

docs: add docs for requires in connect (#2675)
  docs-website/CLAUDE.md
  docs-website/docs.json
  docs-website/federation/directives.mdx
  docs-website/federation/directives/external.mdx
  docs-website/federation/directives/key.mdx
  docs-website/federation/directives/provides.mdx
  docs-website/federation/directives/requires.mdx
  docs-website/federation/federation-directives-index.mdx
  docs-website/router/gRPC/graphql-support.mdx
  docs-website/router/gRPC/requires.mdx
Due: none

feat: upgrade protographic to protobuf V2
  protographic/src/index.ts
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/tests/sdl-to-mapping/01-basics.test.ts
  protographic/tests/sdl-to-mapping/02-complex-types.test.ts
  protographic/tests/sdl-to-mapping/03-federation.test.ts
  protographic/tests/sdl-to-mapping/04-field-resolvers.test.ts
Due: none

feat: upgrade CLI to Connect V2
  cli/src/commands/operations/commands/push.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/core/client/client.ts
  cli/src/github.ts
  cli/src/handle-composition-result.ts
  cli/src/json-check-schema-output-builder.ts
  cli/test/check-schema.test.ts
  cli/test/graph/utils.ts
  cli/test/json-check-schema-output-builder.test.ts
  cli/test/publish-schema.test.ts
Due: cli

feat: upgrade studio to Connect V2
  studio/src/components/app-provider.tsx
  studio/src/components/check-extensions/check-extensions-config.tsx
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/components/checks/override.tsx
  studio/src/components/create-graph.tsx
  studio/src/components/dashboard/workspace-command-wrapper.tsx
  studio/src/components/dashboard/workspace-provider.tsx
  studio/src/components/lint-policy/graph-pruning-config.tsx
  studio/src/components/lint-policy/linter-config.tsx
  studio/src/components/member-groups/group-resource-selector.tsx
  studio/src/components/member-groups/group-rule-builder.tsx
  studio/src/components/member-groups/group-sheet.tsx
  studio/src/components/notifications/components.tsx
  studio/src/components/playground/custom-scripts.tsx
  studio/src/components/settings/restore-organization.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/groups.tsx
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

feat: fix composition-go/shim toJsonString for protobuf V2
  composition-go/shim/package.json
  composition-go/shim/src/index.ts
  pnpm-lock.yaml
Due: none

fix: resolve CLI lint errors from Connect V2 migration
  cli/src/commands/feature-flag/commands/list.ts
  cli/src/commands/graph/common/changelog.ts
  cli/src/commands/graph/federated-graph/utils.ts
  cli/src/commands/mcp/tools/get-subgraphs.ts
  cli/src/commands/namespace/commands/list.ts
  cli/src/commands/operations/commands/push.ts
  cli/src/commands/proposal/utils.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/commands/subgraph/commands/fetch.ts
  cli/src/commands/subgraph/commands/list.ts
  cli/src/commands/subgraph/commands/publish.ts
  cli/src/core/types/types.ts
  cli/src/handle-composition-result.ts
  cli/src/handle-proposal-result.ts
  cli/test/json-check-schema-output-builder.test.ts
Due: cli

fix: update CLI tests and serializer for protobuf V2
  cli/src/json-check-schema-output-builder.ts
  cli/test/json-check-schema-output-builder.test.ts
  cli/test/parse-operations.test.ts
Due: cli

fix: fix controlplane test compilation errors for protobuf V2
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/graph-pruning.test.ts
  controlplane/test/integrations.test.ts
  controlplane/test/override.test.ts
  controlplane/test/proposal/proposal-webhooks.test.ts
  controlplane/test/restore-organization.test.ts
  controlplane/test/subgraph-check-extensions.test.ts
  controlplane/test/subgraph/subgraph.test.ts
Due: controlplane

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
