Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix(router): let a key's last write in a batch decide its response cache lifetime
  router/pkg/responsecaching/cache/redis/dangling_test.go
  router/pkg/responsecaching/cache/redis/redis.go
Due: router

docs fixed requested by David
  docs-website/federation/directives/openfed__configuredescription.mdx
Due: none

chore: new temporary version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(router): allow fallback_storage alongside storage in execution config schema
  docs-website/router/configuration.mdx
  router/core/init_config_poller.go
  router/core/init_config_poller_test.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
Due: router

fix(router): allow fallback_storage alongside storage in execution config schema (#3319)
  docs-website/router/configuration.mdx
  router/core/init_config_poller.go
  router/core/init_config_poller_test.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
Due: router

style(router): golangci-lint basic set
  router/core/graph_server.go
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
  router/internal/versioninfo/versioninfo.go
  router/pkg/graphqlschemausage/schemausage_test.go
Due: router

fix: remove pointless wrappers
  router/internal/stringsx/string.go
  router/pkg/metric/meter.go
Due: router

style(demo): go fix
  demo/cmd/benchmarksubscriptions/benchmark_test.go
  demo/cmd/subscriptiontest/main.go
  demo/pkg/injector/http.go
  demo/pkg/subgraphs/availability/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/countries/subgraph/countries.go
  demo/pkg/subgraphs/employees/subgraph/employees.go
  demo/pkg/subgraphs/employees/subgraph/generated/federation.requires.go
  demo/pkg/subgraphs/employees/subgraph/resolver.go
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/family/subgraph/employees.go
  demo/pkg/subgraphs/hobbies/subgraph/resolver.go
  demo/pkg/subgraphs/products/subgraph/employees.go
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/products_fg/subgraph/employees.go
  demo/pkg/subgraphs/projects/cmd/service/main.go
  demo/pkg/subgraphs/subgraphs.go
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  demo/pkg/subgraphs/tools.go
Due: none

style(router-plugin): go fix
  router-plugin/httpclient/client.go
  router-plugin/middleware/logging.go
  router-plugin/plugin.go
  router-plugin/tracing/interceptor.go
Due: none

style(router): go fix
  router/pkg/graphqlschemausage/schemausage_bench_test.go
Due: router

style(demo): golangci-lint --fix
  demo/pkg/subgraphs/projects/src/service/service_resolve.go
  demo/pkg/subgraphs/subgraphs.go
Due: none

style(graphqlmetrics): go fix
  graphqlmetrics/cmd/main.go
  graphqlmetrics/core/authentication.go
  graphqlmetrics/core/metrics_service.go
  graphqlmetrics/core/metrics_service_test.go
  graphqlmetrics/core/telemetry_test.go
  graphqlmetrics/pkg/batchprocessor/batchprocessor_test.go
Due: graphqlmetrics

style(graphqlmetrics): golangci-lint --fix
  graphqlmetrics/pkg/telemetry/interceptor.go
Due: graphqlmetrics

style(router-tests): golangci-lint --fix
  router-tests/events/nats_events_test.go
  router-tests/protocol/defer_test.go
  router-tests/testenv/testenv.go
Due: none

fix: remove pointless wrappers
  demo/pkg/subgraphs/countries/subgraph/countries.go
  demo/pkg/subgraphs/employees/subgraph/employees.go
  demo/pkg/subgraphs/family/subgraph/employees.go
  demo/pkg/subgraphs/products/subgraph/employees.go
  demo/pkg/subgraphs/products_fg/subgraph/employees.go
  graphqlmetrics/core/telemetry_test.go
  router-tests/observability/prometheus_test.go
  router-tests/security/circuit_breaker_test.go
  router-tests/security/subgraph_mtls_test.go
  router-tests/security/timeout_test.go
  router-tests/telemetry/connection_metrics_test.go
  router-tests/telemetry/telemetry_test.go
  router-tests/testutils/utils.go
Due: graphqlmetrics

ci: check go fix in go-linter action
  .github/actions/go-linter/action.yaml
Due: none

refactor(router): simplify response cache invalidation and writes
  router/pkg/responsecaching/cache/redis/invalidation.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/set.go
Due: router

feat: add engine config to switch between grpc codecs
  router-tests/go.mod
  router-tests/go.sum
  router-tests/protocol/grpc_subgraph_test.go
  router-tests/testenv/testenv.go
  router/core/factoryresolver.go
  router/core/router_config.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: add docs
  docs-website/router/configuration.mdx
  docs-website/router/gRPC/concepts.mdx
Due: none

fix(router): allow printable ASCII persisted operation IDs (#3324)
  docs-website/router/persisted-queries/persisted-operations.mdx
  router-tests/operations/custom_operation_ids_test.go
  router/core/custom_operation_ids_test.go
  router/core/operation_processor.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
Due: router

docs(router): document query generation tool
  docs-website/router/mcp/oauth/configuration.mdx
  docs-website/router/mcp/tools.mdx
Due: none

refactor(router): centralize control plane transport
  router/internal/controlplane/transport.go
Due: router

feat(router): add AI query generation client
  router/internal/prompttoquery/client.go
Due: router

feat(router): add generate_query MCP tool
  router/core/graph_server.go
  router/pkg/mcpserver/discover_test.go
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
Due: router

feat(router): configure query generation scope
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
Due: router

feat(router): gate query generation by token feature
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/internal/jwt/claims.go
Due: router

refactor(router): extract the generic operation manifest package
  router-tests/operations/pql_manifest_test.go
  router/core/cache_warmup_manifest.go
  router/core/cache_warmup_manifest_test.go
  router/core/cache_warmup_planning_test.go
  router/core/custom_operation_ids_test.go
  router/core/operation_processor.go
  router/core/persisted_operation_manifest_test.go
  router/core/router.go
  router/core/router_config.go
  router/internal/operationmanifest/cdn_loader.go
  router/internal/operationmanifest/cdn_loader_test.go
  router/internal/operationmanifest/poller.go
  router/internal/operationmanifest/poller_test.go
  router/internal/operationmanifest/storage_fetcher.go
  router/internal/operationmanifest/storage_fetcher_test.go
  router/internal/operationmanifest/store.go
  router/internal/operationmanifest/store_test.go
  router/internal/persistedoperation/README.md
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/client_test.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/s3/client.go
Due: router

fix(router): load S3 manifests with ETag conditional requests
  router/core/router.go
  router/internal/operationmanifest/s3_loader.go
  router/internal/operationmanifest/s3_loader_test.go
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/internal/persistedoperation/operationstorage/s3/client_test.go
Due: router

refactor(router): load explicit CDN provider manifests with the CDN loader
  router/core/router.go
  router/internal/operationmanifest/storage_fetcher.go
  router/internal/operationmanifest/storage_fetcher_test.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
Due: router

feat(router): add a file manifest loader
  router/internal/operationmanifest/file_loader.go
  router/internal/operationmanifest/file_loader_test.go
  router/internal/operationmanifest/store.go
  router/internal/operationmanifest/store_test.go
Due: router

feat(router): load persisted operation manifests from file system storage providers
  docs-website/router/configuration.mdx
  docs-website/router/persisted-queries/persisted-operations.mdx
  docs-website/router/storage-providers.mdx
  router-tests/operations/pql_manifest_test.go
  router/core/provider_registry.go
  router/core/provider_registry_test.go
  router/core/router.go
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/internal/persistedoperation/README.md
Due: router

fix(router): stop the manifest store from panicking on a load after close
  router/internal/operationmanifest/store.go
  router/internal/operationmanifest/store_test.go
Due: router

fix(router): swap MCP tools without removing tools that stay registered
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
Due: router

test(router): cover MCP operation manifests end to end
  router-tests/protocol/mcp_manifest_test.go
Due: none

feat(router): load MCP operations from a hot-reloaded operation manifest
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
  router/pkg/schemaloader/loader.go
  router/pkg/schemaloader/loader_test.go
Due: router

feat(router): poll operation manifests without jitter and deprecate poll_jitter
  docs-website/router/configuration.mdx
  docs-website/router/persisted-queries/persisted-operations.mdx
  router-tests/operations/custom_operation_ids_test.go
  router-tests/operations/pql_manifest_test.go
  router/core/router.go
  router/internal/operationmanifest/file_loader_test.go
  router/internal/operationmanifest/poller.go
  router/internal/operationmanifest/poller_test.go
  router/internal/operationmanifest/s3_loader.go
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/internal/s3client/client.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
  router/pkg/routerconfig/s3/client.go
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
