Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

docs(router): clarify CORS regex matching and configuration
  docs-website/router/configuration.mdx
  router/pkg/config/config.schema.json
Due: router

refactor(router): simplify regex CORS tests and clarify compilation
  docs-website/router/configuration.mdx
  router/core/cors_test.go
  router/pkg/config/config_test.go
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

test(router): trim redundant CORS regex coverage
  router/core/cors_test.go
  router/pkg/cors/cors_test.go
Due: router

test(router): simplify panic assertion and parallelize startup cases
  router/core/cors_test.go
  router/pkg/cors/cors_test.go
Due: router

feat(router): match CORS origin regexes case-insensitively by default
  docs-website/router/configuration.mdx
  router/pkg/config/config.schema.json
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

fix(router): leave CORS regex anchoring to configured patterns
  docs-website/router/configuration.mdx
  router/core/cors_test.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

test(router): consolidate CORS regex coverage
  router/pkg/cors/config.go
  router/pkg/cors/cors_test.go
Due: router

test(router): trim JWT policy YAML validation cases
  router/pkg/config/config_jwt_test.go
  router/pkg/config/config_test.go
Due: router

feat(router): support regex-based CORS origin matching (#3232)
  docs-website/router/configuration.mdx
  router/core/router.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/cors/config.go
  router/pkg/cors/cors.go
  router/pkg/cors/cors_test.go
Due: router

fix: tests
  router-tests/operations/response_cache_tag_header_test.go
  router/core/response_cache_tag_header_test.go
Due: router

fix: improvements
  router/core/response_cache_tag_header.go
Due: router

fix: tests
  router/core/response_cache_tag_header_test.go
Due: router

removed slack connect from Scale plan
  controlplane/src/bin/billing.json
Due: controlplane

chore: bump graphql-go-tools to response-cache-vary head
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: remove Slack Connect from Scale plan (#3255)
  controlplane/src/bin/billing.json
Due: controlplane

chore: bump graphql-go-tools to private-dataset head
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

test: the merged entity fetch is now cached
  router-tests/operations/response_cache_test.go
Due: none

feat: implement support space separated organization ids and avoid exiting with status `1`
  controlplane/src/bin/enable-split-config-loading.ts
Due: controlplane

fix(router)!: enforce zero-valued complexity limits
  docs-website/router/configuration.mdx
  router-tests/operations/complexity_limits_test.go
  router/core/operation_processor.go
  router/pkg/config/config.schema.json
Due: router

feat(router): cache merged entity fetches and cap Cache-Control at the cached TTL
  docs-website/router/response-cache.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/operations/response_cache_test.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/header_rule_engine.go
  router/go.mod
  router/go.sum
Due: router

fix: updates
  router-tests/operations/response_cache_tag_header_test.go
  router/core/header_rule_engine.go
  router/core/response_cache_tag_header.go
  router/core/response_cache_tag_header_test.go
  router/pkg/responsecaching/cache/in_memory/in_memory.go
  router/pkg/responsecaching/cache/in_memory/in_memory_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/redis_test.go
Due: router

chore: add client middleware section
  rfc/at-least-once-v1.md
Due: none

fix(router): add SSE server write timeout
  docs-website/router/configuration.mdx
  docs-website/router/custom-modules.mdx
  router-tests/modules/non-flusher-writer/module.go
  router-tests/subscriptions/http_subscriptions_test.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix(router): handle initial SSE transport failures
  router-tests/subscriptions/http_subscriptions_test.go
  router/core/graphql_handler.go
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
Due: router

chore: add mermaid diagram
  rfc/at-least-once-v1.md
Due: none

fix(router): add SSE server write timeout (#3238)
  docs-website/router/configuration.mdx
  docs-website/router/custom-modules.mdx
  router-tests/modules/non-flusher-writer/module.go
  router-tests/subscriptions/http_subscriptions_test.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: fix spelling, phrasing, line wraps
  rfc/at-least-once-v1.md
Due: none

chore: tackle client ack gaps
  rfc/at-least-once-v1.md
Due: none

chore: address expires_at + max_resume_window
  rfc/at-least-once-v1.md
Due: none

chore: improve ptq client initialization and add token to requests
  controlplane/.env.example
  controlplane/src/core/bufservices/AIService.ts
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/createFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/recomposeFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/migrateFromApollo.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/bufservices/graph/recomposeGraph.ts
  controlplane/src/core/bufservices/graph/setGraphRouterCompatibilityVersion.ts
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/moveSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/services/CompositionService.ts
  controlplane/src/core/services/PromptToQueryService.ts
  controlplane/src/index.ts
Due: controlplane

fix: apply rbac correctly when groups are limited to specific subgraphs (#3215)
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/test/feature-flag/get-feature-flags.test.ts
Due: controlplane

test: restore leading whitespace in scalar test constants
  composition/tests/v1/utils/utils.ts
Due: composition

test: use interpolation in the requires warning expectation
  composition/tests/v1/directives/fieldset-directives.test.ts
Due: composition

chore: update script logs
  controlplane/src/bin/enable-split-config-loading.ts
Due: controlplane

chore: add missing values for ptq service
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/config-map.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
Due: none

fix(router): use incrementalSpec=v0.2 in Content-Type header for @defer and reject unsupported spec
  router-tests/protocol/defer_accept_test.go
  router-tests/protocol/defer_test.go
  router/core/defer_accept_test.go
  router/core/defer_response_writer.go
  router/core/errors.go
  router/core/graphql_prehandler.go
Due: router

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
  router/CHANGELOG.md
  router/package.json
Due: router, controlplane

chore: use comma instead of space to separate identifiers
  controlplane/src/bin/enable-split-config-loading.ts
Due: controlplane

feat(sentry): always sample the checks and publishes (#3253)
  controlplane/src/core/sentry.config.ts
Due: controlplane

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
