Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

feat: add SubscriptionBeforeTrigger hook
  router/core/factoryresolver.go
  router/core/router.go
  router/core/router_config.go
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

chore: update packages to resolve vulnerabilities (#2971)
  client-tests/mcp-ts/package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

fix: readd json string delimiters when merging input
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

chore: remove error return option from hook
  router/core/router_config.go
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

chore: remove unnecessary set function
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

chore: mention experimental methods in godoc
  router/core/subscriptions_modules.go
Due: router

chore: update go.mod to temporary engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: pool batch publish status
  cli/src/commands/subgraph/commands/batch-publish.ts
  cli/src/commands/subgraph/utils/pool-batch-publish-status.ts
Due: cli

chore: linting
  cli/src/commands/subgraph/utils/pool-batch-publish-status.ts
Due: cli

chore: cleanup `Redlock` definition
  controlplane/src/redlock.d.ts
Due: controlplane

feat: add script to delete data older than 90 days (#2693)
  controlplane/migrations/0142_melted_lethal_legion.sql
  controlplane/migrations/meta/0142_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/bin/cleanup-old-data.ts
  controlplane/src/db/schema.ts
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/cleanup-old-data-cronjob.yaml
  helm/cosmo/charts/controlplane/values.yaml
Due: controlplane

chore: fix typos
  cli/src/commands/subgraph/commands/batch-publish.ts
  cli/src/commands/subgraph/utils/poll-batch-publish-status.ts
Due: cli

chore: update docs
  helm/cosmo/charts/controlplane/README.md
Due: none

feat: add variables logging to access log
  docs-website/router/configuration/template-expressions.mdx
  router-tests/observability/structured_logging_test.go
  router/core/graphql_prehandler.go
  router/internal/expr/expr.go
  router/internal/expr/request_operation_bucket_visitor.go
  router/internal/expr/request_operation_bucket_visitor_test.go
  router/internal/expr/use_request_operation_variables.go
  router/internal/expr/uses_request_operation_variables_test.go
  router/internal/expr/visitor_group.go
  router/internal/expr/visitor_group_test.go
Due: router

feat: cron to enqueue inactive organizations for deletion (#2418)
  controlplane/package.json
  controlplane/src/bin/delete-inactive-orgs.ts
  controlplane/src/core/bufservices/organization/deleteOrganization.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/workers/CacheWarmerWorker.ts
  controlplane/src/core/workers/DeactivateOrganizationWorker.ts
  controlplane/src/core/workers/DeleteOrganizationAuditLogsWorker.ts
  controlplane/src/core/workers/DeleteOrganizationWorker.ts
  controlplane/src/core/workers/DeleteUserQueue.ts
  controlplane/src/core/workers/NotifyOrganizationDeletionQueuedWorker.ts
  controlplane/src/core/workers/ReactivateOrganizationWorker.ts
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/delete-inactive-orgs.yaml
  helm/cosmo/charts/controlplane/values.yaml
  pnpm-lock.yaml
Due: controlplane

chore: regenerate migrations
  controlplane/migrations/0143_naive_overlord.sql
  controlplane/migrations/meta/0143_snapshot.json
  controlplane/migrations/meta/_journal.json
  pnpm-lock.yaml
Due: controlplane

chore: update tests
  controlplane/test/subgraph/batch-publish-subgraphs.test.ts
  controlplane/test/test-util.ts
Due: controlplane

chore: remove `msgpackr` override as `bullmq` has been updated
  package.json
  pnpm-lock.yaml
Due: none

chore: fix test
  controlplane/test/subgraph/batch-publish-subgraphs.test.ts
Due: controlplane

fix(router): avoid blocking token validation across JWKS providers
  router-tests/security/authentication_test.go
  router/pkg/authentication/jwks_token_decoder.go
Due: router

chore(router): pin graphql-go-tools to entity-caching build + adapt astjson
  router/core/flushwriter.go
  router/go.mod
  router/go.sum
Due: router

feat(cache): entity caching foundation — config schema and wiring (no backend)
  router/core/entity_cache.go
  router/core/entity_cache_test.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/graphql_prehandler_request_options_test.go
  router/core/provider_registry.go
  router/core/provider_registry_test.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat(cache): enable per-request L1 entity cache
  router/core/graphql_prehandler.go
  router/core/graphql_prehandler_request_options_test.go
Due: router

feat(cache): Redis L2 entity cache backend
  router/core/entity_cache.go
  router/core/entity_cache_redis.go
  router/core/entity_cache_redis_test.go
  router/core/entity_cache_test.go
  router/core/router.go
Due: router

feat(cache): in-memory L2 entity cache backend
  router/core/entity_cache.go
  router/core/entity_cache_memory.go
  router/core/entity_cache_memory_test.go
Due: router

feat(cache): circuit breaker decorator for the L2 entity cache
  router/core/entity_cache.go
  router/core/entity_cache_circuit_breaker.go
  router/core/entity_cache_circuit_breaker_test.go
  router/core/entity_cache_memory_test.go
  router/core/entity_cache_redis_test.go
Due: router

feat(cache): per-request cache-control headers (dev-gated)
  router/core/graphql_prehandler.go
  router/core/graphql_prehandler_request_options_test.go
Due: router

feat(cache): entity cache analytics export (OTLP / Prometheus)
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_handler_entity_cache_metrics_test.go
  router/core/graphql_prehandler.go
  router/core/graphql_prehandler_request_options_test.go
  router/core/operation_metrics_test.go
  router/core/router.go
  router/core/router_config.go
  router/core/router_metrics.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/entity_cache_metrics.go
  router/pkg/metric/entity_cache_metrics_test.go
Due: router

feat(cache): shadow mode wiring (staleness via analytics export)
  router/core/entity_cache_test.go
  router/core/factoryresolver.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
Due: router

fix: add missing go.sum engine entry
  router/go.sum
Due: router

feat(cache): mutation and extension-based cache invalidation config
  router/core/entity_cache.go
  router/core/entity_cache_test.go
  router/core/factoryresolver.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Due: router

feat(cache): subscription-driven cache populate / invalidate
  router/core/entity_cache.go
  router/core/entity_cache_memory_test.go
  router/core/entity_cache_test.go
  router/core/executor.go
  router/core/executor_entity_cache_test.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/entity_cache_metrics.go
  router/pkg/metric/entity_cache_metrics_test.go
Due: router

docs(cache): entity caching operator + integration reference
  router/docs/entity-caching/integration-notes.md
  router/docs/entity-caching/operator-guide.md
Due: router

chore: rename hook
  router/core/factoryresolver.go
  router/core/router.go
  router/core/router_config.go
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

test(router-tests): entity caching E2E harness + control (hit case documents a planner gap)
  router-tests/entity_caching_test.go
  router-tests/go.mod
  router-tests/go.sum
Due: none

chore: remove unnecessary interface guard
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

chore: update go.mod
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
  router/pkg/pubsub/datasource/subscription_datasource.go
  router/pkg/pubsub/datasource/subscription_datasource_test.go
Due: router

fix: use named returns
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

chore: fix go.mod
  router/go.mod
  router/go.sum
Due: router

chore: add unit tests
  router/pkg/pubsub/datasource/subscription_datasource_test.go
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
