Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: add missing workspace entries
  pnpm-lock.yaml
Due: none

fix: review fixes
  client-tests/apollo-js/package.json
  package.json
  studio/package.json
Due: studio

fix: review comments
  router-tests/telemetry/metrics_log_export_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/metric/config.go
  router/pkg/metric/log_exporter.go
  router/pkg/metric/meter.go
Due: router

fix: ignore composition coverage reports
  .prettierignore
  composition/.prettierignore
Due: composition

fix: format composition files
  composition/CHANGELOG.md
  composition/README.md
  composition/tsconfig.json
  composition/vite.config.ts
Due: composition

fix: formatting
  controlplane/.prettierignore
  controlplane/src/templates/emails/organizationDeletionQueued.html
  controlplane/src/templates/emails/organizationInvite.html
Due: controlplane

fix: only run write with prettier
  controlplane/emails/package.json
Due: controlplane

fix: formatting controlplane ts configs
  controlplane/package.json
  controlplane/src/core/bufservices/plugin/validateAndFetchPluginData.ts
  controlplane/src/core/bufservices/subgraph/createFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/build-server.ts
  pnpm-lock.yaml
Due: controlplane

fix: updates
  router-tests/telemetry/metrics_log_export_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/log_exporter.go
Due: router

chore: move `authSsoCookieDomain` from `secrets.yaml` to `config-map.yaml`
  helm/cosmo/charts/controlplane/templates/config-map.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
Due: none

feat: re-usable action for checking dirty git
  .github/actions/git-dirty-check/action.yaml
  .github/workflows/aws-lambda-router-ci.yaml
  .github/workflows/cli-ci.yaml
  .github/workflows/composition-ci.yaml
  .github/workflows/connect-go-ci.yaml
  .github/workflows/controlplane-ci.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .github/workflows/playground-ci.yaml
  .github/workflows/protographic.yaml
  .github/workflows/router-ci.yaml
  .github/workflows/studio-ci.yaml
Due: none

chore: bump trivy version
  .github/actions/image-scan/action.yaml
Due: none

fix: specify vulnerability DB
  trivy.yaml
Due: none

feat: add sso cookie domain to helm values (#2444)
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/config-map.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/values.yaml
Due: none

feat: improve invitation handling
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/test/invite-user.test.ts
  controlplane/test/scim.test.ts
Due: controlplane

chore: tighten tests
  controlplane/test/invite-user.test.ts
  controlplane/test/scim.test.ts
Due: controlplane

feat: ignore pascal case + input prefix lint rules for EDFS (#2574)
  controlplane/src/core/services/SchemaLinter.ts
  controlplane/test/lint.test.ts
  studio/src/components/lint-policy/linter-config.tsx
Due: studio, controlplane

feat: re-usable action for checking dirty git (#2580)
  .github/actions/git-dirty-check/action.yaml
  .github/actions/image-scan/action.yaml
  .github/workflows/aws-lambda-router-ci.yaml
  .github/workflows/cli-ci.yaml
  .github/workflows/composition-ci.yaml
  .github/workflows/connect-go-ci.yaml
  .github/workflows/controlplane-ci.yaml
  .github/workflows/graphqlmetrics-ci.yaml
  .github/workflows/playground-ci.yaml
  .github/workflows/protographic.yaml
  .github/workflows/router-ci.yaml
  .github/workflows/studio-ci.yaml
  trivy.yaml
Due: none

chore(router): gofmt (#2576)
  .github/actions/go-linter/action.yaml
  aws-lambda-router/Makefile
  composition-go/Makefile
  graphqlmetrics/Makefile
  package.json
  router-tests/Makefile
  router-tests/connectrpc/connectrpc_client_test.go
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc/connectrpc_test.go
  router-tests/modules/verify-operation-context-values/module.go
  router/Makefile
  router/core/context.go
  router/core/operation_processor.go
  router/core/plan_generator.go
  router/pkg/config/config.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/operation_loader.go
  router/pkg/connectrpc/vanguard_service_test.go
  router/pkg/mcpserver/server.go
Due: router, graphqlmetrics

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: studio, controlplane

chore: revert package.json
  package.json
Due: none

chore: update codeowners
  .github/CODEOWNERS
Due: none

fix: lint issues
  controlplane/CHANGELOG.md
Due: controlplane

feat: metrics log exporter for otel to print span information (#2538)
  router-tests/telemetry/metrics_log_export_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/log_exporter.go
  router/pkg/metric/meter.go
Due: router

fix: use gofmt without find
  aws-lambda-router/package.json
  graphqlmetrics/package.json
  router-plugin/package.json
  router/package.json
Due: router, graphqlmetrics

chore: revert Makefiles in favor of another pull request
  aws-lambda-router/Makefile
  composition-go/Makefile
  router-tests/Makefile
  router/Makefile
Due: router

chore: fix Makefile
  composition-go/Makefile
Due: none

chore: revert graphqlmetrics/Makefile
  graphqlmetrics/Makefile
Due: graphqlmetrics

fix: do not format changelogs
  .prettierignore
  composition/CHANGELOG.md
  controlplane/CHANGELOG.md
Due: controlplane, composition

fix: add prettierignore for all packages
  cdn-server/.prettierignore
  cli/.prettierignore
  composition/.prettierignore
  controlplane/.prettierignore
  controlplane/package.json
  playground/.prettierignore
  protographic/.prettierignore
  shared/.prettierignore
  studio/.prettierignore
Due: cli, studio, controlplane, composition

feat(router): make log service name configurable via LOG_SERVICE_NAME (#2533)
  router/cmd/main.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: enhance schema change detection by including type additions and modifications in breaking change logic
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/proposal/proposal-federated-schema-breaking-changes.test.ts
Due: controlplane

test: add detailed checks for breaking changes in federated graph summaries
  controlplane/test/check-subgraph-schema.test.ts
Due: controlplane

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
