Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: reuse unchanged feature flag muxes
  router/core/graph_server.go
Due: router

chore: track active ff muxes on Router object
  router/core/graph_server.go
  router/core/router.go
Due: router

feat: prepare command
  cli/src/commands/clients/commands/list.ts
  cli/src/commands/clients/index.ts
  cli/src/commands/index.ts
Due: cli

fix: update fast-xml-parser
  package.json
  pnpm-lock.yaml
Due: none

fix: update rollup 3.x
  package.json
  pnpm-lock.yaml
Due: none

feat: client list command
  cli/src/commands/clients/commands/list.ts
  cli/test/clients-list.test.ts
  docs-website/cli/clients.mdx
  docs-website/cli/clients/list.mdx
  docs-website/docs.json
Due: cli

feat: prepare back-end for deleting clients and related operations
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/persisted-operation/deleteClient.ts
  controlplane/src/core/bufservices/persisted-operation/previewDeleteClient.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/persisted-operations.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

feat: delete clients CLI integration
  cli/src/commands/clients/commands/delete.ts
  cli/src/commands/clients/index.ts
  cli/test/clients-delete.test.ts
  docs-website/cli/clients.mdx
  docs-website/cli/clients/delete.mdx
  docs-website/docs.json
Due: cli

fix: don't shut down reused ff muxes
  router/core/graph_server.go
Due: router

use full value of slicing argument in the error
  composition-go/index.global.js
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

refine error messages
  composition-go/index.global.js
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

fix lint
  composition/tests/v1/directives/listSize.test.ts
Due: composition

feat: persist websocket connections on graph server switch
  router/core/graph_server.go
Due: router

fix: remediate vulnerabilities in rollup and fast-xml-parser (#2796)
  package.json
  pnpm-lock.yaml
Due: none

chore: clean up and address PR feedback
  composition-go/index.global.js
  composition/src/directive-definition-data/types/params.ts
  composition/src/directive-definition-data/types/types.ts
  composition/src/directive-definition-data/utils.ts
  composition/src/errors/errors.ts
  composition/src/v1/constants/strings.ts
  composition/src/v1/normalization/batch-normalization/batch-normalizer.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/compose-directive.test.ts
Due: composition

fix: enforce NodeJS v22, v24
  .github/actions/node/action.yaml
  .github/workflows/cli-ci.yaml
Due: none

fix: do not override deps
  composition/package.json
  pnpm-lock.yaml
Due: composition

fix: missing set methods in composition-go
  composition-go/index.global.js
  composition-go/shim/package.json
  composition-go/shim/src/index.ts
  composition-go/shim/src/polyfill.js
  pnpm-lock.yaml
Due: none

fix: prettier runtime dep
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/analytics/trace-details.tsx
Due: studio

fix: update cli readme
  cli/README.md
Due: cli

feat: onboarding wizard #5 (#2750)
  cli/.env.example
  cli/src/commands/demo/api.ts
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/index.ts
  cli/src/commands/demo/types.ts
  cli/src/commands/demo/util.ts
  cli/src/commands/index.ts
  cli/src/commands/router/commands/plugin/commands/publish.ts
  cli/src/commands/router/commands/token/commands/create.ts
  cli/src/commands/router/commands/token/commands/delete.ts
  cli/src/core/config.ts
  cli/src/core/plugin-publish.ts
  cli/src/core/router-token.ts
  cli/src/utils.ts
  cli/test/demo/command.test.ts
  cli/test/demo/util.test.ts
  docs-website/cli/demo.mdx
  docs-website/docs.json
  docs-website/images/cli-demo.png
Due: cli

feat: onboarding wizard #6 (#2768)
  cli/src/commands/demo/command.ts
  cli/src/commands/demo/util.ts
  cli/test/demo/command.test.ts
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/onboarding/step-1.tsx
  studio/src/components/onboarding/step-2.tsx
  studio/src/components/onboarding/step-3.tsx
  studio/src/components/onboarding/step-finished.tsx
  studio/src/hooks/use-onboarding-navigation.ts
  studio/src/lib/track.ts
Due: cli, studio

rename variables and argument of a directive
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  router-tests/security/costs_test.go
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
  router/core/factoryresolver.go
Due: router

update global
  composition-go/index.global.js
Due: none

Update docs-website/router/subscriptions-migration.mdx
  docs-website/router/subscriptions-migration.mdx
Due: none

fix: improve ws close in router websocket handling
  router/core/graphql_handler.go
  router/core/websocket.go
  router/internal/wsproto/absinthe.go
  router/internal/wsproto/graphql_ws.go
  router/internal/wsproto/proto.go
  router/internal/wsproto/subscriptions_transport_ws.go
Due: router

verify that nullified argument of directive does not change cost
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
Due: none

docs: improve speedtrap README
  docs-website/router/subscriptions-migration.mdx
  speedtrap/README.md
Due: none

feat(router): support costs on arguments of directives (#2781)
  composition-go/index.global.js
  composition/src/router-configuration/types.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types.ts
  composition/tests/v1/directives/cost.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  demo/pkg/subgraphs/employees/gqlgen.yml
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  docs-website/router/security/cost-control.mdx
  proto/wg/cosmo/node/v1/node.proto
  router-tests/go.mod
  router-tests/go.sum
  router-tests/security/costs_test.go
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
  router/core/factoryresolver.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/go.mod
  router/go.sum
  shared/src/router-config/builder.ts
Due: router, composition

chore(release): Publish [skip ci]
  cdn-server/CHANGELOG.md
  cdn-server/cdn/CHANGELOG.md
  cdn-server/cdn/package.json
  cdn-server/package.json
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  playground/CHANGELOG.md
  playground/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

use latest go tools
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: drop NodeJS 20 support (#2805)
  .github/actions/node/action.yaml
  .github/workflows/cli-ci.yaml
  cli/README.md
  pnpm-lock.yaml
  studio/package.json
  studio/src/components/analytics/trace-details.tsx
Due: cli, studio

feat(controlplane): add support for failover s3 bucket in helm chart
  controlplane/src/bin/get-config.ts
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
Due: controlplane

feat(controlplane): add support for failover s3 bucket in helm chart (#2803)
  controlplane/src/bin/get-config.ts
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
Due: controlplane

feat(router): allow fallback cdn url to be specified
  router/core/cache_warmup_cdn.go
  router/core/cache_warmup_cdn_test.go
  router/core/graph_server.go
  router/core/init_config_poller.go
  router/core/router.go
  router/internal/httpclient/fallback.go
  router/internal/httpclient/fallback_test.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/cdn/client_test.go
  router/internal/persistedoperation/pqlmanifest/fetcher.go
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
  router/pkg/config/config.go
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/cdn/client_test.go
Due: router

feat(router): add ConnectRPC protocol support for gRPC subgraphs
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/pkg/config/config.go
  router/pkg/grpcprotocol/config.go
  router/pkg/grpcprotocol/config_test.go
  router/pkg/grpcprotocol/transport_builder.go
  router/pkg/grpcprotocol/transport_builder_test.go
Due: router

fix(router): wire grpcProtocolConfig and validate ConnectRPC config
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/go.mod
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
