Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: improve readibility
  router/core/engine_loader_hooks.go
Due: router

chore: replace Eq To Jsoneq to avoid flakiness
  router-tests/error_handling_test.go
Due: none

feat(mcp): add OAuth 2.1 authorization with JWT validation and per-tool scopes
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/mcp_auth_e2e_test.go
  router-tests/mcp_auth_harness_example.go
  router-tests/mcp_oauth_e2e_test.go
  router-tests/mcp_test.go
  router-tests/testenv/testenv.go
  router-tests/testutil/auth_helpers.go
  router-tests/testutil/jwt_helper.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/errors.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/schema_compiler.go
  router/pkg/mcpserver/server.go
Due: router

docs(mcp): clarify error code ranges to avoid JSON-RPC conflicts
  router/pkg/mcpserver/errors.go
Due: router

feat(mcp): add per-tool scope verification and random port allocation for tests
  router-tests/mcp_oauth_e2e_test.go
  router-tests/testutil/jwt_helper.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/server.go
Due: router

fix(mcp): improve error handling and security hardening
  router-tests/mcp_auth_e2e_test.go
  router-tests/mcp_test.go
  router-tests/testutil/auth_helpers.go
  router-tests/testutil/jwt_helper.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/server.go
Due: router

feat(mcp): migrate to official modelcontextprotocol/go-sdk
  router/go.mod
  router/go.sum
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/server.go
Due: router

fix: bump go-m1cpu to v0.1.7 to fix compiler warnings (#2550)
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: tests
  router-tests/subgraph_mtls_test.go
  router/pkg/config/config.go
Due: router

fix: tests
  router-tests/subgraph_mtls_test.go
Due: none

diversify tests a little
  router-tests/costs_test.go
Due: none

feat: add mTLS support (#2514)
  router-tests/subgraph_mtls_test.go
  router-tests/testenv/testenv.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/core/tls.go
  router/core/tls_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

add directives to the schemas
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
Due: none

remove debug statement
  router/core/plan_generator.go
Due: router

fix: review comments
  router-tests/telemetry/metrics_log_export_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/meter.go
  router/pkg/metric/metrics_log_exporter.go
Due: router

fix: naming
  router-tests/telemetry/metrics_log_export_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/log_exporter.go
  router/pkg/metric/meter.go
Due: router

chore: remove obsolete code
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/sdl-validation-visitor.ts
Due: none

chore: add test for nested composite type
  protographic/tests/proto-utils/build-proto-message.test.ts
Due: none

chore: updates from PR reviews
  protographic/src/abstract-selection-rewriter.ts
  protographic/src/index.ts
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/tests/field-set/01-basics.test.ts
  protographic/tests/sdl-to-mapping/03-federation.test.ts
Due: none

refactor: improve handling of federated graph schema changes and update check summary logic
  controlplane/src/core/bufservices/check/getCheckSummary.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/types/index.ts
  controlplane/test/check-subgraph-schema.test.ts
Due: controlplane

chore: update base image in Dockerfile to use Java 22
  keycloak/Dockerfile
Due: none

fix: log configuration
  router-tests/telemetry/attribute_processor_test.go
  router/pkg/trace/errors.go
  router/pkg/trace/meter.go
Due: router

fix: reword hints
  router-tests/telemetry/attribute_processor_test.go
  router/pkg/trace/errors.go
Due: router

chore(release): Publish [skip ci]
  aws-lambda-router/CHANGELOG.md
  aws-lambda-router/package.json
  router/CHANGELOG.md
  router/package.json
Due: router

remove delta metrics as redundant
  router-tests/costs_test.go
  router/core/operation_metrics.go
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
  router/pkg/metric/noop_metrics.go
  router/pkg/metric/otlp_metric_store.go
  router/pkg/metric/prom_metric_store.go
Due: router

fix: vulnerabilities (#2548)
  keycloak/Dockerfile
  keycloak/theme/package-lock.json
  keycloak/theme/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix: resolve cve-2026-25896
  cdn-server/package.json
  controlplane/package.json
  package.json
  pnpm-lock.yaml
Due: controlplane

chore: use wip go-tools 68aba232
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

wip: subs v2
  router-tests/go.mod
  router-tests/go.sum
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/errors.go
  router/core/factoryresolver.go
  router/core/graphql_handler.go
  router/core/plan_generator.go
  router/core/websocket.go
  router/debug.config.yaml
  router/go.mod
  router/go.sum
Due: router

chore: use wip go-tools a8c13cef
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: use wip go-tools 91e86299
  router-tests/go.mod
  router-tests/go.sum
  router/core/factoryresolver.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
Due: router

wip
  router-tests/go.mod
  router-tests/headers_test.go
  router/core/graph_server.go
  router/core/websocket.go
  router/go.mod
Due: router

chore: use wip go-tools a3b74352
  router-tests/go.mod
  router-tests/go.sum
  router/core/errors.go
  router/go.mod
  router/go.sum
Due: router

fix: query param forwarding and skipped tests
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/automatic_persisted_queries_test.go
  router-tests/go.mod
  router-tests/headers_test.go
  router-tests/introspection_test.go
  router-tests/testdata/introspection/base-graph-schema.json
  router-tests/testdata/introspection/feature-graph-schema.json
  router-tests/testenv/testdata/config.json
  router-tests/websocket_test.go
  router/core/graphql_handler.go
Due: router

add extensions to headerValue sub in test1
  demo/pkg/subgraphs/test1/subgraph/generated/generated.go
  demo/pkg/subgraphs/test1/subgraph/model/models_gen.go
  demo/pkg/subgraphs/test1/subgraph/schema.graphqls
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
Due: none

wip: raise subscription interval for hook test
  router-tests/modules/start_subscription_test.go
Due: none
