Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

feat: add support for config splitting (#2893)
  cli/e2e/smoke.test.ts
  cli/src/commands/auth/utils.ts
  cli/src/commands/graph/federated-graph/commands/fetch.ts
  cli/src/commands/graph/federated-graph/utils.ts
  cli/src/commands/mcp/tools/federated-graph-tools.ts
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/fetch.ts
  cli/src/commands/router/commands/types/params.ts
  cli/src/commands/router/commands/types/types.ts
  cli/src/commands/router/types/params.ts
  cli/src/commands/router/types/types.ts
  cli/src/commands/router/utils.ts
  cli/test/fixtures/router-compose/router-config.json.snap
  cli/test/fixtures/router-compose/split-config/feature-flags/my-feature-flag.json.snap
  cli/test/fixtures/router-compose/split-config/mapper.json.snap
  cli/test/fixtures/router-compose/split-config/router-config.json.snap
  cli/test/graph/federated-graph/fetch.test.ts
  cli/test/graph/federated-graph/recompose.test.ts
  cli/test/router/compose.test.ts
  cli/test/router/fetch.test.ts
  cli/test/router/utils.test.ts
  cli/test/router/utils.ts
  cli/test/testdata/compose.yaml
  controlplane/src/core/bufservices/federated-graph/createFederatedGraphToken.ts
  controlplane/src/core/bufservices/federated-graph/generateRouterToken.ts
  controlplane/src/core/constants.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/services/CompositionService.ts
  docs-website/cli/router/compose.mdx
Due: cli, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: cli, controlplane

chore: add warning for provides on union
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/params.ts
  composition/src/v1/utils/utils.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/provides.test.ts
Due: composition

fix: contracts composed multiple times
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/contracts.test.ts
Due: controlplane

fix: documentation
  docs/entity-caching/README.md
Due: none

chore: linting
  controlplane/test/contracts.test.ts
Due: controlplane

fix: contracts composed multiple times (#3040)
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/contracts.test.ts
Due: controlplane

fix: propagate missing configuration
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/params.ts
  composition/src/v1/normalization/types/results.ts
  composition/tests/v1/directives/provides.test.ts
Due: composition

fix: propagate missing configuration
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

chore: update go.mod to latest graphql-go-tools
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(router): validate operations before variable extraction (ENG-9820)
  router-tests/observability/structured_logging_test.go
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/inline_literal_validation_test.go
  router-tests/protocol/batch_test.go
  router-tests/subscriptions/inline_literal_validation_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/cache_warmup.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/plan_generator.go
  router/core/websocket.go
Due: router

chore(router): drop ticket refs from comments and add validation-cache unit tests
  router-tests/observability/structured_logging_test.go
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/inline_literal_validation_test.go
  router-tests/protocol/batch_test.go
  router-tests/subscriptions/inline_literal_validation_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/cache_warmup.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/plan_generator.go
  router/core/websocket.go
Due: router

fix: optimize clickhouse queries of traces page
  controlplane/src/core/repositories/analytics/AnalyticsRequestViewRepository.ts
Due: controlplane

engine pin
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: upgrade router config handling to use new serialization methods
  cli/src/commands/router/commands/compose.ts
  cli/test/router/compose.test.ts
Due: cli

fix: lint
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/types/params.ts
  cli/src/commands/router/commands/types/types.ts
Due: cli

fix: correct pubsub provider lifecycle
  router/core/graph_server.go
  router/core/graph_server_test.go
Due: router

feat(router): add per-client observability for inline argument detection
  router-tests/security/disallow_inline_arguments_test.go
  router/core/errors.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/inline_arguments.go
  router/pkg/otel/attributes.go
Due: router

feat(router): apply disallow inline arguments policy to websocket operations
  router-tests/security/disallow_inline_arguments_test.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/inline_arguments.go
  router/core/websocket.go
Due: router

feat(router): add disallow inline arguments security policy
  router-tests/security/disallow_inline_arguments_test.go
  router/core/context.go
  router/core/errors.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/inline_arguments.go
  router/core/inline_arguments_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

docs(router): document disallow inline arguments security policy
  docs-website/docs.json
  docs-website/router/configuration.mdx
  docs-website/router/security/disallow-inline-arguments.mdx
Due: none

fix(router): handle final write errors and add env overrides for disallow inline arguments
  docs-website/router/configuration.mdx
  router/core/graphql_handler.go
  router/pkg/config/config.go
  router/pkg/config/config_test.go
Due: router

chore: implement suggestions
  docs-website/router/configuration/template-expressions.mdx
  router/internal/traceclient/traceclient.go
Due: router

test(router): add inline argument detection case for empty input object
  router/core/inline_arguments_test.go
Due: router

bump engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: RequestHeaders & ResponseHeaders = Headers
  docs-website/router/configuration/template-expressions.mdx
  router/core/engine_loader_hooks.go
  router/internal/expr/expr.go
Due: router

Light editing
  docs/entity-caching/README.md
Due: none

chore: go mod tidy
  router-tests/go.mod
  router-tests/go.sum
Due: none

chore: graphql-go-engine v2.7.0
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: graphql-go-engine v2.7.0
  router/go.mod
  router/go.sum
Due: router

chore: rename method
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

fix: fragment logic; add tests
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/types.ts
  composition/tests/v1/directives/fieldset-directives.test.ts
  composition/tests/v1/directives/provides.test.ts
Due: composition

chore: remove comment
  composition/src/v1/warnings/warnings.ts
Due: composition

fix: new structure name
  router-tests/security/block_operations_test.go
Due: none

chore: cleanup tests
  router-tests/protocol/defer_test.go
  router/pkg/graphqlschemausage/schemausage_test.go
Due: router

set engine to release version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

make defer disabled by default
  docs-website/router/configuration.mdx
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

test: reproduce @include variable loss on normalization cache hit
  router-tests/operations/normalization_cache_skip_include_test.go
Due: none

fix: only remove normalization-removed skip/include variables on cache hit
  router/core/operation_processor.go
Due: router

chore: use EventuallyWithT for cache-hit wait and tidy comments
  router-tests/operations/normalization_cache_skip_include_test.go
  router/core/operation_processor.go
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
