Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

wip: update heartbeat tests to be less timing dependent
  router-tests/http_subscriptions_test.go
Due: none

rename tws ping test to be more appropriate
  router-tests/websocket_test.go
Due: none

chore: use wip go-tools 8e00408e
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

update go.sum
  router-tests/go.sum
  router/go.sum
Due: router

chore: use wip go-tools 11a929b6
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

wip: plumbing new config options
  router-tests/cors_test.go
  router-tests/events/kafka_events_test.go
  router-tests/events/nats_events_test.go
  router-tests/events/redis_events_test.go
  router-tests/headers_test.go
  router-tests/prometheus_stream_metrics_test.go
  router-tests/telemetry/stream_metrics_test.go
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/transport.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

remove replace
  router-tests/go.mod
  router/go.mod
Due: router

chore: use wip go-tools 135b546c
  router-tests/go.mod
  router/go.mod
Due: router

add client window bits config, more tests
  router-tests/go.mod
  router-tests/websocket_test.go
  router/core/websocket.go
  router/core/websocket_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: use wip go-tools d99382be
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(router): guard against nil context in getResponseHeaderPropagation
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Due: router

add special bucket boundaries for cost histograms
  router/pkg/metric/metric_store.go
Due: router

fix: resolve cve-2026-25896 (#2552)
  cdn-server/package.json
  controlplane/package.json
  package.json
  pnpm-lock.yaml
Due: controlplane

fix: review comments
  router-tests/telemetry/attribute_processor_test.go
Due: none

chore: bump engine dependency
  router-tests/go.mod
  router-tests/go.sum
  router/core/engine_loader_hooks.go
  router/go.mod
  router/go.sum
Due: router

chore: use GetStringBytes to get an unescaped string
  router-tests/go.mod
  router-tests/go.sum
  router/core/engine_loader_hooks.go
  router/go.mod
  router/go.sum
Due: router

tighten the range
  router/pkg/metric/metric_store.go
Due: router

router: add enable_art toggle for ART
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: bump engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  cdn-server/CHANGELOG.md
  cdn-server/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  keycloak/CHANGELOG.md
  keycloak/package.json
Due: controlplane

Signup Apollo variant: static border highlight, cleanup
  studio/src/components/auth/auth-components.tsx
  studio/src/lib/signup-content.ts
  studio/src/pages/signup.tsx
  studio/src/styles/globals.css
Due: studio

ci: retry pnpm install on 403 (transient npm registry)
  .github/workflows/controlplane-ci.yaml
  .github/workflows/studio-ci.yaml
Due: none

Delete .github/workflows/controlplane-ci.yaml
  .github/workflows/controlplane-ci.yaml
Due: none

Signup Apollo variant: alternate copy, static tile border highlight
  studio/src/components/auth/auth-components.tsx
  studio/src/lib/signup-content.ts
  studio/src/pages/signup.tsx
  studio/src/styles/globals.css
Due: studio

Signup copy: small text tweaks
  studio/src/lib/signup-content.ts
Due: studio

refactor(signup): use content map for signup features (DRY)
  studio/src/components/auth/auth-components.tsx
Due: studio

Signup copy: content tweaks
  studio/src/lib/signup-content.ts
Due: studio

rename flush writer
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
Due: router

fix(router): address PR review feedback for SetWildcardScope
  router-tests/modules/set_wildcard_scope_test.go
  router/core/authorizer.go
  router/core/context.go
Due: router

remove redundant optional
  composition-go/index.global.js
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router

chore: trigger workflow on label change in PR
  .github/workflows/query-planner-ci.yaml
Due: none

feat(router): add engine.require_request_tracing_auth toggle for ART
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/graphql_prehandler_request_options_test.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: flaky router tests for error extensions (#2554)
  .github/workflows/query-planner-ci.yaml
  router-tests/go.mod
  router-tests/go.sum
  router/core/engine_loader_hooks.go
  router/go.mod
  router/go.sum
Due: router

fix: return as client error
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/test/persisted-operations.test.ts
Due: controlplane

chore: resolve PR comments
  protographic/src/abstract-selection-rewriter.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/tests/abstract-selection-rewriter/01-basics.test.ts
Due: none
