Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

update to latest defer engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix build, disable debug logs
  router-tests/protocol/defer_test.go
  router-tests/protocol/testdata/queries_defer/README.md
  router/core/plan_generator.go
Due: router

add forwarding headers for deferred queries
  router-tests/protocol/header_set_test.go
  router/core/context.go
  router/core/graphql_prehandler.go
  router/pkg/graphqlschemausage/schemausage.go
Due: router

docs(mcp): add MCP client step-up authorization limitation warning
  docs-website/router/mcp/oauth/scopes.mdx
Due: none

feat: improve OpenId Configuration fetching to prevent DoS
  controlplane/package.json
  controlplane/src/core/bufservices/sso/createOIDCProvider.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/services/Keycloak.ts
  controlplane/src/core/services/OidcProvider.ts
  pnpm-lock.yaml
Due: controlplane

chore: update error handling
  controlplane/src/core/services/Keycloak.ts
Due: controlplane

chore: Add configuration to docs-website
  docs-website/router/configuration.mdx
Due: none

chore: Mention explicit dependency between tls fields
  docs-website/router/configuration.mdx
Due: none

fix: regenerate go files from proto
  graphqlmetrics/gen/proto/wg/cosmo/common/common.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetricsv1connect/graphqlmetrics.connect.go
  router/gen/proto/wg/cosmo/common/common.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetricsv1connect/graphqlmetrics.connect.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
Due: router, graphqlmetrics

fix: regenerate go files and aligned setup-build-tools from proto
  Makefile
  connect-go/gen/proto/wg/cosmo/common/common.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
  connect-go/gen/proto/wg/cosmo/notifications/events.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  graphqlmetrics/gen/proto/wg/cosmo/common/common.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetricsv1connect/graphqlmetrics.connect.go
  router/gen/proto/wg/cosmo/common/common.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetricsv1connect/graphqlmetrics.connect.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
Due: router, graphqlmetrics

chore: fix tests
  controlplane/test/dual-blob-storage.test.ts
Due: controlplane

chore: surface rollback errors
  controlplane/src/core/blobstorage/dual.ts
  controlplane/test/dual-blob-storage.test.ts
Due: controlplane

feat(controlplane): implement dual-bucket write for execution configs
  controlplane/src/core/blobstorage/dual.ts
  controlplane/src/core/blobstorage/index.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/index.ts
  controlplane/test/dual-blob-storage.test.ts
Due: controlplane

chore: implement transactional dual-write
  controlplane/src/core/blobstorage/dual.ts
Due: controlplane

chore: address review comments
  controlplane/src/core/blobstorage/dual.ts
  controlplane/src/core/env.schema.ts
Due: controlplane

fix the doc
  docs-website/router/security/cost-control.mdx
Due: none

bump engine to 269
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat(router): support fields with arguments and @requires (Cosmo Connect) (#2731)
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/protocol/grpc_subgraph_test.go
  router-tests/protocol/router_plugin_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

chore: add docs for Cosmo Connect field args + @requires
  docs-website/router/gRPC/requires.mdx
Due: none

fix: docs
  docs-website/router/configuration.mdx
Due: none

chore: fix typo
  docs-website/router/gRPC/requires.mdx
Due: none

feat(router): support input objects in Cost Control (#2716)
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  docs-website/router/security/cost-control.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/security/costs_test.go
  router-tests/testenv/testdata/config.json
  router/core/graphql_handler.go
  router/core/operation_processor.go
  router/go.mod
  router/go.sum
Due: router

fix: temp change
  docs-website/router/configuration.mdx
Due: none

chore(docs): add docs for Cosmo Connect field args + @requires (#2751)
  docs-website/router/gRPC/requires.mdx
Due: none

fix: add tests
  controlplane/test/analytics/operations-analytics.test.ts
  controlplane/test/api-key/verify-api-key-graph-access.test.ts
  controlplane/test/check/force-check-success.test.ts
  controlplane/test/check/get-proposed-schema-of-checked-subgraph.test.ts
  controlplane/test/check/namespace-checks-config.test.ts
Due: controlplane

refactor: update label assertions to use toMatchObject for improved flexibility
  controlplane/test/apollo-federation.test.ts
  controlplane/test/feature-flag/update-feature-flag.test.ts
  controlplane/test/subgraph/subgraph.test.ts
Due: controlplane

fix: lint
  controlplane/test/analytics/operations-analytics.test.ts
  controlplane/test/check/force-check-success.test.ts
  controlplane/test/check/get-proposed-schema-of-checked-subgraph.test.ts
Due: controlplane

refactor: remove outdated operations analytics tests
  controlplane/test/analytics/operations-analytics.test.ts
Due: controlplane
