Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat: improve efficiency of operation check by parallelizing processing of changes (#2676)
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
Due: controlplane

chore: add linting rule for __typename in requires inline fragments
  protographic/src/abstract-selection-rewriter.ts
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-validation-visitor.ts
  protographic/src/selection-set-validation-visitor.ts
  protographic/tests/abstract-selection-rewriter/02-advanced.test.ts
  protographic/tests/sdl-to-proto/04-federation.test.ts
  protographic/tests/sdl-validation/02-required-validation.test.ts
  protographic/tests/sdl-validation/03-fix-typename.test.ts
Due: none

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: controlplane

chore: remove fix logic
  protographic/src/sdl-validation-visitor.ts
  protographic/src/selection-set-validation-visitor.ts
  protographic/tests/sdl-validation/03-fix-typename.test.ts
Due: none

chore: cleanup code and add union test cases
  protographic/src/selection-set-validation-visitor.ts
  protographic/tests/sdl-validation/02-required-validation.test.ts
Due: none

fix: refactoring the span error cases
  docs-website/docs.json
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/open-telemetry/span-error-status.mdx
  router-tests/telemetry/span_error_status_test.go
  router/core/context.go
  router/core/errors.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_metrics_test.go
  router/core/request_context_fields.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client_test.go
Due: router

chore: add test coverage
  protographic/.gitignore
  protographic/src/sdl-validation-visitor.ts
  protographic/src/selection-set-validation-visitor.ts
  protographic/tests/sdl-validation/03-sdl-validation-visitor.test.ts
  protographic/vite.config.ts
Due: none

fix: docs
  docs-website/router/open-telemetry/span-error-status.mdx
Due: none

chore: only add ancestors to selection set
  protographic/src/selection-set-validation-visitor.ts
  protographic/tests/sdl-validation/02-required-validation.test.ts
Due: none

generate + bump
  demo/pkg/subgraphs/test1/subgraph/schema.resolvers.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix subscriptions modules tests to expect non-terminal errors
  router-tests/modules/start_subscription_test.go
  router-tests/modules/stream_receive_test.go
Due: none

fix: updates
  docs-website/docs.json
  docs-website/router/metrics-and-monitoring/span-error-status.mdx
  router/core/operation_metrics_test.go
Due: router

chore: improve error messages with a path
  protographic/src/selection-set-validation-visitor.ts
  protographic/tests/sdl-validation/02-required-validation.test.ts
Due: none

chore: add null check
  protographic/src/sdl-validation-visitor.ts
Due: none

chore: update description
  protographic/src/sdl-validation-visitor.ts
Due: none

chore: remove unnecessary enabled field
  protographic/src/sdl-validation-visitor.ts
Due: none

fix: test updates
  router-tests/telemetry/span_error_status_test.go
Due: none

fix: docs
  docs-website/router/metrics-and-monitoring/span-error-status.mdx
Due: none

refactor: move generateAndUploadManifest to OperationsRepository and remove unused file
  controlplane/src/core/bufservices/persisted-operation/deletePersistedOperation.ts
  controlplane/src/core/bufservices/persisted-operation/generateManifest.ts
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/persisted-operations.test.ts
Due: controlplane

chore: update docs
  protographic/SDL_PROTO_RULES.md
Due: none

chore: apply linter fixes
  protographic/SDL_PROTO_RULES.md
Due: none

chore: remove fix in the visitor
  protographic/src/sdl-validation-visitor.ts
  protographic/src/selection-set-validation-visitor.ts
Due: none

chore: use wip go-tools 4c8ddc30
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: use wip go-tools cb2348a6
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

refactor: remove Cache-Control header from response in persisted operations
  cdn-server/cdn/src/index.ts
  cdn-server/cdn/test/cdn.test.ts
  controlplane/test/persisted-operations.test.ts
  router/internal/persistedoperation/client.go
Due: router, controlplane

chore: use wip go-tools d78d83c6
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: implement operation limit check in publishPersistedOperations and update related tests
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/persisted-operations.test.ts
Due: controlplane

fix: review comments
  router/core/context.go
  router/core/errors.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_metrics_test.go
  router/core/request_context_fields.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client_test.go
Due: router

fix: review comments
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client_test.go
Due: router

fix: refactoring
  router/core/operation_metrics.go
Due: router

fix(protographic): enforce using __typename in composite types for requires (#2680)
  protographic/.gitignore
  protographic/SDL_PROTO_RULES.md
  protographic/src/abstract-selection-rewriter.ts
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-validation-visitor.ts
  protographic/src/selection-set-validation-visitor.ts
  protographic/tests/abstract-selection-rewriter/02-advanced.test.ts
  protographic/tests/sdl-to-proto/04-federation.test.ts
  protographic/tests/sdl-validation/02-required-validation.test.ts
  protographic/tests/sdl-validation/03-sdl-validation-visitor.test.ts
  protographic/vite.config.ts
Due: none

fix: handle arrayJoin of empty arrays in clickhouse queries
  controlplane/src/core/repositories/analytics/UsageRepository.ts
Due: controlplane

fix: handle arrayJoin of empty arrays in clickhouse queries (#2682)
  controlplane/src/core/repositories/analytics/UsageRepository.ts
Due: controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
Due: cli, controlplane

feat(router): support per-key rate-limit overrides with regex pattern matching
  router-tests/security/ratelimit_test.go
  router/core/graph_server.go
  router/core/ratelimiter.go
  router/core/ratelimiter_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
Due: router
