Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: lint
  controlplane/src/db/schema.ts
Due: controlplane

fix: update federated graph handling in CompositionService
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

fix: coderabbit review
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
Due: controlplane

fix: ensure updated federated graph is used in composition service
  controlplane/src/core/repositories/FederatedGraphRepository.ts
Due: controlplane

feat(router): force hash analytics keys when cache events export is enabled
  router/core/executor.go
Due: router

feat(controlplane): expose linked rollout flag on getProposalsByFederatedGraph
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
Due: controlplane

fix: refactor feature flag and graph compatibility version handling with transaction support
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/graph/setGraphRouterCompatibilityVersion.ts
Due: controlplane

chore: update test
  router-tests/protocol/config_hot_reload_test.go
Due: none

chore: fix potential hot reloading issue when graph server creation fails
  router-tests/lifecycle/graph_server_swap_test.go
  router/core/graph_server.go
  router/core/graph_server_test.go
Due: router

chore(router): remove unused type
  router/pkg/routerconfig/cdn/client.go
Due: router

chore: reject mapper file if base graph is missing
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

chore: generate platform service
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
Due: none

chore: ignore failed fetches in the change list to prevent incorrect mux handling
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

fix: refresh federated graph after moving
  controlplane/src/core/repositories/FederatedGraphRepository.ts
Due: controlplane

chore: add comments to tests
  router-tests/protocol/extension_forwarding_test.go
Due: none

chore: gofmt
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

chore: align error builders with project standards and improve consistency
  composition/src/errors/errors.ts
  composition/src/federation/types/results.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/types/params.ts
Due: composition

chore(router): return true if changes are nil
  router/pkg/routerconfig/client.go
Due: router

chore: take care of comments
  router-tests/go.mod
  router-tests/modules/custom-set-wildcard-scope/module.go
  router-tests/modules/set_wildcard_scope_test.go
  router/core/authorizer.go
  router/core/context.go
  router/demo.config.yaml
Due: router

feat(router): enable unauthenticated request tracing
  docs-website/router/advanced-request-tracing-art.mdx
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/graphql_prehandler_request_options_test.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: fix tests
  controlplane/test/feature-flag/feature-flag-integration-v2.test.ts
  controlplane/test/feature-flag/feature-flag-integration.test.ts
Due: controlplane

chore: add parameter object to validateSubscriptionFilterAndGenerateConfiguration
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/types/params.ts
Due: composition

fix: tests
  composition/tests/v1/directives/subscription-filter.test.ts
Due: composition

chore: fix fed graph move logic and tests
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/services/CompositionService.ts
  controlplane/test/contracts.test.ts
  controlplane/test/feature-flag/feature-flag-integration-v2.test.ts
  controlplane/test/feature-flag/feature-flag-integration.test.ts
Due: controlplane

fix: isAbstractType -> isKindAbstract
  composition/src/v1/federation/federation-factory.ts
Due: composition

feat: add the `feature-flag recompose` command (#2849)
  cli/src/commands/feature-flag/commands/recompose.ts
  cli/src/commands/feature-flag/index.ts
  cli/test/feature-flag/recompose.test.ts
  cli/test/feature-flag/utils.ts
Due: cli

feat: add feature flag recomposition support
  cli/src/commands/feature-flag/commands/recompose.ts
  cli/src/commands/feature-flag/index.ts
  cli/test/feature-flag/recompose.test.ts
  cli/test/feature-flag/utils.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/feature-flag/recomposeFeatureFlag.ts
  controlplane/src/db/models.ts
  controlplane/test/feature-flag/recompose-feature-flag.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

chore: fix wrong mock path
  controlplane/test/feature-flag/recompose-feature-flag.test.ts
Due: controlplane

feat: test contents of `mapper.json`
  controlplane/test/feature-flag/feature-flag-integration.test.ts
  controlplane/test/test-util.ts
Due: controlplane

fix: exit with code 1 on proposal match failure during subgraph publish
  cli/src/commands/subgraph/commands/publish.ts
Due: cli

fix: update CODEOWNERS to include additional reviewers for /cli, /connect, and /connect-go
  .github/CODEOWNERS
Due: none

feat: add PostHog name properties to identify call
  controlplane/src/core/controllers/auth.ts
  studio/src/components/app-provider.tsx
  studio/src/lib/track.ts
Due: studio, controlplane

chore: update helm docs and prepare release
  helm/cosmo/README.md
Due: none

test the warning log msg
  router-tests/operations/request_tracing_security_test.go
  router/core/graphql_prehandler_request_options_test.go
  router/core/router.go
  router/core/router_test.go
Due: router

chore(router): add tls handshake failure test
  router-tests/events/nats_tls_test.go
Due: none

reword doc and fix test error check
  docs-website/router/advanced-request-tracing-art.mdx
  router/core/graphql_prehandler_request_options_test.go
Due: router

format file
  router/core/router_test.go
Due: router

chore: release helm-cosmo-router 0.17.0 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
Due: none

chore: update helm docs and prepare release
  helm/cosmo/charts/router/README.md
Due: none

chore(router): add cert mismatch nats test
  router-tests/events/nats_tls_test.go
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
