Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

test(router): focus operations cache key test on variable-length IDs
  router/internal/persistedoperation/operationstorage/cache_test.go
Due: router

docs(router): explain the operation kit's manifest snapshot
  router/core/operation_processor.go
Due: router

feat(tracing): improve span management for aborted requests to prevent unintended span termination
  controlplane/src/core/tracing.ts
  controlplane/test/tracing-timeout.test.ts
Due: controlplane

refactor(router): replace negated persisted operation ID checks with positive predicates
  router/core/custom_operation_ids_test.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
Due: router

refactor(router): remove redundant NewIndependentKit wrapper
  router/core/cache_warmup.go
  router/core/operation_processor.go
Due: router

refactor(router): move custom ID character check after kit methods
  router/core/operation_processor.go
Due: router

refactor(router): reuse hash/query match predicate in WebSocket path
  router/core/websocket.go
Due: router

test(router): make embedded length prefix case depend on key framing
  router/internal/persistedoperation/operationstorage/cache_test.go
Due: router

perf(router): build persisted operation cache keys without allocating
  router/core/operation_processor.go
Due: router

fix(router): warm APQ operations that are not in the manifest
  router/core/cache_warmup.go
  router/core/persisted_operation_manifest_test.go
Due: router

fix(router): length-prefix manifest IDs in persisted operation keys
  router/core/custom_operation_ids_test.go
  router/core/operation_processor.go
Due: router

style(router): parenthesize persisted ID telemetry condition
  router/core/graphql_prehandler.go
Due: router

test(router): cover missing S3 persisted operation lookup
  router/internal/persistedoperation/operationstorage/s3/client_test.go
Due: router

fix(router): return not-found for missing S3 persisted operations
  router/internal/persistedoperation/operationstorage/s3/client.go
Due: router

test(router): simplify missing S3 persisted operation test
  router/internal/persistedoperation/operationstorage/s3/client_test.go
Due: router

test(router): drop comment on S3 requested path
  router/internal/persistedoperation/operationstorage/s3/client_test.go
Due: router

[SKVAD-3404] fix(keycloak): bump upstream to 26.7.5 to clear bcprov-jdk18on CVEs
  keycloak/Dockerfile
Due: none

test(router-tests): make SHA256-like persisted operation IDs match their bodies
  router-tests/observability/structured_logging_test.go
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/disallow_inline_arguments_test.go
  router-tests/operations/persisted_operations_over_get_test.go
  router-tests/operations/persisted_operations_test.go
  router-tests/operations/pql_manifest_test.go
  router-tests/operations/safelist_test.go
  router-tests/operations/testdata/cache_warmup/json_po/graphql.json
  router-tests/operations/testdata/cache_warmup/json_po_manifest_overlap/graphql.json
  router-tests/security/block_operations_test.go
  router-tests/telemetry/span_error_status_test.go
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/testdata/cdn/organization/graph/cache_warmup/operations.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/manifest.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/0e77273273405d787611ff60755c97f9e9de86879723253d6df7b2a03d9d7a26.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/27feb15f92b000437ffd50a557f06db2813949353ed716e0c65f6e41b5d4e6af.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/2925ebccfd6a730dad6439d6812d2f3ffff075e6f8618ce0967d6f3bfca45645.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/30476d5043e9e0086051425d9820cdbc6efc8691456f7e881988bce2fc1bdae9.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/33651da3d80e420709520fb900c7ab8ec4151555da56062feeee428cf7f3a5dd.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/3703ff86bbacb900a2f071604f5705da4486fc4e7fae43aa9cd7a3c34da4c0b8.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/6b65c52ed847b8bd573927996913a8516a230fe27fe1bbc8239dd2facaba95d0.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/6fb148106ecc3a18ede2cae41846df8dfa3bf5c1ec762637b4b36c30d5347a1d.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/79b4aed4b6442e3ffc14e47a648fda7e90c69d020ed50c288152dd3ba25a576c.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/ae568d0762d13e0c10fa2a1343fb6233dbb3ff9132c42cb4aede828d57cbaa41.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/ba68efe9c44f415ed5af168f39a01fcb1ac11280e507fff0610c9cc533b461b7.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/dc67510fb4289672bea757e862d6b00e83db5d3cbbcfb15260601b6f29bb2b8f.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/f78a19e2e525a86dfa1beb3a45d1654b74c461e524cdff350721bc4cc1cea6d7.json
Due: none

fix(router): ignore manifest operations whose SHA256-like ID isn't their hash
  router/core/persisted_operation_manifest_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/internal/persistedoperation/pqlmanifest/store_test.go
Due: router

fix(router): ignore stored operations whose SHA256-like ID isn't their hash
  router-tests/operations/custom_operation_ids_test.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/client_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
Due: router

docs(router): require SHA256-like persisted operation IDs to match their body
  docs-website/router/persisted-queries/persisted-operations.mdx
Due: none

fix(router): reject manifests with SHA256-like IDs that aren't their hash
  docs-website/router/persisted-queries/persisted-operations.mdx
  router/core/persisted_operation_manifest_test.go
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/internal/persistedoperation/pqlmanifest/store_test.go
Due: router

test(router): use assert for independent checks in new persisted operation tests
  router-tests/operations/custom_operation_ids_test.go
  router-tests/operations/pql_manifest_test.go
  router/core/custom_operation_ids_test.go
  router/core/persisted_operation_manifest_test.go
  router/internal/persistedoperation/client_test.go
Due: router

feat: enforce limits after normalization
  docs-website/router/configuration.mdx
  router-tests/security/parser_limits_normalization_test.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/operation_processor_limits_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

test: add test to verify http2 stall behaviour
  router-tests/protocol/http2_tcp_stall_test.go
Due: none

fix(router): keep SHA256 ID semantics for log_unknown with APQ disabled
  docs-website/router/persisted-queries/persisted-operations.mdx
  router-tests/operations/custom_operation_ids_test.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/internal/persistedoperation/pqlmanifest/store.go
Due: router

refactor(router): remove redundant NewIndependentKit wrapper (#3305)
  router/core/cache_warmup.go
  router/core/operation_processor.go
Due: router

test(router-tests): make SHA256-like persisted operation IDs match their bodies (#3311)
  router-tests/observability/structured_logging_test.go
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/disallow_inline_arguments_test.go
  router-tests/operations/persisted_operations_over_get_test.go
  router-tests/operations/persisted_operations_test.go
  router-tests/operations/pql_manifest_test.go
  router-tests/operations/safelist_test.go
  router-tests/operations/testdata/cache_warmup/json_po/graphql.json
  router-tests/operations/testdata/cache_warmup/json_po_manifest_overlap/graphql.json
  router-tests/security/block_operations_test.go
  router-tests/telemetry/span_error_status_test.go
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/testdata/cdn/organization/graph/cache_warmup/operations.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/manifest.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/0e77273273405d787611ff60755c97f9e9de86879723253d6df7b2a03d9d7a26.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/27feb15f92b000437ffd50a557f06db2813949353ed716e0c65f6e41b5d4e6af.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/2925ebccfd6a730dad6439d6812d2f3ffff075e6f8618ce0967d6f3bfca45645.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/30476d5043e9e0086051425d9820cdbc6efc8691456f7e881988bce2fc1bdae9.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/33651da3d80e420709520fb900c7ab8ec4151555da56062feeee428cf7f3a5dd.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/3703ff86bbacb900a2f071604f5705da4486fc4e7fae43aa9cd7a3c34da4c0b8.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/6b65c52ed847b8bd573927996913a8516a230fe27fe1bbc8239dd2facaba95d0.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/6fb148106ecc3a18ede2cae41846df8dfa3bf5c1ec762637b4b36c30d5347a1d.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/79b4aed4b6442e3ffc14e47a648fda7e90c69d020ed50c288152dd3ba25a576c.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/ae568d0762d13e0c10fa2a1343fb6233dbb3ff9132c42cb4aede828d57cbaa41.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/ba68efe9c44f415ed5af168f39a01fcb1ac11280e507fff0610c9cc533b461b7.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/dc67510fb4289672bea757e862d6b00e83db5d3cbbcfb15260601b6f29bb2b8f.json
  router-tests/testenv/testdata/cdn/organization/graph/operations/my-client/f78a19e2e525a86dfa1beb3a45d1654b74c461e524cdff350721bc4cc1cea6d7.json
Due: none

test(router): use NewIndependentOperationKit after NewIndependentKit removal
  router/core/persisted_operation_manifest_test.go
Due: router

fix(router): return an error for stored operations whose SHA256-like ID isn't their hash
  docs-website/router/persisted-queries/persisted-operations.mdx
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/client_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
Due: router

feat: add fragments to complexity calculator
  router-tests/operations/complexity_limits_test.go
Due: none

feat: improve subgraph publish performance
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

chore: linting
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

fix(router): return not-found for missing S3 persisted operations (#3306)
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/internal/persistedoperation/operationstorage/s3/client_test.go
Due: router

fix(router): bound WebSocket initialization with a fixed deadline
  router/core/websocket.go
  router/core/websocket_test.go
Due: router

fix(mcpserver): only compute toolTitle in the branch that uses it
  router/pkg/mcpserver/server.go
Due: router

test(router): remove deprecated WebSocket poller warning test
  router/core/router_test.go
Due: router

feat: fast-reject generation for schemas still being indexed
  controlplane/src/core/services/PromptToQueryService.ts
Due: controlplane

feat: more descriptive error for inconsistent enums used as input and output
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/utils/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/types/params.ts
  composition/tests/v1/types/enums.test.ts
  docs-website/federation/composition-errors.mdx
Due: composition
