Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix(router): assert on os-independent error msg part
  router-tests/events/nats_tls_test.go
Due: none

chore(router): move client close assertion into test cleanup func
  router-tests/events/nats_tls_test.go
Due: none

set defaults to false in the full config
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Due: router

chore(router): improve variable names and comments
  router-tests/events/nats_tls_test.go
Due: none

chore: bump engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(docs): update subgraphs label examples for clarity
  docs-website/cli/essentials.mdx
Due: none

feat: fix bug where base subgraphs would not recompose feature flags
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/feature-flag/feature-flag-integration.test.ts
  controlplane/test/test-data/feature-flags/products-standalone-update.graphql
  controlplane/test/test-data/feature-flags/products-standalone.graphql
  controlplane/test/test-data/feature-flags/products-update.graphql
Due: controlplane

chore: update test comments to reflect new behaviour
  controlplane/test/feature-flag/feature-flag-integration.test.ts
Due: controlplane

Squash merge cohort-config-versions-rpc into milinda/entity-caching-3-feature-flag-rollout-router
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/feature-flag/getCacheCohortConfigVersions.ts
  controlplane/test/feature-flag/get-cache-cohort-config-versions.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: controlplane

fix(controlplane): partition cache cohorts by is_feature_flag_composition
  controlplane/src/core/bufservices/feature-flag/getCacheCohortConfigVersions.ts
  controlplane/test/feature-flag/get-cache-cohort-config-versions.test.ts
Due: controlplane

fix(controlplane): source main cohort from graph_compositions, not fgffsv
  controlplane/src/core/bufservices/feature-flag/getCacheCohortConfigVersions.ts
  controlplane/test/feature-flag/get-cache-cohort-config-versions.test.ts
Due: controlplane

chore: fix some bugs and add more tests
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/feature-flag/feature-flag-integration.test.ts
  controlplane/test/test-data/feature-flags/products-standalone-feature.graphql
Due: controlplane

chore: update comments
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

chore: fix labels test and exclude disabled feature flags
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/test/label.test.ts
Due: controlplane

fix: flag changes
  benchmark/k6/random_traffic.js
  graphqlmetrics/cacheevents/writer_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
Due: router, graphqlmetrics

fix: using browser translation causes crash in onboarding
  studio/src/components/onboarding/onboarding-navigation.tsx
Due: studio

chore: fixes
  router/go.mod
  router/go.sum
  router/pkg/trace/transport_test.go
Due: router

chore: fix go mod
  router-tests/go.mod
  router-tests/go.sum
Due: none

chore: fix import
  Makefile
  router/pkg/trace/transport.go
Due: router

chore: update go sum
  demo/go.sum
Due: none

fix(studio): button style CTAs in onboarding empty state
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

fix(studio): remove wgc install suggestion in onboarding step 2
  studio/src/components/onboarding/step-2.tsx
Due: studio

refactor: button shouldn't unmount children when loading
  studio/src/components/ui/button.tsx
Due: studio

fix: revert onboarding navigation to use loading button UI
  studio/src/components/onboarding/onboarding-navigation.tsx
Due: studio

chore(router): Remove unnecessary tls config field from server
  router/core/http_server.go
  router/core/router.go
Due: router

fix: makefile
  Makefile
Due: none

chore(router): invent global type for all tls configs
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
Due: router

chore(router): move subgraph tls config into router.tls field
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
Due: router

chore(router): add layer to router cfg for server http settings
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
Due: router

chore(router): improve godoc
  router/core/router.go
Due: router

chore: address pr comments
  composition/src/errors/errors.ts
  composition/src/federation/types/results.ts
  composition/src/index.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/types/params.ts
Due: composition

feat(router): enhance GraphQL response handling with bytecode optimization
  router/core/graphql_handler.go
  router/core/operation_planner.go
Due: router

chore(router): consistent field naming
  router-tests/events/nats_events_test.go
  router-tests/security/tls_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
  router/core/supervisor_instance.go
Due: router

chore: address comments
  studio/src/components/oidc/connect-oidc-provider-dialog.tsx
  studio/src/components/oidc/disconnect-oidc-provider-dialog.tsx
  studio/src/components/oidc/oidc-card.tsx
  studio/src/components/oidc/oidc-form.tsx
  studio/src/components/oidc/update-mappers-dialog.tsx
  studio/src/lib/zod.ts
Due: studio

fix(router): handle bytecode compilation errors gracefully in operation planner
  router/core/operation_planner.go
Due: router

chore: address comments
  composition/src/v1/federation/federation-factory.ts
Due: composition

chore: address comments
  composition/src/v1/federation/types/params.ts
Due: composition

fix: restore previous condition
  composition/src/v1/federation/federation-factory.ts
Due: composition

fix: exit with code 1 on proposal match failure during subgraph publish (#2855)
  cli/src/commands/subgraph/commands/publish.ts
Due: cli

refactor(studio): button loading state (#2866)
  studio/src/components/onboarding/onboarding-navigation.tsx
  studio/src/components/ui/button.tsx
Due: studio

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
