Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: reject @fromContext on interface fields and their implementations
  composition/src/errors/errors.ts
  composition/src/utils/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/context.test.ts
  composition/tests/v1/types/interfaces.test.ts
Due: composition

feat: response cache Vary support (#3256)
  docs-website/router/response-cache.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/operations/response_cache_vary_test.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.schema.json
  router/pkg/responsecaching/cache/in_memory/in_memory.go
  router/pkg/responsecaching/cache/in_memory/in_memory_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/redis_test.go
  router/pkg/responsecaching/cache/redis/tag_index_test.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

chore: add custom module section
  rfc/at-least-once-v1.md
Due: none

chore: update actions
  .github/actions/go-linter/action.yaml
  .github/actions/go/action.yaml
Due: none

chore: bump toolchain for plugins
  cli/src/commands/router/commands/plugin/templates/go.ts
  cli/src/commands/router/commands/plugin/templates/go/Dockerfile.template
  cli/src/commands/router/commands/plugin/templates/go/go.mod.template
  cli/src/commands/router/commands/plugin/toolchain.ts
  cli/test/router/plugin-init.test.ts
  scripts/install-proto-tools.sh
Due: cli

chore: bump go version
  CONTRIBUTING.md
  Makefile
  aws-lambda-router/go.mod
  connect-go/go.mod
  demo/docker/availability.Dockerfile
  demo/docker/countries.Dockerfile
  demo/docker/employees.Dockerfile
  demo/docker/family.Dockerfile
  demo/docker/hobbies.Dockerfile
  demo/docker/mood.Dockerfile
  demo/docker/products.Dockerfile
  demo/docker/products_fg.Dockerfile
  demo/docker/test1.Dockerfile
  demo/go.mod
  demo/pkg/subgraphs/projects/Dockerfile
  demo/pkg/subgraphs/projects/go.mod
  graphqlmetrics/Dockerfile
  graphqlmetrics/go.mod
  otelcollector/Dockerfile
  router-plugin/go.mod
  router-tests/go.mod
  router-tests/protocol/mcp_oauth_e2e_test.go
  router/Dockerfile
  router/README.md
  router/core/plan_generator.go
  router/custom.Dockerfile
  router/go.mod
  router/internal/docker/roundtripper_test.go
  router/internal/docker/rountripper.go
  speedtrap/go.mod
Due: router, graphqlmetrics

dont use embed and do comformity checks for interface
  router/core/cache_control.go
  router/core/cache_control_test.go
Due: router

chore: remove target platform as it is the default
  admission-server/Dockerfile
  cdn-server/Dockerfile
  controlplane/Dockerfile
  docs-website/router/deployment.mdx
  graphqlmetrics/Dockerfile
  otelcollector/Dockerfile
  router/Dockerfile
  studio/Dockerfile
Due: router, studio, graphqlmetrics, controlplane

fix: updates
  docs-website/router/response-cache.mdx
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/response_cache_settings.go
  router/core/response_cache_settings_test.go
Due: router

fix(router): log OTEL errors when only metrics are enabled (#3254)
  router-tests/telemetry/attribute_processor_test.go
  router/core/router.go
  router/core/router_test.go
  router/pkg/trace/errors.go
  router/pkg/trace/meter.go
Due: router

fix(router)!: enforce zero-valued complexity limits (#3257)
  docs-website/router/configuration.mdx
  router-tests/operations/complexity_limits_test.go
  router/core/operation_processor.go
  router/pkg/config/config.schema.json
Due: router

chore: refactor
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/cursor.go
  router/pkg/pubsub/datasource/provider.go
  router/pkg/pubsub/datasource/pubsubprovider_test.go
  router/pkg/pubsub/datasource/subscription_event_updater.go
  router/pkg/pubsub/kafka/adapter.go
  router/pkg/pubsub/kafka/engine_datasource.go
  router/pkg/pubsub/kafka/engine_datasource_factory.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/redis/engine_datasource.go
Due: router

chore: bump engine version and otel version
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/projects/go.mod
  demo/pkg/subgraphs/projects/go.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-plugin/go.mod
  router-plugin/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/telemetry/telemetry_test.go
  router/demo.config.yaml
  router/go.mod
  router/go.sum
Due: router, graphqlmetrics

chore: remove codeowners wildcard
  .github/CODEOWNERS
Due: none

chore: tidy and add tidy-all target
  Makefile
  router/go.sum
Due: router

chore: move ptq address to config map
  helm/cosmo/charts/controlplane/templates/config-map.yaml
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
Due: none

chore: fix linter
  router/core/executor.go
  router/core/plan_generator.go
Due: router

chore: restore demo.yaml
  router/demo.config.yaml
Due: router

fix(router): count all selected fields for total_fields limits (#3249)
  router-tests/observability/structured_logging_test.go
  router-tests/operations/complexity_limits_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/operation_processor.go
Due: router

chore: improve makefile
  Makefile
Due: none

chore: assign code owners to uncovered paths
  .github/CODEOWNERS
Due: none

chore: remove docker directory
  .github/CODEOWNERS
Due: none

fix(release): recognize breaking commit shorthand and preview PR releases
  .github/workflows/release-preview.yaml
  lerna.json
  package.json
  pnpm-lock.yaml
Due: none

fix(ci): limit PR release previews to release workflow changes
  .github/workflows/release-preview.yaml
Due: none

fix(ci): test release preview directly on PR commits
  .github/workflows/release-preview.yaml
Due: none

chore: update tests to match new default behavior
  router/pkg/trace/middleware_test.go
Due: router

refactor(ci): share release preview job for pushes and PRs
  .github/workflows/release-preview.yaml
Due: none

fix(ci): preserve release preview timeout
  .github/workflows/release-preview.yaml
Due: none

fix(ci): simplify preview checkout and omit unresolved login annotations
  .github/workflows/release-preview.yaml
Due: none

fix(router): use incrementalSpec=v0.2 in Content-Type header for defer (#3264)
  router-tests/protocol/defer_accept_test.go
  router-tests/protocol/defer_test.go
  router/core/defer_accept_test.go
  router/core/defer_response_writer.go
  router/core/errors.go
  router/core/graphql_prehandler.go
Due: router

fix(controlplane): enforce graph-wide persisted operation identity
  cli/test/parse-operations.test.ts
  controlplane/src/core/bufservices/persisted-operation/deleteClient.ts
  controlplane/src/core/bufservices/persisted-operation/deletePersistedOperation.ts
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/persisted-operations.test.ts
  docs-website/cli/operations/push.mdx
  docs-website/router/persisted-queries/persisted-operations.mdx
Due: cli, controlplane

feat(router): support opt-in custom persisted operation IDs
  docs-website/router/configuration.mdx
  docs-website/router/persisted-queries/persisted-operations.mdx
  router-tests/operations/custom_operation_ids_test.go
  router/core/cache_warmup.go
  router/core/custom_operation_ids_test.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/persisted_operation_cache_identity_test.go
  router/core/router.go
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/internal/persistedoperation/operationstorage/cache.go
  router/internal/persistedoperation/operationstorage/cache_test.go
  router/internal/persistedoperation/operationstorage/fs/client_test.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: report argument coordinates in the @fromContext Interface errors
  composition/src/errors/errors.ts
  composition/src/utils/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/context.test.ts
  composition/tests/v1/types/interfaces.test.ts
Due: composition

Update .github/workflows/release-preview.yaml
  .github/workflows/release-preview.yaml
Due: none

feat(router): add per-subscriber GraphQL lifecycle hooks
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_subscription_hooks.go
  router/core/graphql_subscription_hooks_test.go
  router/core/router.go
  router/core/router_config.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
Due: router

fix(router): require subscription root identity in lifecycle hooks
  router/core/graphql_handler.go
  router/core/graphql_subscription_hooks.go
  router/core/graphql_subscription_hooks_test.go
Due: router

feat(router): expose stable subscriber identity to lifecycle hooks
  router/core/graphql_handler.go
  router/core/graphql_subscription_hooks.go
  router/core/graphql_subscription_hooks_test.go
Due: router
