Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: tests
  router-tests/observability/error_type_test.go
Due: none

chore: clean up
  cli/test/graph/utils.ts
  controlplane/test/admission-webhook.test.ts
  controlplane/test/api-keys.test.ts
  controlplane/test/apollo-federation.test.ts
  controlplane/test/check-federated-graph.test.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/feature-flag/update-feature-flag.test.ts
  controlplane/test/feature-subgraph/publish-feature-subgraph.test.ts
  controlplane/test/feature-subgraph/update-feature-subgraph.test.ts
  controlplane/test/federated-graph/recompose.test.ts
  controlplane/test/monograph/recompose.test.ts
  controlplane/test/plugin/validate-and-fetch-plugin-data.test.ts
  controlplane/test/proposal/update-proposal.test.ts
  controlplane/test/restore-organization.test.ts
  controlplane/test/subgraph-check-extensions.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  controlplane/test/subgraph/subgraph.test.ts
  controlplane/test/subgraph/update-subgraph.test.ts
Due: cli, controlplane

chore: clean up
  controlplane/test/compose-federationv1-graphs.test.ts
  controlplane/test/compose-federationv2-graphs.test.ts
  controlplane/test/composition-errors.test.ts
  controlplane/test/composition-warnings.test.ts
  controlplane/test/contracts.test.ts
  controlplane/test/feature-flag/create-feature-flag.test.ts
  controlplane/test/feature-subgraph/create-feature-subgraph.test.ts
  controlplane/test/organization/create-organization.test.ts
Due: controlplane

chore: clean up
  controlplane/test/delete-federated-graph.test.ts
  controlplane/test/feature-flag/delete-feature-flag.test.ts
  controlplane/test/feature-subgraph/delete-feature-subgraph.test.ts
  controlplane/test/proposal/create-proposal.test.ts
  controlplane/test/subgraph/create-subgraph.test.ts
  controlplane/test/subgraph/delete-subgraph.test.ts
Due: controlplane

chore: add logging
  controlplane/src/core/auth-utils.ts
  controlplane/src/core/build-server.ts
Due: controlplane

chore: clean up
  controlplane/test/analytics/get-operation-clients.test.ts
  controlplane/test/analytics/get-operation-deprecated-fields.test.ts
  controlplane/test/analytics/get-operations.test.ts
  controlplane/test/feature-flag/feature-flag-integration.test.ts
  controlplane/test/feature-flag/feature-flag-with-grpc-service-fs.test.ts
  controlplane/test/feature-flag/feature-flag-with-plugin-fs.test.ts
  controlplane/test/federated-graph.test.ts
  controlplane/test/fetch-checks-by-federated-graph.test.ts
  controlplane/test/namespace/get-namespaces.test.ts
  controlplane/test/subgraph/get-subgraphs.test.ts
Due: controlplane

chore: clean up
  controlplane/test/composition/getChangelogBySchemaVersion.test.ts
  controlplane/test/composition/getCompositionDetails.test.ts
  controlplane/test/feature-subgraph/move-feature-subgraph.test.ts
  controlplane/test/initialize-cosmo-user.test.ts
  controlplane/test/integrations.test.ts
  controlplane/test/label.test.ts
  controlplane/test/monograph.test.ts
  controlplane/test/namespace.test.ts
  controlplane/test/oidc-provider.test.ts
  controlplane/test/organization-groups.test.ts
  controlplane/test/organization/leave-organization.test.ts
  controlplane/test/organization/list-organizations.test.ts
  controlplane/test/override.test.ts
  controlplane/test/router/compatibility-version/list.test.ts
  controlplane/test/subgraph/move-subgraph.test.ts
Due: controlplane

chore: clean up
  controlplane/test/persisted-operations.test.ts
  controlplane/test/proposal/proposal-data-isolation.test.ts
  controlplane/test/proposal/proposal-federated-schema-breaking-changes.test.ts
  controlplane/test/proposal/proposal-schema-match.test.ts
  controlplane/test/proposal/proposal-webhooks.test.ts
Due: controlplane

fix: enforce max waiting on control plane also if response is slow
  router/pkg/controlplane/selfregister/self_register.go
Due: router

chore: clean up
  controlplane/test/apollo-federation.test.ts
  controlplane/test/authentication.test.ts
  controlplane/test/cache-warmer/configure-cache-warmer.test.ts
  controlplane/test/cache-warmer/delete-cache-operation.test.ts
  controlplane/test/cache-warmer/push-cache-operation.test.ts
  controlplane/test/deactivate-org.test.ts
  controlplane/test/delete-audit-logs.test.ts
  controlplane/test/delete-organization.test.ts
  controlplane/test/delete-user.test.ts
  controlplane/test/feature-flag/get-feature-flags.test.ts
  controlplane/test/feature-subgraph/create-feature-subgraph.test.ts
  controlplane/test/feature-subgraph/get-feature-subgraph.test.ts
  controlplane/test/feature-subgraph/get-feature-subgraphs.test.ts
  controlplane/test/feature-subgraph/publish-feature-subgraph.test.ts
  controlplane/test/federated-graph/version.test.ts
  controlplane/test/get-user-accessible-resources.test.ts
  controlplane/test/graph-pruning.test.ts
  controlplane/test/health.test.ts
  controlplane/test/invite-user.test.ts
  controlplane/test/monograph/version.test.ts
  controlplane/test/organization/getOrganizationBySlug.test.ts
  controlplane/test/organization/is-member-of.test.ts
  controlplane/test/organization/remove-organization-member.test.ts
  controlplane/test/proposal/create-proposal.test.ts
  controlplane/test/proposal/update-proposal.test.ts
  controlplane/test/router-config.test.ts
  controlplane/test/subgraph/get-subgraphs.test.ts
  controlplane/test/subgraph/link-subgraph.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  controlplane/test/subgraph/subgraph.test.ts
  controlplane/test/subgraph/update-subgraph.test.ts
  controlplane/test/webhooks.test.ts
Due: controlplane

chore: fix typo
  controlplane/test/composition-warnings.test.ts
Due: controlplane

refactor(router): clean up entity caching review feedback
  Makefile
  buf.entityanalytics.go.gen.yaml
  proto/wg/cosmo/entityanalytics/v1/entityanalytics.proto
  router-tests/entity_caching/entity_analytics_test.go
  router-tests/entity_caching/entity_caching_test.go
  router-tests/entity_caching/harness_test.go
  router-tests/entity_caching_standard_subgraphs_test.go
  router/ENTITY_CACHING_CONFIGURATION.md
  router/ENTITY_CACHING_TODO.md
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/router.go
  router/core/router_config.go
  router/gen/proto/wg/cosmo/entityanalytics/v1/entityanalytics.pb.go
  router/gen/proto/wg/cosmo/entityanalytics/v1/entityanalyticsv1connect/entityanalytics.connect.go
  router/internal/entityanalytics/aggregate.go
  router/internal/entityanalytics/aggregate_test.go
  router/internal/entityanalytics/builder.go
  router/internal/entityanalytics/builder_test.go
  router/internal/entityanalytics/exporter.go
  router/internal/entityanalytics/sink.go
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/entitycache/ENTITY_CACHE_ANALYTICS.md
  router/pkg/entitycache/USAGE.md
  router/pkg/entitycache/redis_test.go
  router/pkg/metric/entity_cache_metrics.go
  router/pkg/otel/attributes.go
Due: router

chore: merge main and remove stashed review comments
  router/core/executor.go
  router/core/router.go
Due: router

chore: update dependencies to fix vulnerabilities (#2644)
  cli/package.json
  controlplane/package.json
  controlplane/src/core/build-server.ts
  package.json
  pnpm-lock.yaml
  studio/package.json
Due: cli, studio, controlplane

feat: configure composeGraphsPool to use child_process runtime
  controlplane/src/core/composition/composeGraphs.pool.ts
Due: controlplane

fix test affected by sizedFields and move costs_test.go
  router-tests/security/costs_test.go
Due: none

feat: configure composeGraphsPool to use child_process runtime (#2657)
  controlplane/src/core/composition/composeGraphs.pool.ts
Due: controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

forbid listSize.sizedFields on lists returning types
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

update global
  composition-go/index.global.js
Due: none

add a deep lists test
  composition/tests/v1/directives/listSize.test.ts
Due: composition

pnpm lint
  composition/tests/v1/directives/listSize.test.ts
Due: composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

bump engine to 265
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: support fields with args and require directive
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

chore: add test to verify mapping
  protographic/tests/sdl-to-mapping/03-federation.test.ts
Due: none

chore: make linter happy
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
Due: none

chore: use map instead of forEach
  protographic/src/required-fields-visitor.ts
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
