Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

address a couple commnets
  router-tests/subscriptions/websocket_test.go
  router/core/websocket.go
  router/core/websocket_test.go
Due: router

fix: accept empty lists for non-null list items
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

test(router): cover empty list variable defaults
  router-tests/operations/variables_validation_test.go
Due: none

test(router): cover empty list default
  router-tests/operations/variables_validation_test.go
Due: none

test(router): cover provided value with empty default
  router-tests/operations/variables_validation_test.go
Due: none

feat: wait with event updates until everyone is ready
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

fix: run hook once, update all possibly existing events
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

chore: add router config option
  docs-website/router/configuration.mdx
  router/core/factoryresolver.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

chore: rename method
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

chore: use temporary engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: skip nil hook results
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

fix: close subscription if hook returned error
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

feat(router): add PubSubAdapterProvider (WrapAdapter) seam
  router/core/factoryresolver.go
  router/core/router.go
  router/core/router_config.go
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

feat(router): add OnBroadcastEvents per-batch hook
  router/core/factoryresolver.go
  router/core/router.go
  router/core/router_config.go
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

chore: bump engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat(tests): add test for feature flag composition changelog when publishing base subgraph
  controlplane/test/composition/getCompositionDetails.test.ts
Due: controlplane

Fix node-path.sh's nvm fallback to also search for Node 20, matching the LTS majors it already claims to accept
  scripts/ei-demo/node-path.sh
Due: none

chore: add tests and use temporary engine version
  router-tests/go.mod
  router-tests/go.sum
  router-tests/protocol/grpc_subgraph_test.go
  router/go.mod
  router/go.sum
Due: router

Make process tracking and Keycloak role cleanup verify real outcomes instead of guessing from command names or swallowing errors
  scripts/ei-demo/bootstrap-entity-intelligence-demo.sh
  scripts/ei-demo/down.sh
  scripts/ei-demo/keycloak.sh
  scripts/ei-demo/lib.sh
  scripts/ei-demo/start.sh
Due: none

Enable cosmo proposals in the EI demo bootstrap so hub's rollout workflow works
  scripts/ei-demo/bootstrap-entity-intelligence-demo.sh
Due: none

Share one process-group kill helper across the EI demo scripts and give Keycloak recovery more retry budget before giving up
  scripts/ei-demo/down.sh
  scripts/ei-demo/keycloak.sh
  scripts/ei-demo/lib.sh
  scripts/ei-demo/start.sh
Due: none

Document the proposals billing-plan/namespace-flag fix in the EI demo runbook
  scripts/ei-demo/RUNBOOK.md
Due: none

Let make ei-demo accept a Liveblocks secret key, hub's backend won't boot without one
  Makefile
  scripts/ei-demo/RUNBOOK.md
  scripts/ei-demo/bootstrap-entity-intelligence-demo.sh
Due: none

chore: remove adapter middleware
  router/core/factoryresolver.go
  router/core/router.go
  router/core/router_config.go
  router/core/subscriptions_modules.go
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

chore: outsource to new function
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

chore: improve logging
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

fix: recover from handler panics
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

feat: add hook timeout
  docs-website/router/configuration.mdx
  router/core/factoryresolver.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/datasource/hooks.go
  router/pkg/pubsub/datasource/subscription_event_updater.go
Due: router

chore: seperate updater tests into 2 files
  router/pkg/pubsub/datasource/subscription_event_updater_onreceiveevents_test.go
  router/pkg/pubsub/datasource/subscription_event_updater_test.go
Due: router

chore: add new hook unit tests
  router/pkg/pubsub/datasource/subscription_event_updater_onbroadcastevents_test.go
Due: router

chore: rename test file
  router-tests/modules/streams_on_received_event_test.go
Due: none

chore: add router-tests for new hook
  router-tests/modules/stream-broadcast/module.go
  router-tests/modules/streams_on_broadcast_events_test.go
Due: none

chore: fix coderrabbit findings
  router-tests/modules/streams_on_broadcast_events_test.go
  router/pkg/config/config.schema.json
Due: router

fix: guard against nil events
  router/pkg/pubsub/datasource/subscription_event_updater.go
  router/pkg/pubsub/datasource/subscription_event_updater_test.go
Due: router

chore: fix review suggestions
  router-tests/modules/streams_on_broadcast_events_test.go
  router/pkg/pubsub/datasource/subscription_event_updater.go
  router/pkg/pubsub/datasource/subscription_event_updater_onbroadcastevents_test.go
Due: router

chore: ping engine to latest
  router-tests/go.mod
  router-tests/go.sum
  router-tests/protocol/grpc_subgraph_test.go
  router/go.mod
  router/go.sum
Due: router

chore: bump dependencies
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/projects/go.mod
  demo/pkg/subgraphs/projects/go.sum
  router-plugin/go.mod
  router-plugin/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat(router): add allow_string_literals_for_enums engine option
  docs-website/docs.json
  docs-website/router/configuration.mdx
  docs-website/router/string-literals-for-enums.mdx
  router-tests/operations/inline_literal_validation_test.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: update dependencies due to high vulnerabilities
  cli/package.json
  controlplane/package.json
  package.json
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
Due: router, cli, controlplane

feat(demo): rebuild products_fg as clean products + productCount delta
  demo/pkg/subgraphs/products_fg/subgraph/employees.go
  demo/pkg/subgraphs/products_fg/subgraph/generated/generated.go
  demo/pkg/subgraphs/products_fg/subgraph/model/models_gen.go
  demo/pkg/subgraphs/products_fg/subgraph/schema.graphqls
  demo/pkg/subgraphs/products_fg/subgraph/schema.resolvers.go
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
