Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

feat(router): entity caching with L1/L2, shadow mode, and per-request cache controls
  router-tests/entity_caching_standard_subgraphs_test.go
  router-tests/entitycaching/entitycaching_test.go
  router-tests/entitycaching/harness_test.go
  router-tests/entitycaching/redis_test.go
  router-tests/entitycaching/setup_test.go
  router-tests/entitycaching/testdata/config.json
  router-tests/go.mod
  router-tests/go.sum
  router-tests/protocol/testdata/tracing.json
  router-tests/testenv/testenv.go
  router/core/executor.go
  router/core/executor_entity_cache_test.go
  router/core/factoryresolver.go
  router/core/factoryresolver_entity_cache_test.go
  router/core/factoryresolver_test.go
  router/core/flushwriter.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_handler_caching_options_test.go
  router/core/modules.go
  router/core/router.go
  router/core/router_config.go
  router/core/router_entity_cache_test.go
  router/core/supervisor_instance.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/entitycache/circuit_breaker.go
  router/pkg/entitycache/circuit_breaker_test.go
  router/pkg/entitycache/memory.go
  router/pkg/entitycache/memory_test.go
  router/pkg/entitycache/redis.go
  router/pkg/entitycache/redis_test.go
  router/pkg/graphqlschemausage/schemausage_bench_test.go
  router/pkg/graphqlschemausage/schemausage_test.go
Due: router

chore: drop cli/cachegraph-cachedemo compose byproduct
  cli/cachegraph-cachedemo/cosmo-composition.yaml
  cli/cachegraph-cachedemo/subgraphs/cachegraph-ext.graphql
  cli/cachegraph-cachedemo/subgraphs/cachegraph.graphql
  cli/cachegraph-cachedemo/subgraphs/viewer.graphql
  cli/cachegraph-cachedemo/supergraph/cosmoClientSchema.graphql
  cli/cachegraph-cachedemo/supergraph/cosmoConfig.json
  cli/cachegraph-cachedemo/supergraph/cosmoSchema.graphql
Due: cli

docs: move PLAN.md into docs/entity-caching
  docs/entity-caching/PLAN.md
Due: none

docs: drop entity caching docs and pre-release testing kit from this PR
  docs/REQUEST_SCOPED.md
  docs/entity-caching/ENTITY_CACHING_DEMO.md
  docs/entity-caching/PLAN.md
  docs/entity-caching/analytics-rfc.md
  docs/entity-caching/analytics.md
  docs/entity-caching/configuration.md
  docs/entity-caching/directives.md
  docs/entity-caching/engineering-brief.md
  docs/entity-caching/pre-release-testing/.gitignore
  docs/entity-caching/pre-release-testing/Makefile
  docs/entity-caching/pre-release-testing/README.md
  docs/entity-caching/pre-release-testing/config/router.redis.yaml
  docs/entity-caching/pre-release-testing/docker-compose.yml
  docs/entity-caching/pre-release-testing/example/graph.yaml
  docs/entity-caching/pre-release-testing/example/subgraphs/products/schema.graphqls
  docs/entity-caching/pre-release-testing/example/subgraphs/products/server.ts
  docs/entity-caching/pre-release-testing/generated/.gitignore
  docs/entity-caching/pre-release-testing/package.json
  docs/entity-caching/pre-release-testing/scripts/check-config.sh
  docs/entity-caching/pre-release-testing/scripts/compose.sh
  docs/entity-caching/pre-release-testing/scripts/setup-pr.sh
  docs/entity-caching/pre-release-testing/scripts/smoke-test.sh
  docs/entity-caching/pre-release-testing/scripts/wait-router.sh
Due: none

docs(composition): move composition meta-docs here from the composition PR
  composition/AGENTS.md
  composition/CLAUDE.md
  composition/COMPOSITION_CONVENTIONS.md
Due: composition

chore: fix tests
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

feat: improve performance for subgraph batch publishing (#2949)
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/composition/composeGraphs.worker.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/tracing.ts
Due: controlplane

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
  router/CHANGELOG.md
  router/package.json
Due: router, controlplane

chore(router): enrich logs with execution config hashes (#2942)
  router/core/graph_server.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/routerconfig/client.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

feat(controlplane): always sample batch subgraph publish traces
  controlplane/src/core/sentry.config.ts
Due: controlplane

chore: no-op test mintlify
  docs-website/router/metrics-and-monitoring/exemplars.mdx
Due: none

fix: wait for durable consumer
  router-tests/events/nats_events_test.go
Due: none

chore: update docs-website/router/deployment.mdx
  docs-website/router/deployment.mdx
Due: none

chore: update comment
  router-tests/events/nats_events_test.go
Due: none

chore(router): switch from base to static distroless image (#2948)
  docs-website/router/deployment.mdx
  graphqlmetrics/Dockerfile
  router/Dockerfile
Due: router, graphqlmetrics

add big-response
  router/__schemas/graph.yaml
  router/bench-big-response.js
  router/docs/Profiling.md
Due: router

replace quotes
  router/docs/Profiling.md
Due: router

chore: fix flaky nats test (#2958)
  router-tests/events/nats_events_test.go
Due: none

fix(controlplane): honor parentSampled=false in traces sampler
  controlplane/src/core/sentry.config.ts
Due: controlplane

chore: add non-cached benchmark to find the price of costs control (#2929)
  router-tests/protocol/integration_test.go
  router-tests/testenv/testenv.go
  router/__schemas/graph.yaml
  router/bench-big-response.js
  router/docs/Profiling.md
Due: router

chore: add type guard
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

chore: add integration test to verify trigger deduplication
  router-tests/events/trigger_tests.go
  router-tests/testenv/testenv.go
Due: none

fix: include improvement in go-arena
  router-tests/go.mod
  router-tests/go.sum
  router/bench/bench.js
  router/bench/big-response.js
  router/bench/get.js
  router/bench/limited-cardinality.js
  router/bench/random.js
  router/bench/ws-superload.js
  router/docs/Profiling.md
  router/go.mod
  router/go.sum
Due: router

perf(controlplane): avoid per-span allocations in traces sampler
  controlplane/src/core/sentry.config.ts
Due: controlplane

chore(controlplane): trim verbose comments in traces sampler
  controlplane/src/core/sentry.config.ts
Due: controlplane

fix: include improvements in go-arena (#2959)
  router-tests/go.mod
  router-tests/go.sum
  router/bench/bench.js
  router/bench/big-response.js
  router/bench/get.js
  router/bench/limited-cardinality.js
  router/bench/random.js
  router/bench/ws-superload.js
  router/docs/Profiling.md
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  graphqlmetrics/CHANGELOG.md
  graphqlmetrics/package.json
  router/CHANGELOG.md
  router/package.json
Due: router, graphqlmetrics

chore: add test to verify trigger dedup on different initial payloads
  router-tests/events/trigger_test.go
  router/pkg/pubsub/nats/adapter.go
Due: router

ci: dispatch wgc-release to homebrew tap on wgc publish
  .github/workflows/cli-binary-release.yaml
Due: none

chore: add tests for exemplars
  router-tests/telemetry/telemetry_test.go
  router-tests/testenv/testenv.go
Due: none

ci: run dummy CI for cli-binary-release workflow changes
  .github/workflows/dummy-ci.yaml
Due: none

chore: use temporary engine version (until merged)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: update to latest engine version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat(router): engine flags for dataflow execution and execution plan scheduling
  router-tests/operations/execution_plan_scheduling_test.go
  router/core/executor.go
  router/core/graph_server.go
  router/core/operation_planner.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

bench(router-tests): enforce 50-file byte-identity coverage; neutral workload attribution (codex P2s)
  router-tests/bench/engine-modes/README.md
  router-tests/bench/engine-modes/byteid.sh
  router-tests/bench/engine-modes/lat-proxy/main.go
Due: none

perf(router): skip per-fetch telemetry when disabled; lazy-init request context keys
  router/core/context.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/graph_server.go
Due: router

bench(router-tests): self-contained engine-modes benchmark suite
  router-tests/bench/engine-modes/README.md
  router-tests/bench/engine-modes/byteid.sh
  router-tests/bench/engine-modes/k6.js
  router-tests/bench/engine-modes/lat-proxy/Dockerfile
  router-tests/bench/engine-modes/lat-proxy/main.go
  router-tests/bench/engine-modes/skew_bench.sh
  router-tests/bench/engine-modes/skew_matrix.sh
  router-tests/bench/engine-modes/uniform_bench.sh
  router-tests/bench/engine-modes/uniform_matrix.sh
Due: none

test(router-tests): drive engine execution flags from the environment in testenv
  router-tests/testenv/testenv.go
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
