Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

improvement: render multiple operation names
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/persisted-operation/check-persisted-operation-traffic.ts
  controlplane/src/core/bufservices/persisted-operation/retirePersistedOperation.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/clients/retire-persisted-operation-dialog.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
Due: studio, controlplane

improvement: handle network errors
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
Due: studio

feat: introduce schema_check_federated_graph_changes table and update related schema handling
  controlplane/migrations/0136_powerful_sasquatch.sql
  controlplane/migrations/0136_spooky_pretty_boy.sql
  controlplane/migrations/meta/0136_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/core/bufservices/check/getCheckSummary.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/SchemaUsageTrafficInspector.ts
  controlplane/src/db/schema.ts
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/proposal/proposal-federated-schema-breaking-changes.test.ts
Due: controlplane

fix: lint
  cli/src/handle-check-result.ts
  controlplane/src/db/schema.ts
Due: cli, controlplane

port the changes in composition
  composition-go/index.global.js
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router

fix: address AI review feedback
  controlplane/src/core/bufservices/persisted-operation/check-persisted-operation-traffic.ts
  controlplane/src/core/bufservices/persisted-operation/retirePersistedOperation.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/test/persisted-operations.test.ts
  studio/src/components/clients/retire-persisted-operation-dialog.tsx
Due: studio, controlplane

fix: update default API URL from port 8090 to 8080
  controlplane/src/bin/get-config.ts
Due: controlplane

feat(composition): support @cost and @listSize (#2484)
  cdn-server/CHANGELOG.md
  cdn-server/package.json
  cli/src/commands/router/commands/compose.ts
  composition-go/index.global.js
  composition/ARCHITECTURE.md
  composition/README.md
  composition/src/errors/errors.ts
  composition/src/normalization/types.ts
  composition/src/router-configuration/types.ts
  composition/src/schema-building/utils.ts
  composition/src/subgraph/types.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/directive-definition-data.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cost.test.ts
  composition/tests/v1/directives/listSize.test.ts
  composition/tests/v1/utils/utils.ts
  composition/tsconfig.json
  composition/vite.config.ts
  controlplane/CHANGELOG.md
  controlplane/package.json
  demo/go.sum
  keycloak/CHANGELOG.md
  keycloak/package.json
  package.json
  pnpm-lock.yaml
  shared/src/router-config/builder.ts
Due: cli, controlplane, composition

fix: pr suggestions
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  studio/src/components/checks/composed-schema-changes-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Due: studio, controlplane

fix: update button rendering logic for schema link in composed schema changes table
  studio/src/components/checks/composed-schema-changes-table.tsx
Due: studio

test: add assertion for client traffic in subgraph schema check
  controlplane/test/check-subgraph-schema.test.ts
Due: controlplane

test: replace clearAllMocks with resetAllMocks in afterEach for schema tests
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/proposal/proposal-federated-schema-breaking-changes.test.ts
Due: controlplane

use Cost Control everywhere
  router-tests/costs_test.go
  router-tests/integration_test.go
  router-tests/modules/verify-cost-analysis/module.go
  router-tests/modules/verify_cost_analysis_test.go
  router/core/context.go
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: merge migrations
  controlplane/migrations/0136_eminent_vermin.sql
  controlplane/migrations/meta/0136_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
Due: controlplane

refactor: improve traffic inspection logic for federated and subgraph changes in SchemaCheckRepository
  controlplane/src/core/repositories/SchemaCheckRepository.ts
Due: controlplane

rename leftovers
  router-tests/modules/verify-cost-control/module.go
  router-tests/modules/verify_cost_control_test.go
  router/core/context.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
Due: router

fix: lint
  controlplane/src/core/repositories/SchemaCheckRepository.ts
Due: controlplane

fix the last old name
  router/core/operation_processor.go
Due: router

fix: fix histogram clickhouse function
  controlplane/clickhouse/migrations/20260227100333_drop_func_histogram_v2.sql
  controlplane/clickhouse/migrations/20260227100342_recreate_func_histogram_v2_fix_interpolation.sql
Due: controlplane

fix: drop retire prefix, use delete
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/blobstorage/index.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/persisted-operation/deletePersistedOperation.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/persisted-operations.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/clients/delete-persisted-operation-dialog.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
Due: studio, controlplane

improvement: provide client name when checking & deleting an operation
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/persisted-operation/check-persisted-operation-traffic.ts
  controlplane/src/core/bufservices/persisted-operation/deletePersistedOperation.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/persisted-operations.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
Due: studio, controlplane

improvement: scope checking & deleting operation by client name
  controlplane/src/core/bufservices/persisted-operation/check-persisted-operation-traffic.ts
  controlplane/src/core/bufservices/persisted-operation/deletePersistedOperation.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/persisted-operations.test.ts
Due: controlplane

fix: remove timeout
  controlplane/src/core/bufservices/persisted-operation/deletePersistedOperation.ts
Due: controlplane

fix subtle edge cases
  router/core/header_rule_engine.go
  router/core/operation_processor.go
Due: router

remove dupl entry
  controlplane/CHANGELOG.md
Due: controlplane

fix: handle fully external, unresolvable entity keys
  composition-go/index.global.js
  composition/src/resolvability-graph/graph-nodes.ts
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/node-resolution-data/node-resolution-data.ts
  composition/src/resolvability-graph/node-resolution-data/types/params.ts
  composition/src/resolvability-graph/types/params.ts
  composition/src/resolvability-graph/types/types.ts
  composition/src/resolvability-graph/utils/utils.ts
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
  composition/src/resolvability-graph/walker/entity-walker/types/params.ts
  composition/src/resolvability-graph/walker/root-field-walkers/root-field-walker.ts
  composition/src/resolvability-graph/walker/root-field-walkers/types/params.ts
  composition/src/utils/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

preserve requireOneSlicingArgument default (true)
  router/core/factoryresolver.go
Due: router

emit actual-cost metric independently from estimated-cost
  router/core/operation_metrics.go
Due: router

chore: clean up
  composition-go/index.global.js
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
  composition/src/resolvability-graph/walker/root-field-walkers/root-field-walker.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

fix: check persisted operation traffic against retention configuration
  controlplane/src/core/bufservices/check/getNamespaceChecksConfig.ts
  controlplane/src/core/bufservices/check/updateNamespaceChecksConfig.ts
  controlplane/src/core/bufservices/persisted-operation/check-persisted-operation-traffic.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/constants.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
Due: controlplane

dont ignore err in a test
  router-tests/costs_test.go
Due: none

fix: delete persisted operation first from DB, then blob storage
  controlplane/src/core/bufservices/persisted-operation/deletePersistedOperation.ts
Due: controlplane

fix: histogram clickhouse calculation (#2567)
  controlplane/clickhouse/migrations/20260227100333_drop_func_histogram_v2.sql
  controlplane/clickhouse/migrations/20260227100342_recreate_func_histogram_v2_fix_interpolation.sql
Due: controlplane

fix: use transaction to query & delete for more efficiency
  controlplane/src/core/repositories/OperationsRepository.ts
Due: controlplane

fix: copy
  studio/src/components/clients/delete-persisted-operation-dialog.tsx
Due: studio

refactor: helper method will optionally accept DB instance
  controlplane/src/core/repositories/OperationsRepository.ts
Due: controlplane

feat: add tests
  controlplane/test/check-subgraph-schema.test.ts
  controlplane/test/proposal/proposal-federated-schema-breaking-changes.test.ts
Due: controlplane

fix: handle fully external, unresolvable entity keys (#2568)
  composition-go/index.global.js
  composition/src/resolvability-graph/graph-nodes.ts
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/node-resolution-data/node-resolution-data.ts
  composition/src/resolvability-graph/node-resolution-data/types/params.ts
  composition/src/resolvability-graph/types/params.ts
  composition/src/resolvability-graph/types/types.ts
  composition/src/resolvability-graph/utils/utils.ts
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
  composition/src/resolvability-graph/walker/entity-walker/types/params.ts
  composition/src/resolvability-graph/walker/root-field-walkers/root-field-walker.ts
  composition/src/resolvability-graph/walker/root-field-walkers/types/params.ts
  composition/src/utils/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
