Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat: improve logging of auth errors
  router/core/access_controller.go
  router/core/graphql_prehandler.go
  router/core/websocket.go
Due: router

fix: empty strings should be propagated, not omitted like UNSPECIFIED
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/testdata/test.proto
Due: router

test: prefer inline snapshots
  router/pkg/connectrpc/handler_test.go
Due: router

removing pointless tests
  router/pkg/connectrpc/error_handling_test.go
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
Due: router

chore: update connect-go dependency
  router-tests/go.mod
  router-tests/go.sum
Due: none

fix: improve composition and changelog queries (#2429)
  controlplane/src/core/bufservices/federated-graph/getCompositionDetails.ts
  controlplane/src/core/bufservices/schema-version/getChangelogBySchemaVersion.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/test/composition/getChangelogBySchemaVersion.test.ts
  controlplane/test/composition/getCompositionDetails.test.ts
Due: controlplane

chore: improve gql_schema_usage_5m_90d table
  graphqlmetrics/migrations/20251223110743_new_graphql_schema_usage_table_5m_90d.sql
  graphqlmetrics/migrations/20251223131620_migrate_data_90_to_68_days.sql
  graphqlmetrics/migrations/20251223131621_migrate_data_68_to_46_days.sql
  graphqlmetrics/migrations/20251223131622_migrate_data_46_to_24_days.sql
  graphqlmetrics/migrations/20251223131623_migrate_data_24_to_1_day.sql
  graphqlmetrics/migrations/20251223131624_migrate_data_last_1_day.sql
  graphqlmetrics/migrations/20251223131629_drop_old_gql_metrics_schema_usage_5m_90d.sql
  graphqlmetrics/migrations/20251223131720_rename_new_gql_metrics_schema_usage_5m_90d.sql
Due: graphqlmetrics

feat: allow to change the allowed values of the use param in the jwks documents
  router/core/supervisor_instance.go
  router/pkg/authentication/jwks_token_decoder.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: add tests
  router-tests/authentication_test.go
  router-tests/cmd/jwks-server/main.go
  router-tests/jwks/crypto.go
  router-tests/jwks/jwks.go
Due: none

fix: wrong default allowed_use value
  router/pkg/config/config.schema.json
Due: router

feat: prevent privilege escalation (#2428)
  controlplane/src/core/bufservices/api-key/createAPIKey.ts
  controlplane/src/core/bufservices/api-key/deleteAPIKey.ts
  controlplane/src/core/bufservices/api-key/updateAPIKey.ts
  controlplane/src/core/repositories/ApiKeyRepository.ts
  controlplane/test/api-keys.test.ts
  studio/src/components/group-select.tsx
  studio/src/pages/[organizationSlug]/members.tsx
Due: studio, controlplane

feat: add Keycloak cleanup script (#2426)
  controlplane/src/bin/cleanup-keycloak-users.ts
  controlplane/src/bin/migrate-groups.ts
Due: controlplane

wip: updates on login page
  studio/src/components/auth/cosmo-stack.tsx
  studio/src/components/layout/auth-layout.tsx
  studio/src/components/layout/footer.tsx
  studio/src/pages/login.tsx
Due: studio

feat(router): allow custom MCP tool names via @mcpTool directive
  router-tests/mcp_test.go
  router-tests/testdata/mcp_operations/CustomToolName.graphql
  router/pkg/mcpserver/server.go
  router/pkg/schemaloader/loader.go
  router/pkg/schemaloader/loader_test.go
Due: router

chore(router): remove outdated comment from ToolName field
  router/pkg/schemaloader/loader.go
Due: router

docs(router): add docstrings for MCP directive helper functions
  router/pkg/schemaloader/loader.go
Due: router

refactor(router): use mcpDirectiveName constant in stripMCPDirective
  router/pkg/schemaloader/loader.go
Due: router

refactor(router): use DefaultOperationValidator for MCP operations
  router/pkg/schemaloader/loader.go
Due: router

test(router): improve MCP test readability and structure
  router-tests/mcp_test.go
Due: none

fix(protographic): track nested messages independently in lock file
  protographic/src/operations/message-builder.ts
  protographic/src/operations/proto-field-options.ts
  protographic/src/operations/proto-text-generator.ts
  protographic/src/operations/request-builder.ts
  protographic/tests/operations/fragments.test.ts
  protographic/tests/operations/nested-message-field-numbering.test.ts
Due: none

fix: correctly looking up graphql_name from extension options
  protographic/src/operations/proto-text-generator.ts
Due: none

refactor and addressing PR review comments
  protographic/src/operation-to-proto.ts
Due: none

fix - need to ensure that operations are pascal case
  cli/src/commands/grpc-service/commands/generate.ts
  protographic/src/operation-to-proto.ts
  protographic/tests/operations/operation-validation.test.ts
Due: cli

feat(protographic): support GraphQL variable name field options
  protographic/src/naming-conventions.ts
  protographic/src/operations/proto-field-options.ts
  protographic/src/operations/proto-text-generator.ts
  protographic/src/operations/request-builder.ts
Due: none

docs: clarify proto generation constraints and improve ConnectRPC logging
  cli/src/commands/grpc-service/commands/generate.ts
  protographic/OPERATIONS_TO_PROTO.md
  protographic/src/operation-to-proto.ts
  protographic/tests/operations/operation-validation.test.ts
Due: cli

fix: as field option extension is embedded, we cannot provide fully qualified name
  protographic/src/operations/proto-field-options.ts
  protographic/src/operations/proto-text-generator.ts
Due: none

refactor: allow all-uppercase operation names
  protographic/src/operation-to-proto.ts
  protographic/tests/operations/operation-validation.test.ts
Due: none

fix(protographic): propagate messagePath through fragment processing
  protographic/src/operations/message-builder.ts
Due: none

fix(cli): preserve acronyms in service names for operations-based generation
  cli/src/commands/grpc-service/commands/generate.ts
Due: cli

Revert "fix(cli): preserve acronyms in service names for operations-based generation"
  cli/src/commands/grpc-service/commands/generate.ts
Due: cli

fix: correct proto file reference in proto-field-options.ts comment
  cli/src/commands/grpc-service/commands/generate.ts
  protographic/src/operations/proto-field-options.ts
Due: cli

chore: use custom type for field args
  router/core/arguments.go
  router/core/field_argument_visitor.go
Due: router

fix: usage of input fields on the ui
  controlplane/src/core/repositories/analytics/UsageRepository.ts
Due: controlplane

refactor: remove unused extension types and implement panel extensions as GraphiQL plugins
  playground/src/components/playground/index.tsx
  playground/src/components/playground/types.ts
  playground/src/index.ts
  playground/src/theme.css
Due: none

refactor: streamline playground component by removing unused imports and enhancing API integration
  playground/src/components/playground/index.tsx
  router/internal/graphiql/graphiql.html
Due: router

feat: add support for @requires
  protographic/src/index.ts
  protographic/src/naming-conventions.ts
  protographic/src/proto-utils.ts
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/src/string-constants.ts
  protographic/src/types.ts
  protographic/tests/field-set/01-basics.test.ts
Due: none

refactor: reorganize imports in playground component for improved clarity and maintainability
  playground/src/components/playground/index.tsx
Due: none
