Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: review comments
  router/pkg/config/config.schema.json
  router/pkg/metric/debug_exporter.go
  router/pkg/metric/meter.go
Due: router

chore(router): update graphql-go-tools to v2.0.0-rc.254
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(deps): update graphql-go-tools to v2.0.0-rc.254 (#2539)
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

refactor(router): improve latency metrics handling in engine loader hooks
  router-tests/prometheus_parallel_subgraph_metrics_test.go
  router/core/engine_loader_hooks.go
Due: router

chore(deps): update graphql-go-tools to c96ac9e6f088
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(deps): update graphql-go-tools to v2.0.0-rc.254
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

test(router): add integration tests for extension field filtering SIGSEGV
  router-tests/error_handling_test.go
Due: none

test(router): add extension filtering variants for no/partial/full filtering
  router-tests/error_handling_test.go
Due: none

chore(deps): update graphql-go-tools to v2.0.0-rc.255
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(deps): update graphql-go-tools to fix SIGSEGV in extension filtering (#2541)
  router-tests/error_handling_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(router-tests): fix connectrpc tests and add to CI
  .github/workflows/router-ci.yaml
  router-tests/connectrpc/connectrpc_client_test.go
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc/connectrpc_test_helpers.go
Due: none

fix(router-tests): fix connectrpc tests and add to CI (#2542)
  .github/workflows/router-ci.yaml
  router-tests/connectrpc/connectrpc_client_test.go
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc/connectrpc_test_helpers.go
Due: none

chore: lint fixes
  protographic/tests/sdl-to-proto/05-edge-cases.test.ts
Due: none

implement interface from composition with configs
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
  proto/wg/cosmo/node/v1/node.proto
  router-tests/costs_test.go
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
  router/core/factoryresolver.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router

fix: add NewServer
  router-tests/lifecycle/new_server_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
Due: router

chore: add test for asserting unknown paths
  router/core/arguments_test.go
Due: router

fix: review comments
  router-tests/lifecycle/new_server_test.go
Due: none

fix: add back NewServer (#2546)
  router-tests/lifecycle/new_server_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
Due: router

fix: review comments
  router/pkg/trace/attributeprocessor/attributes_test.go
  router/pkg/trace/attributeprocessor/sanitizeutf8_test.go
Due: router

chore: exclude buf-generated protobuf files from CODEOWNERS
  .github/CODEOWNERS
Due: none

feat: add support for federated graph schema changes
  cli/src/commands/mcp/tools/subgraph-verify-schema-changes.ts
  cli/src/handle-check-result.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/migrations/0136_spooky_pretty_boy.sql
  controlplane/migrations/meta/0136_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/bin/get-config.ts
  controlplane/src/core/bufservices/check/getCheckSummary.ts
  controlplane/src/core/bufservices/federated-graph/checkFederatedGraph.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/db/schema.ts
  controlplane/src/types/index.ts
  controlplane/test/check-subgraph-schema.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/checks/composed-schema-changes-table.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Due: cli, studio, controlplane

calculate costs only once & expose via headers
  connect/src/wg/cosmo/node/v1/node_pb.ts
  router-tests/costs_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/core/context.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/header_rule_engine.go
  router/core/operation_metrics.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Due: router

fix: ignore different response order
  router-tests/error_handling_test.go
Due: none

remove unused var
  router/core/context.go
Due: router

chore: exclude buf-generated protobuf files from CODEOWNERS (#2547)
  .github/CODEOWNERS
Due: none

feat: sanitize utf8 strings with binary in spans (#2485)
  router-tests/telemetry/attribute_processor_test.go
  router-tests/testenv/testenv.go
  router/core/engine_loader_hooks.go
  router/core/graphql_prehandler.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/trace/attributeprocessor/attributes.go
  router/pkg/trace/attributeprocessor/attributes_test.go
  router/pkg/trace/attributeprocessor/redact.go
  router/pkg/trace/attributeprocessor/redact_test.go
  router/pkg/trace/attributeprocessor/sanitizeutf8.go
  router/pkg/trace/attributeprocessor/sanitizeutf8_test.go
  router/pkg/trace/config.go
  router/pkg/trace/meter.go
  router/pkg/trace/redact/attributes.go
  router/pkg/trace/redact/attributes_test.go
  router/pkg/trace/utils.go
  router/pkg/trace/utils_test.go
Due: router

fix: review comments
  router/core/graph_server.go
  router/core/tls.go
  router/core/tls_test.go
Due: router

fix: vulnerabilities
  keycloak/theme/package-lock.json
  keycloak/theme/package.json
  package.json
  pnpm-lock.yaml
Due: none

Add support for per message deflate to websocket connectinos
  router-tests/testenv/testenv.go
  router-tests/websocket_test.go
  router/core/websocket.go
  router/core/websocket_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: bump go-m1cpu to v0.1.7 to fix compiler warnings
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  router/go.mod
  router/go.sum
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
