Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: fix tests
  controlplane/test/test-util.ts
Due: controlplane

feat(manifest): enhance feature flag link management during operation updates
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/test/persisted-operations.test.ts
  docs-website/cli/feature-flags/disable-feature-flag.mdx
  docs-website/router/feature-flags.mdx
Due: controlplane

chore: fix tests
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

feat(playground): cache visibility UI + cache explorer spec
  CACHE_EXPLORER.md
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/fetch-waterfall.tsx
  playground/src/components/playground/index.tsx
  playground/src/components/playground/trace-view.tsx
  playground/src/components/playground/types.ts
  playground/src/components/playground/view-cache.tsx
  router/internal/graphiql/graphiql.html
Due: router

Refactor code structure for improved readability and maintainability
  playground/package.json
  playground/src/components/ui/select.tsx
  pnpm-lock.yaml
Due: none

fix: optimize extension context handling to prevent unnecessary re-renders in GraphiQL
  playground/src/components/playground/index.tsx
Due: none

feat: add query plan hash field for expressions (#2738)
  docs-website/router/configuration/template-expressions.mdx
  router-tests/observability/structured_logging_test.go
  router/core/graphql_prehandler.go
  router/internal/expr/expr.go
  router/internal/expr/request_operation_bucket_visitor.go
  router/internal/expr/request_operation_bucket_visitor_test.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

fix: config prefixes
  router/pkg/config/config.go
  router/pkg/config/config_test.go
Due: router

feat: documentation
  docs-website/router/configuration.mdx
  docs-website/router/storage-providers.mdx
Due: none

fix: request aborted shoudn't result in a fetch error
  router-tests/telemetry/span_error_status_test.go
  router/core/batch.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
  router/core/errors.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics_test.go
  router/pkg/trace/transport.go
  router/pkg/trace/transport_test.go
Due: router

feat(studio): reorganise sidebar nav into labelled groups with updated active state styling
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/layout/sidenav.tsx
Due: studio

fix(studio): fix active nav item width and border alignment
  studio/src/components/layout/sidenav.tsx
Due: studio

Increased active state left border width from 2px to 3px
  studio/src/components/layout/sidenav.tsx
Due: studio

fix(studio): correct active nav item border radius on desktop
  studio/src/components/layout/sidenav.tsx
Due: studio

feat(router): make SpanNameFormatter a configurable variable
  router/core/transport.go
Due: router

feat(studio): update EmptyState component and use on Graphs page
  studio/src/components/empty-state.tsx
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

fix: avoid useless complexity
  router/pkg/authentication/authentication.go
Due: router

feat(studio): replace graphs empty state with two-card layout
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

feat(studio): update subgraphs empty state with new EmptyState layout
  studio/src/components/subgraphs-table.tsx
Due: studio

feat(studio): update feature flags empty state with new EmptyState layout
  studio/src/components/feature-flags-table.tsx
Due: studio

fix: set scope_claims only if different from an empty string
  router/core/access_controller.go
Due: router

refactor: update event metadata handling to use new protobuf schemas
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
Due: controlplane

fix: do not allow empty scopeClaim
  router/pkg/authentication/authentication.go
Due: router

fix: change failed request query parse log to warn instead of error
  router/internal/requestlogger/requestlogger.go
Due: router

fix(studio): fix empty state card background inconsistencies
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/subgraphs-table.tsx
Due: studio

refactor: enhance transaction handling in setGraphRouterCompatibilityVersion function
  controlplane/src/core/bufservices/graph/setGraphRouterCompatibilityVersion.ts
Due: controlplane

fix(studio): polish empty state components across graphs, subgraphs and feature flags
  studio/src/components/feature-flags-table.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/subgraphs-table.tsx
Due: studio

docs(studio): add UX case study and implementation notes
  studio/UX-CASE-STUDY.md
Due: studio

fix: update handlebars due to critical cve
  package.json
  pnpm-lock.yaml
Due: none

fix: change failed request query parse log to warn instead of error (#2743)
  router/internal/requestlogger/requestlogger.go
Due: router

fix: gofmt
  router/internal/retrytransport/manager.go
Due: router

fix: change query parameter parse log level from warn to debug and add tests for unknown persisted operations
  router/internal/requestlogger/requestlogger.go
Due: router

fix: update handlebars due to critical cve (#2744)
  package.json
  pnpm-lock.yaml
Due: none

chore: use latest engine release
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router
