Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

add type weight and slicingArguments tests
  router-tests/costs_test.go
Due: none

fix: updates
  router-tests/telemetry/metrics_log_export_test.go
  router/pkg/config/config.schema.json
  router/pkg/metric/log_exporter.go
Due: router

fix: updates
  router-tests/telemetry/metrics_log_export_test.go
Due: none

fix: updates
  router/pkg/metric/log_exporter.go
Due: router

fix(router): increase QJS test timeout for CI WASM cold start
  router/pkg/sandbox/runtime_qjs_test.go
Due: router

refactor(router): remove goja runtime, keep only QuickJS (WASM)
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/code_mode_server.go
  router/pkg/sandbox/pool.go
  router/pkg/sandbox/pool_test.go
  router/pkg/sandbox/runtime.go
  router/pkg/sandbox/runtime_goja.go
  router/pkg/sandbox/runtime_qjs_test.go
  router/pkg/sandbox/runtime_test.go
  router/pkg/sandbox/transpiler.go
  router/pkg/sandbox/transpiler_test.go
Due: router

fix(router): address code review feedback from PR #2575
  router/core/router.go
  router/pkg/mcpserver/code_mode_server.go
  router/pkg/mcpserver/code_mode_server_test.go
  router/pkg/mcpserver/server.go
Due: router

chore: add shine effect
  studio/src/components/dashboard/NewFeaturesPopup.tsx
Due: studio

chore: add hover
  studio/src/components/dashboard/NewFeaturesPopup.tsx
Due: studio

chore: add utc tags
  studio/src/components/dashboard/NewFeaturesPopup.tsx
Due: studio

fix(router): increase default sandbox test timeout to 30s for CI WASM cold start
  router/pkg/sandbox/runtime_qjs_test.go
  router/pkg/sandbox/runtime_test.go
Due: router

fix(router): remove obsolete runtime_type from demo config
  router/code-mode-demo.config.yaml
Due: router

feat(router): accept string shorthand for graphql() in Code Mode sandbox
  router/pkg/mcpserver/code_mode_descriptions.go
  router/pkg/mcpserver/code_mode_server.go
  router/pkg/mcpserver/code_mode_server_test.go
Due: router

Revert "feat(router): accept string shorthand for graphql() in Code Mode sandbox"
  router/pkg/mcpserver/code_mode_descriptions.go
  router/pkg/mcpserver/code_mode_server.go
  router/pkg/mcpserver/code_mode_server_test.go
Due: router

feat(router): rewrite Code Mode search tool to prompt-based API and improve descriptions
  router/pkg/mcpserver/code_mode_descriptions.go
  router/pkg/mcpserver/code_mode_server.go
  router/pkg/mcpserver/code_mode_server_test.go
Due: router

refactor(router): code review improvements for Code Mode MCP server
  router/core/router.go
  router/pkg/mcpserver/code_mode_server.go
  router/pkg/mcpserver/code_mode_server_test.go
Due: router

chore: gofmt
  router-tests/connectrpc/connectrpc_client_test.go
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc/connectrpc_test.go
  router-tests/modules/verify-operation-context-values/module.go
  router/core/context.go
  router/core/operation_processor.go
  router/core/plan_generator.go
  router/pkg/config/config.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/operation_loader.go
  router/pkg/connectrpc/vanguard_service_test.go
  router/pkg/mcpserver/server.go
Due: router

fix(router): increase sandbox test timeout to 30s for CI WASM cold start
  router/pkg/mcpserver/code_mode_server_test.go
Due: router

fix(router): add log_service_name to full.yaml fixture
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Due: router

feat: ignore EDFS specific issues with linter
  controlplane/src/core/services/SchemaLinter.ts
  controlplane/test/lint.test.ts
Due: controlplane

fix: formatting
  controlplane/test/lint.test.ts
Due: controlplane

chore(router): gofmt (#2576)
  router-tests/connectrpc/connectrpc_client_test.go
  router-tests/connectrpc/connectrpc_server_lifecycle_test.go
  router-tests/connectrpc/connectrpc_test.go
  router-tests/modules/verify-operation-context-values/module.go
  router/core/context.go
  router/core/operation_processor.go
  router/core/plan_generator.go
  router/pkg/config/config.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/operation_loader.go
  router/pkg/connectrpc/vanguard_service_test.go
  router/pkg/mcpserver/server.go
Due: router

refactor: move severity dropdown logic to separate handlers
  studio/src/components/lint-policy/linter-config.tsx
Due: studio

feat: show hub banner (#2570)
  studio/src/components/dashboard/NewFeaturesPopup.tsx
  studio/src/hooks/use-new-features-popup-disabled.ts
Due: studio

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, studio

fix: formatting
  studio/src/components/lint-policy/linter-config.tsx
Due: studio

fix: use specific @wundergraph/composition version to avoid breaking changes in control plane
  controlplane/package.json
  pnpm-lock.yaml
Due: controlplane

fix: import test from composition locally
  controlplane/test/contracts.test.ts
Due: controlplane

fix: use specific @wundergraph/composition version to avoid breaking changes in control plane (#2578)
  controlplane/package.json
  controlplane/test/contracts.test.ts
  pnpm-lock.yaml
Due: controlplane

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
Due: controlplane

fix: add missing git templates
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

feat: format script for JS/TS-based packages
  CONTRIBUTING.md
  admission-server/package.json
  cdn-server/package.json
  cli/package.json
  client-tests/apollo-js/package.json
  composition/package.json
  controlplane/package.json
  package.json
  playground/package.json
  protographic/package.json
  shared/package.json
  studio/package.json
Due: cli, studio, controlplane, composition

fix: do not format migrations
  controlplane/.prettierignore
Due: controlplane

feat: make task for formatting everything
  Makefile
Due: none

feat: add code formatting scripts for Go-based packages
  Makefile
  aws-lambda-router/package.json
  graphqlmetrics/package.json
  package.json
  pnpm-workspace.yaml
  router-plugin/package.json
  router/package.json
Due: router, graphqlmetrics

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
