Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore: CI stability run 13/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 11/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 18/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 3/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 20/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 15/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 8/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 2/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 10/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 17/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 9/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 6/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 4/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 12/20
  router-tests/CLAUDE.md
Due: none

fix: use context-based process liveness check to avoid data race
  router-tests/testenv/testenv.go
Due: none

chore: CI stability run 7/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 14/20
  router-tests/CLAUDE.md
Due: none

chore: CI stability run 1/20
  router-tests/CLAUDE.md
Due: none

fix: propagate ResponseWriter through module middleware chain to prevent double-write
  router-tests/modules/custom-forbidden-handler/module.go
  router-tests/modules/forbidden_handler_test.go
  router-tests/modules/middleware_writer_propagation_test.go
  router/core/router.go
Due: router

feat(mcp): wire per-tool scope extraction into server reload
  router/core/graph_server.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/server.go
  router/pkg/schemaloader/loader.go
  router/pkg/schemaloader/loader_test.go
Due: router

fix: use require.Eventually for async SubscriptionOnStart hook assertion
  router-tests/CLAUDE.md
  router-tests/modules/start_subscription_test.go
Due: none

feat(mcp): enforce per-tool scope checks from @requiresScopes directives
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/server.go
Due: router

chore: CI stability run 5/20
  router-tests/CLAUDE.md
Due: none

feat: implement custom forbidden handler module to standardize 403 responses
  router-tests/modules/middleware_writer_propagation_test.go
  router/cmd/custom/module/module.go
Due: router

chore: revert
  router/cmd/custom/module/module.go
Due: router

feat: improve invitation handling (#2581)
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/test/invite-user.test.ts
  controlplane/test/scim.test.ts
Due: controlplane

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
