Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat: set operation name also with persistent queries
  router/core/operation_processor.go
  router/core/operation_processor_test.go
Due: router

feat: refine redirect URL validation in auth controller to ensure origin matches web base URL
  controlplane/src/core/controllers/auth.ts
Due: controlplane

fix: improve bar update
  cli/src/commands/operations/commands/push.ts
Due: cli

feat: include schema version in graph update webhook (#2467)
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/test/proposal/proposal-webhooks.test.ts
Due: controlplane

fix: improve behaviour if no operations are returned
  cli/src/commands/operations/commands/push.ts
Due: cli

fix: update layout and styling of login and signup pages for mobile screens (#2479)
  studio/src/components/auth/auth-components.tsx
  studio/src/pages/login.tsx
  studio/src/pages/signup.tsx
Due: studio

feat: enhance redirect logic in auth controller to include onboarding parameter (#2476)
  controlplane/src/core/controllers/auth.ts
Due: controlplane

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: studio, controlplane

fix: review comments
  router/core/operation_planner.go
Due: router

feat(composition): support @cost and @listSize
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/constants/strings.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/directive-definition-data.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/cost.test.ts
  composition/tests/v1/directives/listSize.test.ts
  composition/tests/v1/utils/utils.ts
  demo/go.sum
Due: composition

fix: revert cdn
  router/core/cache_warmup_cdn.go
Due: router

fix: if an error is caught, exit immediately (#2478)
  cli/src/index.ts
Due: cli

return cost struct instead of the plan value
  router-tests/modules/custom_trace_propagator_test.go
  router-tests/modules/streams_hooks_combined_test.go
  router-tests/modules/verify-cost-analysis/module.go
  router-tests/modules/verify-static-cost/module.go
  router-tests/modules/verify_cost_analysis_test.go
  router/core/context.go
  router/core/modules.go
  router/core/operation_processor.go
Due: router

fix: review comments
  router/core/cache_warmup.go
Due: router

rename config variables
  router-tests/modules/verify_cost_analysis_test.go
  router-tests/security_test.go
  router/core/operation_processor.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
Due: router

rename config vars
  router-tests/modules/verify_cost_analysis_test.go
  router-tests/security_test.go
  router/core/executor.go
  router/core/operation_processor.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
Due: router

feat: add parallelization on the control plane
  cli/src/commands/operations/commands/push.ts
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
Due: cli, controlplane

feat: add gRPC naming scheme validation for subgraph routing URLs (#2473)
  controlplane/src/core/bufservices/subgraph/createFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
  controlplane/test/feature-flag/feature-flag-with-grpc-service-fs.test.ts
  controlplane/test/feature-subgraph/create-feature-subgraph.test.ts
  controlplane/test/feature-subgraph/publish-feature-subgraph.test.ts
  controlplane/test/subgraph/create-subgraph.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  controlplane/test/subgraph/update-subgraph.test.ts
  controlplane/test/test-util.ts
Due: controlplane

feat(mcp): migrate to official modelcontextprotocol/go-sdk
  router/go.mod
  router/go.sum
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/server.go
Due: router

docs(mcp): clarify error code ranges to avoid JSON-RPC conflicts
  router/pkg/mcpserver/errors.go
Due: router

feat(mcp): add OAuth 2.1 authorization with JWT validation and per-tool scopes
  demo/go.mod
  demo/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router-tests/mcp_auth_e2e_test.go
  router-tests/mcp_auth_harness_example.go
  router-tests/mcp_oauth_e2e_test.go
  router-tests/mcp_test.go
  router-tests/testenv/testenv.go
  router-tests/testutil/auth_helpers.go
  router-tests/testutil/jwt_helper.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/errors.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/schema_compiler.go
  router/pkg/mcpserver/server.go
Due: router

feat(mcp): add per-tool scope verification and random port allocation for tests
  router-tests/mcp_oauth_e2e_test.go
  router-tests/testutil/jwt_helper.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/server.go
Due: router

wip
  demo/graph.yaml
  router/bench-ws-superload.js
  router/debug.config.yaml
  router/go.mod
Due: router

fix: wrong test
  controlplane/test/persisted-operations.test.ts
Due: controlplane

fix: dont forward content-* headers from client and subgraphs
  demo/go.sum
  router-tests/header_propagation_test.go
  router-tests/headers_test.go
  router/core/header_rule_engine.go
Due: router

fix: review comments
  router/core/graph_server.go
  router/core/restart_switchover_config.go
  router/core/restart_switchover_config_test.go
  router/pkg/config/config.schema.json
Due: router

feat: query execution event capture
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

fix: optimize signup page layout and styling
  studio/src/components/auth/auth-components.tsx
  studio/src/pages/signup.tsx
Due: studio

feat: query execution event capture (#2482)
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

fix: update layout and styling of login and signup pages
  studio/src/pages/login.tsx
  studio/src/pages/signup.tsx
Due: studio

fix: optimize signup page layout and styling (#2483)
  studio/src/components/auth/auth-components.tsx
  studio/src/pages/login.tsx
  studio/src/pages/signup.tsx
Due: studio

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane
