Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

feat: inline argument validation
  router-tests/operations/disallow_inline_arguments_test.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: updates
  router-tests/operations/disallow_inline_arguments_test.go
  router/core/context.go
  router/core/graphql_handler.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: updates
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/pkg/config/config.go
Due: router

chore: merge migrations
  controlplane/migrations/0145_goofy_rhodey.sql
  controlplane/migrations/0146_gorgeous_otto_octavius.sql
  controlplane/migrations/meta/0145_snapshot.json
  controlplane/migrations/meta/0146_snapshot.json
  controlplane/migrations/meta/_journal.json
Due: controlplane

chore: add migrations
  controlplane/migrations/0146_true_avengers.sql
  controlplane/migrations/meta/0146_snapshot.json
  controlplane/migrations/meta/_journal.json
Due: controlplane

fix: changes
  router-tests/operations/disallow_inline_arguments_test.go
  router/core/operation_processor.go
Due: router

fix: tests
  cli/test/check-schema.test.ts
Due: cli

fix: gomods
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

bump to the release engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: refactoring
  router/core/operation_processor.go
  router/go.mod
  router/go.sum
Due: router

test(router): fix data race on shared header in request tracing security test
  router-tests/operations/request_tracing_security_test.go
Due: none

fix: updates
  router/go.mod
  router/pkg/config/config.schema.json
Due: router

fix: refactoring
  router/core/graphql_prehandler.go
  router/core/websocket.go
Due: router

fix: gomod
  router/go.mod
Due: router

fix: gomod
  router-tests/go.mod
  router-tests/go.sum
Due: none

feat: implement pre fetch field authorization
  router/core/authorizer.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: add comments and unit tests
  router/core/authorizer.go
  router/core/authorizer_test.go
Due: router

chore: add integration tests
  router-tests/security/prefetch_field_authorization_test.go
Due: none

chore: set temporary engine version
  Makefile
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

test(router): cover all connection-metric phases in traceclient
  router/internal/traceclient/traceclient_test.go
Due: router

test(router): drive traceclient phases via a real httptest server
  router/internal/traceclient/traceclient_test.go
Due: router

test(router): assert each connection metric is recorded exactly once
  router/internal/traceclient/traceclient_test.go
Due: router

chore: update go-tools
  Makefile
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: docs
  docs-website/docs.json
  docs-website/router/configuration.mdx
  docs-website/router/security/disallow-inline-arguments.mdx
Due: none

fix: gomod
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: gomod
  router-tests/go.sum
  router/go.sum
Due: router

fix: documentation
  docs-website/router/security/disallow-inline-arguments.mdx
Due: none

fix: docs
  docs-website/router/security/disallow-inline-arguments.mdx
Due: none

refactor: replace exported WaitForCacheWrites with synchronous_cache_writes debug flag
  router-tests/operations/normalization_cache_skip_include_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/http_server.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
Due: router

chore: add websocket tests
  router-tests/subscriptions/prefetch_field_authorization_websocket_test.go
Due: none

chore: update docs
  docs-website/router/authentication-and-authorization.mdx
  docs-website/router/configuration.mdx
Due: none

fix: add the module in the base cmd build
  router/cmd/custom-add-operation-name/module.go
  router/cmd/main.go
Due: router

feat: add tests
  router-tests/operations/apollo_compatibility_test.go
Due: none

fix router config metadata
  controlplane/src/core/composition/composer.ts
  controlplane/test/composer.test.ts
Due: controlplane

feat: improve subgraph drawer UI and graph metrics visualization
  studio/src/components/graph-visualization.tsx
  studio/src/components/reactflow-graph-node.tsx
Due: studio

feat: improve Studio UX - health cards, subgraph drawer, navigation, trace status
  studio/src/components/analytics/data-table.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/graph-visualization.tsx
  studio/src/components/layout/graph-layout.tsx
  studio/src/components/layout/graph-sidenav-links.tsx
  studio/src/components/layout/sidenav.tsx
  studio/src/components/layout/subgraph-layout.tsx
  studio/src/components/subgraphs-table.tsx
  studio/src/components/time-ago.tsx
  studio/src/components/ui/badge.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/index.tsx
Due: studio

test: update config golden fixtures for synchronous_cache_writes
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix(router): bump graphql-go-tools version to 2.9.2
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

Add failing regression test for APQ TTL renewal corrupting stored query
  router/core/operation_processor_apq_ttl_test.go
Due: router

bump the engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
