Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat: use email as distinct id on PostHog
  cli/src/core/telemetry.ts
  studio/src/lib/track.ts
Due: cli, studio

chore: add initial tests
  studio/src/__tests__/track.test.ts
Due: studio

feat: add subgraph check extension outcome to proposals screen (#2661)
  controlplane/src/core/bufservices/check/getCheckSummary.ts
  controlplane/src/core/repositories/ProposalRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/util.ts
  studio/src/components/check-badge-icon.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/[proposalId]/index.tsx
Due: studio, controlplane

feat: update the `throw` statements for authentication errors
  controlplane/src/core/services/ApiKeyAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/services/WebSessionAuthenticator.ts
Due: controlplane

feat: update the `throw` statements for authentication errors (#2662)
  controlplane/src/core/services/ApiKeyAuthenticator.ts
  controlplane/src/core/services/Authentication.ts
  controlplane/src/core/services/WebSessionAuthenticator.ts
Due: controlplane

chore: add Open Source AI Manifesto badge to README
  README.md
Due: none

chore: add Open Source AI Manifesto section to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: add human oss badge (#2663)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: none

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

feat(router): add ConnectRPC protocol support for gRPC subgraphs
  router/core/executor.go
  router/core/factoryresolver.go
  router/core/graph_server.go
  router/pkg/config/config.go
  router/pkg/grpcprotocol/config.go
  router/pkg/grpcprotocol/config_test.go
  router/pkg/grpcprotocol/transport_builder.go
  router/pkg/grpcprotocol/transport_builder_test.go
Due: router

fix(router): wire grpcProtocolConfig and validate ConnectRPC config
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/go.mod
Due: router

fix(router): add TLS-only subgraph clients and remove local replace directive
  router/core/graph_server.go
  router/go.mod
Due: router

fix(router): add TLS-only subgraph clients and use fork for graphql-go-tools
  router/go.mod
  router/go.sum
Due: router

fix: invalid JSON output
  cli/src/json-check-schema-output-builder.ts
  cli/test/json-check-schema-output-builder.test.ts
Due: cli

feat: add test asserting on real output
  cli/test/json-check-schema-output-builder.test.ts
Due: cli

chore(demo): fix code generation for cost directives
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
Due: none

bump router in tests
  router-tests/go.mod
Due: none

fix runtime resolvers
  demo/pkg/subgraphs/employees/gqlgen.yml
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/gqlgen.yml
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  router-tests/go.mod
Due: none

add github action to verify this in CI
  .github/workflows/demo-ci.yaml
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
Due: none

verify that config is up to date in CI
  .github/workflows/router-ci.yaml
Due: none

chore: pin otel deps on aws-lambda-router
  aws-lambda-router/go.mod
Due: none

fix typo
  .github/workflows/router-ci.yaml
Due: none

Update go-grpc dep on router + router-tests
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: update go-grpc on aws-lambda-router
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
Due: none

feat: show list of uncomitted files when git-dirty-check fails
  .github/actions/git-dirty-check/action.yaml
Due: none

remove unneeded env var
  router-tests/update-config-no-edg.sh
  router-tests/update-config.sh
Due: none

chore(router): fix CVE-2026-33186, update go-grpc (#2668)
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

Revert "chore(router): fix CVE-2026-33186, update go-grpc (#2668)"
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: slow plan cache (#2611)
  docs-website/concepts/cache-warmer.mdx
  docs-website/router/configuration.mdx
  docs-website/router/metrics-and-monitoring.mdx
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/plan_fallback_cache_test.go
  router-tests/protocol/config_hot_reload_test.go
  router/core/graph_server.go
  router/core/operation_planner.go
  router/core/reload_persistent_state.go
  router/core/reload_persistent_state_test.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/slowplancache/slow_plan_cache.go
  router/pkg/slowplancache/slow_plan_cache_test.go
Due: router

chore(release): Publish [skip ci]
  aws-lambda-router/CHANGELOG.md
  aws-lambda-router/package.json
  router/CHANGELOG.md
  router/package.json
Due: router

chore(demo): fix code generation for cost directives (#2667)
  .github/workflows/demo-ci.yaml
  .github/workflows/router-ci.yaml
  demo/go.mod
  demo/go.sum
  demo/pkg/subgraphs/employees/gqlgen.yml
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/gqlgen.yml
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
  router-tests/go.mod
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
  router-tests/update-config-no-edg.sh
  router-tests/update-config.sh
Due: none

feat: introduce proxy for webhook requests
  controlplane/package.json
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/createFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/migrateFromApollo.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/bufservices/graph/recomposeGraph.ts
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/bufservices/proposal/createProposal.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/moveSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  controlplane/src/core/webhooks/PlatformWebhookService.ts
  controlplane/src/core/webhooks/utils.ts
  controlplane/src/index.ts
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/secret.yaml
  helm/cosmo/charts/controlplane/values.yaml
  pnpm-lock.yaml
Due: controlplane
