Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: correctly looking up graphql_name from extension options
  proto/com/wundergraph/connectrpc/options/v1/annotations.proto
  protographic/src/operations/proto-text-generator.ts
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/proto_field_options.go
Due: router

fix(connectrpc): enforce protocol in graphql_endpoint validation
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
  router/pkg/config/config.schema.json
  router/pkg/connectrpc/constructor_validation_test.go
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/server_test.go
Due: router

feat: integrate protographic and cli improvements from ahmet/cli-protographic-improvements
  cli/src/commands/grpc-service/commands/generate.ts
  protographic/src/operation-to-proto.ts
  protographic/src/operations/proto-field-options.ts
  protographic/tests/operations/operation-validation.test.ts
Due: cli

fix(router): don't overwrite operation registry in initializeComponents
  router/pkg/connectrpc/server.go
Due: router

getFieldByJSONName
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/proto_loader.go
Due: router

refactor(router): consolidate header skip list
  router/core/header_rule_engine.go
  router/internal/headers/headers.go
  router/pkg/connectrpc/handler.go
  router/pkg/httputil/headers.go
  router/pkg/mcpserver/server.go
Due: router

linting
  router/pkg/connectrpc/handler.go
Due: router

fix: removing unused functions
  router/pkg/connectrpc/proto_loader.go
Due: router

cleaning up logging
  router/core/router.go
  router/pkg/connectrpc/operation_registry.go
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/service_discovery.go
Due: router

fix(router): sanitize internal errors to prevent information leakage to clients
  router/pkg/connectrpc/vanguard_service.go
Due: router

fix: correct WaitGroup usage in connectrpc tests
  router/pkg/connectrpc/operation_registry_test.go
Due: router

test: prefer inline snapshots
  router/pkg/connectrpc/handler_test.go
Due: router

fix(router): preserve operation registry and deduplicate file descriptors
  router/pkg/connectrpc/vanguard_service.go
Due: router

fix: removing the proto
  proto/com/wundergraph/connectrpc/options/v1/annotations.proto
Due: none

cleaning up the handler
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/validator.go
Due: router

refactor: enhance Playground component by introducing PlaygroundProps type and updating imports for better structure
  playground/src/components/playground/index.tsx
  playground/src/components/playground/types.ts
  playground/src/index.ts
Due: none

golden tests to represent inline snapshots
  router-tests/connectrpc/connectrpc_client_test.go
  router-tests/connectrpc/connectrpc_test_helpers.go
  router-tests/connectrpc/testdata/connectrpc/concurrent_response.json
  router-tests/connectrpc/testdata/connectrpc/employee_response.json
  router-tests/connectrpc/testdata/connectrpc/error_http_404.json
  router-tests/connectrpc/testdata/connectrpc/error_http_500.json
  router-tests/connectrpc/testdata/connectrpc/error_no_data.json
  router-tests/connectrpc/testdata/connectrpc/error_partial_data.json
  router-tests/testdata/connectrpc/employee_response.json
Due: none

test(router): respect OperationRegistry immutability in vanguard test
  router/pkg/connectrpc/vanguard_service_test.go
Due: router

fix: usage of input fields on the ui (#2437)
  controlplane/src/core/repositories/analytics/UsageRepository.ts
Due: controlplane

feat: update `billing.json`
  controlplane/src/bin/billing.json
Due: controlplane

chore: update tests
  controlplane/src/core/bufservices/proposal/enableProposalsForNamespace.ts
  controlplane/test/graph-pruning.test.ts
  controlplane/test/proposal/create-proposal.test.ts
Due: controlplane

feat: update `billing.json` (#2442)
  controlplane/src/bin/billing.json
  controlplane/src/core/bufservices/proposal/enableProposalsForNamespace.ts
  controlplane/test/graph-pruning.test.ts
  controlplane/test/proposal/create-proposal.test.ts
Due: controlplane

chore: implement as organization cleanup as cron job
  controlplane/package.json
  controlplane/src/bin/db-cleanup.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/workers/NotifyOrganizationDeletionQueuedWorker.ts
  controlplane/src/core/workers/QueueInactiveOrganizationsDeletionWorker.ts
  pnpm-lock.yaml
Due: controlplane

chore: fix test
  controlplane/test/test-util.ts
Due: controlplane

chore: fix commented `continue`
  controlplane/src/core/workers/QueueInactiveOrganizationsDeletionWorker.ts
Due: controlplane

feat: improve `authenticateClient` by avoiding unnecessary token creation
  controlplane/src/core/services/Keycloak.ts
Due: controlplane

chore: linting
  controlplane/src/core/services/Keycloak.ts
Due: controlplane

chore: add more tests and prepare abstract selection rewriting
  protographic/src/abstract-selection-rewriter.ts
  protographic/src/required-fields-visitor.ts
  protographic/src/types.ts
  protographic/tests/field-set/01-basics.test.ts
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

feat: mask hostname in cli telemetry (#2416)
  cli/src/core/telemetry.ts
Due: cli

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

fix: review comments
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/util.ts
Due: controlplane

fix: linting
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
Due: controlplane

fix: field usage when arguments have the same name as root fields (#2440)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/analytics/getFieldUsage.ts
  controlplane/src/core/repositories/analytics/UsageRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/analytics/field-usage.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
Due: studio, controlplane

fix: review comments
  cli/src/commands/graph/federated-graph/commands/check.ts
  cli/src/commands/graph/monograph/commands/check.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/constants.ts
  cli/src/handle-check-result.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/federated-graph/checkFederatedGraph.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane
