Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: remove unnecessary blank line in changelog command
  cli/src/commands/graph/common/changelog.ts
Due: cli

chore: remove ClickHouse ORDER BY analysis document
  clickhouse-order-by-analysis.md
Due: none

fix: ci
  cli/package.json
  cli/test/check-schema.test.ts
  cli/test/json-check-schema-output-builder.test.ts
  protographic/src/index.ts
  shared/package.json
  shared/test/required-field.test.ts
  shared/test/subscription-filter.test.ts
  studio/package.json
  studio/src/components/check-extensions/check-extensions-config.tsx
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/operations.tsx
  studio/src/components/checks/override.tsx
Due: cli, studio

fix: ci
  controlplane/.eslintrc
  controlplane/src/core/bufservices/analytics/getOperations.ts
Due: controlplane

fix: test
  graphqlmetrics/core/metrics_service_test.go
Due: graphqlmetrics

chore: generate composition go
  composition-go/index.global.js
Due: none

fix: lint
  protographic/package.json
  protographic/src/index.ts
  studio/src/components/create-graph.tsx
  studio/src/components/dashboard/workspace-provider.tsx
  studio/src/components/lint-policy/linter-config.tsx
  studio/src/components/member-groups/group-sheet.tsx
  studio/src/components/notifications/components.tsx
  studio/src/components/playground/custom-scripts.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/operations.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/subgraph/[subgraphSlug]/analytics/index.tsx
  studio/src/pages/[organizationSlug]/members.tsx
Due: studio

feat: add TextEncoder/TextDecoder polyfill and fix BigInt return type
  composition-go/index.global.js
  composition-go/shim/src/polyfill.js
Due: none

fix: update generated files to include import_extension=js in options
  buf.ts.gen.yaml
  connect/src/wg/cosmo/common/common_pb.ts
  connect/src/wg/cosmo/node/v1/node-NodeService_connectquery.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  connect/src/wg/cosmo/notifications/events_pb.ts
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
Due: none

fix: pr suggestions
  controlplane/package.json
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/createFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/checkFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphById.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphByName.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphs.ts
  controlplane/src/core/bufservices/federated-graph/getRouters.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/bufservices/subgraph/fixSubgraphSchema.ts
  demo/pkg/subgraphs/courses/bun.lock
  demo/pkg/subgraphs/courses/src/plugin.ts
  docs/superpowers/plans/2026-03-20-connect-v2-upgrade.md
Due: controlplane

feat: allow PostHog tracking on localhost if key is provided
  studio/src/lib/track.ts
Due: studio

feat: onboarding hook
  studio/src/components/feature-flag-provider.tsx
Due: studio

refactor: share schemas for re-usability
  studio/src/components/onboarding/onboarding-form.tsx
  studio/src/lib/form-schemas.ts
  studio/src/pages/[organizationSlug]/members.tsx
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

feat: wizard routing + step 1 form
  studio/src/components/onboarding/onboarding-form.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/pages/[organizationSlug]/onboarding/index.tsx
Due: studio

feat: create stepper component & steps
  studio/src/components/layout/title-layout.tsx
  studio/src/components/onboarding/onboarding-layout.tsx
  studio/src/components/onboarding/step-1-welcome.tsx
  studio/src/components/onboarding/stepper.tsx
  studio/src/pages/[organizationSlug]/onboarding/index.tsx
  studio/src/pages/onboarding/index.tsx
Due: studio

fix: avoid loading PostHog twice
  studio/src/lib/track.ts
  studio/src/pages/_app.tsx
Due: studio

feat: scaffold onboarding route
  studio/src/components/app-provider.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/pages/[organizationSlug]/onboarding.tsx
  studio/src/pages/_app.tsx
Due: studio

feat: add placeholder step 2 & step 3 components
  studio/src/components/onboarding/step-2-federation.tsx
  studio/src/components/onboarding/step-3-create-graph.tsx
  studio/src/components/onboarding/step-4-run-services.tsx
  studio/src/pages/onboarding/index.tsx
Due: studio

fix: source maps for firefox based browser
  studio/README.md
  studio/next.config.mjs
Due: studio

feat: pre-fill organization name in onboarding form
  studio/src/components/onboarding/onboarding-form.tsx
Due: studio

feat: add database onboarding table
  controlplane/migrations/0137_busy_phantom_reporter.sql
  controlplane/migrations/meta/0137_snapshot.json
  controlplane/migrations/meta/_journal.json
  controlplane/src/db/schema.ts
Due: controlplane

feat: provide onboarding metadata
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
Due: controlplane

chore: update otel dependencies
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

simplify rate construction, fix theoretical race
  router/core/ratelimiter.go
Due: router

fix: update pnpm-lock.yaml to include '@bufbuild/protobuf' dependency
  pnpm-lock.yaml
Due: none

chore: add span processor to remap old attributes
  router-tests/telemetry/telemetry_helpers_test.go
  router-tests/telemetry/telemetry_test.go
  router/pkg/metric/meter.go
  router/pkg/trace/meter.go
  router/pkg/trace/semconv_processor.go
Due: router

refactor: update request creation to use new request classes in plugin tests
  demo/pkg/subgraphs/courses/src/plugin.test.ts
Due: none

feat: handler for completing first onboarding step
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/onboarding/completeOnboardingStep1.ts
  controlplane/src/core/bufservices/onboarding/utils.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/onboarding/onboarding-form.tsx
  studio/src/components/onboarding/step-1-welcome.tsx
Due: studio, controlplane

feat: step 2 UI
  studio/src/components/onboarding/step-2-federation.tsx
  studio/src/pages/onboarding/index.tsx
Due: studio

feat: onboarding state management via context
  studio/src/components/app-provider.tsx
  studio/src/components/layout/dashboard-layout.tsx
  studio/src/components/onboarding/onboarding-form.tsx
  studio/src/components/onboarding/onboarding-layout.tsx
  studio/src/components/onboarding/onboarding-provider.tsx
  studio/src/components/onboarding/step-1-welcome.tsx
  studio/src/hooks/use-onboarding.ts
  studio/src/pages/_app.tsx
  studio/src/pages/onboarding/index.tsx
Due: studio

feat: step 2 logic
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/onboarding/completeOnboardingStep2.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/onboarding/step-2-federation.tsx
  studio/src/pages/onboarding/index.tsx
Due: studio, controlplane

feat: step 3 UI
  studio/src/components/onboarding/step-3-create-graph.tsx
  studio/src/pages/onboarding/index.tsx
Due: studio

feat: step 3 logic
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/onboarding/completeOnboardingStep3.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/onboarding/step-3-create-graph.tsx
Due: studio, controlplane

fix: use non-worker canvas-confetti instance
  studio/src/hooks/use-fireworks.ts
Due: studio

feat: step 4 UI
  studio/src/components/onboarding/step-4-run-services.tsx
  studio/src/pages/onboarding/index.tsx
Due: studio

feat: step 4 logic
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/onboarding/finishOnboarding.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/onboarding/step-4-run-services.tsx
Due: studio, controlplane

feat: restart onboarding
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/onboarding/restartOnboarding.ts
  controlplane/src/core/repositories/OnboardingRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/layout/dashboard-layout.tsx
Due: studio, controlplane

refactor: banner displaying logic
  studio/src/components/layout/dashboard-layout.tsx
Due: studio

fix: formatting
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
Due: router
