Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: handle fully external, unresolvable entity keys (#2568)
  composition-go/index.global.js
  composition/src/resolvability-graph/graph-nodes.ts
  composition/src/resolvability-graph/graph.ts
  composition/src/resolvability-graph/node-resolution-data/node-resolution-data.ts
  composition/src/resolvability-graph/node-resolution-data/types/params.ts
  composition/src/resolvability-graph/types/params.ts
  composition/src/resolvability-graph/types/types.ts
  composition/src/resolvability-graph/utils/utils.ts
  composition/src/resolvability-graph/walker/entity-walker/entity-walker.ts
  composition/src/resolvability-graph/walker/entity-walker/types/params.ts
  composition/src/resolvability-graph/walker/root-field-walkers/root-field-walker.ts
  composition/src/resolvability-graph/walker/root-field-walkers/types/params.ts
  composition/src/utils/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

chore: release helm-cosmo 0.17.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
Due: none

chore: update helm docs and prepare release
  helm/cosmo/README.md
Due: none

feat(helm): migrate away from bitnami helm chart
  helm/cosmo/Chart.lock
  helm/cosmo/Chart.yaml
  helm/cosmo/charts/keycloak-22.0.0.tgz
  helm/cosmo/charts/keycloakx-7.1.8.tgz
  helm/cosmo/values.yaml
Due: none

chore: change readme
  helm/cosmo/CHART.md
  helm/cosmo/README.md
  helm/cosmo/values.yaml
Due: none

chore: fix markdown formatting
  helm/cosmo/README.md
  helm/cosmo/values.yaml
Due: none

feat: implement open usage functionality in changes tables and refactor related components
  studio/src/components/checks/changes-table.tsx
  studio/src/components/checks/composed-schema-changes-table.tsx
  studio/src/components/checks/use-open-usage.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
Due: studio

fix: clarify message for detected breaking changes in federated graph schema
  cli/src/handle-check-result.ts
Due: cli

feat: show hub banner
  studio/src/components/dashboard/NewFeaturesPopup.tsx
  studio/src/hooks/use-new-features-popup-disabled.ts
Due: studio

fix(helm): exclude commonLabels from immutable selector matchLabels
  helm/cosmo/charts/cdn/templates/_helpers.tpl
  helm/cosmo/charts/cdn/templates/deployment.yaml
  helm/cosmo/charts/controlplane/templates/_helpers.tpl
  helm/cosmo/charts/controlplane/templates/deployment.yaml
  helm/cosmo/charts/graphqlmetrics/templates/_helpers.tpl
  helm/cosmo/charts/graphqlmetrics/templates/deployment.yaml
  helm/cosmo/charts/otelcollector/templates/_helpers.tpl
  helm/cosmo/charts/otelcollector/templates/deployment.yaml
  helm/cosmo/charts/router/templates/_helpers.tpl
  helm/cosmo/charts/router/templates/deployment.yaml
  helm/cosmo/charts/studio/templates/_helpers.tpl
  helm/cosmo/charts/studio/templates/deployment.yaml
Due: none

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

fix: ignore vulnerability CVE-2026-24051
  .trivyignore.yaml
Due: none

fix: format of trivyignore
  .trivyignore.yaml
Due: none

fix: use existing ignore file
  .trivyignore
  .trivyignore.yaml
Due: none

fix: add YAML extension
  .github/actions/image-scan/action.yaml
  .trivyignore.yaml
Due: none

fix: bump aquasecurity/trivy-actions to 0.34.1
  .github/actions/image-scan/action.yaml
Due: none

fix: ignore file not being picked up
  .github/actions/image-scan/action.yaml
  trivy.yaml
Due: none

chore: undo changes not needed anymore
  router-tests/error_handling_test.go
Due: none

feat(studio): delete persisted operations (#2553)
  .github/actions/image-scan/action.yaml
  .trivyignore
  .trivyignore.yaml
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/README.md
  controlplane/package.json
  controlplane/src/core/blobstorage/index.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/check/getNamespaceChecksConfig.ts
  controlplane/src/core/bufservices/check/updateNamespaceChecksConfig.ts
  controlplane/src/core/bufservices/persisted-operation/check-persisted-operation-traffic.ts
  controlplane/src/core/bufservices/persisted-operation/deletePersistedOperation.ts
  controlplane/src/core/bufservices/persisted-operation/publishPersistedOperations.ts
  controlplane/src/core/bufservices/persisted-operation/utils.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/constants.ts
  controlplane/src/core/repositories/OperationsRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/util.ts
  controlplane/src/types/index.ts
  controlplane/test/persisted-operations.test.ts
  proto/wg/cosmo/common/common.proto
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/clients/delete-persisted-operation-dialog.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  trivy.yaml
Due: studio, controlplane

chore: remove start var calculation
  router/core/engine_loader_hooks.go
Due: router

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

fix: listSize validation in composition
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

fix: remove unused field
  router/core/engine_loader_hooks.go
Due: router

chore: remove unused context type
  router/core/engine_loader_hooks.go
Due: router

do not allow empty listSize on non-list types
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

fix: reject costs defined on fields of interfaces
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cost.test.ts
Due: composition

reject empty sizeField on non-list types
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

tighten tests data
  composition/src/errors/errors.ts
  composition/tests/v1/directives/cost.test.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

add tests extension type
  composition/tests/v1/directives/cost.test.ts
Due: composition

update index
  composition-go/index.global.js
Due: none

fix lint issues
  composition/src/errors/errors.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/listSize.test.ts
Due: composition

feat(router): add MCP Code Mode with search and execute tools
  Makefile
  demo/pkg/subgraphs/employees/subgraph/schema.resolvers.go
  rfc/mcp-agent-mode.md
  router/.gitignore
  router/cmd/yoko-mock/main.go
  router/code-mode-demo.config.yaml
  router/core/router.go
  router/core/router_config.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/code_mode_descriptions.go
  router/pkg/mcpserver/code_mode_server.go
  router/pkg/mcpserver/code_mode_server_test.go
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/util.go
  router/pkg/sandbox/pool.go
  router/pkg/sandbox/pool_test.go
  router/pkg/sandbox/runtime.go
  router/pkg/sandbox/runtime_goja.go
  router/pkg/sandbox/runtime_qjs.go
  router/pkg/sandbox/runtime_qjs_test.go
  router/pkg/sandbox/runtime_test.go
  router/pkg/sandbox/transpiler.go
  router/pkg/sandbox/transpiler_test.go
  router/pkg/yokoclient/client.go
  router/pkg/yokoclient/client_test.go
  router/pkg/yokoclient/mock.go
  router/pkg/yokoclient/mock_openapi.yaml
  router/pkg/yokoclient/mock_test.go
  router/scripts/code-mode-demo.sh
  router/scripts/code-mode-graph.yaml
Due: router

continue for wrong entries
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

fix(router-tests): update go.mod/go.sum for new router dependencies
  router-tests/go.mod
  router-tests/go.sum
Due: none

fix(router): remove unnecessary fmt.Sprintf in code mode test
  router/pkg/mcpserver/code_mode_server_test.go
Due: router

fix(router): address code review feedback for MCP Code Mode
  router/pkg/config/config.schema.json
  router/pkg/sandbox/pool_test.go
  router/pkg/sandbox/runtime.go
  router/pkg/sandbox/runtime_qjs.go
  router/pkg/yokoclient/client.go
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
