Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: updates
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/core/router_test.go
  router/core/supervisor_instance.go
Due: router

fix: updates
  router/core/supervisor_instance.go
Due: router

fix: updates
  router/core/graph_server.go
  router/core/router.go
  router/core/router_test.go
  router/core/supervisor_instance.go
  router/core/tls.go
  router/core/tls_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: updates
  router-tests/subgraph_mtls_test.go
  router/pkg/config/config.go
Due: router

refactor(tests): inline schema-mutating helpers as local closures
  router-tests/relaxed_field_selection_nullability_test.go
Due: none

fix: update TestDefaults golden fixture for relaxed nullability field
  router/pkg/config/testdata/config_defaults.json
Due: router

feat(router): add relaxed nullability validation for field selection merging (#2515)
  router-tests/go.mod
  router-tests/go.sum
  router-tests/relaxed_field_selection_nullability_test.go
  router/core/executor.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: http status code
  router-tests/prometheus_test.go
  router-tests/telemetry/telemetry_test.go
  router/core/graphql_prehandler.go
Due: router

fix: review comments
  router-tests/telemetry/telemetry_test.go
  router-tests/utils.go
Due: none

chore: update go.mod, get latest engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

hide telemetry under the switch
  router-tests/costs_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/metric/config.go
  router/pkg/metric/measurements.go
  router/pkg/metric/metric_store.go
  router/pkg/metric/metric_store_test.go
  router/pkg/metric/otlp_metric_store.go
Due: router

add dedicated benchmark for the costs analysis
  router-tests/integration_test.go
Due: none

bump the engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix configs
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: http status code not being correct for metrics (#2516)
  router-tests/prometheus_test.go
  router-tests/telemetry/telemetry_test.go
  router-tests/utils.go
  router/core/graphql_prehandler.go
Due: router

fix: solves the `dist` restructuring issue
  controlplane/src/core/auth-utils.ts
Due: controlplane

chore: add small check to ensure that the `dist` directory structure doesn't change on build
  .github/workflows/controlplane-ci.yaml
Due: none

fix: refactoring
  router-tests/subgraph_mtls_test.go
  router/core/factoryresolver.go
  router/core/tls.go
  router/core/tls_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: fix file check path
  .github/workflows/controlplane-ci.yaml
Due: none

fix: updates
  router-tests/subgraph_mtls_test.go
  router-tests/testenv/testenv.go
  router/core/tls.go
  router/core/tls_test.go
Due: router

chore: simplify file check
  .github/workflows/controlplane-ci.yaml
Due: none

chore: revert last change
  .github/workflows/controlplane-ci.yaml
Due: none

fix: review comments
  router-tests/subgraph_mtls_test.go
  router-tests/testenv/testenv.go
  router/core/tls_test.go
Due: router

failing test
  router-tests/singleflight_test.go
Due: none

fix(router): add missing locks for concurrent map writes in header propagation
  router-tests/header_propagation_race_test.go
  router/core/header_rule_engine.go
Due: router

fix: tests
  router-tests/telemetry/attribute_processor_test.go
Due: none

fix(router): lock response header propagation state (#2518)
  router-tests/header_propagation_race_test.go
  router/core/header_rule_engine.go
Due: router

chore: add tests for header support in grpc datasources
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/grpc_subgraph_test.go
Due: none

chore: fix data race in Set rule, extract test helper
  router-tests/singleflight_test.go
Due: none

fix(router): avoid double-applying response header rules for singleflight leaders
  router/core/engine_loader_hooks.go
  router/core/header_rule_engine.go
Due: router

fix(router): apply response header rules only in OnFinished, not OnOriginResponse
  router-tests/singleflight_test.go
  router/core/engine_loader_hooks.go
  router/core/header_rule_engine.go
  router/core/router.go
Due: router

feat(router): fix singleflight deduplication bugs and propagate response headers
  router-tests/go.mod
  router-tests/go.sum
  router-tests/singleflight_test.go
  router/core/engine_loader_hooks.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/header_rule_engine.go
  router/core/operation_processor.go
  router/go.mod
  router/go.sum
Due: router

chore: harden test assertions and add documentation comments
  router-tests/singleflight_test.go
  router/core/engine_loader_hooks.go
  router/core/operation_processor.go
Due: router

chore(deps): upgrade graphql-go-tools to v2.0.0-rc.251
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: add interceptor possibility to testenv
  router-tests/testenv/testenv.go
Due: none

fix(router): apply response header rules before tracing/metrics early returns
  router-tests/singleflight_test.go
  router/core/engine_loader_hooks.go
Due: router

fix: renaming
  router-tests/subgraph_mtls_test.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/core/tls.go
  router/core/tls_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
