Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix: incorrect behavior for abstract types on required fields (#3130)
  demo/pkg/subgraphs/projects/generated/mapping.json
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service.proto
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/src/schema.graphql
  demo/pkg/subgraphs/projects/src/service/service.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/protocol/grpc_subgraph_test.go
  router-tests/protocol/router_plugin_test.go
  router-tests/testenv/testdata/configWithGRPC.json
  router-tests/testenv/testdata/configWithPlugins.json
  router/go.mod
  router/go.sum
Due: router

fix: update feature flag response validation to use Set for uniqueness
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
Due: controlplane

chore: move common deps to catalog (#3014)
  admission-server/package.json
  cdn-server/package.json
  connect/package.json
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  studio/package.json
Due: studio

feat(mcp): add server/discover support with configurable instructions (#3111)
  docs-website/router/mcp/configuration.mdx
  router-tests/go.mod
  router-tests/go.sum
  router-tests/protocol/mcp_discover_test.go
  router-tests/protocol/mcp_test.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/discover_test.go
  router/pkg/mcpserver/server.go
Due: router

chore(release): Publish [skip ci]
  cdn-server/CHANGELOG.md
  cdn-server/package.json
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  playground/CHANGELOG.md
  playground/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane

fix(router): close Kafka consumer client when subscription ends
  router/pkg/pubsub/kafka/adapter.go
Due: router

refactor(router): use WaitGroup.Go for the Kafka subscription poller
  router/pkg/pubsub/kafka/adapter.go
Due: router

docs: mcp tools page refactor
  docs-website/docs.json
  docs-website/router/mcp.mdx
  docs-website/router/mcp/configuration.mdx
  docs-website/router/mcp/operations.mdx
  docs-website/router/mcp/quickstart.mdx
  docs-website/router/mcp/tools.mdx
Due: none

docs: address coderabbit review feedback
  docs-website/router/mcp.mdx
  docs-website/router/mcp/tools.mdx
Due: none

docs: mcp tools page refactor (#3134)
  docs-website/docs.json
  docs-website/router/mcp.mdx
  docs-website/router/mcp/configuration.mdx
  docs-website/router/mcp/operations.mdx
  docs-website/router/mcp/quickstart.mdx
  docs-website/router/mcp/tools.mdx
Due: none

fix: ignore header rules for pubsub trigger sources
  router-tests/events/trigger_test.go
  router/core/context.go
  router/core/header_rule_engine_buildheader_test.go
Due: router

fix: fix test + add new one
  router-tests/operations/singleflight_test.go
  router-tests/subscriptions/websocket_test.go
Due: none

feat(mcp): add structured tool output behind mcp.output_schema flag
  router-tests/protocol/mcp_test.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/response_schema.go
  router/pkg/mcpserver/response_schema_test.go
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
Due: router

docs(mcp): document the output_schema structured tool output flag
  docs-website/router/mcp/configuration.mdx
  docs-website/router/mcp/tools.mdx
Due: none

fix(controlplane): report feature flags only when they have a valid composition
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/feature-flag/getFeatureFlagsInLatestCompositionByFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphById.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/types/index.ts
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
  controlplane/test/feature-flag/get-federated-graph-sdl-by-name.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/schema/stale-composition-warning.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
Due: studio, controlplane

fix(controlplane): handle disabled feature flags in getFederatedGraphSDLByName
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphSDLByName.ts
  controlplane/test/feature-flag/get-federated-graph-sdl-by-name.test.ts
Due: controlplane

chore: add tests
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
Due: controlplane

fix(router): ignore header rules for pubsub trigger sources (#3135)
  router-tests/events/trigger_test.go
  router-tests/operations/singleflight_test.go
  router-tests/subscriptions/websocket_test.go
  router/core/context.go
  router/core/header_rule_engine_buildheader_test.go
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

feat(controlplane): enhance CompositionErrorsBanner to include view compositions link and update usage in schema pages
  studio/src/components/composition-errors-banner.tsx
  studio/src/components/schema/stale-composition-warning.tsx
  studio/src/components/ui/button.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
Due: studio

fix: lint
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/test/feature-flag/get-federated-graph-sdl-by-name.test.ts
Due: controlplane

feat: implement ptq rpc and index schemas
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
  connect/src/wg/cosmo/node/v1/node-NodeService_connectquery.ts
  connect/src/wg/cosmo/node/v1/node_pb.ts
  controlplane/.env.example
  controlplane/src/core/bufservices/NodeService.ts
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/createFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/recomposeFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/migrateFromApollo.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/bufservices/graph/recomposeGraph.ts
  controlplane/src/core/bufservices/graph/setGraphRouterCompatibilityVersion.ts
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/moveSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/services/CompositionService.ts
  controlplane/src/core/services/PromptToQueryService.ts
  controlplane/src/index.ts
  controlplane/src/types/index.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/gen/proto/wg/cosmo/node/v1/nodev1connect/node.connect.go
Due: router, controlplane

chore: remove `console.log`
  controlplane/src/core/services/PromptToQueryService.ts
Due: controlplane

chore: fix router test
  router/pkg/controlplane/selfregister/self_register_test.go
Due: router

feat: redis adapter
  router/pkg/entitycaching/cache/redis.go
  router/pkg/entitycaching/cache/redis_test.go
Due: router

fix: update in memory logic and tests
  router/pkg/entitycaching/cache/in_memory.go
  router/pkg/entitycaching/cache/in_memory_test.go
Due: router

fix: updates
  router/pkg/entitycaching/cache/in_memory.go
  router/pkg/entitycaching/cache/in_memory_test.go
Due: router

fix: gofmt
  router/pkg/entitycaching/cache/in_memory.go
Due: router

feat: in memory adapter
  router/go.mod
  router/go.sum
  router/pkg/entitycaching/cache/in_memory.go
  router/pkg/entitycaching/cache/in_memory_test.go
Due: router

fix: updates
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: tests
  router/pkg/entitycaching/cache/in_memory.go
  router/pkg/entitycaching/cache/in_memory_test.go
Due: router

fix: allow AWS default credential chain for S3 storage
  cdn-server/src/utils.ts
  controlplane/src/core/util.ts
  controlplane/test/utils.s3storage.test.ts
Due: controlplane

feat: add copy cURL request option to playground copy button
  studio/src/__tests__/playground-curl.test.ts
  studio/src/components/playground/copy-operation.tsx
  studio/src/components/playground/types.ts
  studio/src/lib/playground-curl.ts
  studio/src/lib/playground-headers.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/styles/playground.css
Due: studio

fix: better doc
  docs-website/router/configuration/template-expressions.mdx
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/prometheus-metric-reference.mdx
Due: none

feat: validate HTTP header names and warn on invalid tokens in cURL command
  studio/src/__tests__/playground-curl.test.ts
  studio/src/components/playground/copy-operation.tsx
  studio/src/lib/playground-curl.ts
  studio/src/lib/playground-headers.ts
Due: studio

refactor(router): drive Kafka poller with a merged context
  router/pkg/pubsub/kafka/adapter.go
Due: router

feat: allow subscriptions to be excluded from rate limiting
  docs-website/router/configuration.mdx
  router-tests/security/ratelimit_test.go
  router/core/graphql_handler.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: allow fields marked with `@inaccessible` to be used in `SubscriptionFilter`
  composition/src/v1/federation/federation-factory.ts
  composition/tests/v1/directives/subscription-filter.test.ts
Due: composition

chore: update tests
  composition/tests/v1/directives/subscription-filter.test.ts
Due: composition

docs: fix outdated EmitLocalEvent reference (#3085)
  docs-website/router/cosmo-streams/custom-modules/subscription-on-start.mdx
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
