Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: add non cached benchmark to find the price of costs control
  router-tests/protocol/integration_test.go
  router-tests/testenv/testenv.go
Due: none

chore: update Sentry integration
  controlplane/src/core/composition/composeGraphs.pool.ts
  controlplane/src/core/composition/composeGraphs.worker.ts
Due: controlplane

fix: update feature flag repository to handle schema versions correctly and enhance tests for feature subgraph republishing
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/test/feature-flag/recompose-feature-flag.test.ts
Due: controlplane

stop timer
  router-tests/protocol/integration_test.go
Due: none

chore: update Sentry integration (#2931)
  controlplane/src/core/composition/composeGraphs.pool.ts
  controlplane/src/core/composition/composeGraphs.worker.ts
Due: controlplane

feat: implement early stop for feature flag updates with no changes
  cli/src/commands/feature-flag/commands/update.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/test/feature-flag/update-feature-flag.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

fix: serve latest feature flag schema version after republishing a feature subgraph (#2930)
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/test/feature-flag/recompose-feature-flag.test.ts
Due: controlplane

refactor: simplify labels change detection logic in updateFeatureFlag function
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
Due: controlplane

chore: linting
  controlplane/test/feature-flag/update-feature-flag.test.ts
Due: controlplane

feat: implement early stop for feature flag updates with no changes (#2932)
  cli/src/commands/feature-flag/commands/update.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/test/feature-flag/update-feature-flag.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

chore: address comments
  cli/src/commands/auth/utils.ts
  cli/src/core/telemetry.ts
Due: cli

chore: update `checkAuth` comments
  cli/src/commands/auth/utils.ts
Due: cli

chore: remove nested transaction
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

fix: invalid merge
  controlplane/src/core/bufservices/persisted-operation/getClients.ts
Due: controlplane

fix: formatting
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
Due: none

chore: improve
  docs-website/router/configuration.mdx
  docs-website/router/proxy-capabilities/subgraph-request-header-operations.mdx
  router/core/header_rule_engine.go
Due: router

feat: allow to configure empty state to be more compact
  studio/src/components/empty-state.tsx
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

refactor: apollo migration empty state compact UI
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

feat: make empty onboarding state more prominent
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

refactor: use common separator component
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

chore: add hostname tag to Sentry config
  controlplane/src/core/sentry.config.ts
Due: controlplane

fix: minor adjustments for positioning
  studio/src/components/federatedgraphs-cards.tsx
Due: studio

chore: add hostname tag to worker Sentry config
  controlplane/src/core/composition/composeGraphs.worker.ts
Due: controlplane

refactor: extract migration dialog to separate component
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/migration-dialog.tsx
Due: studio

chore: improve logging
  router/core/header_rule_engine.go
Due: router

chore: reset buffer only after successful file read
  router/core/header_rule_engine.go
Due: router

fix: empty state has optional title
  studio/src/components/empty-state.tsx
Due: studio

fix: use fallback route
  studio/src/components/migration-dialog.tsx
Due: studio

refactor(controlplane): convert # private methods to TypeScript private in CompositionService
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

refactor(controlplane): convert # private methods to TypeScript private in CompositionService (#2935)
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

chore: engine tmp version
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: ignore .claude/worktrees/ directory
  .gitignore
Due: none

chore: mimimimi
  router/core/header_rule_engine.go
Due: router

chore: add hostname tag to Sentry config (#2934)
  controlplane/src/core/composition/composeGraphs.worker.ts
  controlplane/src/core/sentry.config.ts
Due: controlplane

fix: dedupe and exclude disabled feature flags in schema page dropdown
  controlplane/src/core/bufservices/feature-flag/getFeatureFlagsInLatestCompositionByFederatedGraph.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
Due: controlplane

feat: extract cdn upload to outside the transaction
  controlplane/src/core/blobstorage/index.ts
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/createFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/recomposeFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/migrateFromApollo.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/bufservices/graph/recomposeGraph.ts
  controlplane/src/core/bufservices/graph/setGraphRouterCompatibilityVersion.ts
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/bufservices/proposal/createProposal.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/fixSubgraphSchema.ts
  controlplane/src/core/bufservices/subgraph/moveSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/composition/composeGraphs.worker.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/CompositionBlobStorageQueue.ts
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

fix: pr suggestion
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
Due: controlplane

fix: lint
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
Due: controlplane
