Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

feat(router): support pyroscope configuration
  router/cmd/main.go
  router/core/router.go
  router/core/router_config.go
  router/core/supervisor_instance.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/profile/pyroscope/pyroscope.go
Due: router

refactor: rename method to clarify valid feature flag schema version retrieval
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
Due: controlplane

fix: renaming
  docs-website/docs.json
  docs-website/router/configuration.mdx
  docs-website/router/security/validate-inline-arguments.mdx
  router-tests/operations/disallow_inline_arguments_test.go
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: refactoring
  router-tests/go.mod
  router-tests/go.sum
  router/core/operation_processor.go
  router/go.mod
  router/go.sum
Due: router

fix: enforcement type
  router-tests/operations/disallow_inline_arguments_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
Due: router

chore: additional link fixes
  studio/src/components/analytics/trace-details.tsx
  studio/src/components/feature-flags-table.tsx
  studio/src/components/migration-dialog.tsx
  studio/src/components/operations/operation-content-modal.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/checks/[checkId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/clients.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/compositions/[compositionId]/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/overrides.tsx
  studio/src/pages/[organizationSlug]/index.tsx
  studio/src/pages/[organizationSlug]/integrations.tsx
Due: studio

fix: refactoring
  router/core/operation_processor.go
Due: router

chore: improve test assertions
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/provides.test.ts
Due: composition

chore: correct link
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/overrides.tsx
Due: studio

fix: update docs
  docs-website/router/configuration.mdx
  docs-website/router/security/validate-inline-arguments.mdx
Due: none

chore: update dompurify
  package.json
  pnpm-lock.yaml
Due: none

chore: update postcss
  package.json
  pnpm-lock.yaml
Due: none

chore: update picomatch
  keycloak/theme/package-lock.json
Due: none

chore: respond to PR feedback; add tests
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/provides.test.ts
Due: composition

chore: remove duplicated tests
  composition/tests/v1/directives/provides.test.ts
Due: composition

chore: tidy
  router-tests/go.mod
  router-tests/go.sum
Due: none

fix: update gomod
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: fix error message
  router/core/router.go
Due: router

docs(router): document graphql_metrics.enabled and collector_endpoint
  docs-website/router/compliance-and-data-management.mdx
  docs-website/router/configuration.mdx
Due: none

docs(router): fix GraphQL Metrics table header alignment
  docs-website/router/configuration.mdx
Due: none

fix: gomod
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: gomod
  router-tests/go.sum
  router/go.sum
Due: router

fix: tests
  router-tests/protocol/router_plugin_test.go
Due: none

fix: prevent stack overflow in schema checks by not sending parsed ASTs to the composition worker
  controlplane/src/core/composition/composer.ts
  controlplane/test/feature-flag/check-with-feature-flags.test.ts
Due: controlplane

chore: improve
  router/pkg/profile/pyroscope/pyroscope.go
  router/pkg/profile/pyroscope/pyroscope_test.go
Due: router

fix(studio): fix typo in SCIM setting description
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

chore: fix typo
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

fix: lint
  controlplane/test/feature-flag/check-with-feature-flags.test.ts
Due: controlplane

fix(studio): improve SCIM setting copy
  studio/src/pages/[organizationSlug]/settings.tsx
Due: studio

feat: avoid extra compositions due trailing newline
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

chore: add validation test
  controlplane/test/subgraph/publish-subgraph.test.ts
Due: controlplane

chore: fix tests
  controlplane/test/test-data/feature-flags/products-standalone-feature.graphql
Due: controlplane

docs: fix outdated EmitLocalEvent reference (Pylon #3303)
  docs-website/router/cosmo-streams/custom-modules/subscription-on-start.mdx
Due: none

fix: orphan subgraphs not shown as active on the header
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/services/WorkspaceService.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/dashboard/graph-command-group.tsx
  studio/src/components/dashboard/workspace-command-wrapper.tsx
  studio/src/components/dashboard/workspace-selector.tsx
Due: studio, controlplane

chore: fix tests
  controlplane/test/workspace/get-workspace.test.ts
Due: controlplane

feat(router): make MCP server mount path configurable via WithMountPath option
  router/pkg/mcpserver/mount_path_test.go
  router/pkg/mcpserver/server.go
Due: router

fix(router): reject invalid MCP mount paths and normalize base URL joining
  router/pkg/mcpserver/mount_path_test.go
  router/pkg/mcpserver/server.go
Due: router

fix(router): validate MCP mount path against ServeMux pattern semantics
  router/pkg/mcpserver/mount_path_test.go
  router/pkg/mcpserver/server.go
Due: router

test(router): cover custom MCP mount path in protocol integration tests
  router-tests/protocol/mcp_test.go
  router-tests/testenv/testenv.go
  router/core/router.go
  router/pkg/config/config.go
Due: router
