Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 50
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router
    carryforward: true
  cli:
    paths:
      - cli
    carryforward: true
  studio:
    paths:
      - studio
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics
    carryforward: true
  controlplane:
    paths:
      - controlplane
    carryforward: true
  composition:
    paths:
      - composition
    carryforward: true

chore: remove redundant targetplatform specifier
  otelcollector/Dockerfile
Due: none

chore: ignore lint and specify targetplatform redundantly for clarity
  otelcollector/Dockerfile
Due: none

chore: cross compile with ocb
  otelcollector/Dockerfile
Due: none

fix: codecov carryforward paths are not detected
  codecov.yaml
Due: none

fix: getGraphMetrics by using Float64 for multipliers in clickhouse queries
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
Due: controlplane

fix: comments
  codecov.yaml
Due: none

fix: protographic
  .github/workflows/protographic.yaml
Due: none

fix: updates
  codecov.yaml
Due: none

fix: unicode
  codecov.yaml
Due: none

fix: getGraphMetrics by using Float64 for multipliers in clickhouse queries (#2411)
  controlplane/src/core/repositories/analytics/MetricsRepository.ts
  controlplane/src/core/repositories/analytics/SubgraphMetricsRepository.ts
Due: controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  graphqlmetrics/CHANGELOG.md
  graphqlmetrics/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, graphqlmetrics, controlplane, composition

feat: upgrade NextJS (#2410)
  package.json
  pnpm-lock.yaml
  studio/package.json
Due: studio

chore(release): Publish [skip ci]
  studio/CHANGELOG.md
  studio/package.json
Due: studio

fix: resolve js-yaml vulnerabilities
  cli/package.json
  keycloak/theme/package-lock.json
  pnpm-lock.yaml
Due: cli

fix: resolve js-yaml vulnerabilities (#2415)
  cli/package.json
  keycloak/theme/package-lock.json
  pnpm-lock.yaml
Due: cli

fix: initial changes
  cli/src/commands/graph/monograph/commands/check.ts
  cli/src/commands/subgraph/commands/check.ts
  cli/src/handle-check-result.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  proto/README.md
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

feat: validate session cookie (#2406)
  controlplane/src/core/auth-utils.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/controllers/auth.ts
  controlplane/src/core/services/WebSessionAuthenticator.ts
Due: controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  keycloak/CHANGELOG.md
  keycloak/package.json
Due: cli, controlplane

fix: updates
  cli/src/commands/subgraph/commands/check.ts
  cli/src/handle-check-result.ts
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/util.ts
  proto/wg/cosmo/platform/v1/platform.proto
Due: cli, controlplane

fix: updates
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
Due: controlplane

fix: updates
  cli/src/handle-check-result.ts
Due: cli

fix: codecov carryforward paths are not detected (#2412)
  .github/workflows/protographic.yaml
  codecov.yaml
Due: none

fix: updates
  router-tests/modules/context-error/module.go
  router-tests/modules/context_error_field_test.go
  router/core/context.go
  router/core/errors.go
  router/core/graphql_handler.go
Due: router

fix: updates
  router-tests/modules/context-error/module.go
  router-tests/modules/context_error_field_test.go
Due: router

feat: create script to enqueue inactive organizations for deletion
  controlplane/src/bin/db-cleanup.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/core/routes.ts
  controlplane/src/core/workers/NotifyOrganizationDeletionQueuedWorker.ts
Due: controlplane

bumping expr dependency
  demo/go.mod
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: bumping expr dependency (#2419)
  demo/go.mod
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: updates
  router/core/graphql_handler.go
Due: router
