Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

test(mcp): drop per-route list from OAuthTestServer doc comment
  router-tests/testutil/oauth_server.go
Due: none

chore(cdn): fix build
  cdn-server/cdn/src/index.ts
Due: none

chore: generate html for playground
  router/internal/graphiql/graphiql.html
Due: router

chore: fix keycloak version
  keycloak/Dockerfile
  keycloak/theme/pom.xml
Due: none

chore(playground): update rollup
  playground/package.json
  pnpm-lock.yaml
Due: none

fix(keycloak): update keycloak to 26.5.5 due to vulnerability
  keycloak/Dockerfile
  keycloak/theme/pom.xml
Due: none

chore: update serialize-javascript
  package.json
  pnpm-lock.yaml
Due: none

fix(cli): update undici due to vulnerabilities
  cli/package.json
  pnpm-lock.yaml
Due: cli

chore: update minimatch due to vulnerabilities
  keycloak/theme/package-lock.json
  keycloak/theme/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: update hono due to vulnerability
  admission-server/package.json
  cdn-server/cdn/package.json
  cdn-server/package.json
  pnpm-lock.yaml
Due: none

chore: update express-rate-limit
  package.json
  pnpm-lock.yaml
Due: none

chore(keycloak): update immutable
  keycloak/theme/package-lock.json
Due: none

chore: update socket.io-parser due to vulnerability
  package.json
  pnpm-lock.yaml
Due: none

refactor(mcp): make MaxScopeCombinations default explicit
  router/pkg/config/config.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/scope_extractor.go
  router/pkg/mcpserver/scope_extractor_test.go
  router/pkg/mcpserver/server.go
Due: router

feat: update packages to address high severity vulnerabilities (#2757)
  admission-server/package.json
  cdn-server/cdn/package.json
  cdn-server/cdn/src/index.ts
  cdn-server/package.json
  cli/package.json
  keycloak/Dockerfile
  keycloak/theme/package-lock.json
  keycloak/theme/package.json
  keycloak/theme/pom.xml
  package.json
  playground/package.json
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
Due: router, cli

refactor(mcp): port debug proxy from TypeScript to Go
  client-tests/mcp-ts/mcp-debug-proxy.mjs
  router-tests/cmd/mcp-debug-proxy/main.go
Due: none

docs(mcp): move OAuth sample config alongside other router examples
  client-tests/mcp-ts/src/__tests__/McpOAuthScopes.test.ts
  router/mcp.oauth.config.yaml
Due: router

fix: fix `Contact us` links on Studio
  studio/src/lib/constants.ts
  studio/src/pages/create.tsx
Due: studio

fix: allow interface subtype for implemented interface fields
  composition-go/index.global.js
  composition/src/ast/utils.ts
  composition/src/normalization/types.ts
  composition/src/schema-building/params.ts
  composition/src/schema-building/utils.ts
  composition/src/types/types.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/params.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/types/interfaces.test.ts
Due: composition

chore: add `rel`
  studio/src/pages/create.tsx
Due: studio

chore: clean up
  composition/src/normalization/types.ts
  composition/src/utils/types.ts
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

fix: allow interface subtype for implemented interface fields (#2764)
  composition-go/index.global.js
  composition/src/ast/utils.ts
  composition/src/normalization/types.ts
  composition/src/schema-building/params.ts
  composition/src/schema-building/utils.ts
  composition/src/types/types.ts
  composition/src/utils/string-constants.ts
  composition/src/utils/types.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/federation/params.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/types/interfaces.test.ts
Due: composition

fix: fix `Contact us` links on Studio (#2763)
  studio/src/lib/constants.ts
  studio/src/pages/create.tsx
Due: studio

chore(release): Publish [skip ci]
  cdn-server/CHANGELOG.md
  cdn-server/cdn/CHANGELOG.md
  cdn-server/cdn/package.json
  cdn-server/package.json
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  keycloak/CHANGELOG.md
  keycloak/package.json
  playground/CHANGELOG.md
  playground/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

chore: update schedule to 2AM UTC
  helm/cosmo/charts/controlplane/values.yaml
Due: none

chore: update docs
  helm/cosmo/charts/controlplane/README.md
Due: none

feat: create Kubernetes cron job to cleanup data older than 90 days (#2694)
  helm/cosmo/charts/controlplane/README.md
  helm/cosmo/charts/controlplane/templates/cleanup-old-data-cronjob.yaml
  helm/cosmo/charts/controlplane/values.yaml
Due: none

chore: linting
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio

sse buffer tests
  router/core/graphql_sse_regression_test.go
Due: router

feat: allow string kind enum default values
  composition-go/index.global.js
  composition/src/schema-building/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/params.ts
  composition/tests/v1/types/enums.test.ts
Due: composition

chore: clean up
  composition-go/index.global.js
  composition/src/schema-building/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

feat: use email as main tracking field (#2700)
  .trivyignore.yaml
  Makefile
  cli/src/core/telemetry.ts
  connect-go/gen/proto/wg/cosmo/common/common.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect-go/gen/proto/wg/cosmo/notifications/events.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/organization/whoAmI.ts
  graphqlmetrics/gen/proto/wg/cosmo/common/common.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  proto/wg/cosmo/platform/v1/platform.proto
  router/gen/proto/wg/cosmo/common/common.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  studio/src/lib/track.ts
Due: router, cli, studio, graphqlmetrics, controlplane

chore: update docs
  protographic/SDL_PROTO_RULES.md
Due: none

feat: allow string kind enum default values (#2767)
  composition-go/index.global.js
  composition/src/schema-building/utils.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/params.ts
  composition/tests/v1/types/enums.test.ts
Due: composition
