Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

chore: update imports
  cli/test/router/compose.test.ts
Due: cli

chore: reject unknown feature flags
  cli/src/commands/router/commands/compose.ts
  cli/test/router/compose.test.ts
Due: cli

chore: regenerate configs
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
Due: none

chore: reject no possible contract options
  cli/src/commands/router/commands/compose.ts
  cli/test/router/compose.test.ts
Due: cli

chore: update regex
  cli/test/router/compose.test.ts
Due: cli

chore: satisfy linter
  cli/src/commands/router/commands/compose.ts
Due: cli

chore(deps): downgrade vitest to v4
  cli/vite.config.ts
  client-tests/apollo-js/package.json
  client-tests/mcp-ts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cli

fix: restore lint autofix
  composition/package.json
  composition/src/v1/constants/constants.ts
  composition/src/v1/warnings/warnings.ts
  controlplane/emails/package.json
  pnpm-lock.yaml
Due: controlplane, composition

Change import to use 'import type' syntax
  composition/src/v1/constants/constants.ts
Due: composition

chore(deps): downgrade vitest to v4 (#3241)
  cli/vite.config.ts
  client-tests/apollo-js/package.json
  client-tests/mcp-ts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cli

fix: enable multi-fetch and scheduling
  demo/pkg/subgraphs/courses/generated/mapping.json
  docs-website/router/configuration.mdx
  docs-website/router/query-plan/batch-generate-query-plans.mdx
  router-tests/modules/query_stats_test.go
  router-tests/operations/multi_fetches_scheduling_test.go
  router-tests/operations/testdata/fixtures/query_plans/only_query_plan.json
  router-tests/operations/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_operation_name.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_operation_name_sanitized_no_data.json
  router-tests/protocol/integration_test.go
  router-tests/protocol/testdata/tracing.json
  router-tests/testenv/testenv.go
  router/cmd/plan_generator.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

fix: updates
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: use relative links
  CONTRIBUTING.md
  cli/README.md
Due: cli

fix: updates
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_private_test.go
  router/core/engine_loader_hooks.go
  router/core/graph_server.go
  router/core/graphql_handler.go
  router/core/response_cache_private_id.go
  router/core/response_cache_private_id_test.go
  router/core/response_cache_test.go
  router/core/router.go
  router/internal/expr/resolvers.go
  router/internal/expr/resolvers_nil_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: update mdx and remove unused import
  cli/src/commands/router/commands/compose.ts
  docs-website/cli/router/compose.mdx
Due: cli

fix: updates
  router/core/response_cache_private_id.go
  router/core/response_cache_private_id_test.go
  router/core/router.go
Due: router

docs(cli): add contribution guidelines (#3235)
  CONTRIBUTING.md
  cli/CONTRIBUTING.md
  cli/README.md
Due: cli

chore: update readout
  cli/src/commands/router/commands/compose.ts
Due: cli

fix: refactoring
  router/core/engine_loader_hooks.go
Due: router

chore: add client resume section
  rfc/at-least-once-v1.md
Due: none

chore: fix test
  cli/test/router/compose.test.ts
Due: cli

chore: revert log to error to avoid shell pipe issues
  cli/src/commands/router/commands/compose.ts
  cli/test/router/compose.test.ts
Due: cli

chore: fix join typo
  cli/test/router/compose.test.ts
Due: cli

chore: just a dummy test commit
  router/cmd/main.go
Due: router

feat: wgc router compose supports contracts (#3240)
  cli/src/commands/router/commands/compose.ts
  cli/src/commands/router/commands/types/params.ts
  cli/src/utils.ts
  cli/test/fixtures/tagged-schema-variant.graphql
  cli/test/fixtures/tagged-schema.graphql
  cli/test/router/compose.test.ts
  cli/test/testdata/compose-contract.yaml
  cli/test/utils.ts
  composition/src/v1/federation/federation-factory.ts
  docs-website/cli/router/compose.mdx
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
Due: cli, composition

chore(release): Publish [skip ci]
  cdn-server/CHANGELOG.md
  cdn-server/cdn/CHANGELOG.md
  cdn-server/cdn/package.json
  cdn-server/package.json
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, controlplane, composition

chore: add first part of adapter design
  rfc/at-least-once-v1.md
Due: none

fix: gomods
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: refuse a bad response cache private_id expression at startup
  router/core/router.go
Due: router

refactor: decouple IGNORED_FEDERATED_TYPE_NAMES from directive dependencies
  composition/src/v1/constants/strings.ts
Due: composition

fix: complete the context argument error message
  composition/src/errors/errors.ts
Due: composition

ci: tolerate missing pull-request-info artifact in query planner CI
  .github/workflows/query-planner-ci.yaml
Due: none

ci: tolerate missing pull-request-info artifact in query planner CI (#3246)
  .github/workflows/query-planner-ci.yaml
Due: none

fix(router/mcpserver): mirror omitToolNamePrefix in Annotations.Title
  router/pkg/mcpserver/discover_test.go
  router/pkg/mcpserver/server.go
Due: router

Change import statements to use type imports
  composition/src/v1/warnings/warnings.ts
Due: composition

fix: enable multi-fetch and scheduling (#3243)
  demo/pkg/subgraphs/courses/generated/mapping.json
  docs-website/router/configuration.mdx
  docs-website/router/query-plan/batch-generate-query-plans.mdx
  router-tests/modules/query_stats_test.go
  router-tests/operations/multi_fetches_scheduling_test.go
  router-tests/operations/testdata/fixtures/query_plans/only_query_plan.json
  router-tests/operations/testdata/fixtures/query_plans/query_plan_with_trace_no_data.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_operation_name.json
  router-tests/operations/testdata/fixtures/query_plans/response_with_query_plan_operation_name_sanitized_no_data.json
  router-tests/protocol/integration_test.go
  router-tests/protocol/testdata/tracing.json
  router-tests/testenv/testenv.go
  router/cmd/plan_generator.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

fix: restore lint autofix (#3242)
  composition/package.json
  composition/src/v1/constants/constants.ts
  composition/src/v1/warnings/warnings.ts
  controlplane/emails/package.json
  pnpm-lock.yaml
Due: controlplane, composition

fix: updates
  docs-website/router/response-cache.mdx
  router-tests/operations/response_cache_vary_test.go
  router/pkg/config/config.schema.json
  router/pkg/responsecaching/cache/in_memory/in_memory.go
  router/pkg/responsecaching/cache/in_memory/in_memory_test.go
  router/pkg/responsecaching/cache/redis/redis.go
  router/pkg/responsecaching/cache/redis/redis_test.go
  router/pkg/responsecaching/cache/redis/tag_index_test.go
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
