Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

fix: pr suggestion
  cli/test/check-schema.test.ts
Due: cli

chore: apply pull request suggestions
  protographic/SDL_PROTO_RULES.md
  protographic/src/sdl-to-proto-visitor.ts
Due: none

chore: make linter happy
  protographic/src/sdl-to-proto-visitor.ts
Due: none

feat(protographic): support fields with arguments and `@requires` directive (#2653)
  protographic/SDL_PROTO_RULES.md
  protographic/src/required-fields-visitor.ts
  protographic/src/sdl-to-mapping-visitor.ts
  protographic/src/sdl-to-proto-visitor.ts
  protographic/src/sdl-validation-visitor.ts
  protographic/tests/sdl-to-mapping/03-federation.test.ts
  protographic/tests/sdl-to-proto/04-federation.test.ts
Due: none

chore: add more comments
  router/pkg/trace/filtering_provider.go
  router/pkg/trace/semconv_processor.go
Due: router

docs: add documentation for missing directives (#2722)
  docs-website/docs.json
  docs-website/federation/directives/connect__fieldresolver.mdx
  docs-website/federation/directives/deprecated.mdx
  docs-website/federation/directives/openfed__requirefetchreasons.mdx
  docs-website/federation/directives/specifiedby.mdx
  docs-website/federation/federation-directives-index.mdx
Due: none

chore: improve
  router/internal/retrytransport/retry_transport.go
Due: router

add integration tests and tighten old ones
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  router-tests/security/costs_test.go
  router-tests/testenv/testdata/config.json
Due: none

use negative weight
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  router-tests/security/costs_test.go
  router-tests/testenv/testdata/config.json
Due: none

add clarifying comment
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
  demo/pkg/subgraphs/employees/subgraph/schema.graphqls
  router-tests/testenv/testdata/config.json
Due: none

chore: address review comments
  controlplane/src/core/blobstorage/dual.ts
  controlplane/src/core/env.schema.ts
Due: controlplane

feat(controlplane): implement dual-bucket write for execution configs
  controlplane/src/core/blobstorage/dual.ts
  controlplane/src/core/blobstorage/index.ts
  controlplane/src/core/build-server.ts
  controlplane/src/core/env.schema.ts
  controlplane/src/index.ts
  controlplane/test/dual-blob-storage.test.ts
Due: controlplane

chore: fix tests
  controlplane/test/dual-blob-storage.test.ts
Due: controlplane

feat: allow custom scope claim name
  router-tests/security/authentication_test.go
  router/core/access_controller.go
  router/core/ratelimiter_test.go
  router/core/supervisor_instance.go
  router/pkg/authentication/authentication.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: add documentation about new config
  docs-website/router/authentication-and-authorization.mdx
  docs-website/router/configuration.mdx
Due: none

fix: force scope_claim min length
  router/pkg/config/config.schema.json
Due: router

feat: pass `proxy url` to `admission webhook` (#2718)
  controlplane/package.json
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/createFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/migrateFromApollo.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/bufservices/graph/recomposeGraph.ts
  controlplane/src/core/bufservices/graph/setGraphRouterCompatibilityVersion.ts
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/bufservices/proposal/createProposal.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  controlplane/src/core/bufservices/subgraph/checkSubgraphSchema.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/fixSubgraphSchema.ts
  controlplane/src/core/bufservices/subgraph/moveSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/composition/composer.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/SchemaCheckRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/AdmissionWebhookController.ts
  controlplane/src/core/webhooks/OrganizationWebhookService.ts
  pnpm-lock.yaml
Due: controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
Due: cli, controlplane

feat(pqlmanifest): implement StorageFetcher for manifest retrieval and update polling
  router/core/router.go
  router/internal/persistedoperation/pqlmanifest/poller.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher_test.go
Due: router

chore(ci): run on default runners
  .github/workflows/router-ci.yaml
Due: none

fix(router): handle missing storage provider in PQL manifest configuration
  router/core/router.go
Due: router

refactor(router): consolidate storage provider handling with provider registry
  router/core/init_config_poller.go
  router/core/router.go
Due: router

Revert "refactor(router): consolidate storage provider handling with provider registry"
  router/core/init_config_poller.go
  router/core/router.go
Due: router

Revert "fix(router): handle missing storage provider in PQL manifest configuration"
  router/core/router.go
Due: router

chore(ci): run on default runners (#2727)
  .github/workflows/router-ci.yaml
Due: none

feat: fix long composition errors
  composition-go/index.global.js
  composition/src/resolvability-graph/utils/utils.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

feat: add new endpoints for fetching feature flags and feature subgraphs by federated graph
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platformv1connect/platform.connect.go
  connect/src/wg/cosmo/platform/v1/platform-PlatformService_connectquery.ts
  connect/src/wg/cosmo/platform/v1/platform_connect.ts
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/PlatformService.ts
  controlplane/src/core/bufservices/feature-flag/getFeatureFlagsInLatestCompositionByFederatedGraph.ts
  controlplane/src/core/bufservices/feature-flag/getFeatureSubgraphsByFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphByName.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
  controlplane/test/feature-flag/get-feature-subgraphs-by-federated-graph.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/components/layout/graph-layout.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/index.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/schema/sdl.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/subgraphs.tsx
Due: studio, controlplane

fix: lint
  controlplane/src/core/bufservices/feature-flag/getFeatureFlagsInLatestCompositionByFederatedGraph.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
  controlplane/test/feature-flag/get-feature-subgraphs-by-federated-graph.test.ts
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: studio, controlplane

chore: remove `@shareable` and simplify `generateSelectionSetStatements`
  composition-go/index.global.js
  composition/src/resolvability-graph/constants/number-constants.ts
  composition/src/resolvability-graph/utils/utils.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

chore: updated tests
  composition-go/index.global.js
  composition/src/resolvability-graph/utils/utils.ts
  composition/tests/v1/error-length.test.ts
  composition/tests/v1/resolvability.test.ts
Due: composition

chore: update wording
  composition/tests/v1/error-length.test.ts
Due: composition

chore: update wording and add more tests
  composition-go/index.global.js
  composition/src/resolvability-graph/utils/utils.ts
  composition/tests/v1/error-length.test.ts
Due: composition

chore: small improvement
  composition-go/index.global.js
  composition/src/resolvability-graph/utils/utils.ts
  composition/tests/v1/error-length.test.ts
Due: composition

chore: update tests and add type annotation
  composition/src/resolvability-graph/constants/number-constants.ts
  composition/src/resolvability-graph/utils/utils.ts
  composition/tests/v1/error-length.test.ts
Due: composition

feat(pqlmanifest): enhance S3 manifest fetching with conditional requests and registry support
  router-tests/operations/pql_manifest_test.go
  router/core/init_config_poller.go
  router/core/provider_registry.go
  router/core/provider_registry_test.go
  router/core/router.go
  router/core/router_config.go
  router/internal/persistedoperation/PO_MANIFEST_S3_GUIDE.md
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/fs/client.go
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/internal/persistedoperation/operationstorage/s3/client_test.go
  router/internal/persistedoperation/pqlmanifest/poller.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher.go
  router/internal/persistedoperation/pqlmanifest/storage_fetcher_test.go
Due: router
