Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

test(router): use portless example URL in mcp auth test constants
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/execute_graphql_scope_test.go
Due: router

docs(root): add post-change rebuild triggers cheatsheet
  CLAUDE.md
Due: none

fix(router): propagate walker errors from scope extraction to fail closed
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/scope_extractor.go
  router/pkg/mcpserver/scope_extractor_test.go
Due: router

test(router): document cross-product edge cases for empty OR and AND groups
  router/pkg/mcpserver/scope_extractor.go
  router/pkg/mcpserver/scope_extractor_test.go
Due: router

refactor(router): derive mcp server context from caller, drop unused ctx field
  router/core/router.go
  router/pkg/mcpserver/server.go
  router/pkg/mcpserver/server_test.go
Due: router

fix(router): guard validation error causes access against empty slice
  router/pkg/mcpserver/schema_compiler.go
Due: router

refactor(router): use raw string literal for operation info error
  router/pkg/mcpserver/server.go
Due: router

fix: coderabbit suggestions
  docs-website/router/cosmo-streams.mdx
  router-tests/events/kafka_events_test.go
  router/pkg/pubsub/kafka/engine_datasource_factory.go
  router/pkg/pubsub/kafka/engine_datasource_factory_test.go
Due: router

fix: indentation
  router-tests/events/kafka_events_test.go
Due: none

refactor(router): rename mcp oauth tests to ACE sentence pattern
  router-tests/protocol/mcp_oauth_e2e_test.go
  router/pkg/mcpserver/execute_graphql_scope_test.go
Due: router

refactor(router): rename mcp unit tests to ACE sentence pattern
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/scope_challenge_test.go
  router/pkg/mcpserver/scope_extractor_test.go
Due: router

feat: local cosmo cloud registry
  cli/.env.example
  docker-compose.yml
  router-tests/testenv/testenv.go
  router/.env.example
  router/core/graph_server.go
  router/pkg/config/config.go
  router/pkg/grpcconnector/grpcpluginoci/grpc_oci_plugin.go
Due: router, cli

fix: build and review comments
  router-tests/telemetry/span_error_status_test.go
  router/core/engine_loader_hooks.go
  router/core/engine_loader_hooks_test.go
Due: router

fix: expose GraphQL error details to MCP clients
  router-tests/protocol/mcp_test.go
  router/pkg/mcpserver/server.go
Due: router

fix: remove closed parenthesis
  router/pkg/mcpserver/server.go
Due: router

fix: updates
  router-tests/telemetry/span_error_status_test.go
  router-tests/testenv/testenv.go
  router/core/errors.go
Due: router

fix: updates
  router-tests/telemetry/telemetry_test.go
Due: none

docs(mcp): address PR review comments
  docs-website/router/mcp.mdx
  docs-website/router/mcp/configuration.mdx
  docs-website/router/mcp/ide-setup.mdx
  docs-website/router/mcp/oauth/configuration.mdx
  docs-website/router/mcp/oauth/overview.mdx
  docs-website/router/mcp/oauth/scopes.mdx
  docs-website/router/mcp/operations.mdx
Due: none

chore: release helm-cosmo-router 0.15.1 🚀
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
Due: none

chore: update helm docs and prepare release
  helm/cosmo/charts/router/README.md
Due: none

docs(mcp): restructure MCP docs and add OAuth 2.1 authorization (ENG-9125) (#2690)
  docs-website/docs.json
  docs-website/router/mcp.mdx
  docs-website/router/mcp/configuration.mdx
  docs-website/router/mcp/ide-setup.mdx
  docs-website/router/mcp/oauth/configuration.mdx
  docs-website/router/mcp/oauth/overview.mdx
  docs-website/router/mcp/oauth/quickstart.mdx
  docs-website/router/mcp/oauth/scopes.mdx
  docs-website/router/mcp/operations.mdx
  docs-website/router/mcp/quickstart.mdx
Due: none

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

feat: update `lodash` and `lodash-es`
  cli/package.json
  composition/package.json
  controlplane/package.json
  playground/package.json
  pnpm-lock.yaml
  protographic/package.json
  studio/package.json
Due: cli, studio, controlplane, composition

chore: update `@types/lodash` and `@types/lodash-es` packages
  composition/package.json
  controlplane/package.json
  playground/package.json
  pnpm-lock.yaml
  studio/package.json
Due: studio, controlplane, composition

chore: release helm-cosmo-router 0.15.1 🚀 (#2587)
  .release-please-manifest.json
  helm/cosmo/charts/router/CHANGELOG.md
  helm/cosmo/charts/router/Chart.yaml
  helm/cosmo/charts/router/README.md
Due: none

chore: release helm-cosmo 0.17.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
Due: none

chore: update helm docs and prepare release
  helm/cosmo/README.md
Due: none

chore: release helm-cosmo 0.17.0 🚀 (#2563)
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
  helm/cosmo/README.md
Due: none

chore: add a failing test to show the issue
  composition/tests/v1/directives/subscription-filter.test.ts
Due: composition

add an e2e test
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
  router-tests/security/costs_test.go
  router-tests/testenv/testdata/config.json
  router/core/factoryresolver.go
Due: router

bump the eng
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

update docs
  docs-website/router/security/cost-control.mdx
Due: none

update generate
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router

bump index global
  composition-go/index.global.js
Due: none

generate demo
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
Due: none

fix a comment
  router-tests/security/costs_test.go
Due: none

avoid em dash
  docs-website/router/security/cost-control.mdx
Due: none

fix the test with updated config
  router-tests/security/costs_test.go
Due: none
