Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

docs(router): document per-key rate-limit overrides
  docs-website/router/configuration.mdx
  docs-website/router/security/hardening-guide.mdx
Due: none

test(router): add rate-limit overrides to full config fixture and update snapshots
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

feat: implement persisted query list (PQL) loading from various storage providers
  router/core/router.go
  router/internal/persistedoperation/pqlmanifest/fetcher.go
  router/internal/persistedoperation/pqlmanifest/store.go
  router/pkg/config/config.go
Due: router

fix(router): use evenly divisible rate/period in override rate limit test
  router-tests/security/ratelimit_test.go
Due: none

fix(router): match rate-limit overrides against key suffix, not full prefixed key
  docs-website/router/configuration.mdx
  docs-website/router/security/hardening-guide.mdx
  router/core/ratelimiter.go
  router/core/ratelimiter_test.go
Due: router

test(router): use suffix only regex
  router-tests/security/ratelimit_test.go
Due: none

chore: update config
  docs/entity-caching/configuration.md
  router/entity-caching.config.yaml
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/entitycache/USAGE.md
Due: router

fix: documenting and updating span / metric error cases (#2681)
  docs-website/docs.json
  docs-website/router/metrics-and-monitoring.mdx
  docs-website/router/metrics-and-monitoring/span-error-status.mdx
  router-tests/telemetry/span_error_status_test.go
  router/core/errors.go
  router/core/graphql_prehandler.go
  router/core/operation_metrics.go
  router/core/operation_metrics_test.go
  router/core/request_context_fields.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client.go
  router/pkg/grpcconnector/grpccommon/grpc_plugin_client_test.go
Due: router

fix: prevent set from being forwarded to client
  docs-website/router/proxy-capabilities/adjusting-cache-control.mdx
  docs-website/router/proxy-capabilities/subgraph-response-header-operations.mdx
  router-tests/protocol/header_propagation_race_test.go
  router-tests/protocol/header_set_test.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_test.go
Due: router

feat(mcp): add OAuth 2.1 authorization with per-tool scope extraction and configurable scope challenge modes
  demo/go.mod
  demo/go.sum
  router-tests/cmd/oauth-server/main.go
  router-tests/go.mod
  router-tests/go.sum
  router-tests/mcp_auth_e2e_test.go
  router-tests/mcp_auth_harness_example.go
  router-tests/mcp_oauth_e2e_test.go
  router-tests/protocol/mcp_test.go
  router-tests/testenv/testenv.go
  router-tests/testutil/auth_helpers.go
  router-tests/testutil/jwt_helper.go
  router-tests/testutil/oauth_server.go
  router-tests/testutil/oauth_server_test.go
  router/core/graph_server.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/errors.go
  router/pkg/mcpserver/execute_graphql_scope_test.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/schema_compiler.go
  router/pkg/mcpserver/scope_challenge.go
  router/pkg/mcpserver/scope_challenge.md
  router/pkg/mcpserver/scope_challenge_test.go
  router/pkg/mcpserver/scope_extractor.go
  router/pkg/mcpserver/scope_extractor_test.go
  router/pkg/mcpserver/server.go
  router/pkg/schemaloader/loader.go
  router/pkg/schemaloader/loader_test.go
Due: router

fix(mcp): address code review findings for OAuth auth middleware
  router-tests/mcp_oauth_e2e_test.go
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/scope_extractor.go
  router/pkg/mcpserver/server_test.go
Due: router

refactor(mcp): simplify OAuth auth middleware and address review findings
  router-tests/testutil/jwt_helper.go
  router-tests/testutil/oauth_server.go
  router/core/router.go
  router/go.mod
  router/go.sum
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/auth_middleware.go
  router/pkg/mcpserver/auth_middleware_test.go
  router/pkg/mcpserver/execute_graphql_scope_test.go
  router/pkg/mcpserver/operation_manager.go
  router/pkg/mcpserver/scope_challenge.go
  router/pkg/mcpserver/scope_challenge_test.go
  router/pkg/mcpserver/server.go
Due: router

fix(mcp): validate redirect_uri and remove scaffold test code
  router-tests/cmd/oauth-server/main.go
  router-tests/mcp_auth_e2e_test.go
  router-tests/mcp_auth_harness_example.go
  router-tests/testutil/oauth_server.go
Due: none

fix(mcp): align go.mod dependencies with main branch
  router-tests/go.mod
  router-tests/go.sum
  router-tests/mcp_oauth_e2e_test.go
  router/go.mod
  router/go.sum
Due: router

fix: correct operation ID usage in operations mapping and improve CDN URL construction
  controlplane/src/core/repositories/OperationsRepository.ts
  router/core/router.go
  router/internal/persistedoperation/pqlmanifest/store.go
Due: router, controlplane

fix: do not include stack trace when generation fails
  cli/src/commands/grpc-service/commands/generate.ts
  cli/src/commands/router/commands/plugin/toolchain.ts
Due: cli

chore: update tests
  cli/test/grpc-service.test.ts
Due: cli

fix(cli): improve error output for protographic generation errors (#2687)
  cli/src/commands/grpc-service/commands/generate.ts
  cli/src/commands/router/commands/plugin/toolchain.ts
  cli/test/grpc-service.test.ts
Due: cli

docs(mcp): restructure MCP docs and add OAuth 2.1 authorization (ENG-9125)
  docs-website/docs.json
  docs-website/router/mcp.mdx
  docs-website/router/mcp/configuration.mdx
  docs-website/router/mcp/ide-setup.mdx
  docs-website/router/mcp/oauth.mdx
  docs-website/router/mcp/operations.mdx
  docs-website/router/mcp/quickstart.mdx
Due: none

feat: implement FetchManifest methods for CDN, S3, and filesystem providers; refactor manifest loading logic
  router/core/router.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/fs/client.go
  router/internal/persistedoperation/operationstorage/s3/client.go
  router/internal/persistedoperation/pqlmanifest/store.go
Due: router

feat: add path property for PQL manifest JSON file in config schema
  router/pkg/config/config.schema.json
Due: router

chore: use temporary commit
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

docs: update PQL Manifest section in README to clarify loading behavior and storage options
  router/internal/persistedoperation/README.md
Due: router

fix: lint
  controlplane/src/core/repositories/OperationsRepository.ts
Due: controlplane

chore: regenerate files
  connect-go/gen/proto/wg/cosmo/common/common.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect-go/gen/proto/wg/cosmo/notifications/events.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/common/common.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/common/common.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router, graphqlmetrics

chore: regenerate with correct versions
  connect-go/gen/proto/wg/cosmo/common/common.pb.go
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect-go/gen/proto/wg/cosmo/notifications/events.pb.go
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/common/common.pb.go
  graphqlmetrics/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router-tests/testenv/testdata/config.json
  router-tests/testenv/testdata/configWithEdfs.json
  router/gen/proto/wg/cosmo/common/common.pb.go
  router/gen/proto/wg/cosmo/graphqlmetrics/v1/graphqlmetrics.pb.go
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
Due: router, graphqlmetrics

chore: update generated code
  demo/pkg/subgraphs/employees/subgraph/generated/generated.go
Due: none

chore: update golden files for introspection
  router-tests/operations/testdata/introspection/base-graph-schema.json
  router-tests/operations/testdata/introspection/feature-graph-schema.json
Due: none

feat(router): validate slicing arguments in Cost Control
  demo/pkg/subgraphs/products/subgraph/generated/generated.go
  demo/pkg/subgraphs/products/subgraph/schema.graphqls
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
  router-tests/security/costs_test.go
  router-tests/testenv/testdata/config.json
  router/core/operation_processor.go
Due: router

use the right engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix(docs): correct broken link to span error status page
  docs-website/router/metrics-and-monitoring.mdx
Due: none

update demo
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
Due: none

fix(docs): correct broken link to span error status page (#2691)
  docs-website/router/metrics-and-monitoring.mdx
Due: none

update introspection schema
  router-tests/operations/testdata/introspection/base-graph-schema.json
Due: none

make resolver more strict
  demo/pkg/subgraphs/products/subgraph/schema.resolvers.go
Due: none
