Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

feat(connectrpc): add GraphQL error handling with Relay classification
  router/go.mod
  router/go.sum
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_error_test.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/proto_loader_test.go
Due: router

test(connectrpc): add integration tests
  router-tests/connectrpc_test.go
Due: none

router integration tests for connnectrpc
  router-tests/connectrpc/README.md
  router-tests/connectrpc/server.go
  router-tests/connectrpc_test.go
  router-tests/testdata/connectrpc/services/employee.v1/MutationUpdateEmployeeMood.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeeById.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeeByPets.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeeWithMood.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployees.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeesByPetsInlineFragment.graphql
  router-tests/testdata/connectrpc/services/employee.v1/QueryGetEmployeesByPetsNamedFragment.graphql
  router-tests/testdata/connectrpc/services/employee.v1/service.proto
  router-tests/testdata/connectrpc/services/employee.v1/service.proto.lock.json
Due: none

test(connectrpc): add comprehensive unit tests for operation registry
  router/pkg/connectrpc/operation_registry_test.go
Due: router

cleaning up the tests
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_error_test.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/proto_loader_test.go
  router/pkg/connectrpc/samples/service.graphqls
  router/pkg/connectrpc/samples/services/employee.v1/MutationUpdateEmployeeMood.graphql
  router/pkg/connectrpc/samples/services/employee.v1/MutationUpdateEmployeeTag.graphql
  router/pkg/connectrpc/samples/services/employee.v1/QueryGetEmployeeById.graphql
  router/pkg/connectrpc/samples/services/employee.v1/QueryGetEmployeeByPets.graphql
  router/pkg/connectrpc/samples/services/employee.v1/QueryGetEmployeeWithMood.graphql
  router/pkg/connectrpc/samples/services/employee.v1/QueryGetEmployees.graphql
  router/pkg/connectrpc/samples/services/employee.v1/QueryGetEmployeesByPetsInlineFragment.graphql
  router/pkg/connectrpc/samples/services/employee.v1/QueryGetEmployeesByPetsNamedFragment.graphql
  router/pkg/connectrpc/samples/services/employee.v1/QueryGetProducts.graphql
  router/pkg/connectrpc/samples/services/employee.v1/employee.proto
  router/pkg/connectrpc/samples/services/employee.v1/service.proto
  router/pkg/connectrpc/samples/services/employee.v1/service.proto.lock.json
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/server_lifecycle_test.go
  router/pkg/connectrpc/server_test.go
  router/pkg/connectrpc/service_discovery.go
  router/pkg/connectrpc/testdata/employee_only/employee.proto
  router/pkg/connectrpc/testdata/examples/product.v1/product_service.proto
  router/pkg/connectrpc/testdata/examples/user.v1/user_service.proto
  router/pkg/connectrpc/validator.go
  router/pkg/connectrpc/validator_test.go
  router/pkg/connectrpc/vanguard_service.go
  router/pkg/connectrpc/vanguard_service_test.go
Due: router

refactor(connectrpc)!: implement service-scoped operations
  router-tests/connectrpc_test.go
  router/core/router.go
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/operation_registry.go
  router/pkg/connectrpc/operation_registry_test.go
  router/pkg/connectrpc/server.go
  router/pkg/connectrpc/server_lifecycle_test.go
  router/pkg/connectrpc/server_test.go
  router/pkg/connectrpc/service_discovery.go
  router/pkg/connectrpc/testdata/employee.proto
  router/pkg/connectrpc/testdata/examples/product.v1/product_service.proto
  router/pkg/connectrpc/testdata/examples/user.v1/user_service.proto
  router/pkg/connectrpc/vanguard_service_test.go
Due: router

feat(connectrpc): add operation builder and registry
  router/pkg/connectrpc/operation_builder.go
  router/pkg/connectrpc/operation_builder_test.go
  router/pkg/connectrpc/operation_registry.go
Due: router

config fixtures
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

missing go.sum for dependencies
  router-tests/go.mod
  router-tests/go.sum
Due: none

feat(config): add ConnectRPC server configuration
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/connectrpc_test.go
Due: router

fix: handle locations
  router-tests/error_handling_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

fix: tests
  router-tests/error_handling_test.go
Due: none

feat: prevent privilege escalation
  controlplane/src/core/bufservices/api-key/createAPIKey.ts
  controlplane/src/core/bufservices/api-key/updateAPIKey.ts
  controlplane/test/api-keys.test.ts
  studio/src/components/group-select.tsx
  studio/src/pages/[organizationSlug]/members.tsx
Due: studio, controlplane

chore: fix incorrect isAdmin check
  studio/src/components/group-select.tsx
Due: studio

chore: update error message and prevent deleting admin keys
  controlplane/src/core/bufservices/api-key/createAPIKey.ts
  controlplane/src/core/bufservices/api-key/deleteAPIKey.ts
  controlplane/src/core/bufservices/api-key/updateAPIKey.ts
  controlplane/src/core/repositories/ApiKeyRepository.ts
  controlplane/test/api-keys.test.ts
Due: controlplane

chore: update wording
  controlplane/test/api-keys.test.ts
Due: controlplane

fix: handle any invalid locations gracefully (#2427)
  router-tests/error_handling_test.go
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

feat: update playground to support custom extensions
  playground/README.md
  playground/src/components/playground/index.tsx
  playground/src/components/playground/types.ts
  playground/src/index.ts
Due: none

fix: improve composition and changelog queries
  controlplane/src/core/bufservices/federated-graph/getCompositionDetails.ts
  controlplane/src/core/bufservices/schema-version/getChangelogBySchemaVersion.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
Due: controlplane

chore: add tests
  controlplane/test/composition/getChangelogBySchemaVersion.test.ts
  controlplane/test/composition/getCompositionDetails.test.ts
Due: controlplane

feat: add pagination and limit handling for API keys.
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/api-key/createAPIKey.ts
  controlplane/src/core/bufservices/api-key/getAPIKeys.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/getChecksByFederatedGraphName.ts
  controlplane/src/core/bufservices/federated-graph/getCompositions.ts
  controlplane/src/core/bufservices/organization/getAuditLogs.ts
  controlplane/src/core/bufservices/proposal/getProposalChecks.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
  controlplane/src/core/repositories/ApiKeyRepository.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/apikeys.tsx
Due: studio, controlplane

refactor: unify limit handling across multiple services using clamp function
  controlplane/src/core/bufservices/api-key/getAPIKeys.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/getChecksByFederatedGraphName.ts
  controlplane/src/core/bufservices/federated-graph/getCompositions.ts
  controlplane/src/core/bufservices/organization/getAuditLogs.ts
  controlplane/src/core/bufservices/proposal/getProposalChecks.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
Due: controlplane

fix: typo
  controlplane/src/core/bufservices/api-key/getAPIKeys.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/getChecksByFederatedGraphName.ts
  controlplane/src/core/bufservices/federated-graph/getCompositions.ts
  controlplane/src/core/bufservices/organization/getAuditLogs.ts
  controlplane/src/core/bufservices/proposal/getProposalChecks.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
Due: controlplane

fix: test
  controlplane/test/fetch-checks-by-federated-graph.test.ts
Due: controlplane

fix: clamp the offset value too
  controlplane/src/core/bufservices/api-key/getAPIKeys.ts
  controlplane/src/core/bufservices/check/getCheckOperations.ts
  controlplane/src/core/bufservices/check/getChecksByFederatedGraphName.ts
  controlplane/src/core/bufservices/federated-graph/getCompositions.ts
  controlplane/src/core/bufservices/organization/getAuditLogs.ts
  controlplane/src/core/bufservices/proposal/getProposalChecks.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
Due: controlplane

fix: update comment to clarify maximum offset limit for API keys
  controlplane/src/core/bufservices/api-key/getAPIKeys.ts
Due: controlplane

feat: mask hostname in cli telemetry
  cli/src/core/telemetry.ts
Due: cli

chore: update script
  controlplane/src/bin/cleanup-keycloak-users.ts
Due: controlplane

chore: linting
  controlplane/src/bin/cleanup-keycloak-users.ts
Due: controlplane

Update router/pkg/connectrpc/operation_registry.go
  router/pkg/connectrpc/operation_registry.go
Due: router

refactor(router): use protocompile directly instead of jhump/protoreflect in connectrpc
  router/go.mod
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/proto_loader.go
  router/pkg/connectrpc/validator.go
Due: router

remove duplicate functions
  router/pkg/connectrpc/connect_util.go
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/operation_registry.go
  router/pkg/connectrpc/vanguard_service.go
Due: router

addressing security issue
  router/pkg/connectrpc/handler.go
Due: router

linting
  router/pkg/connectrpc/handler.go
Due: router

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
