Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

fix(router): add TLS-only subgraph clients and remove local replace directive
  router/core/graph_server.go
  router/go.mod
Due: router

refactor(router): rename grpc_protocol config to follow naming conventions
  router/core/graph_server.go
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/grpcprotocol/config.go
  router/pkg/grpcprotocol/config_test.go
  router/pkg/grpcprotocol/transport_builder.go
  router/pkg/grpcprotocol/transport_builder_test.go
Due: router

chore(router): document grpc_protocol in config JSON schema
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

docs(router): describe grpc_protocol and ConnectRPC subgraph support
  docs-website/router/configuration.mdx
  docs-website/router/gRPC/concepts.mdx
Due: none

chore(demo/projects): expose subgraph over ConnectRPC via buf
  demo/Makefile
  demo/pkg/subgraphs/projects/buf.gen.yaml
  demo/pkg/subgraphs/projects/buf.yaml
  demo/pkg/subgraphs/projects/cmd/service/main.go
  demo/pkg/subgraphs/projects/generated/projectsconnect/service.connect.go
  demo/pkg/subgraphs/projects/generated/service.pb.go
  demo/pkg/subgraphs/projects/generated/service_grpc.pb.go
  demo/pkg/subgraphs/projects/go.mod
  demo/pkg/subgraphs/projects/go.sum
  demo/pkg/subgraphs/projects/src/service/service_connect.go
Due: none

test(router): add ConnectRPC end-to-end subgraph tests
  router-tests/protocol/connectrpc_subgraph_test.go
  router-tests/testenv/testenv.go
  router/pkg/grpcprotocol/transport_builder.go
Due: router

docs(connect): mention ConnectRPC transport on the grpc-services page
  docs-website/connect/grpc-services.mdx
Due: none

feat(controlplane): accept http(s) URLs for GRPC_SERVICE subgraphs
  controlplane/src/core/bufservices/subgraph/createFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/util.test.ts
  controlplane/src/core/util.ts
Due: controlplane

chore: address review feedback
  router/core/cache_warmup_cdn.go
  router/core/cache_warmup_cdn_test.go
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/internal/persistedoperation/operationstorage/cdn/client_test.go
  router/internal/persistedoperation/pqlmanifest/fetcher.go
  router/internal/persistedoperation/pqlmanifest/fetcher_test.go
  router/pkg/config/config.schema.json
  router/pkg/routerconfig/cdn/client.go
  router/pkg/routerconfig/cdn/client_test.go
Due: router

test(controlplane): flip GRPC_SERVICE http(s) URL tests to acceptance
  controlplane/test/subgraph/create-subgraph.test.ts
  controlplane/test/subgraph/publish-subgraph.test.ts
  controlplane/test/subgraph/update-subgraph.test.ts
Due: controlplane

test(router): unit-test normalizeConnectBaseURL and broaden gRPC scheme handling
  router/pkg/grpcprotocol/transport_builder.go
  router/pkg/grpcprotocol/transport_builder_test.go
Due: router

docs(examples): add ConnectRPC gRPC subgraph router example
  examples/router-grpc-connect/README.md
  examples/router-grpc-connect/config.yaml
  examples/router-grpc-connect/graph.yaml
  examples/router-grpc-connect/start.sh
Due: none

chore: review number 2
  router/internal/persistedoperation/operationstorage/cdn/client.go
  router/pkg/config/config.schema.json
  router/pkg/routerconfig/cdn/client.go
Due: router

chore: move EngineConfiguration type into common package
  proto/wg/cosmo/common/engine_config.proto
  proto/wg/cosmo/node/v1/node.proto
Due: none

chore: clean up and address PR feedback
  composition/src/directive-definition-data/types/params.ts
  composition/src/directive-definition-data/types/types.ts
  composition/src/directive-definition-data/utils.ts
  composition/src/errors/errors.ts
  composition/src/v1/constants/strings.ts
  composition/src/v1/normalization/batch-normalization/batch-normalizer.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/compose-directive.test.ts
Due: composition

chore: add edge case test
  composition/package.json
  composition/src/directive-definition-data/types/params.ts
  composition/src/directive-definition-data/types/types.ts
  composition/src/directive-definition-data/utils.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/batch-normalization/batch-normalizer.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/compose-directive.test.ts
  pnpm-lock.yaml
Due: composition

chore: bump typescript version
  composition-go/index.global.js
Due: none

chore: fix composition-go
  composition-go/index.global.js
  composition-go/shim/package.json
  composition-go/shim/src/index.ts
  composition-go/shim/src/polyfill.js
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/tests/v1/federation-factory.test.ts
  pnpm-lock.yaml
Due: composition

chore: add tests
  composition-go/index.global.js
  composition/src/schema-building/utils.ts
  composition/src/v1/constants/strings.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/batch-normalization/batch-normalizer.ts
  composition/src/v1/normalization/utils.ts
  composition/tests/v1/directives/compose-directive.test.ts
Due: composition

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

feat: add node proto v2
  proto/wg/cosmo/common/subgraph.proto
  proto/wg/cosmo/node/v1/node.proto
  proto/wg/cosmo/node/v2/node.proto
Due: none

chore: clean up
  composition/src/v1/normalization/utils.ts
  router-tests/.gitignore
Due: composition

docs improvements
  docs-website/router/subgraph-error-propagation.mdx
  docs-website/router/subscriptions-migration.mdx
  docs-website/router/subscriptions.mdx
Due: none

chore: use release go-tools
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore(release): Publish [skip ci]
  router/CHANGELOG.md
  router/package.json
Due: router

docs(router): link subscriptions overhaul release
  docs-website/router/subscriptions-migration.mdx
  docs-website/router/subscriptions.mdx
Due: none

chore: respond to PR feedback
  composition-go/index.global.js
  composition/src/directive-definition-data/types/types.ts
  composition/src/directive-definition-data/utils.ts
  composition/src/federation/types/results.ts
  composition/src/schema-building/types/params.ts
  composition/src/schema-building/utils.ts
  composition/src/v1/constants/strings.ts
  composition/src/v1/federation/federation-factory.ts
  composition/src/v1/normalization/batch-normalization/batch-normalizer.ts
  composition/src/v1/normalization/batch-normalization/types/results.ts
  composition/src/v1/normalization/batch-normalization/types/types.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/types/results.ts
  composition/src/v1/normalization/types/types.ts
  composition/src/v1/normalization/utils.ts
  composition/src/validation/types/params.ts
  composition/src/validation/types/results.ts
  composition/tests/v1/directives/compose-directive.test.ts
  composition/tests/v1/federation-factory.test.ts
Due: composition

docs(router): link subscriptions overhaul release (#2810)
  docs-website/router/subscriptions-migration.mdx
  docs-website/router/subscriptions.mdx
Due: none

chore: fix test
  controlplane/test/graphql/federationV2/composedFederatedV2Graph.graphql
Due: controlplane

feat: support features claim in graph tokens
  controlplane/src/core/bufservices/federated-graph/createFederatedGraphToken.ts
  controlplane/src/core/repositories/OrganizationRepository.ts
  controlplane/src/types/index.ts
Due: controlplane

chore: do not assess overrides if there are validation errors
  .gitignore
  composition-go/index.global.js
  composition/src/v1/normalization/batch-normalization/batch-normalizer.ts
  router-tests/.gitignore
Due: composition

chore: release helm-cosmo 0.18.0 🚀
  .release-please-manifest.json
  helm/cosmo/CHANGELOG.md
  helm/cosmo/Chart.yaml
Due: none

chore: update helm docs and prepare release
  helm/cosmo/README.md
Due: none

chore: wip multi-collection mcp
  router/core/router.go
  router/core/router_config.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/mcpserver/server.go
  router/pkg/schemaloader/loader.go
Due: router

chore(release): Publish [skip ci]
  cdn-server/CHANGELOG.md
  cdn-server/cdn/CHANGELOG.md
  cdn-server/cdn/package.json
  cdn-server/package.json
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  playground/CHANGELOG.md
  playground/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane, composition

fix: import set methods explicitly
  composition-go/index.global.js
  composition/package.json
  composition/src/index.ts
  pnpm-lock.yaml
Due: composition

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
