Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

refactor: revert maxAgeNotPositiveIntegerErrorMessage to positional value arg
  composition/src/errors/errors.ts
  composition/src/errors/types/params.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/tests/v1/directives/cache-populate.test.ts
  composition/tests/v1/directives/entity-cache.test.ts
  composition/tests/v1/directives/query-cache.test.ts
Due: composition

fix: refactoring
  composition/src/v1/normalization/normalization-factory.ts
Due: composition

docs(rfc): disallow inline argument values (ENG-9586)
  rfc/disallow-inline-args/RFC.md
Due: none

chore: remove unnecessary comments
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

fix: lint
  shared/src/router-config/builder.ts
Due: none

feat: improve performance of subgraph batch-publish (#2969)
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

fix: tests
  protographic/tests/sdl-to-mapping/03-federation.test.ts
Due: none

fix: update router execution config deserialization in CompositionService
  controlplane/src/core/services/CompositionService.ts
Due: controlplane

chore: bump crypto version
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router, graphqlmetrics

chore: upgrade dependency (#3000)
  aws-lambda-router/go.mod
  aws-lambda-router/go.sum
  demo/go.mod
  demo/go.sum
  graphqlmetrics/go.mod
  graphqlmetrics/go.sum
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router, graphqlmetrics

fix: proto changes for entity cache (#2996)
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
Due: router

chore(release): Publish [skip ci]
  aws-lambda-router/CHANGELOG.md
  aws-lambda-router/package.json
  cli/CHANGELOG.md
  cli/package.json
  composition/CHANGELOG.md
  composition/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  graphqlmetrics/CHANGELOG.md
  graphqlmetrics/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  router/CHANGELOG.md
  router/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: router, cli, studio, graphqlmetrics, controlplane, composition

fix: pagination in proposals page (#2989)
  connect-go/gen/proto/wg/cosmo/platform/v1/platform.pb.go
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
  controlplane/src/core/bufservices/proposal/getProposalsByFederatedGraph.ts
  controlplane/test/proposal/proposal-data-isolation.test.ts
  proto/wg/cosmo/platform/v1/platform.proto
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/proposals/index.tsx
Due: studio, controlplane

chore(release): Publish [skip ci]
  cli/CHANGELOG.md
  cli/package.json
  connect/CHANGELOG.md
  connect/package.json
  controlplane/CHANGELOG.md
  controlplane/package.json
  protographic/CHANGELOG.md
  protographic/package.json
  shared/CHANGELOG.md
  shared/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: cli, studio, controlplane

fix(router): prevent NATS durable consumer from dropping replayed messages on re-subscribe (#2991)
  router/.mockery.yml
  router/core/websocket.go
  router/pkg/pubsub/nats/adapter.go
  router/pkg/pubsub/nats/adapter_consume_test.go
  router/pkg/pubsub/nats/mocks_jetstream.go
Due: router

update normalization options
  router/core/operation_processor.go
  router/core/plan_generator.go
Due: router

feat: allow router to start even with unavailable provider
  docs-website/router/configuration.mdx
  docs-website/router/cosmo-streams.mdx
  router/core/graph_server.go
  router/core/graph_server_test.go
  router/demo.config.yaml
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/pubsub/datasource/pubsubprovider.go
  router/pkg/pubsub/datasource/pubsubprovider_test.go
  router/pkg/pubsub/nats/engine_datasource.go
  router/pkg/pubsub/nats/engine_datasource_test.go
  router/pkg/pubsub/pubsub.go
  router/pkg/pubsub/pubsub_test.go
  router/pkg/pubsub/redis/adapter.go
  router/pkg/pubsub/redis/adapter_test.go
Due: router

chore: improve format
  router/core/graph_server_test.go
Due: router

docs(rfc): revise per PR #2998 review (direct AST lookup)
  rfc/disallow-inline-args/RFC.md
Due: none

point engine to 3rd stacked defer PR
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

enable normalization prevalidation
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/core/plan_generator.go
Due: router

feat: add subgraph headers
  docs-website/router/access-logs.mdx
  docs-website/router/configuration/template-expressions.mdx
  router-tests/observability/structured_logging_test.go
  router/core/access_log_field_handler_test.go
  router/core/engine_loader_hooks.go
  router/core/request_context_fields.go
  router/demo.config.yaml
  router/internal/expr/expr.go
  router/internal/expr/expr_manager.go
  router/internal/expr/functions.go
  router/internal/expr/functions_test.go
  router/internal/expr/visitor_group_test.go
Due: router

chore: add warmup tests for defer
  demo/run_subgraphs.sh
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/testdata/cache_warmup/defer/employee.graphql
  router-tests/operations/testdata/cache_warmup/defer_include/employee.graphql
  router/__schemas/graph-with-plugin.yaml
  router/__schemas/graph.yaml
Due: router

feat: make defer configurable
  router/core/graph_server.go
  router/core/operation_processor.go
  router/core/operation_processor_test.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
Due: router

chore: update docs
  docs-website/router/configuration.mdx
Due: none

chore: remove comment
  router/core/operation_processor.go
Due: router

chore: gofmt misbehaving
  router/core/operation_processor.go
Due: router

add an if test
  router-tests/operations/cache_warmup_test.go
  router-tests/operations/testdata/cache_warmup/defer_if/employee.graphql
  router-tests/operations/testdata/cache_warmup/defer_include/employee.graphql
Due: none

add a simple rewarmer test
  router-tests/operations/cache_warmup_test.go
Due: none

fix: update dompurify to ^3.4.0
  pnpm-lock.yaml
  studio/package.json
Due: studio

fix: add yaml 2.x override to fix CVE-2026-33532
  package.json
  pnpm-lock.yaml
Due: none

fix: update postcss to >=8.5.10
  keycloak/theme/package.json
  playground/package.json
  pnpm-lock.yaml
  studio/package.json
Due: studio

fix: update hono to 4.12.18
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: add brace-expansion overrides to fix CVE-2026-33750
  package.json
  pnpm-lock.yaml
Due: none

fix: add picomatch overrides to fix CVE-2026-33672
  package.json
  pnpm-lock.yaml
Due: none

fix: update serialize-javascript override to 7.0.5
  package.json
  pnpm-lock.yaml
Due: none

fix: update qs override to 6.15.2
  package.json
  pnpm-lock.yaml
Due: none

fix: add path-to-regexp 8.x override to fix CVE-2026-4923
  package.json
  pnpm-lock.yaml
Due: none

fix: add ajv 6.x override to fix CVE-2025-69873
  package.json
  pnpm-lock.yaml
Due: none

fix: update mcp-ts lockfile to fix CVE-2026-39406
  client-tests/mcp-ts/package-lock.json
Due: none

Path conditions:
  router: any of: router/
  cli: any of: cli/
  studio: any of: studio/
  graphqlmetrics: any of: graphqlmetrics/
  controlplane: any of: controlplane/
  composition: any of: composition/
