Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: update comments
  cli/src/commands/auth/utils.ts
  cli/src/core/telemetry.ts
Due: cli

chore: add pool queue size and thread count as Sentry measurements
  controlplane/src/core/composition/composeGraphs.pool.ts
Due: controlplane

chore: address comments
  controlplane/src/core/bufservices/contract/createContract.ts
  controlplane/src/core/bufservices/contract/updateContract.ts
  controlplane/src/core/bufservices/feature-flag/createFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/deleteFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/enableFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/recomposeFeatureFlag.ts
  controlplane/src/core/bufservices/feature-flag/updateFeatureFlag.ts
  controlplane/src/core/bufservices/federated-graph/createFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/migrateFromApollo.ts
  controlplane/src/core/bufservices/federated-graph/moveFederatedGraph.ts
  controlplane/src/core/bufservices/federated-graph/updateFederatedGraph.ts
  controlplane/src/core/bufservices/graph/recomposeGraph.ts
  controlplane/src/core/bufservices/graph/setGraphRouterCompatibilityVersion.ts
  controlplane/src/core/bufservices/monograph/publishMonograph.ts
  controlplane/src/core/bufservices/monograph/updateMonograph.ts
  controlplane/src/core/bufservices/subgraph/deleteFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/moveSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraph.ts
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/bufservices/subgraph/updateSubgraph.ts
  controlplane/src/core/services/CompositionBlobStorageQueue.ts
Due: controlplane

fix: dedupe and exclude disabled feature flags in schema page dropdown (#2938)
  controlplane/src/core/bufservices/feature-flag/getFeatureFlagsInLatestCompositionByFederatedGraph.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/test/feature-flag/get-feature-flags-in-latest-composition-by-federated-graph.test.ts
Due: controlplane

chore: add gitignore to dummy ci
  .github/workflows/dummy-ci.yaml
Due: none

chore: ignore .claude/worktrees/ directory (#2937)
  .github/workflows/dummy-ci.yaml
  .gitignore
Due: none

chore: enrich logs with execution config hashes
  router/core/graph_server.go
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/routerconfig/client.go
Due: router

update engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

feat: new post-signup screen for accepting & joining an org (#2897)
  studio/src/components/app-provider.tsx
  studio/src/components/empty-state.tsx
  studio/src/components/federatedgraphs-cards.tsx
  studio/src/components/invitations/invitation-card.tsx
  studio/src/components/migration-dialog.tsx
  studio/src/hooks/use-onboarding-navigation.ts
  studio/src/pages/account/invitations.tsx
  studio/src/pages/account/join.tsx
Due: studio

chore(release): Publish [skip ci]
  controlplane/CHANGELOG.md
  controlplane/package.json
  studio/CHANGELOG.md
  studio/package.json
Due: studio, controlplane

chore: update tests
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/routerconfig/client.go
Due: router

fix(router): strip Sep-2025 executable descriptions from forwarded ops (#2884)
  router/pkg/connectrpc/operation_loader.go
  router/pkg/connectrpc/operation_registry_test.go
  router/pkg/schemaloader/loader.go
  router/pkg/schemaloader/loader_test.go
Due: router

fix: prevent ignored hashes to be remembered
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

fix: remove hash if config is unable to fetch
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
Due: router

refactor(router/connectrpc): invert nil guard and parallelize response-path tests
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
Due: router

fix(router/connectrpc): map GraphQL enum values to proto names on response path (#2928)
  router/pkg/connectrpc/handler.go
  router/pkg/connectrpc/handler_test.go
  router/pkg/connectrpc/testdata/test.proto
Due: router

fix: keep hashes of changed configs where fetch failed
  router/pkg/controlplane/configpoller/split_config_poller.go
  router/pkg/controlplane/configpoller/split_config_poller_test.go
  router/pkg/routerconfig/client.go
Due: router

feat: make exemplars configurable
  docs-website/docs.json
  docs-website/router/configuration.mdx
  docs-website/router/metrics-and-monitoring/exemplars.mdx
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/meter.go
Due: router

fix: provide custom hasher to engine
  router/pkg/pubsub/datasource/subscription_datasource.go
Due: router

chore: include performance implications
  docs-website/router/metrics-and-monitoring/exemplars.mdx
Due: none

feat: support setting headers from file (#2908)
  docs-website/router/configuration.mdx
  docs-website/router/proxy-capabilities/subgraph-request-header-operations.mdx
  router-tests/lifecycle/new_server_test.go
  router-tests/testenv/testenv.go
  router/core/header_rule_engine.go
  router/core/header_rule_engine_buildheader_test.go
  router/core/header_rule_engine_test.go
  router/core/http_server_test.go
  router/core/request_context_fields.go
  router/core/router.go
  router/core/router_test.go
  router/core/supervisor_instance.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_full.json
Due: router

chore: add pool queue size and thread count as Sentry measurements (#2940)
  controlplane/src/core/composition/composeGraphs.pool.ts
Due: controlplane

chore(router): switch from base to static distroless image
  router/Dockerfile
Due: router

chore: restore nested transaction
  controlplane/src/core/repositories/FeatureFlagRepository.ts
Due: controlplane

chore: update docs and graphqlmetrics
  docs-website/router/deployment.mdx
  graphqlmetrics/Dockerfile
Due: graphqlmetrics

chore: rename functions and methods
  router/pkg/pubsub/datasource/subscription_datasource.go
  router/pkg/pubsub/datasource/subscription_datasource_test.go
  router/pkg/pubsub/kafka/engine_datasource_factory.go
  router/pkg/pubsub/nats/engine_datasource_factory.go
  router/pkg/pubsub/redis/engine_datasource_factory.go
Due: router

feat: improve performance for subgraph batch publishing
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

feat: controlplane improve composition queries (#2903)
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

chore: cleanup
  controlplane/src/core/bufservices/subgraph/publishFederatedSubgraphs.ts
  controlplane/src/core/composition/composeGraphs.worker.ts
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
  controlplane/src/core/tracing.ts
Due: controlplane

chore: add transaction to `SubgraphRepository.update`
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

chore: restore removed transactions
  controlplane/src/core/repositories/FederatedGraphRepository.ts
  controlplane/src/core/repositories/GraphCompositionRepository.ts
  controlplane/src/core/repositories/SubgraphRepository.ts
Due: controlplane

feat(composition): entity caching directives, proto config types, and generated bindings
  composition/src/directive-definition-data/directive-definition-data.ts
  composition/src/errors/errors.ts
  composition/src/router-configuration/types.ts
  composition/src/utils/string-constants.ts
  composition/src/v1/constants/constants.ts
  composition/src/v1/constants/directive-definitions.ts
  composition/src/v1/constants/type-nodes.ts
  composition/src/v1/normalization/normalization-factory.ts
  composition/src/v1/normalization/utils.ts
  composition/src/v1/warnings/params.ts
  composition/src/v1/warnings/warnings.ts
  composition/tests/v1/directives/entity-cache-fuzz.test.ts
  composition/tests/v1/directives/entity-cache-mapping-rules.test.ts
  composition/tests/v1/directives/entity-caching.test.ts
  connect-go/gen/proto/wg/cosmo/node/v1/node.pb.go
  connect/src/wg/cosmo/node/v1/node_pb.ts
  proto/wg/cosmo/node/v1/node.proto
  router/gen/proto/wg/cosmo/node/v1/node.pb.go
  shared/src/router-config/builder.ts
  shared/src/router-config/graphql-configuration.ts
Due: router, composition

docs: update session notes for composition-go removal and package rename
  CLAUDE.md
  composition/CLAUDE.md
  composition/COMPOSITION_CONVENTIONS.md
Due: composition

docs: add language tags to fenced code blocks (CodeRabbit MD040)
  CLAUDE.md
  composition/AGENTS.md
  composition/CLAUDE.md
  composition/COMPOSITION_CONVENTIONS.md
Due: composition

feat(router): entity cache OTEL/Prometheus metrics
  router/core/graph_server.go
  router/core/graph_server_cache_metrics_test.go
  router/core/graphql_handler.go
  router/core/graphql_handler_caching_options_test.go
  router/core/router.go
  router/pkg/config/config.go
  router/pkg/config/config.schema.json
  router/pkg/config/config_test.go
  router/pkg/config/fixtures/full.yaml
  router/pkg/config/testdata/config_defaults.json
  router/pkg/config/testdata/config_full.json
  router/pkg/metric/config.go
  router/pkg/metric/entity_cache_metrics.go
  router/pkg/metric/entity_cache_metrics_test.go
  router/pkg/otel/attributes.go
Due: router

feat(playground,studio): Cache Explorer, cache-mode controls, and cache-annotated traces
  playground/package.json
  playground/src/components/playground/cache-explorer-controller.ts
  playground/src/components/playground/cache-explorer-runner.ts
  playground/src/components/playground/cache-explorer-types.ts
  playground/src/components/playground/cache-explorer-utils.test.ts
  playground/src/components/playground/cache-explorer-utils.ts
  playground/src/components/playground/cache-explorer-view.tsx
  playground/src/components/playground/fetch-flow.tsx
  playground/src/components/playground/fetch-waterfall.tsx
  playground/src/components/playground/index.test.ts
  playground/src/components/playground/index.tsx
  playground/src/components/playground/trace-view.test.tsx
  playground/src/components/playground/trace-view.tsx
  playground/src/components/playground/types.ts
  playground/src/components/playground/view-cache.tsx
  playground/src/test/setup.ts
  playground/vitest.config.ts
  pnpm-lock.yaml
  router/internal/graphiql/graphiql.html
  studio/src/components/playground/cache-explorer-controller.ts
  studio/src/components/playground/cache-explorer-runner.ts
  studio/src/components/playground/cache-explorer-types.ts
  studio/src/components/playground/cache-explorer-utils.ts
  studio/src/components/playground/cache-explorer-view.tsx
  studio/src/components/playground/fetch-flow.tsx
  studio/src/components/playground/fetch-waterfall.tsx
  studio/src/components/playground/trace-view.tsx
  studio/src/components/playground/types.ts
  studio/src/components/playground/view-cache.tsx
  studio/src/pages/[organizationSlug]/[namespace]/graph/[slug]/playground.tsx
Due: router, studio

perf(router): install no-op tracer provider when no realistic trace export destination
  router/core/router.go
  router/pkg/trace/config.go
Due: router
