Repository wundergraph/cosmo: changes, and which Codecov flags are due for each by the changed paths.
All: router, cli, studio, graphqlmetrics, controlplane, composition

codecov.yaml:

coverage:
  status:
    patch:
      default:
        target: 90
        threshold: 5
        informational: true # We don't want to block PRs based on the result
    project:
      default:
        target: 30
        threshold: 5
        informational: true # We don't want to block PRs based on the result

flags:
  router:
    paths:
      - router/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  studio:
    paths:
      - studio/
    carryforward: true
  graphqlmetrics:
    paths:
      - graphqlmetrics/
    carryforward: true
  controlplane:
    paths:
      - controlplane/
    carryforward: true
  composition:
    paths:
      - composition/
    carryforward: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  show_carryforward_flags: false

chore: drop redundant field comment
  router/core/operation_processor.go
Due: router

refactor(router): rename OperationKit.Validate to ValidateOperationVariables
  router/core/graphql_prehandler.go
  router/core/operation_processor.go
  router/core/websocket.go
Due: router

test: flush ristretto cache writes instead of polling with Eventually
  router-tests/operations/normalization_cache_skip_include_test.go
  router-tests/testenv/testenv.go
  router/core/graph_server.go
  router/core/http_server.go
  router/core/router.go
Due: router

test: cover dual-use skip/include variable via APQ and cache warmup
  router-tests/operations/normalization_cache_skip_include_test.go
  router-tests/operations/testdata/cache_warmup/skip_include_dual_use/dual_use.gql
Due: none

docs: clarify feature subgraph validation in check command description
  docs-website/cli/subgraph/check.mdx
Due: none

chore: update test assertions
  router-tests/events/nats_events_test.go
Due: none

feat(proposal): add validation for new subgraph labels against federated graph matchers
  controlplane/src/core/bufservices/proposal/createProposal.ts
  controlplane/src/core/bufservices/proposal/updateProposal.ts
  controlplane/test/proposal/create-proposal.test.ts
  controlplane/test/proposal/update-proposal.test.ts
Due: controlplane

feat(router): check inline arguments on the normalized pre-extraction document
  docs-website/router/security/disallow-inline-arguments.mdx
  router-tests/security/disallow_inline_arguments_test.go
  router/core/graphql_prehandler.go
  router/core/inline_arguments.go
  router/core/inline_arguments_test.go
  router/core/websocket.go
Due: router

chore: use graphmux methods to start/stop providers
  router/core/graph_server.go
Due: router

chore: formatting
  composition/src/v1/normalization/types/params.ts
  composition/src/v1/normalization/types/results.ts
  composition/src/v1/normalization/types/types.ts
Due: composition

chore: use static const for timeout
  router/core/graph_server.go
Due: router

chore: remove obsolote comment
  router/core/graph_server.go
Due: router

chore: add a test to verify mux stop works
  router/core/graph_server.go
  router/core/graph_server_test.go
Due: router

feat(proposal): add validation notes for new subgraph labels in create and update commands
  docs-website/cli/proposal/create.mdx
  docs-website/cli/proposal/update.mdx
  docs-website/concepts/proposals.mdx
Due: none

fix(router): apply disallow inline arguments policy to APQ and reject invalid modes
  docs-website/router/security/disallow-inline-arguments.mdx
  router-tests/security/disallow_inline_arguments_test.go
  router/core/graph_server.go
  router/core/inline_arguments.go
  router/core/inline_arguments_test.go
  router/core/operation_processor.go
  router/pkg/config/config.go
Due: router

chore: address comments and add tests
  controlplane/src/core/repositories/FeatureFlagRepository.ts
  controlplane/test/composition/get-composition.test.ts
Due: controlplane

chore: cleanup
  controlplane/test/composition/get-composition.test.ts
Due: controlplane

chore: correctly limit to federated graph
  controlplane/src/core/bufservices/federated-graph/getFederatedGraphSDLByName.ts
  controlplane/src/core/repositories/FeatureFlagRepository.ts
Due: controlplane

chore: fix column name
  controlplane/src/core/repositories/FeatureFlagRepository.ts
Due: controlplane

chore: add tests to verify composition subgraphs are correct
  controlplane/test/composition/get-composition.test.ts
  controlplane/test/composition/getCompositionDetails.test.ts
Due: controlplane

refactor(router): store inline arguments checker on the operation processor
  router/core/graph_server.go
  router/core/graphql_prehandler.go
  router/core/inline_arguments.go
  router/core/operation_processor.go
  router/core/websocket.go
Due: router

fix(router): skip inline arguments check for schema-invalid operations
  router-tests/security/disallow_inline_arguments_test.go
  router/core/graphql_prehandler.go
  router/core/websocket.go
Due: router

refactor(router): reuse shared error types for the inline arguments payload
  router-tests/security/disallow_inline_arguments_test.go
  router/core/inline_arguments.go
Due: router

fix(router): validate enforce_http_status_code range at startup
  router/core/inline_arguments.go
  router/core/inline_arguments_test.go
Due: router

fix(router): record inline arguments error code in the request context
  router-tests/security/disallow_inline_arguments_test.go
  router/core/graphql_prehandler.go
Due: router

fix(router): annotate the initial defer payload with the inline arguments warning
  docs-website/router/security/disallow-inline-arguments.mdx
  router-tests/security/disallow_inline_arguments_test.go
  router/core/defer_response_writer.go
  router/core/graphql_handler.go
Due: router

fix(router): classify registered persisted operations sent as body plus hash
  router-tests/security/disallow_inline_arguments_test.go
  router/core/graph_server.go
  router/core/operation_processor.go
  router/internal/persistedoperation/client.go
  router/internal/persistedoperation/client_test.go
Due: router

test(router): cover batching and introspection in disallow inline arguments
  router-tests/security/disallow_inline_arguments_test.go
  router/pkg/config/config.go
Due: router

feat: add module to add operation name also as operationName field
  router-tests/modules/add_operation_name_test.go
  router-tests/modules/custom-add-operation-name/module.go
Due: none

refactor(router): simplify disallow inline arguments after review
  router-tests/security/disallow_inline_arguments_test.go
  router/core/defer_response_writer.go
  router/core/graphql_prehandler.go
  router/core/inline_arguments.go
  router/core/operation_processor.go
  router/core/websocket.go
Due: router

fix: use timeout ctx instead of timer
  router/core/graph_server.go
Due: router

docs(router): document security.complexity_limits.ignore_introspection
  docs-website/router/configuration.mdx
Due: none

fix: do not charge children of null-parents in actual costs
  router-tests/go.mod
  router-tests/go.sum
  router/core/executor.go
  router/go.mod
  router/go.sum
Due: router

bump engine
  router-tests/go.mod
  router-tests/go.sum
  router/go.mod
  router/go.sum
Due: router

chore: generate platform proto
  connect/src/wg/cosmo/platform/v1/platform_pb.ts
Due: none

fix: add doc
  docs-website/router/configuration.mdx
Due: none

fix(router): flush SSE/multipart response head before first message
  router/core/subscription_response_writer.go
  router/core/subscription_response_writer_test.go
Due: router

fix(router): resolve socket fd for wss connections
  router-tests/subscriptions/websocket_tls_test.go
  router-tests/testenv/testenv.go
  router/core/websocket.go
  router/core/websocket_test.go
Due: router

test(router): drop bug-referencing comment from wss test
  router-tests/subscriptions/websocket_tls_test.go
Due: none

fix(router): guard subgraph connection-metrics trace against data race
  router/internal/traceclient/traceclient.go
  router/internal/traceclient/traceclient_test.go
Due: router
